.container{
.btn{
    font-family: "BitterBold";
    color: white;
  }
}
.modal-header
 {
    background: #EFBE24;;
    color:white;
    font-family: "BitterBold";
    display: table-cell;
  
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
  }

.modal-content
  {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #F1F1F1;
  }
// .modal-title
// {
//     text-align: "center"
// }

.modal-body{
h5{
    text-align: center;
    font-family: "BitterBold";
 }
} 

 
.dvModelSpec{
  input{
    width: 50px;
    margin-left: 10px;
    border: none;
  }
  p{
    border: 2px solid #EFBE24;;
    font-family: "Bitter";
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    padding :10px;
  }
}



.dvDeliveryText{
  text-align: center;
  font-family: "BitterBold";
  margin-top: 0px;
  padding: 12px;
}



.dvProductDate{
  text-align: center;
  font-family: "BitterBold";
  margin-top: 10px;
  padding: 10px;
}

.dvDate{
  padding: 15px;
  display: inline;
  // border: 2px solid #EFBE24;
  padding-top: 10px;
  margin-right: 10px; 
}

 .dvDate{
.inpText {
  border: 2px solid #EFBE24;
  }
}
.btn btn-warning{
  font-family: "BitterBold";
}

.dvGiftNote{
  
    background-color: #DBDBDB;
    font-family: "BitterBold";
    border-radius: 5px;
    margin-top: 10px;

}

.dvPriceInfo{

  text-align: center;
  margin-top: 10px;
  font-family: "BitterBold";
  justify-content: center;
  
}

.dvPriceInfo{
p{
  color: #333333;  

  }
}

 .btnRadio{
  font-family: "BitterBold";
    text-align: center;
}

input[type=text], select, textarea {
  
  width: 100%;
  padding: 5px;
  border: 25px ;
  margin-left: 2px;
  border-radius: 2px;
  resize: vertical;
  background: #DBDBDB;
  border-bottom: 1px solid #333333;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  
}

input[type=submit] {
  background-color: #009145;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #009145;
}

.row {
  border-radius: 2px;
  background-color:#DBDBDB;
  padding: 1px;
  margin: 0px;
}

.col-25 {
  float: left;
  width: 40%;
  margin-top: 6px;
  padding: 0 0 0 10px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: length($list: 10);
  
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    
  }
}

.modal-footer{
  font-family: "BitterBold";
  

}
