<div class="divMargin">
    <ul class="breadcrumb">
        <li><a [routerLink]="[ '' ]" routerLinkActive="active">Home</a></li>
        <li><a [routerLink]="[ '/categorylisting' ]" routerLinkActive="active">Category Listing</a></li>
        <li><a [routerLink]="[ '/listing' ]" routerLinkActive="active">Listing</a></li>
    </ul>
    <!-- [queryParams]="[prodid:'{{prodId}}']" -->
    <hr />
    <div class="container" id="undeliverableModalContainer" style="z-index: 10001;">
        <!-- <button type="button" class="btn btn-warning" id="undeliverablePopupId" data-toggle="modal"
            data-target="#undeliverableModal">undeliverable</button> -->
        <!-- Modal -->
        <div class="modal fade" id="undeliverableModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content dvModalContent">
                    <div class="modal-header dvModalHeader">
                    </div>
                    <div class="modal-body" style="padding:0 10% 0 10%;">
                        <div>
                            <img class="undeliverableIcon" src="assets/icons/img_549368.png">
                            <ul>
                                <ul>
                                    UNDELIVERABLE TO <span>{{dynamicData.pincode}}</span>
                                </ul>
                                <form>
                                    <input type="text" placeholder="Enter Pincode" id="undPincode">
                                    <br>
                                    <label for="changePincode"> Change Pincode</label><br>
                                    <input type="radio" class="aP" name="drone" value="availableProducts"
                                        id="undCategory">
                                    <label for="availableProducts"> Available Products</label><br>
                                    <input type="radio" class="cP" name="drone" id="undContinue" value="continue">
                                    <label for="continue"> Continue on this page</label><br>
                                    <button class="btnRfq" type="submit" (click)="undeliverable();">Apply</button>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gridT">
    <div class="divSelDesc">
        <!-- SELLER -->
        <div class="divSeller">

            <div class="sellerDetails">
                <img src="assets/images/dentalia-demo-deoctor-3-1-750x750.jpg" class="sellerIcon">
                <div class="sellerInfo" [routerLink]="['/shop']" [queryParams]="{shop_id:dynamicData.shopId}">
                    <a class="companyName">{{sellerDetails.shopName}}</a>
                    <!-- <p class="sellerName">{{sellerDetails.sellerName}}</p> -->
                    <p class="sellerName">{{selName}}</p>
                </div>
                <!-- <img src="assets/icons/resources (IL)-04.png"> -->
                <div class="follow">
                    <ng-container *ngIf="folResult; else notFollowing">
                        <button class="btnFollow" (click)="unfollowShop();"><img class="followIcon"
                                src="assets/icons/resources (IL)-04.png">Unfollow</button>
                    </ng-container>
                    <ng-template #notFollowing>
                        <button class="btnFollow" (click)="followShop();"><img class="followIcon"
                                src="assets/icons/resources (IL)-04.png">Follow</button>
                    </ng-template>

                </div>
            </div>

            <div class="prodImage">
                <div class="pImage">
                    <!-- <input type='file' (change)="readURL($event);" /> -->
                    <!-- <img src="assets/images/Screenshot_20190712-201603.png" class="productImageLarge"> -->
                    <img src="{{ largeSrc }}" class="productImageLarge" id="largeImage"
                        (click)="openModal();currentSlide(1)">
                    <img src="assets/icons/resources (IL)-19.png" class="bannerProduct">
                </div>
                <div class="imageSlider">
                    <img class="smallImage" src="assets/images/chocolate-cream-cake-half-kg-eggless_3.jpg"
                        (click)="myFunction('img1');" id="img1">
                    <br>
                    <img class="smallImage" src="assets/images/chocolate-cream-cake-half-kg-eggless_4.jpg"
                        (click)="myFunction('img2');" id="img2">
                    <br>
                    <img class="smallImage" src="assets/images/chocolate-cream-cake-half-kg-eggless_5.jpg"
                        (click)="myFunction('img3');" id="img3">
                    <br>
                    <img class="smallImage" src="assets/images/dentalia-demo-deoctor-3-1-750x750.jpg"
                        (click)="myFunction('img4');" id="img4">
                    <br>
                    <img class="smallImage" src="assets/images/Screenshot_20190712-201603.png"
                        (click)="myFunction('img5');" id="img5">
                </div>
            </div>

            <div class="btnsSel">
                <button type="button" class="btnRfq" data-target="#rfqPopup" data-toggle="modal">RFQ</button>
                <button class="btnAtcart" (click)="submitCart();">ADD TO CART</button>
            </div>

        </div>
        <!-- DESCRIPTION -->
        <div class="divDescription">
            <div class="desc">
                <h3>Description</h3>
                <hr />
                <h6>Specification:</h6>
                <li *ngFor="let specifications of Object.keys(spec)">
                    <p>{{spec[specifications]}}</p>
                </li>
                <br>
                <h6>Product Details:</h6>
                <div class="longD">
                    <p id="lDesc">{{ dynamicData.longDesc }}</p>
                </div>
                <button id="seeMore" (click)="readMore();">SEE MORE</button>
            </div>
        </div>
    </div>
    <div class="divQuanDel">
        <div class="pButton">
      <div class="container" id="buyModalContainer" style="z-index: 10001;">
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#buyNowPopup">BUY
              NOW</button>
        <!-- QUANTITY -->
        <div class="pName">
            <h3>{{dynamicData.name}}</h3>
            <p>{{dynamicData.shortDesc}}</p>
        </div>
        <div class="pRating">
            <div>
                <i class="fa fa-star" *ngFor="let item of filledStar" style="color: #efbe24"></i>
                <i class="fa fa-star-o" *ngFor="let item of unFilledStar"></i>
            </div>
        </div>
        <div class="pDiscount">
            <p style="color: #009145;">{{discountLabel.discountText}}</p>
            <p>{{priceDate.tPrice}}&nbsp;&nbsp;<del>{{dynamicData.basePrice}}</del></p>
        </div>
        <div class="pSize">
            <select class="dropdown">
                <option>Select An Option</option>
                <option id="variantValue" *ngFor="let item of Object.keys(variantData)"> {{variantData[item].value}}
                </option>
            </select>
        </div>
        <div class="pQuantity">
            <p>Quantity</p>
            <button type="button" id='1' (click)="count_dec()" class="minus">-</button>
            <input type="text" id="count" id="productQuantity" value="{{counter}}">
            <button type="button" id='2' (click)="count_inc()" class="plus">+</button>
        </div>
        <div class="pAvailable" style="color: red">
            Cakes sold:<span>{{dynamicData.soldCount}}&nbsp;</span> Remaining Cake:
            <span>{{dynamicData.qtyAvailable}}</span>
        </div>
        <div class="pMessage">
            <p>Add Your Message:</p>
            <input id="productMessage" type="text">
        </div>
        <div class="pImages">
            <p>Product Image</p>
            <input type="file" name="pic" id="productImage" accept="image/*">
            <!-- <input type="submit"> -->
        </div>
        <div class="pdatePicker">
            <span>Pick desired date for delivery:</span>
            <input type="date" id="datePickerId" (click)="reqDate();">
        </div>
        <div class="pButton">
            <div class="dvBuyBtn">
                <div class="container" id="buyModalContainer" style="z-index: 10001;">
                    <!-- <ng-container *ngIf="datePickerDefault; else reqOrder"> -->
                    <button type="submit" class="btn btn-warning" data-toggle="modal" id="buyNowId"
                        data-target="#buyModal" (click)="submitPrice('buyNow');">BUY NOW</button>
                    <!-- </ng-container> -->
                    <!-- <ng-template #reqOrder> -->
                    <button type="submit" class="btn btn-warning" data-toggle="modal" id="reqNowId"
                        data-target="#buyModal" (click)="submitPrice('requestOrder');">REQUEST ORDER</button>
                    <!-- </ng-template> -->
                    <div class="modal fade" id="buyModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content dvModalContent">
                                <div class="modal-header dvModalHeader">
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="dvGiftBtn">
                <div class="container" id="giftModalContainer" style="z-index: 10001;">

                    <button type="button" class="btn btn-warning" id="giftButton" data-toggle="modal"
                        data-target="#giftModal">GIFT</button>
                    <!-- Modal -->
                    <div class="modal fade" id="giftModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content dvModalContent">
                                <div class="modal-header dvModalHeader">
                                    <button type="button" class="close" id="giftClose"
                                        data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body" style="padding:0 10% 0 10%;">
                                    <form>
                                        Title : <input type="text" name="text" id="fText"><br> Note : <input type="text"
                                            name="note" id="fNote"><br> Address: <input type="text" name="address"
                                            id="fAddress"><br>
                                        <div class="modal-footer dvModalFooter" style="justify-content: center;">
                                            <input type="submit" class="btn btn-default btnText" (click)="gift();"
                                                value="Apply" data-dismiss="modal">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pConfirmation" style="background-color: whitesmoke">
            <p>ORDER CONFIRMATION PERIOD: </p>
            <p style="background-color: white; height: 25px; width: 50px;">{{dynamicData.avgConfirmTime}}</p>
        </div>
        <div class="pDelivery">
            <img src="assets/icons/resources (IL)-18.png">
            <h3>DELIVERY OPTIONS</h3>
        </div>
        <div class="pCourier">
            <div class="dvShip">
                <input type="radio" id="sh" name="shippingOption" value="shipping">
                <label for="normalCourier">Shipping</label>
            </div>


            <div class="dvCod">
                <input type="radio" id="cOD" name="shippingOption" value="cashOnDelivery">
                <label for="cashOnDelivery">Cash on Delivery</label>
            </div>
            <div class="dvPickup">
                <input type="radio" id="pU" name="shippingOption" value="pickUp">
                <label for="pickUp">PickUp</label>
            </div>
        </div>
        <div class="pTime">
            <div style="background-color: whitesmoke">
                Processing Time :<span>{{dynamicData.avgProcessTime}}</span>
            </div>
            <div style="background-color: whitesmoke">
                Shipping Charge :<span>{{dynamicData.avgProcessTime}}</span>
            </div>
            <div style="background-color: whitesmoke">
                Shipping Duration :<span>{{dynamicData.avgShipTime}}</span>
            </div>
        </div>
        <div class="pDate">
            <p>THE PRODUCT WILL BE DELIVERED BEFORE :<span>{{priceDate.dDate}}</span></p>
        </div>
    </div>
    <!-- POLICY -->
    <div class="divPolicy">
        <div class="prodPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <h2>PRODUCT POLICIES</h2>
            <p>{{dynamicData.prodPolicy}}</p>
        </div>
        <div class="shopPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <h2>SHOP POLICIES</h2>
            <p>{{dynamicData.prodPolicy}}</p>
        </div>
        <div class="shipPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <h2>SHIP POLICIES</h2>
            <p>{{dynamicData.shipPolicy}}</p>
        </div>
        <div class="retPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <h2>RETURN POLICIES</h2>
            <p>{{dynamicData.returnPolicy}}</p>
        </div>
    </div>
    <!-- REVIEW -->
    <div class="divReview ">
        <img src="assets/icons/resources (IL)-18.png">
        <h2>RATING & REVIEWS</h2>
        <div>
            <div class="rating">
                <div class="inner">
                    <div class="rating">
                        <span class="rating-num">{{dynamicData.rating}}</span>
                        <div class="rating-stars">
                            <div>
                                <i class="fa fa-star active" *ngFor="let item of filledStar"></i>
                                <i class="fa fa-star-o" *ngFor="let item of unFilledStar"></i>
                            </div>
                        </div>
                        <div class="rating-users">
                            <i class="icon-user"></i> {{dynamicData.ratingCount}}
                        </div>
                    </div>

                    <div class="histo">
                        <div class="five histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 5 </span>
                            <span class="bar-block">

                                <span id="bar-five" class="bar" [style.width.%]="bar5">
                                    <span>{{ratingData.rat5}}</span>&nbsp;
                                </span>
                            </span>
                        </div>

                        <div class="four histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 4 </span>
                            <span class="bar-block">

                                <span id="bar-four" class="bar" [style.width.%]="bar4">
                                    <span>{{ratingData.rat4}}</span>&nbsp;
                                </span>
                            </span>
                        </div>

                        <div class="three histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 3 </span>
                            <span class="bar-block">
                                <span id="bar-three" class="bar" [style.width.%]="bar3">
                                    <span>{{ratingData.rat3}}</span>&nbsp;
                                </span>
                            </span>
                        </div>

                        <div class="two histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 2 </span>
                            <span class="bar-block">
                                <span id="bar-two" class="bar" [style.width.%]="bar2">
                                    <span>{{ratingData.rat2}}</span>&nbsp;
                                </span>
                            </span>
                        </div>

                        <div class="one histo-rate">
                            <span class="histo-star">
                                <i class="active icon-star"></i> 1 </span>
                            <span class="bar-block">
                                <span id="bar-one" class="bar" [style.width.%]="bar1">
                                    <span>{{ratingData.rat1}}</span>&nbsp;
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="review" *ngFor="let item of Object.keys(ratingReview)" id="{{item}}">
                <div class="revProfIcon">
                    <img class="revProfImg" src="assets/icons/resources (IL)-21.png">
                </div>
                <div class="revName">
                    <p class=rName>Lorem</p>
                    <p class="rAgo">{{reviewDateDiff[item]}}</p>
                </div>
                <div class="revData">
                    <p class="rTitle">{{ratingReview[item].reviewTitle}}</p>
                    <p class="rDesc">{{ratingReview[item].review}}</p>
                    <div class="starLikes">
                        <img class="icLike" id="likeImg" (click)="likeCount(ratingReview[item].reviewId);"
                            src="assets/icons/resources (IL)-10.png">
                        <p class="likeCount">{{ratingReview[item].likes}}</p>
                        <img class="icDislike" id="dislikeImg" (click)="dislikeCount(ratingReview[item].reviewId);"
                            src="assets/icons/resources (IL)-11.png">
                        <p class="dislikeCount">{{ratingReview[item].dislikes}}</p>
                        <button class="btnReport" (click)="report(ratingReview[item].reviewId);">Report</button>
                        <div>
                            <i class="fa fa-star active" *ngFor="let item of filledStarRat"></i>
                            <i class="fa fa-star-o" *ngFor="let item of unFilledStarRat"></i>
                        </div>
                    </div>
                    <img class="revIcon" src="assets/images/chocolate-cream-cake-half-kg-eggless_3.jpg">
                </div>
            </div>
        </div>
    </div>
    <!-- QUESTION -->
    <div class="divQuestion ">
        <img src="assets/icons/resources (IL)-18.png">
        <h2>CUSTOMER QUESTIONS & ANSWERS</h2>
        <div class="divCustomerQA">
            <div class="divSA">
                <form class="search">
                    <input type="text" placeholder="Search.." name="search" class="searchBox">
                    <button type="submit"><img src="assets/icons/resources (IL)-07.png"></button>
                </form>
                <form class="askQ">
                    <input type="text" placeholder="Ask a Question" name="search">
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="questionAnswer">
                <div class="divQA" *ngFor=" let faq of Object.keys(faqProduct)">
                    <form class="qA">
                        Q:<span class=" question ">{{faqProduct[faq].question}}</span>?<br> A:
                        <span class="answer ">{{faqProduct[faq].answer}}</span>
                    </form>
                </div>
            </div>
        </div>
        <div class="dvMore"><img src="assets/icons/resources (IL)-22.png"></div>
    </div>
</div>

<!-- imagelightbox -->
<div id="myModal" class="imgPopup" style="z-index: 10001;">
    <span class="close cursor " (click)="closeModal()">&times;</span>
    <div class="modal-content " style="background-color: #000000e8; ">

        <div class="mySlides " style="background-color: #000000e8; transform: translate(25%); ">
            <div class="numbertext ">1 / 4</div>
            <img src="assets/images/chocolate-cream-cake-half-kg-eggless_3.jpg " style="width:50% ">
        </div>

        <div class="mySlides " style="background-color: #000000e8; transform: translate(25%); ">
            <div class="numbertext ">2 / 4</div>
            <img src="assets/images/chocolate-cream-cake-half-kg-eggless_4.jpg " style="width:50% ">
        </div>

        <div class="mySlides " style="background-color: #000000e8; transform: translate(25%); ">
            <div class="numbertext ">3 / 4</div>
            <img src="assets/images/chocolate-cream-cake-half-kg-eggless_5.jpg " style="width:50% ">
        </div>

        <div class="mySlides " style="background-color: #000000e8; transform: translate(25%); ">
            <div class="numbertext ">4 / 4</div>
            <img src="assets/images/photo3.jpg " style="width:50%; ">
        </div>

        <a class="prev " (click)="plusSlides(-1) " style="margin-top: -15%; ">&#10094;</a>
        <a class="next " (click)="plusSlides(1) " style="margin-top: -15%; ">&#10095;</a>
        <div class="thumbRow ">
            <div class="column ">
                <img class="demo cursor " src="assets/images/chocolate-cream-cake-half-kg-eggless_3.jpg "
                    style="width:75% " (click)="currentSlide(1) ">
            </div>
            <div class="column ">
                <img class="demo cursor " src="assets/images/chocolate-cream-cake-half-kg-eggless_4.jpg "
                    style="width:75% " (click)="currentSlide(2) ">
            </div>
            <div class="column ">
                <img class="demo cursor " src="assets/images/chocolate-cream-cake-half-kg-eggless_5.jpg "
                    style="width:75% " (click)="currentSlide(3) ">
            </div>
            <div class="column ">
                <img class="demo cursor " src="assets/images/photo3.jpg " style="width:75% " (click)="currentSlide(4) ">
            </div>
        </div>
    </div>

</div>

<!-- rfqPopup -->
<div class="container" id="rfqPopupContainer " style="z-index: 10001; ">
    <!-- <button type="button " class="btn btn-warning " data-toggle="modal " data-target="#rfqPopUP ">undeliverable</button> -->
    <!-- Modal -->
    <div class="modal fade" id="rfqPopup" role="dialog ">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content dvModalContent">
                <div class="modal-header dvModalHeader">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-bod" style="padding:0 10% 0 10%;">
                    <div class="rfqForm">
                        <div class="rfqSN">
                            <p class="rfqShopName">Shop Name:</p>
                            <input class="rfqShopNameInput" type="text" id="rfqShop"
                                value="{{sellerDetails.shopName}}"><br>
                        </div>
                        <div class="rfqSL">
                            <p class="rfqLocation">Location:</p>
                            <select style="width: 16rem;">
                                <option class="rfqLocationInput" id="rfqLocations"
                                    *ngFor="let add of Object.keys(rfqAddress)"> {{rfqAddress[add].address}}
                            </select>
                        </div>
                        <div class="rfqN">
                            <p class="rfqNote">Note:</p>
                            <textarea class="rfqNoteInput" type="text" id="rfqNote"></textarea>
                        </div>
                        <div class="rfqTag">
                            <p (click)="rfqDropdown()" class="dropBtnRfq">Tag Products</p>
                            <div class="dropdownRfq">
                                <div id="rfqDropdown" class="dropdown-contentRfq ">
                                    <input type="text" placeholder="Search.. " id="myInput" (keyup)="filterFunction()">
                                    <ul id="myUL" class="rfqUL" style="display: none;">
                                        <li *ngFor="let inp of Object.keys(rfqInput)">
                                            <a (click)="addTagProduct(rfqInput[inp].name);">
                                                {{rfqInput[inp].name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="chips">
                            <div class="chipsOuter" *ngFor="let chi of Object.keys(prod)" id="{{prod[chi]}}">
                                <div class="chip">
                                    {{prod[chi]}}
                                    <!-- <span class="closebtn"
                                        onclick="this.parentElement.style.display='none'">&times;</span> -->
                                    <span class="closebtn" (click)="delProduct(prod[chi]+'!'+chi);">&times;</span>

                                </div>
                            </div>
                        </div>
                        <button class="btnRfq" (click)="rfqSubmit();">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CHECKOUT POPUP (BUY NOW) -->
<div class="container">
    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#buyNowPopup">BUY
        NOW</button> -->
    <!-- Modal -->
    <div class="modal fade" id="buyNowPopup" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div align="center">
                        <h5>ORDER SUMMARY:</h5>
                    </div>
                </div>
                <!-- PRODUCT -->
                <div class="dvProductName">
                    <!-- <h5>Sehaz Artworks 'shiva' Wall Photo Painting</h5> -->
                    {{dynamicDataProName.name}}
                </div>
                <div class="dvSub1">
                    <div class="dvProductSpec">
                        <div class="dvProdSpec1">
                            <p>{{ dynamicDataVariants.value }} {{ dynamicDataVariant.name }}</p>
                        </div>
                        <div class="dvProdSpec2">
                            <!-- <p>Size : </p> -->
                        </div>
                    </div>

                    <div class="dvCustomerName">
                        <p>Customer Name : {{dynamicDataUser.Name}}</p>
                    </div>

                    <div class="dvQty">
                        <p>Qty :</p>
                        <button class="btnQtyCount">{{ dynamicData.length }}</button>
                    </div>
                </div>
                <!-- ADDRESS -->
                <div class="dvAddress">
                    <p>ADDRESS</p>
                </div>
                <div class="dvSub2">
                    <div class="dvAddrText" style="display: 1" id="Main-Address">
                        <!-- <p>Roninaks House</p> -->
                        {{dynamicDataSecondAddress.contact_name}}
                        {{dynamicDataSecondAddress.addr1}},
                        {{dynamicDataSecondAddress.addr2}},
                        {{dynamicDataSecondAddress.city}},
                        <!-- {{dynamicDataDistrict}} -->
                        {{dynamicDataSecondAddress.state}},
                        {{dynamicDataSecondAddress.country}},
                        {{dynamicDataSecondAddress.pincode}}
                        <!-- {{dynamicDataSecondAddress.contact_number}} -->
                        <!-- {{dynamicDataSecondAddress.contact_email}} -->
                    </div>
                    <div class="btnAddrChange">
                        <button type="change" class="btnChange btn-warning" id="btnChange"
                            (click)=showSavedAddr()>Change</button>
                    </div>
                </div>
                <!-- SAVED ADDRESS -->

                <div class="dvSub3" id="savedAddr" style="display: none">
                    <div class="dvSavedAddr">
                        <p>SAVED ADDRESS</p>
                        <div class="dvCardAddrLeft"id="Deliver-Addr1">
                                {{dynamicDataSecondAddress.contact_name}}
                                {{dynamicDataSecondAddress.addr1}},
                                {{dynamicDataSecondAddress.addr2}},
                                {{dynamicDataSecondAddress.city}},
                                <!-- {{dynamicDataDistrict}} -->
                                {{dynamicDataSecondAddress.state}},
                                {{dynamicDataSecondAddress.country}},
                                {{dynamicDataSecondAddress.pincode}}
                                <!-- {{dynamicDataSecondAddress.contact_number}} -->
                                <!-- {{dynamicDataSecondAddress.contact_email}} -->
                        </div>
                        <div class="btnCardAddrLeft">
                            <button type="deliverLeft" class="btnDeliverLeft btn-warning" id="btnDeliverLeft"(click)="btnDeliverAddress1()">DELIVER TO THIS ADDRESS</button>
                        </div>
                        <div class="dvCardAddrRight" id="Deliver-Addr2">
                            {{dynamicNewAddr.contact_name}},
                            {{dynamicNewAddr.addr1}},
                            {{dynamicNewAddr.addr2}},
                            {{dynamicNewAddr.city}},
                            {{dynamicNewAddr.state}},
                            {{dynamicNewAddr.country}},
                            {{dynamicNewAddr.pincode}}   
                           
                        </div>
                        <div class="btnCardAddrRight">
                            <button type="deliverRight" class="btnDeliverRight btn-warning" id="btnDeliverRight"(click)="btnDeliverAddress2()">DELIVER TO THIS ADDRESS</button>
                        </div>
                    </div>
                </div>
                <!-- ADD ADDR BTN -->
                <div class="btnNewAddr">
                    <button type="newAddr" class="btnNewAddr btn-success" id="btnNewAddr" (click)="showFormGrp()">ADD A
                        NEW
                        DELIVERY
                        ADDRESS</button>
                </div>
                <!-- FORM GROUP -->
                <div class="dvSub4" id="formGroup" style="display :none">
                    <form class="formGroup">
                        <div class="grid-dvSub4">
                            <div class="grid-FormLeft">
                                <div class="dvContactName">
                                    <label>Contact Name</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="contactName-Form">
                                </div>
                                <div class="dvAddr2">
                                    <label>Address 2</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="addr2-Form">
                                </div>
                                <div class="dvCountry">
                                    <label>Country</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="country-Form">
                                    <!-- <input type="text" size="24" class="card-input-style-address" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto" id="country-Form"> -->
                                    <!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.name}}
                                        </mat-option>
                                    </mat-autocomplete> -->
                                </div>
                                <div class="dvCity">
                                    <label>City</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="city-Form">
                                </div>
                                <div class="dvEmail">
                                    <label>Email</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address"
                                        id="contact-Email-Form">
                                </div>
                            </div>
                            <div class="grid-FormRight">
                                <div class="dvAddr1">
                                    <label>Address 1</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="addr1-Form">
                                </div>
                                <div class="dvState">
                                    <label>State</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="state-Form">
                                </div>
                                <div class="dvPincode">
                                    <label>PinCode</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="pincode-Form">
                                </div>
                                <div class="dvPhone">
                                    <label>Phone</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address"
                                        id="contact-Number-Form">
                                </div>
                            </div>
                            <div class="btnSaveForm">
                                <button type="save" class="btnSave btn-warning" id="btnSave"
                                    (click)=formSave()>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- DELIVERY OPTION -->
                <div class="dvDeliveryText">
                    <p>DELIVERY OPTIONS:</p>
                </div>
                <div class="dvSub5">
                    <div class="btnRadio1">
                        <input type="radio" id="shipping" name="DeliveryOption" value="1">Shipping
                    </div>
                    <div class="btnRadio2">
                        <input type="radio" id="homedelivery" name="DeliveryOption" value="2"> Home Delivery
                    </div>
                    <div class="btnRadio3">
                        <input type="radio" id="pickup" name="DeliveryOption" value="3"> Pickup
                    </div>
                    
                </div>
                <!-- PRODUCT DELIVERED -->
                <div class="dvProdDeliText">
                    <p>THE PRODUCT WILL BE DELIVERED BEFORE</p>
                </div>
                <div class="dvSub6">
                    <div class="dvDisplayDate">
                        <!-- <p>00-SEPT-2019</p> -->
                        {{ dynamicDataCartDate.deliveryDate }}
                    </div>
                    <div class="dvDisplayPrice">
                        <p>PRICE : {{ dynamicDataCartDate.totalPrice }}</p>
                    </div>
                    <div class="dvDate">
                        <input formControlName="date" type="Date" class="dateText" placeholder="Date">
                    </div>
                    <div class="dvApply">
                        <button type="apply" class="btnApply btn-warning" id="btnApply">Apply</button>
                    </div>
                </div>
                <!-- GIFT NOTE -->
                <div class="dvSub7">
                    <div class="dvGiftOptionText">
                        <p>Gift Option :</p>
                    </div>
                    <div class="btnGiftOption" id="btn-Gift-Option">
                        <label class="switch" name="answer" value="Show giftCard" (click)=giftoption()>
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="dvNote" id="showGiftCard" style="display: none;">
                        <textarea type=text class="Gift-Note-Style" id="Gift-Note-Sect1"></textarea>
                        <p>Note</p>
                    </div>
                    <div class="dvNoteText">
                       
                    </div>
                    <div class="dvMessageTitle">

                    </div>
                </div>
                <!-- PRODUCT IMAGE -->
                <div class="dvProdText">
                    <p>PRODUCT IMAGES</p>
                </div>
                <div class="dvSub8">
                    <div class="dvCheckImg1">
                        <img src="assets/images/wall.png" width="140" height="140" class="imgItem1">
                    </div>
                    <div class="dvCheckImg2">
                        <img src="assets/images/wall2.jpg" width="140" height="140" class="imgItem1">
                    </div>
                    <div class="dvCheckImg3">
                        <img src="assets/images/wall3.jpg" width="140" height="140" class="imgItem1">
                    </div>
                </div>
                <!-- PRICE VARIATION -->
                <div class="dvPriceVariText">
                    <h6>PRICE FOR VARIATIONS & QUALITY</h6>
                </div>
                <div class="dvSub9">
                    <div class="dvPriceList">
                        <p><br>
                            Base Price : {{dynamicDataProName.basePrice}}<br>
                            Variance : {{dynamicDataCheckOutPrice.variantPrice}}<br>
                            Tax :00.00<br>
                            Shipping : 00.00</p>
                            <!-- Tax : {{dynamicDataCheckOutPrice.name}}<br>
                            Shipping : {{dynamicDataCheckOutPrice.name}}</p> -->
                        <h4>Total : {{dynamicDataCheckOutPrice.totalPrice}}</h4>

                    </div>
                    <div class="btnCheckOut">
                        <button type="btnCheckOut" class="btnPayment btn-warning" data-toggle="modal"
                            data-target="#checkOut" (click)="checkout()">CHECK OUT</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>