@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Small devices (portrait tablets and large phones, 600px and up) */
@mixin sm {
	@media (max-width: 1050px) {
		@content;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@mixin md {
	@media (min-width: 768px) {
		@content;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@mixin lg {
	@media (min-width: 992px) {
		@content;
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin xlg {
	@media (min-width: 1200px) {
		@content;
	}
}
.breadcrumb {
	padding: 10px 10px;
	list-style: none;
	background-color: transparent;
	li + li:before {
		padding: 8px;
		color: gray;
		content: ">";
	}
	li {
		display: inline;
		font-size: 1rem;
		a {
			color: gray;
			text-decoration: none;

			&:hover {
				color: red;
			}
		}
	}
	text-decoration: none;
}
.divMargin {
	// margin-left: 10%;
	// margin-right: 10%;
	margin: 5%;
	width: auto;
	.modal-body {
		.undeliverableIcon {
			height: 50px;
			width: 100px;
		}
	}
}
.gridT {
	// width: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto;
	grid-template-areas:
		"selDesc quanDel"
		"policy policy"
		"review review"
		"question question";

	@include sm {
		// width: auto;
		display: grid;
		grid-template-columns: Auto;
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
			"selDesc "
			"quanDel"
			"policy"
			"review"
			"question";
	}
}
.divSelDesc {
	// margin: 5%;
	grid-area: selDesc;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"seller"
		"description";
	.divSeller {
		grid-area: seller;
		// width: 34%;
		// overflow: auto;
		// margin-block-start: 2%;
		position: relative;
		// margin-inline-start: 15%;
		// background-color: rgb(241,241,241);

		// min-height: 400px;
		float: left;
		box-sizing: border-box;
		align-self: center;
		margin: 5% 10% auto 10%;
		width: auto;
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"sellerDetails "
			"prodImage"
			"btnsSel";
		.sellerDetails {
			grid-area: sellerDetails;
			display: grid;
			grid-template-columns: 20% 50% 30%;
			grid-template-areas: "sellerIcon sellerInfo follow ";
			.sellerIcon {
				height: 5rem;
				grid-area: sellerIcon;
				// margin-inline-start: 4rem;
				margin-top: 1rem;
				width: 5rem;
				position: absolute;
				top: -5%;
				z-index: 1;
				left: 15%;
				border-radius: 50%;
				border: 5px solid whitesmoke;
			}
			.sellerInfo {
				grid-area: sellerInfo;
				.companyName {
					margin: 0rem 0rem 0rem 4rem;
					border-bottom-style: solid;
					border-bottom-color: whitesmoke;
				}
				.sellerName {
					margin: 0rem 0rem 0rem 4rem;
				}
			}
			.follow {
				grid-area: follow;
				margin: 0.5rem 0rem 0rem 2rem;
				.btnFollow {
					width: 125px;
					margin: auto;
					z-index: 0;
					background-color: #ff1d25;
				}
				img {
					z-index: 1;
					transform: translate(-2rem, 2px);
					position: absolute;
					height: 20px;
				}
			}
		}
		.prodImage {
			grid-area: prodImage;
			display: grid;
			grid-template-columns: 65% 0% 13%;
			grid-template-areas: "pImage . imageSlider ";

			.pImage {
				grid-area: pImage;
				margin: 1rem auto auto 2rem;
				// margin:1rem auto auto 0;
				object-fit: inherit;
				.productImageLarge {
					width: 100%;
					height: 20rem;
					// clip-path: polygon(16% 6%, 20% 10%, 26% 10%, 30% 6%, 32% 0, 100% 0, 100% 100%, 0 100%, 0 0, 14% 0);
					margin: -1rem auto auto 1rem;
					object-fit: inherit;
					z-index: 0;
					border: 5px solid whitesmoke;
				}
				.bannerProduct {
					z-index: 1;
					// transform: translate(auto, -265%);
					transform: translate(19rem, -20rem);
					// transform: translate(-7.5rem, -1rem);
					position: absolute;
					// grid-column-end: 3;
					display: block;
					margin-left: auto;
					margin-right: auto;
					// margin-top: 10%;
				}
			}
			.imageSlider {
				grid-area: imageSLider;
				margin: 0rem auto auto 1rem;
				// margin:1rem auto auto 0;
				max-height: 20rem;
				grid-row-start: -2;
				grid-row-end: -1;
				width: auto;
				height: auto;
				object-fit: fill;
				overflow-y: scroll;
				grid-column-start: imageSlider-end;
				grid-column-end: auto;
				scrollbar-width: thin;
				.smallImage {
					height: 5rem;
					// width: 5rem;
					padding-bottom: 0.5rem;
				}
			}
		}
		.btnsSel {
			grid-area: btnsSel;
			display: grid;
			grid-template-columns: 30% 40% 30%;
			grid-template-areas: "btnRfq . btnAtcart ";
			.btnRfq {
				grid-area: btnRfq;
				width: 125px;
				margin: auto;
				background-color: #efbe24;
			}
			.btnAtcart {
				grid-area: btnAtcart;
				width: 125px;
				margin: auto;
				background-color: #efbe24;
			}
		}
	}
	.divDescription {
		grid-area: description;
		// width: 34%;
		// margin-inline-start: 15%;
		// margin-block-start: 5%;
		overflow: auto;
		// margin-block-end: 2%;
		height: auto;
		// min-height: 400px;
		background-color: rgb(241, 241, 241);
		float: left;
		box-sizing: border-box;
		align-self: center;
		margin: 5% 10% 5% 10%;
		width: auto;
		.desc {
			margin: 1rem auto auto 2rem;
			width: 28rem;
			
			.longD{
				#lDesc {
					height: 6rem;
					display: -webkit-box;
					-webkit-line-clamp: initial;
					overflow: hidden;
				}
			}
		}
	}
}
.divQuanDel {
	grid-area: quanDel;
	height: auto;
	min-height: 800px;
	box-sizing: border-box;
	align-self: center;
	margin: 5% 10% auto 10%;
	width: auto;
	// .pSize {
	// }
	.pDelivery {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			z-index: 0;
			transform: translate(-10rem, 2.75rem);
		}
	}
	.pButton {
		form {
			background-color: whitesmoke;
			#fText {
				border: none;
				border-bottom: 1px solid;
				width: auto;
				min-width: 21.5rem;
				background-color: whitesmoke;
				margin-left: 0.5rem;
			}
			#fNote {
				border: none;
				border-bottom: 1px solid;
				width: auto;
				min-width: 21.5rem;
				background-color: whitesmoke;
			}
			#fAddress {
				border: none;
				border-bottom: 1px solid;
				width: auto;
				min-width: 20.5rem;
				background-color: whitesmoke;
			}
		}
	}
}
.divPolicy {
	grid-area: policy;
	margin-top: 5%;
	width: 100%;
	height: auto;
	background-color: rgb(241, 241, 241);
	box-sizing: border-box;
	// width: 100vw;
	// position: relative;
	// left: 50%;
	// right: 50%;
	// margin-left: -50.5vw;
	// margin-right: -50.5vw;
	.prodPolicy {
		// margin: 0rem 1rem 5rem 1rem;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			z-index: 0;
			transform: translate(0rem, 2rem);
		}
		h2 {
			text-align: center;
			//   position: absolute;
			transform: translate(0px, -0.45em);
			z-index: 1;
		}
		p {
			text-align: justify;
			text-align: center;
		}
	}
	.shopPolicy {
		// margin: 0rem 1rem 5rem 1rem;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			transform: translate(0rem, 2rem);
			z-index: 0;
			// position: absolute;
		}
		h2 {
			text-align: center;
			//   position: absolute;
			transform: translate(0px, -0.45em);
			z-index: 1;
		}
		p {
			text-align: justify;
			text-align: center;
		}
	}
	.shipPolicy {
		// margin: 0rem 1rem 5rem 1rem;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			transform: translate(0rem, 2rem);
			z-index: 0;
			// position: absolute;
		}
		h2 {
			text-align: center;
			//   position: absolute;
			transform: translate(0px, -0.45em);
			z-index: 1;
		}
		p {
			text-align: justify;
			text-align: center;
		}
	}
}
.divReview {
	// margin: 5% 5% auto 5%;
	width: 100%;
	grid-area: review;
	background-color: white;
	// margin-left: 10%;
	// margin-right: 10%;
	// overflow: auto;
	// margin-top: 2%;
	// background-color: rgb(241, 241, 241);
	height: auto;
	box-sizing: border-box;
	color: #737373;
	font-weight: 300;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		transform: translate(0rem, 2rem);
		z-index: 0;
	}
	h2 {
		text-align: center;
		transform: translate(0px, -0.45em);
		z-index: 1;
	}
	.rating {
		grid-area: rating;
		width: 400px;
		margin: 0 auto;
		margin-top: 3em;
		background-color: #efefef;
		padding: 4px;
		margin-bottom: 3em;
		.inner {
			padding: 1em;
			background-color: white;
			overflow: hidden;
			position: relative;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}

		.rating {
			float: left;
			width: 45%;
			margin-right: 5%;
			text-align: center;
		}

		.rating-num {
			color: #333333;
			font-size: 72px;
			font-weight: 100;
			line-height: 1em;
		}

		.rating-stars {
			font-size: 20px;
			color: #e3e3e3;
			margin-bottom: 0.5em;
		}
		.rating-stars .active {
			color: #737373;
		}

		.rating-users {
			font-size: 14px;
		}

		.histo {
			float: left;
			width: 50%;
			font-size: 13px;
			transform: translate(0px, 50px);
		}

		.histo-star {
			float: left;
			padding: 3px;
		}

		.histo-rate {
			width: 100%;
			display: block;
			clear: both;
		}

		.bar-block {
			margin-left: 5px;
			color: black;
			display: block;
			float: left;
			width: 75%;
			position: relative;
		}

		.bar {
			padding: 4px;
			display: block;
		}

		#bar-five {
			width: 0;
			background-color: #9fc05a;
		}

		#bar-four {
			width: 0;
			background-color: #add633;
		}

		#bar-three {
			width: 0;
			background-color: #ffd834;
		}

		#bar-two {
			width: 0;
			background-color: #ffb234;
		}

		#bar-one {
			width: 0;
			background-color: #ff8b5a;
			margin-left: 2px;
		}
	}

	.review {
		// margin: 0% 5% 0% 5%;
		margin-top: 50px;
		margin-bottom: 50px;
		grid-area: revData;
		display: grid;
		grid-template-columns: 10% 20% 50% 10%;
		border-top: 3px lightgray solid;
		grid-template-rows: 5% 95%;
		grid-template-areas: ". revName revData .";
		.revName {
			grid-area: revName;
			.rName {
				grid-area: rName;
			}
			.rAgo {
				grid-area: rAgo;
			}
		}
		.revData {
			grid-area: revData;
			grid-template-columns: auto;
			grid-template-rows: repeat(4, auto);
			grid-template-areas:
				"rTitile"
				"rDesc"
				"rstarLikes"
				"revIcon";
			.rTitle {
				grid-area: rTitle;
			}
			.rDesc {
				grid-area: rDesc;
			}
			.starLikes {
				display: grid;
				grid-template-columns: 3rem 3rem 3rem 3rem 5rem auto;
				grid-template-rows: auto auto;
				grid-template-areas: "icLike likeCount icDislike dislikeCount btnReport ";
				grid-area: starLikes;
				.icLike {
					grid-area: icLike;
					width: 30px;
					height: 30px;
					transform: translate(0px, 0px);
				}
				.likeCount {
					grid-area: likeCount;
					transform: translate(0px, 0px);
				}
				.icDislike {
					grid-area: icDislike;
					width: 30px;
					height: 30px;
					transform: translate(0px, 0px);
				}
				.dislikeCount {
					grid-area: dislikeCount;
					transform: translate(0px, 0px);
				}
				.btnReport {
					grid-area: btnReport;
				}
			}
			.revIcon {
				grid-area: revIcon;
				width: 100px;
				height: 100px;
				float: left;
			}
		}
	}
	.writeReview {
		text-align: center;
		.btnWriteReview {
			width: max-content;
		}
	}
}
.divQuestion {
	margin: 5% 5% auto 5%;
	width: Auto;
	grid-area: question;
	height: 300px;
	margin-block-end: 2%;
	box-sizing: border-box;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 550px;
		height: 50px;
		z-index: 0;
		transform: translate(0rem, 2rem);
	}
	h2 {
		text-align: center;
		transform: translate(0px, -0.45em);
		z-index: 1;
	}
	.divCustomerQA {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 20% auto;
		grid-template-areas:
			"divSA "
			"divQA ";
		.divSA {
			grid-area: divSA;
			display: grid;
			grid-template-columns: 5% 45% 45% 5%;
			grid-template-rows: auto;
			grid-template-areas: ". search askQ .";
			.search {
				grid-area: search;
				.searchBox {
					transform: translate(0rem, -0.3rem);
				}
				button {
					img {
						height: 25px;
						width: 20px;
						transform: translate(0rem, 0rem);
					}
				}
			}
			.askQ {
				grid-area: askQ;
				margin-left: 20%;
			}
		}
		.divQA {
			grid-area: divQA;
			width: 50%;
			float: left;
			.qA {
				margin-left: 10%;
				// .question {
				// }
				// .answer {
				// }
			}
		}
	}
}

.imgPopup {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: inherit;
	background-color: black;
	// image modal css below
	.row > .column {
		padding: 0 8px;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	.column {
		float: left;
		width:15%;
	}
	/* Modal Content */
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		width: 90%;
		max-width: 1200px;
	}

	/* The Close Button */
	.close {
		color: white;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 35px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #999;
		text-decoration: none;
		cursor: pointer;
	}

	.mySlides {
		display: none;
	}

	.cursor {
		cursor: pointer;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: lightgrey;
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	img {
		margin-bottom: -4px;
	}

	.caption-container {
		text-align: center;
		background-color: black;
		padding: 2px 16px;
		color: white;
	}

	.demo {
		opacity: 0.6;
	}

	.active,
	.demo:hover {
		opacity: 1;
	}

	img.hover-shadow {
		transition: 0.3s;
	}

	.hover-shadow:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.thumbRow {
		width: auto;
		margin-top: 50px;
	}
}
