@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
// Color Palette

$smaYellow: #efbe24;
$smaLightGray: #f1f1f1;
$smaGray: #dbdbdb;
$smaGreen: #009145;
$smaRed: #ff1d25;
$smaDarkGray: #333333;
// font-family: BitterBold;

// Font Sizes

$Header: 30px;
$SubHeader: 25px;
$Text: 20px;
$SubText: 18px;
/* Small devices (portrait tablets and large phones, 600px and up) */

@mixin sm {
	@media (max-width: 1050px) {
		@content;
	}
}

/* Medium devices (landscape tablets, 768px and up) */

@mixin md {
	@media (min-width: 768px) {
		@content;
	}
}

/* Large devices (laptops/desktops, 992px and up) */

@mixin lg {
	@media (min-width: 992px) {
		@content;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@mixin xlg {
	@media (min-width: 1200px) {
		@content;
	}
}

.breadcrumb {
	padding: 10px 10px;
	list-style: none;
	background-color: transparent;
	li + li:before {
		padding: 8px;
		color: gray;
		content: ">";
	}
	li {
		display: inline;
		font-size: 1rem;
		a {
			color: gray;
			text-decoration: none;
			&:hover {
				color: red;
			}
		}
	}
	text-decoration: none;
}

.divMargin {
	// margin-left: 10%;
	// margin-right: 10%;
	margin: 5%;
	width: auto;
	.modal-body {
		.undeliverableIcon {
			height: 50px;
			width: 100px;
		}
	}
}

.gridT {
	// width: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto;
	grid-template-areas: "selDesc quanDel" "policy policy" "review review" "question question";
	@include sm {
		// width: auto;
		display: grid;
		grid-template-columns: Auto;
		grid-template-rows: repeat(5, auto);
		grid-template-areas: "selDesc " "quanDel" "policy" "review" "question";
	}
	.headClass {
		font-family: BitterBold;
		font-size: $Header;
		text-align: center;
	}
	.shipmentDetails {
		font-family: Bitter;
		font-size: $SubText;
		color: #646464;
		border: 2px solid #949494;
		padding: 3px 100px;
		background-color: white;
	}
	.policies {
		font-family: Bitter;
		font-size: $SubText;
		color: #646464;
	}
	.descD {
		font-family: BitterBold;
		font-size: $SubText;
		color: #333333;
	}
	.btnStyle{
		background-color: #efbe24;
		border: none;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		border-radius: 2px;
		height:30px;
		// padding:6px 25px 6px 25px;
		&:hover {
			cursor: pointer;
			background-color: #ddb01d;
		}
		color: white;
		font-family: BitterBold;
		font-size: 16px;
	}
	.timeStyle{
		box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		padding: 10px 60px 0px 45px;
		width: 28rem;
		background-color:whitesmoke;
		margin-top: 15px;
		color: #333333;
		font-family: Bitter;
		font-size: 18px;
	}
}

.divSelDesc {
	// margin: 5%;
	grid-area: selDesc;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-areas: "seller" "description";
	.divSeller {
		grid-area: seller;
		// width: 34%;
		// overflow: auto;
		// margin-block-start: 2%;
		position: relative;
		// margin-inline-start: 15%;
		// background-color: rgb(241,241,241);
		// min-height: 400px;
		float: left;
		box-sizing: border-box;
		align-self: center;
		margin: 5% 10% auto 10%;
		width: auto;
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-areas: "sellerDetails " "prodImage" "btnsSel";
		.sellerDetails {
			grid-area: sellerDetails;
			display: grid;
			grid-template-columns: 20% 50% 30%;
			grid-template-areas: "sellerIcon sellerInfo follow ";
			.sellerIcon {
				height: 5rem;
				grid-area: sellerIcon;
				// margin-inline-start: 4rem;
				margin-top: 1rem;
				width: 5rem;
				position: absolute;
				top: -5%;
				z-index: 1;
				left: 15%;
				border-radius: 50%;
				border: 5px solid whitesmoke;
			}
			.sellerInfo {
				grid-area: sellerInfo;
				width: auto;
				cursor: pointer;
				.companyName {
					margin: 0rem 0rem 0rem 4rem;
					border-bottom: solid;
					// border-bottom-style: solid;
					border-bottom-color: whitesmoke;
				}
				.sellerName {
					margin: 0rem 0rem 0rem 4rem;
				}
			}
			.follow {
				grid-area: follow;
				margin: 0.5rem 0rem 0rem 2rem;
				.btnFollow {
					width: 95px;
					z-index: 0;
					background-color:#ff1d25;
					padding: 5px 0px 5px 30px;
					font-size: 14px;
					color:white;
					font-family: BitterBold;
					margin-left: 19px;
					border: none;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					border-radius: 2px;
					height:30px;
					// padding:6px 25px 6px 25px;
					&:hover {
						cursor: pointer;
						background-color: #ec0e15;
					}
				}
				img {
					z-index: 1;
					transform: translate(-25px, 2px);
					position: absolute;
					height: 20px;
				}
			}
		}
		.prodImage {
			grid-area: prodImage;
			display: grid;
			grid-template-columns: 65% 0% 13%;
			grid-template-areas: "pImage . imageSlider ";
			.pImage {
				grid-area: pImage;
				margin: 1rem auto auto 2rem;
				// margin:1rem auto auto 0;
				object-fit: inherit;
				.productImageLarge {
					width: 100%;
					height: 20rem;
					// clip-path: polygon(16% 6%, 20% 10%, 26% 10%, 30% 6%, 32% 0, 100% 0, 100% 100%, 0 100%, 0 0, 14% 0);
					margin: -1rem auto auto 1rem;
					object-fit: inherit;
					z-index: 0;
					border: 5px solid whitesmoke;
				}
				.bannerProduct {
					z-index: 1;
					// transform: translate(auto, -265%);
					// transform: translate(19rem, -20rem);
					// transform: translate(-7.5rem, -1rem);
					position: absolute;
					// grid-column-end: 3;
					display: block;
					// margin-left: auto;
					// margin-right: auto;
					margin: -20rem 0rem 0rem 19.25rem;
					// margin-top: 10%;
				}
			}
			.imageSlider {
				grid-area: imageSLider;
				margin: 0rem auto auto 1rem;
				// margin:1rem auto auto 0;
				max-height: 20rem;
				grid-row-start: -2;
				grid-row-end: -1;
				width: auto;
				height: auto;
				object-fit: fill;
				overflow-y: scroll;
				grid-column-start: imageSlider-end;
				grid-column-end: auto;
				scrollbar-width: thin;
				display: grid;
				grid-template-rows: auto;
				margin-left: 5px;
				.smallImage {
					height: 6rem;
					// width: 5rem;
					padding-bottom: 0.5rem;
				}
			}
		}
		.btnsSel {
			grid-area: btnsSel;
			display: grid;
			grid-template-columns: 30% 40% 30%;
			grid-template-areas: "btnRfq . btnAtcart ";
			.btnRfq {
				grid-area: btnRfq;
				width: 110px;
				// margin: auto;
				// background-color: #efbe24;
				margin: 10px 50px;
				height: 30px;
			}
			.btnAtcart {
				grid-area: btnAtcart;
				width: 130px;
				margin: 10px 15px;
				// background-color: #efbe24;
			}
		}
	}
	.divDescription {
		grid-area: description;
		// width: 34%;
		// margin-inline-start: 15%;
		// margin-block-start: 5%;
		overflow: auto;
		// margin-block-end: 2%;
		height: auto;
		// min-height: 400px;
		background-color: rgb(241, 241, 241);
		float: left;
		box-sizing: border-box;
		align-self: center;
		margin: 5% 10% 5% 10%;
		scrollbar-width: thin;
		width: auto;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		.desc {
			margin: 1rem auto auto 2rem;
			width: 28rem;
			ul {
				list-style: disc;
				margin-left: -35px;
				color: lightgray;
			}

			// ul li::before {
			// 	content: "\f111";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
			// 	color: #646464; /* Change the color */
			// 	font-weight: bold; /* If you want it to be bold */
			// 	display: inline-block; /* Needed to add space between the bullet and the text */
			// 	width: 1em; /* Also needed for space (tweak if needed) */
			// 	margin-left: -1em; /* Also needed for space (tweak if needed) */
			// }
			.longD {
				#lDesc {
					height: 6rem;
					display: -webkit-box;
					-webkit-line-clamp: initial;
					overflow: hidden;
				}
			}
		}
	}
}

.divQuanDel {
	grid-area: quanDel;
	height: auto;
	min-height: 800px;
	box-sizing: border-box;
	align-self: center;
	margin: 5% 10% auto 10%;
	width: auto;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(14, auto);
	grid-template-areas:
		"pName pName"
		"pDiscount pRating"
		"pSize pSize"
		"pQuantity pQuantity"
		"pAvailable pAvailable"
		"pMessage pMessage"
		"pImages pImages"
		"pdatePicker pdatePicker"
		"pButton pButton"
		"pConfirmation pConfirmation"
		"pDelivery pDelivery"
		"pCourier pCourier"
		"pTime pTime"
		"pDate pDate";

	.pName {
		grid-area: pName;
	}
	.pRating {
		grid-area: pRating;
	}
	.pDiscount {
		grid-area: pDiscount;
	}
	.pSize {
		grid-area: pSize;
	}
	.pQuantity {
		grid-area: pQuantity;
	}
	.pAvailable {
		grid-area: pAvailable;
	}
	.pMessage {
		grid-area: pMessage;
		display: grid;
		grid-template-rows: auto;
	}
	.pImages {
		grid-area: pImages;
	}
	.pdatePicker {
		grid-area: pdatePicker;
		margin: 5px;
	}
	.pButton {
		grid-area: pButton;
		margin: 5px;

		form {
			background-color: whitesmoke;
			#fText {
				border: none;
				border-bottom: 1px solid;
				width: auto;
				min-width: 21.5rem;
				background-color: whitesmoke;
				margin-left: 0.5rem;
			}
			#fNote {
				border: none;
				border-bottom: 1px solid;
				width: auto;
				min-width: 21.5rem;
				background-color: whitesmoke;
			}
			#fAddress {
				border: none;
				border-bottom: 1px solid;
				width: auto;
				min-width: 20.5rem;
				background-color: whitesmoke;
			}
		}
		display: grid;
		grid-template-columns: 25% auto;
		grid-template-areas: "dvBuyBtn dvGiftBtn";
		.dvBuyBtn {
			grid-area: dvBuyBtn;
		}
		.dvGiftBtn {
			grid-area: dvGiftBtn;
		}
	}
	.pConfirmation {
		grid-area: pConfirmation;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
		padding: 10px 60px 0px 45px;
		width: 28rem;
		.orderConf{
			display:inline;
		}
		.confTime{
			background-color:
			white;
			height: 25px;
			width: 50px;
			display: inline-block;
			text-align: center;
			font-family:BitterBold;
		}
	}
	.pDelivery {
		grid-area: pDelivery;
		img {
			// display: block;
			// margin-left: auto;
			// margin-right: auto;
			// width: 300px;
			// z-index: 0;
			// transform: translate(-10rem, 2.75rem);
			display: block;
			margin-left: 10rem;
			margin-right: auto;
			width: 310px;
			z-index: 0;
			-webkit-transform: translate(-10rem, 2.75rem);
			transform: translate(-9.75rem, 3rem);
		}
	}
	.pCourier {
		grid-area: pCourier;
		display: grid;
		grid-template-columns: 30% 30% 30%;
		grid-template-areas: "dvShip dvCod dvPickup";
		.dvShip {
			grid-area: dvShip;
		}
		.dvCod {
			grid-area: dvCod;
		}
		.dvPickup {
			grid-area: dvPickup;
		}
	}
	.pTime {
		grid-area: pTime;
	}
	.pDate {
		grid-area: pDate;
	}
}

.divPolicy {
	grid-area: policy;
	margin-top: 5%;
	width: 100%;
	height: auto;
	background-color: rgb(241, 241, 241);
	box-sizing: border-box;
	// width: 100vw;
	// position: relative;
	// left: 50%;
	// right: 50%;
	// margin-left: -50.5vw;
	// margin-right: -50.5vw;
	.prodPolicy {
		// margin: 0rem 1rem 5rem 1rem;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			z-index: 0;
			transform: translate(0rem, 3rem);
		}
		h2 {
			text-align: center;
			//   position: absolute;
			transform: translate(0px, -0.45em);
			z-index: 1;
		}
		p {
			text-align: justify;
			text-align: center;
		}
	}
	.shopPolicy {
		// margin: 0rem 1rem 5rem 1rem;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			transform: translate(0rem, 3rem);
			z-index: 0;
			// position: absolute;
		}
		h2 {
			text-align: center;
			//   position: absolute;
			transform: translate(0px, -0.45em);
			z-index: 1;
		}
		p {
			text-align: justify;
			text-align: center;
		}
	}
	.shipPolicy {
		// margin: 0rem 1rem 5rem 1rem;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			transform: translate(0rem, 3rem);
			z-index: 0;
			// position: absolute;
		}
		h2 {
			text-align: center;
			//   position: absolute;
			transform: translate(0px, -0.45em);
			z-index: 1;
		}
		p {
			text-align: justify;
			text-align: center;
		}
	}

	.retPolicy {
		// margin: 0rem 1rem 5rem 1rem;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			transform: translate(0rem, 3rem);
			z-index: 0;
			// position: absolute;
		}
		h2 {
			text-align: center;
			//   position: absolute;
			transform: translate(0px, -0.45em);
			z-index: 1;
		}
		p {
			text-align: justify;
			text-align: center;
		}
	}
}
.divReview {
	grid-area: review;
	// background-color: whitesmoke;
	width: 100%;
	height: auto;
	font-weight: 300px;
	// margin-top: 5%;
	// margin-bottom: 5%
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		transform: translate(0rem, 3rem);
		z-index: 0;
	}
	h2 {
		text-align: center;
		transform: translate(0px, -0.45em);
		z-index: 1;
	}
	.reviewTop {
		// background-image: linear-gradient(white, whitesmoke);
	}
	.rating {
		grid-area: rating;
		width: 30rem;
		margin: 0 auto;
		margin-top: 2em;
		// background-color: white;
		padding: 4px;
		margin-bottom: 2em;
		.inner {
			// padding: 1em;
			// background-color: white;
			// overflow: hidden;
			// position: relative;
			// -webkit-border-radius: 4px;
			// -moz-border-radius: 4px;
			// border-radius: 4px;
			padding: 1em;
			background-color: whitesmoke;
			overflow: hidden;
			width: 30rem;
			height: 15rem;
			border-radius: 15px;
		}
		.rating {
			float: left;
			width: 50%;
			// margin-right: 5%;
			text-align: center;
			background-color: transparent;
			border-right: 2px solid #dbdbdb;
		}

		.rating-num {
			color: #333333;
			font-size: 60px;
			// font-weight: 100;
			line-height: 1em;
			font-family: Bitter;
		}

		.rating-stars {
			font-size: 20px;
			color: #e3e3e3;
			margin-bottom: 0.5em;
		}
		.rating-stars .active {
			color: #737373;
		}

		.rating-users {
			font-size: 16px;
			.icon-user {
			}
		}

		.histo {
			float: left;
			width: 45%;
			font-size: 13px;
			transform: translate(0px, 34px);
			margin-left: 20px;
		}

		.histo-star {
			float: left;
			padding: 3px;
		}

		.histo-rate {
			width: 100%;
			display: block;
			clear: both;
		}

		.bar-block {
			margin-left: 5px;
			color: black;
			display: block;
			float: left;
			width: 80%;
			position: relative;
		}

		.bar {
			padding: 4px;
			display: block;
		}

		#bar-five {
			width: 0;
			background-color: #9fc05a;
		}

		#bar-four {
			width: 0;
			background-color: #add633;
		}

		#bar-three {
			width: 0;
			background-color: #ffd834;
		}

		#bar-two {
			width: 0;
			background-color: #ffb234;
		}

		#bar-one {
			width: 0;
			background-color: #ff8b5a;
			// margin-left: 2px;
		}
	}
	.review {
		// margin: 0% 5% 0% 5%;
		// margin-top: 50px;
		// margin-bottom: 50px;
		background-color: white;
		grid-area: revData;
		display: grid;
		padding-bottom: 20px;
		grid-template-columns: 10% 12% 12% 55%;
		// border-bottom: 2px lightgray solid;
		grid-template-rows: 5% 95%;
		// padding-bottom: 3.5rem;
		padding-top: 50px;
		grid-template-areas: ". revProfIcon revName revData ";
		.revProfIcon {
			grid-area: revProfIcon;
			// border-bottom: 2px lightgray solid;
			border-top: 2px lightgray solid;
			// padding-bottom: 10rem;
			padding-top: 30px;
			.revProfImg {
				height: 90px;
				width: 90px;
				transform: translate(0px, 10px);
			}
		}
		.revName {
			// margin-top: 1%;
			grid-area: revName;
			// border-bottom: 2px lightgray solid;
			// padding-bottom: 12.5rem;
			border-top: 2px lightgray solid;
			// padding-bottom: 10rem;
			padding-top: 30px;
			.rName {
				grid-area: rName;
				font-family: BitterBold;
				font-size: 16px;
			}
			.rAgo {
				grid-area: rAgo;
				font-family: Bitter;
				font-size: 13px;
				color: #949494;
			}
		}
		.revData {
			// margin-top: 1%;
			// border-bottom: 2px lightgray solid;
			border-top: 2px lightgray solid;
			// padding-bottom: 10rem;
			padding-top: 30px;
			grid-area: revData;
			grid-template-columns: auto;
			grid-template-rows: repeat(4, auto);
			grid-template-areas:
				"rTitile"
				"rDesc"
				"rstarLikes"
				"revIcon";
			.rTitle {
				grid-area: rTitle;
				font-family: BitterBold;
				font-size: 16px;
			}
			.rDesc {
				grid-area: rDesc;
				font-family: Bitter;
				font-size: 14px;
				color: #949494;
			}
			.starLikes {
				display: grid;
				grid-template-columns: 3rem 3rem 3rem 3rem 5rem auto;
				grid-template-rows: auto auto;
				grid-template-areas: "icLike likeCount icDislike dislikeCount btnReport ";
				grid-area: starLikes;
				.icLike {
					grid-area: icLike;
					width: 30px;
					height: 30px;
					transform: translate(0px, 0px);
					&:hover {
						cursor: pointer;
					}
				}
				.likeCount {
					grid-area: likeCount;
					transform: translate(0px, 0px);
				}
				.icDislike {
					grid-area: icDislike;
					width: 30px;
					height: 30px;
					transform: translate(0px, 0px);
					&:hover {
						cursor: pointer;
					}
				}
				.dislikeCount {
					grid-area: dislikeCount;
					transform: translate(0px, 0px);
				}
				.btnReport {
					grid-area: btnReport;
					border: none;
					background-color: white;
					transform: translate(-15px, -10px);
					&:hover {
						cursor: pointer;
					}
				}
			}
			.revIcon {
				grid-area: revIcon;
				width: 100px;
				height: 100px;
				float: left;
			}
		}
	}
}

.divQuestion {
	margin: 5% 5% auto 5%;
	width: Auto;
	grid-area: question;
	height: 300px;
	margin-block-end: 5%;
	box-sizing: border-box;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 550px;
		height: 50px;
		z-index: 0;
		transform: translate(0rem, 2rem);
	}
	p {
		text-align: center;
		transform: translate(0px, -0.45em);
		z-index: 1;
	}
	.divCustomerQA {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: "divSA ";
		font-size: 16px;
		font-family: Bitter;
		color: #333333;
		// "divQA "
		.divSA {
			grid-area: divSA;
			display: grid;
			grid-template-columns: 5% 45% 45% 5%;
			grid-template-rows: auto;
			grid-template-areas: ". search askQ .";
			.search {
				grid-area: search;
				.searchBox {
					// transform: translate(0rem, -0.3rem);
					transform: translate(0rem, -7px);
					width: 30rem;
					background-color: #dbdbdb;
					border: none;
					height: 40px;
					padding-left: 20px;
				}
				button {
					background-color: #dbdbdb;
					border: none;
					height: 40px;
					border: none;
					// box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					// border-radius: 5px;
					// // padding:6px 25px 6px 25px;
					// &:hover{
					// 	cursor: pointer;
					// 	background-color: #ddb01d;
					// }
					&:hover {
						cursor: pointer;
						background-color: #cfcfcf;
					}
					img {
						height: 25px;
						width: 20px;
						transform: translate(0rem, 0rem);
					}
				}
			}
			.askQ {
				grid-area: askQ;
				margin-left: 2rem;
				.submitFaq {
					width: 30rem;
					background-color: #dbdbdb;
					border: none;
					height: 40px;
					padding-left: 20px;
				}
				button {
					background-color: #efbe24;
					color: white;
					border: none;
					// box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					// border-radius: 5px;
					// // padding:6px 25px 6px 25px;
					&:hover {
						cursor: pointer;
						background-color: #ddb01d;
					}
					// border: none;
					height: 40px;
					// &:hover {
					// 	cursor: pointer;
					// 	background-color: #dba716;
					// }
				}
			}
		}
		.questionAnswer {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin: 0px 40px 0px 40px;
			width: auto;
			.divQA {
				// grid-area: divQA;
				// height: auto;
				margin-top: 20px;
				padding-bottom: 5%;
				width: 50%;
				// display: grid;
				// grid-template-columns: repeat(2, auto);
				// float: left;
				.qA {
					margin-left: 10%;
					.question {
						color: #333333;
					}
					.answer {
						margin-top: 10px;
						color: #949494;
					}
				}
			}
		}
	}
	.dvMore {
		img {
			height: 50px;
			width: 50px;
		}
		&:hover {
			cursor: pointer;
		}
	}
}
.imgPopup {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: inherit;
	background-color: black;
	// image modal css below
	.row > .column {
		padding: 0 8px;
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	// .column {
	// 	float: left;
	// 	width: 15%;
	// }
	/* Modal Content */
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		width: 90%;
		max-width: 1200px;
	}
	/* The Close Button */
	.close {
		color: white;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 35px;
		font-weight: bold;
	}
	.close:hover,
	.close:focus {
		color: #999;
		text-decoration: none;
		cursor: pointer;
	}
	.mySlides {
		display: none;
	}
	.cursor {
		cursor: pointer;
	}
	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	}
	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: lightgrey;
	}
	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}
	img {
		margin-bottom: -4px;
		width: 35rem;
		height: 25rem;
	}
	.caption-container {
		text-align: center;
		background-color: black;
		padding: 2px 16px;
		color: white;
	}
	.demo {
		opacity: 0.6;
	}
	.active,
	.demo:hover {
		opacity: 1;
	}
	img.hover-shadow {
		transition: 0.3s;
	}
	.hover-shadow:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.thumbRow {
		width: auto;
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(10, auto);
	}
}

.rfqForm {
	/* Dropdown Button */
	// .dropBtnRfq {
	// 	background-color: #4caf50;
	// 	color: white;
	// 	padding: 16px;
	// 	font-size: 16px;
	// 	border: none;
	// 	cursor: pointer;
	// }
	/* Dropdown button on hover & focus */
	// .dropBtnRfq:hover,
	// .dropBtnRfq:focus {
	// 	background-color: #3e8e41;
	// }
	#myInput {
		background-image: url("/css/searchicon.png");
		background-position: 10px 12px;
		background-repeat: no-repeat;
		width: 100%;
		font-size: 16px;
		// padding: 12px 20px 12px 40px;
		border: 1px solid #ddd;
		margin-bottom: 12px;
	}

	#myUL {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#myUL li a {
		border: 1px solid #ddd;
		margin-top: -1px; /* Prevent double borders */
		background-color: #f6f6f6;
		// padding: 12px;
		text-decoration: none;
		font-size: 18px;
		color: black;
		display: block;
	}

	#myUL li a:hover:not(.header) {
		background-color: #eee;
	}
	.rfqUL {
		display: none;
	}
}
.rfqForm {
	display: grid;
	padding-bottom: 25%;
	grid-template-columns: auto;
	grid-row-gap: 5%;
	grid-template-rows: repeat(7, auto);
	grid-template-areas:
		"rfqSN"
		"rfqSL"
		"rfqN"
		"rfqTag"
		"chips"
		"upload"
		"btnRfq";
	.rfqSN {
		grid-area: rfqSN;
		display: grid;
		grid-template-columns: 35% auto;
		grid-template-rows: auto;
		grid-template-areas: "rfqShopName rfqShopNameInput";
		.rfqShopName {
			grid-area: rfqShopName;
		}
		.rfqShopNameInput {
			grid-area: rfqShopNameInput;
		}
	}
	.rfqSL {
		grid-area: rfqSL;
		display: grid;
		grid-template-columns: 35% auto;
		grid-template-rows: auto;
		grid-template-areas: "rfqLocation rfqLocationInput";
		.rfqLocation {
			grid-area: rfqLocation;
		}
		.rfqLocationInput {
			grid-area: rfqLocationInput;
		}
	}
	.rfqN {
		grid-area: rfqN;
		display: grid;
		grid-template-columns: 35% auto;
		grid-template-rows: auto;
		grid-template-areas: "rfqNote rfqNoteInput";
		.rfqNote {
			grid-area: rfqNote;
		}
		.rfqNoteInput {
			grid-area: rfqNoteInput;
		}
	}
	.rfqTag {
		grid-area: rfqTag;
		display: grid;
		grid-template-columns: 35% auto;
		grid-template-rows: auto;
		grid-template-areas: "dropBtnRfq dropdownRfq";
		.dropBtnRfq {
			grid-area: dropBtnRfq;
		}
		.dropdownRfq {
			grid-area: dropdownRfq;
		}
	}
	.chips {
		grid-area: chips;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(auto, 1fr);
		.chipsOuter {
			margin: 5px;
			.chip {
				display: inline-block;
				padding: 0 25px;
				height: auto;
				font-size: 16px;
				width: max-content;
				line-height: auto;
				border-radius: 25px;
				background-color: #efbe24;
			}

			.closebtn {
				padding-left: 10px;
				color: #888;
				font-weight: bold;
				float: right;
				font-size: 20px;
				cursor: pointer;
			}

			.closebtn:hover {
				color: #000;
			}
		}
	}
	.uploadRfq {
		grid-area: upload;
	}
	.btnRfq {
		grid-area: btnRfq;
	}
}

// CHECKOUT POPUP (BUY NOW)

.dvMain-Container-Grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(15, auto);
	grid-template-areas:
		"grid-ProductName"
		"grid-ProdVariInfo"
		"grid-CustNameQty"
		"grid-MainAddress"
		"grid-SavedAddress"
		"grid-AddNewDeliveryAddr"
		"grid-FormGroupAddr"
		"grid-DeliveryOption"
		"grid-ProdDeliveredDate"
		"grid-GiftOption"
		"grid-GiftOptionNote"
		"grid-MessageTitle"
		"grid-ProductImages"
		"grid-PriceListing"
		"grid-BtnCheckout-Rfq";
}

.btn {
	font-family: "BitterBold";
	color: white;
}

.modal-header {
	background: #efbe24;
	color: white;
	font-family: "BitterBold";
	display: table-cell;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.modal-content {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: #f1f1f1;
}

// PRODUCT
.dvProductName {
	grid-area: grid-ProductName;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
	font-family: "BitterBold";
}

// MATERIAL SIZE VARIANT INFO
.dvProdVariInfo {
	grid-area: grid-ProdVariInfo;
	.SpecProduct {
		border: 2px solid#efbe24;
		width: 448px;
		border-radius: 5px;
		padding: 15px;
		margin-left: -52px;
		text-align: center;
	}
}

// NAME & QTY
.dvCustNameQty {
	grid-area: grid-CustNameQty;
}
.grid-CustomerNameQty {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-template-areas: "custName Qty qtyLabel";
	.custName {
		grid-area: custName;
		.dvCustomerName {
			margin-left: 76px;
		}
	}
	.Qty {
		grid-area: Qty;
	}
	.qtyLabel {
		grid-area: qtyLabel;
		.btnQtyCount {
			font-family: BitterBold;
			display: grid;
			border: none;
			margin-left: -70px;
			background-color: #efbe24;
			color: white;
			border-radius: 5px;
			height: 28px;
			width: 28px;
			text-align: center;
		}
	}
}

// ADDRESS
.dvAddressText {
	text-align: center;
	font-family: "BitterBold";
	margin-top: 34px;
	margin-bottom: 20px;
}
.dvMainAddress {
	grid-area: grid-MainAddress;
}
.grid-MainAddress1 {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"Addr"
		"btnAddr";
	.Address {
		grid-area: Addr;
		background: #dbdbdb;
		text-align: center;
		width: 400px;
		border-radius: 5px;
		margin-left: 48px;
		height: 120px;
		padding: 18px;
	}
	.btnAddr {
		grid-area: btnAddr;
		.btnChange {
			margin-top: 18px;
			border-radius: 5px;
			color: white;
			border: none;
		}
	}
}

// SAVED ADDRESS
.dvSavedAddress {
	grid-area: grid-SavedAddress;
	text-align: center;
	font-family: "BitterBold";
	margin-top: 16px;
}
.grid-SavedAddress1 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"labelAddr1 labelAddr2"
		"btnAddr1 btnAddr2";
	.labelAddress1 {
		grid-area: labelAddr1;
		background: white;
		font-family: "Bitter";
		border-radius: 5px;
		margin-left: 15px;
		width: 220px;
		height: 58px;
	}
	.labelAddress2 {
		grid-area: labelAddr2;
		background: white;
		font-family: "Bitter";
		border-radius: 5px;
		margin-left: 15px;
		width: 220px;
		height: 58px;
	}
	.btnAddress1 {
		grid-area: btnAddr1;
		.btnDeliverLeft {
			margin-top: 10px;
			color: white;
			border-radius: 5px;
			font-family: "Bitter";
			width: 232px;
			padding: 5px;
			border: none;
		}
	}
	.btnAddress2 {
		grid-area: btnAddr2;
		.btnDeliverRight {
			margin-top: 10px;
			color: white;
			border-radius: 5px;
			font-family: "Bitter";
			width: 232px;
			padding: 5px;
			border: none;
		}
	}
}

// ADD NEW ADDR BTN
.dvAddNewAddrBtn {
	grid-area: grid-AddNewDeliveryAddr;
	.btnNewAddr {
		margin-left: 10px;
		border-radius: 5px;
		margin-top: 20px;
		width: 480px;
		margin-bottom: 15px;
		border: none;
	}
}
// FORM GROUP ADDR
.dvFormGroup {
	grid-area: grid-FormGroupAddr;
	background: #dbdbdb;
	margin-left: 10px;
	width: 480px;
	border-radius: 5px;
}
.grid-Addr-Form {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"left-Addr-Form Right-Addr-Form"
		"btnSave btnSave";
	.grid-left-Form {
		grid-area: left-Addr-Form;
		.dvContactName {
			padding: 10px;
		}
		.card-input-style-address {
			border-radius: 5px;
			border: none;
			margin-left: 2px;
			width: 215px;
		}
		.dvAddr2 {
			padding: 10px;
		}
		.dvCountry {
			padding: 10px;
		}
		.dvCity {
			padding: 10px;
		}
		.dvEmail {
			padding: 10px;
		}
	}
	.grid-Right-Form {
		grid-area: Right-Addr-Form;
		.dvAddr1 {
			padding: 10px;
		}
		.card-input-style-address {
			border-radius: 5px;
			border: none;
			margin-left: 2px;
			width: 215px;
		}
		.dvState {
			padding: 10px;
		}
		.dvPincode {
			padding: 10px;
		}
		.dvDistrict {
			padding: 10px;
		}
		.dvPhone {
			padding: 10px;
		}
	}
	.btnSaveForm {
		grid-area: btnSave;
		.btnSave1 {
			margin-left: 200px;
			border-radius: 5px;
			margin-top: 15px;
			margin-bottom: 15px;
			width: 80px;
			color: white;
			border: none;
		}
	}
}

// DELIVER OPTION
.dvDeliveryText {
	text-align: center;
	font-family: "BitterBold";
	margin-top: 16px;
}
.dvDeliveryOption {
	grid-area: grid-DeliveryOption;
}
.grid-Deli-Option {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-template-areas: "left-DeliOption Med-DeliOption Right-DeliOption";
	.grid-left-DeliOption {
		grid-area: left-DeliOption;
		margin-left: 52px;
	}
	.grid-Med-DeliOption {
		grid-area: Med-DeliOption;
	}
	.grid-Right-DeliOption {
		grid-area: Right-DeliOption;
	}
}

//PRODUCT DELIVERED DATE
.dvProdDeliveredDate {
	grid-area: grid-ProdDeliveredDate;
	text-align: center;
	font-family: "BitterBold";
	margin-top: 16px;
}
.grid-Prod-Deli-Date {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas: "dvDeliveryDate dvPrice"
						"dvDeliveryDate1 dvApplyBtn";
						.grid-Deli-Date {
							grid-area: dvDeliveryDate;
							color: #009145;
							margin-left: -24px;
						}
						.grid-Price {
							grid-area: dvPrice;
							color: #009145;
							margin-left: -80px;
						}
						.grid-Deli-Date1 {
							grid-area: dvDeliveryDate1;
							margin-left: -35px;
							.dateText {
								border-color: #EFBE24;
							}
						}
						.grid-ApplyBtn {
							grid-area: dvApplyBtn;
							.btnApply {
								border-radius: 5px;
								color:white;
								font-family: "Bitter";
								margin-left: -198px;
								border: none;
							}
						}

}

// GIFT OPTION
.dvGiftOption {
	grid-area: grid-GiftOption;
}
.grid-GiftOption1 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-template-areas: "dvGiftOptionText dvGiftOptionToggle";
	.grid-Text-GiftOption {
		grid-area: dvGiftOptionText;
		margin-top: 60px;
		margin-left: 44px;
	}
	.grid-GiftOptionToggle {
		grid-area: dvGiftOptionToggle;
	}
			.btnGiftOption {
				margin-left: -144px;
				margin-top: 54px;
			}
				.switchActive {
					position: relative;
					display: inline-block;
					width: 68px;
					height: 38px;
					margin-left: -6%;
					margin-bottom: -2px;
					margin-top: -8px;
				}
		
				.switch input {
					opacity: 0;
					width: 0;
					height: 0;
				}
		
				.slider {
					position: absolute;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: #f1f1f1;
					-webkit-transition: 0.4s;
					transition: 0.4s;
					background:white;
				}
		
				.slider:before {
					position: absolute;
					content: "";
					height: 30px;
					width: 30px;
					left: 4px;
					bottom: 4px;
					background-color: #efbe24;
					-webkit-transition: 0.4s;
					transition: 0.4s;
				}
		
				input:checked + .slider {
					background-color: #dbdbdb;
				}
		
				input:focus + .slider {
					box-shadow: 0 0 1px #2196f3;
				}
		
				input:checked + .slider:before {
					-webkit-transform: translateX(26px);
					-ms-transform: translateX(26px);
					transform: translateX(26px);
				}
		
				/* Rounded sliders */
				.slider.round {
					border-radius: 34px;
				}
		
				.slider.round:before {
					border-radius: 50%;
				}
	}
// GIFT NOTE
.dvGiftNote {
	grid-area: grid-GiftOptionNote;
}
.grid-GiftOptionNote1 {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"dvGiftNoteText"
		"dvGiftNoteCard";
	.grid-dvGiftNoteText {
		grid-area: dvGiftNoteText;
	}
	.grid-dvGiftNoteCard {
		grid-area: dvGiftNoteCard;
		.Gift-Note-Style {
		}
	}
}

// MESSAGE TITLE
.dvMessageTitle {
	grid-area: grid-MessageTitle;
	.MsgTitleText {
		text-align: center;
		margin-top: 40px;
		border: 2px solid#efbe24;
		width: 330px;
		border-radius: 5px;
		padding: 15px;
		margin-left: 80px;
	}
}

// PRODUCT IMAGES
.dvproductImages {
	grid-area: grid-ProductImages;
}
	.prodTextImg {
		text-align: center;
		font-family: "BitterBold";
		margin-top: 16px;
	}
	.dvprodImages{
		margin-left: 20px;
		width: 300px;
	}


// PRICELISTING
.dvPriceListing {
	grid-area: grid-PriceListing;
	text-align: center;
	font-family: "BitterBold";
	margin-top: 16px;
}
.dvPriceDetails {
	display: grid;
	grid-template-columns: auto 20% auto;
	grid-template-rows: repeat(7, auto);
	grid-template-areas:
		"Left-BasePrice	grid-Med	Right-BasePrice"
		"Left-ShipppingPrice	grid-Med1	Right-ShippingPrice"
		"Left-DiscPrice	grid-Med2	Right-DiscPrice"
		"Left-VariancePrice	grid-Med3	Right-VariancePrice"
		"Left-Qty	grid-Med4	Right-Qty"
		"Left-Tax	grid-Med5	Right-Tax"
		"Left-Total	grid-Med6	Right-Total";
	.dvBasePrice {
		grid-area: Left-BasePrice;
		.BasePriceText {
			color: #807b7b;
			margin-left: 52px;
			font-family: "Bitter";
		}
	}
	.dvShippingPrice {
		grid-area: Left-ShipppingPrice;
		.ShippingText {
			color: #807b7b;
			margin-left: 86px;
			font-family: "Bitter";
			margin-top: -10px;
		}
	}
	.dvDiscPrice {
		grid-area: Left-DiscPrice;
		.DiscText {
			color: #807b7b;
			margin-left: 40px;
			font-family: "Bitter";
			margin-top: -10px;
		}
	}
	.dvVariancePrice {
		grid-area: Left-VariancePrice;
		.VarianceText {
			color: #807b7b;
			margin-left: 87px;
			font-family: "Bitter";
			margin-top: -10px;
		}
	}
	.dvQty {
		grid-area: Left-Qty;
		.QtyText {
			color: #807b7b;
			margin-left: 1px;
			font-family: "Bitter";
			margin-top: -10px;
		}
	}
	.dvTax {
		grid-area: Left-Tax;
		.TaxText {
			color: #807b7b;
			margin-left: 2px;
			font-family: "Bitter";
			margin-top: -10px;
		}
	}
	.dvTotal {
		grid-area: Left-Total;
		.TotalText {
			margin-left: 16px;
		}
	}

	.dvMed {
		grid-area: grid-Med;
		.dot {
			color: #807b7b;
			margin-left: -172px;
		}
	}
	.dvMed1 {
		grid-area: grid-Med1;
		.dot1 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
		}
	}
	.dvMed2 {
		grid-area: grid-Med2;
		.dot2 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
		}
	}
	.dvMed3 {
		grid-area: grid-Med3;
		.dot3 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
		}
	}
	.dvMed4 {
		grid-area: grid-Med4;
		.dot4 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
		}
	}
	.dvMed5 {
		grid-area: grid-Med5;
		.dot5 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
		}
	}
	.dvMed6 {
		grid-area: grid-Med6;
		.dot6 {
			margin-left: -172px;
		}
	}
	.dvRight-BasePrice {
		grid-area: Right-BasePrice;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
	}
	.dvRight-ShippingPrice {
		grid-area: Right-ShippingPrice;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
	}
	.dvRight-DiscPrice {
		grid-area: Right-DiscPrice;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
	}
	.dvRight-VariancePrice {
		grid-area: Right-VariancePrice;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
	}
	.dvRight-Qty {
		grid-area: Right-Qty;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
	}
	.dvRight-Tax {
		grid-area: Right-Tax;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
	}
	.dvRight-Total {
		grid-area: Right-Total;
		margin-left: -150px;
	}
}

// BTN CHECKOUT / RFQ
.dvBtnCheckout-Rfq {
	grid-area: grid-BtnCheckout-Rfq;
	.btnPayment {
		margin-left: 210px;
		border-radius: 5px;
		color: white;
		font-family: "Bitter";
		padding: 5px;
		border: none;
		margin-bottom: 100px;
		width: 120px;
	}
	.btnRfq {
		margin-left: 188px;
		border-radius: 5px;
		color: white;
		font-family: "Bitter";
		padding: 5px;
		border: none;
		margin-bottom: 100px;
		width: 156px;
	}
}

