$primaryYellowColor: #efbe22;
$primaryFontColor:black;
$categorySidePadding:0.5rem;

@mixin phone {
  @media only screen and (max-width:600px) {
		@content;
	}
  
}

@mixin tablet{
  @media only screen and (min-width: 768px) and (max-width: 1024px){
    @content;
}
}

@mixin desktop {
  @media only screen and (min-width : 1224px) {
    @content;
  }
}

.subnav-content {
  display: none;
  position: relative;
  left: 0;
  // background-color: red;
  // width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.sub-subnav-content {
  display: none;
  position: relative;
  left: 45px;
  // background-color: red;
  // width: 100%;
  z-index: 1;
}

.sub-subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.sub-subnav-content a:hover {
  background-color: #eee;
  color: black;
}
.subnav-content:hover  .sub-subnav-content{
  display: block;
  a{
    // width: 100%;
    text-align: initial;
    padding: 0;
  }
}

// .dropbtn-cat:hover + .subnav-content {
//   display: block;
// }

.cat_0:hover  .subnav-content {
  display: block;
  a{
    width: 100%;
    text-align: initial;
    padding: 0;
  }
}
.cat_1:hover  .subnav-content {
  display: block;
  a{
    width: 100%;
    text-align: initial;
    padding: 0;
  }
}
.cat_2:hover  .subnav-content {
  display: block;
  a{
    width: 100%;
    text-align: initial;
    padding: 0;
  }
}
.cat_3:hover  .subnav-content {
  display: block;
  a{
    width: 100%;
    text-align: initial;
    padding: 0;
  }
}
.cat_4:hover  .subnav-content {
  display: block;
  a{
    width: 100%;
    text-align: initial;
    padding: 0;
  }
}
.cat_5:hover  .subnav-content {
  display: block;
  a{
    width: 100%;
    text-align: initial;
    padding: 0;
  }
}
.cat_7:hover  .subnav-content {
  display: block;
  a{
    width: 100%;
    text-align: initial;
    padding: 0;
  }
}



.collapse{
    a{
        span{
            color: $primaryYellowColor;
        }
    }
    .form-control-custom{
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border-right: none;
    }
}
.header-sell-with-us{
    border: 1px solid $primaryYellowColor;
}
.nav-link{
    margin-left: 15px;
    margin-right: 15px;
}

@include phone{
              .nav-link{

                margin-left: -15px;
              }

}

@include tablet{

            .nav-link{
              margin-left: -10px;
            }
}

.navbar {
    padding: 1rem 1rem 0rem 1rem;
}
li{
    list-style: none;
    a{
        text-decoration: none;
        color: black;
    }
}
.header-style{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 20;
}

.cartCont{
  position: relative;
  
  .cartCount{
    position: absolute;
    color: #EFBE24;
    left: 45px;
    bottom: 5px;
    display: none;
  }
}
.header-category-bar{
    height: 4rem;
    width: 100%;
    margin: auto;
    color: $primaryFontColor;
    position: relative;
    display: inline-block;
    // background: #f9f9f9;
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
        scrollbar-width: none;
        background: white;
        // margin-top: 30px;
      }
      
      div.scrollmenu a {
        display: inline-block;
        color: $primaryFontColor;
        text-align: center;
        text-decoration: none;
        padding: 1.2rem;
        padding-left: $categorySidePadding;
        padding-right: $categorySidePadding;
      }
      div.scrollmenu a:hover {
        background-color: #DBDBDB;
      }
      div.hamburgermenu{
        position: fixed;
        align-content: inherit;
      }
      
}
// 
// .header-navbar {
//   overflow: hidden;
//   background-color: white; 
// }
// .header-navbar a {
//   float: left;
//   font-size: 16px;
//   color: black;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
// }
// .header-subnav {
//   float: left;
//   overflow: hidden;
// }
// .header-subnav .header-subnavbtn {
//   font-size: 16px;  
//   border: none;
//   outline: none;
//   color: black;
//   padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit;
//   margin: 0;
// }
// .header-navbar a:hover, .header-subnav:hover .header-subnavbtn {
//   background-color: #DBDBDB;
// }
// .header-subnav-content {
//   display: none;
//   position: absolute;
//   left: 0;
//   background-color: #DBDBDB;
//   width: 100%;
//   z-index: 1;
// }

// .header-subnav-content a {
//   float: left;
//   color: black;
//   text-decoration: none;
// }

// .header-subnav-content a:hover {
//   background-color: #eee;
//   color: black;
// }

// .header-subnav:hover .header-subnav-content {
//   display: block;
// }
// 
.btn-custom{
    border: 1px solid #ced4da;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;
}

.headerSearchImage{
    height: 15px;
    margin: auto;
    margin-bottom: 5px;
}

.dropbtn {
    background-color: #DBDBDB;
    color: black;
    width: 202px;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  
  .dropbtn-login {
    background-color: white !important;
    color: black;
    width: 160px;
    height: 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropbtn-cat {
    background-color: white !important;
    color: black;
    width: auto;
    padding: 5px;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    // float: left;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 95%;
    background: white !important;      
    // border-radius: 10px;
  }
  .dropdown-profile{
    position: relative;
    display: inline-block;
    width: 100%;
    background: white !important;
  }
  .dropdown-content {
    visibility: visible !important;
    position: absolute;
    background-color: #DBDBDB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
  }

  @include phone{

    .dropdown-content {
      visibility: visible !important;
      position: absolute;
      background-color: #DBDBDB;
      min-width: 160px;
      width: 68.4%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      text-align: center;
      z-index: 1;
    }

  }
  @include tablet{
    .dropdown-content {
      visibility: visible !important;
      position: absolute;
      background-color: #DBDBDB;
      // min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      text-align: center;
      z-index: 1;
      width: 28.8%;
      margin-bottom: 5px;
    }

  }


  .dropdown-content2 {
    position: absolute;
    background-color: #DBDBDB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #DBDBDB
  }
  .dropdown-profile:hover .dropbtn-login{
    background-color: #DBDBDB;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #DBDBDB;
  }

  .dropdown-content2:hover .dropbtn-login{
    background-color: #DBDBDB;
  } 

.input_style{
  border-style: none;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
} 
@include phone{
           
  .input_style{
    border-style: none;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
    width: 90%;
  } 

}


.btn_style{
  border-radius: 2px;
  background:#EFBE24;
  border: none;
  color: white;
}
// pop up
.container{
  z-index: 10001;
  .btn{
      font-family: "BitterBold";
      color: white;
      margin-left: 34%;
      padding: 0.7%;
      height: 1%;
      width: 32%;
    }
  }
  .modal-header
   {
      background: #009145;
      color:white;
      font-family: "BitterBold";
      display: table-cell;
    
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      
    }
  
  .modal-content
    {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background: #F1F1F1;
    }

  .modal-body{
  h5{
      text-align: center;
      font-family: "BitterBold";
      padding: "0 10% 0 10%";
   }
  } 
  .btn btn-warning{
    font-family: "BitterBold";
  }
  //hamburger-menu
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .hamburger-div{
    background: white;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
