<div class="header-style">
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink=""><img src="assets/images/icons/ic_title.png" Height="70%" Width="70%"></a>
      <!-- SCOOP<span>MY</span>ART -->
      <li class="nav-item">
        <!-- <div onmouseover="true" style="background-color: #959e97"> -->
          <a class="nav-link">
            <div class="dropdown">
                <button class="dropbtn" (click)="openLocation()"><img src="assets/images/icons/ic_location.png" Height="10%" Width="10%"> Deliver to</button>
                  <div class="dropdown-content" id="location_drop_down">
                  <li>
                    <div>
                      <input type="text" size= "16" class="input_style" placeholder="Enter pincode">
                    </div>
                  </li>
                  <li>
                      <div>
                          <button type="submit" class="btn_style">Apply</button>
                      </div>
                  </li>
                  <li>
                      <button style="border: none; background: inherit; margin-left: 155px;" (click)="closeLocation()">x</button>
                  </li>
                  </div>
            </div>
          </a>

            
        <!-- </div> -->
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control-custom" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-custom btn-outline-success my-2 my-sm-0" type="submit"><img class="headerSearchImage" src="assets/images/icons/search-512.png"></button>
      </form>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active ml-auto">
          <a class="nav-link header-sell-with-us" routerLink="/signupseller">Sell with Us <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active ml-auto">
          <a class="nav-link header-sell-with-us" routerLink="/category">Shop by Store <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item ml-auto">
          <div class="dropdown-profile">
              <button class="dropbtn-login" (click)="open()"><img src="assets/images/icons/ic_user.png" height="25px" width="25px">
                <label id="headerLogin">{{temp}}</label>
              </button>
                <div class="dropdown-content2" id="profilemenu">
                  <li><a href=#>My orders</a></li>
                  <li><a href=#>My messages</a></li>
                  <li><a href=#>My notifications</a></li>
                  <li><a href=#>My fav shops</a></li>
                  <li><a href=#>My accounts</a></li>
                  <li><button style="border: none; background: inherit;"(click)="logOut()" id="loginButton">{{temp1}}</button></li>
                  <li><button style="border: none; background: inherit;"(click)="close()" id="closeButton">close</button></li>
                </div>
          </div>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" routerLink="/cart"><img src="assets/images/icons/ic_cart.png" Height="40%" Width="40%"></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="header-category-bar">
    <div class="hamburger-div">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <li><a routerLink="" onclick="closeNav()">About Us</a></li>
            <li><a routerLink="/contact" onclick="closeNav()">Contact Us</a></li>
            <li><a routerLink="" onclick="closeNav()">Blogs</a></li>
            <li><a routerLink="" onclick="closeNav()">Lookbook</a></li>
            <li><a routerLink="" onclick="closeNav()">Career</a></li>
            <li><a routerLink="/terms&conditions" onclick="closeNav()">Terms & conditions</a></li>
        </div>
          
    </div>
      <div class="scrollmenu">
          <span style="font-size:28px;cursor:pointer;background: white" onclick="openNav()">&nbsp;&nbsp;&#9776;</span>
        <div class="dropdown">
          <button class="dropbtn-cat"><a href="#mom_kids">Mom & Kids</a></button>
          <button class="dropbtn-cat"><a href="#mens">Mens</a></button>
          <button class="dropbtn-cat"><a href="#womens">Womens</a></button>
          <button class="dropbtn-cat"><a href="#paintings">Painting & Arts</a></button>
          <button class="dropbtn-cat"><a href="#handcrafts">Hand Craft</a></button>
          <button class="dropbtn-cat"><a href="#accessories">Accessories</a></button>
          <button class="dropbtn-cat"><a href="#apparels">Apperels</a></button>
          <button class="dropbtn-cat"><a href="#cakes">Cakes</a></button>

          <!-- <div class="header-navbar">
                <div class="dropbtn-cat">
                  <div class="header-subnav">
                      <button class="header-subnavbtn">Mom & Kids</button>
                      <div class="header-subnav-content">
                        <a href="">Clothes</a>
                        <a href="">Footwears</a>
                      </div>
                    </div>
                </div>
                <div class="dropbtn-cat">
                  <div class="header-subnav">
                    <button class="header-subnavbtn">Mens</button>
                    <div class="header-subnav-content">
                      <a href="">Shirts</a>
                      <a href="">Jeans</a>
                      <a href="">T-shirts</a>
                    </div>
                  </div> 
                </div>
                <div class="dropbtn-cat">
                  <div class="header-subnav">
                    <button class="header-subnavbtn">Womens</button>
                    <div class="header-subnav-content">
                      <a href="">Clothes</a>
                      <a href="">Accessories</a>
                      <a href="">Bags</a>
                      <a href="">Footwears</a>
                    </div>
                  </div> 
                </div>
                <div class="dropbtn-cat">
                  <div class="header-subnav">
                    <button class="header-subnavbtn">Painting & Arts</button>
                    <div class="header-subnav-content">
                      <a href="">Illustraions</a>
                      <a href="">Portrait</a>
                    </div>
                  </div>
                </div>
                <div class="dropbtn-cat">
                  <div class="header-subnav">
                      <button class="header-subnavbtn">Hand Craft</button>
                      <div class="header-subnav-content">
                        <a href="">Illustraions</a>
                        <a href="">Portrait</a>
                      </div>
                  </div>
                </div>
                <div class="dropbtn-cat">
                  <div class="header-subnav">
                      <button class="header-subnavbtn">Accessories</button>
                      <div class="header-subnav-content">
                        <a href="">Bags</a>
                        <a href="">Pouches</a>
                      </div>
                  </div>
                </div>
                <div class="dropbtn-cat">
                  <div class="header-subnav">
                      <button class="header-subnavbtn">Apperels</button>
                      <div class="header-subnav-content">
                        <a href="">Bags</a>
                        <a href="">Pouches</a>
                      </div>
                  </div>
                </div>
                <div class="dropbtn-cat">
                  <div class="header-subnav">
                      <button class="header-subnavbtn">Cakes</button>
                      <div class="header-subnav-content">
                        <a href="">Blackforest</a>
                        <a href="">Whiteforest</a>
                      </div>
                  </div>
                </div>
          </div> -->
        </div>
      </div> 
  </div>
</div>
  <!-- login popup -->
      <div class="container" id="modalContainer">
          <!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
            Forgot Password
          </button> -->
          <div class="modal" id="myModal-1" role="dialog" >
            <div class="modal-dialog">
              <div class="modal-content ">
                <div class="modal-header ">
                  <button type="button" class="close" data-dismiss="modal" (click)="dispNone();">&times;</button>
                </div>
                  <div class="modal-body">
                      <button type="button" routerLink="/login">
                          LOGIN TO SCOOPMYART
                      </button>
                      <br>
                      <label>or</label>
                      <br>
                      <button type="button" routerLink="/signup">
                          SIGN UP
                      </button>
                  </div>
              </div>
            </div>
          </div>
      </div>
    <!-- login popup -->