<div class="header-style">
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink=""><img src="assets/images/icons/ic_title.png" Height="70%" Width="70%" style="margin-left: 50px;"></a>
      <!-- SCOOP<span>MY</span>ART -->
      <li class="nav-item">
        <!-- <div onmouseover="true" style="background-color: #959e97"> -->
          <a class="nav-link">
            <div class="dropdown">
                <button class="dropbtn" (click)="openLocation();"><img src="assets/images/icons/ic_location.png" (click)="findMe();" Height="10%" Width="10%">Deliver to &nbsp;<label id="locationlabel">{{location}}</label>&nbsp;<label id="pinlabel">{{pin}}</label></button>
                  <div class="dropdown-content" id="location_drop_down" style="display: none;">
                  <li>
                    <div>
                      <input type="text" size= "16" id="headerPin" class="input_style" placeholder="Enter pincode">
                    </div>
                  </li>
                  <li>
                      <div>
                          <button type="submit" (click)="getGooglePin();" class="btn_style">Apply</button>
                      </div>
                  </li>
                  <li>
                      <button style="border: none; background: inherit; margin-left: 155px;" (click)="closeLocation()">x</button>
                  </li>
                  </div>
            </div>
          </a>

            
        <!-- </div> -->
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control-custom" type="search"(enter)="searchKeyLog()" id="searchField" placeholder="Search" aria-label="Search">
        <button class="btn btn-custom btn-outline-success my-2 my-sm-0"(click)="searchKeyLog()" type="submit"><img class="headerSearchImage" src="assets/images/icons/search-512.png"></button> 
      </form>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active ml-auto">
          <a class="nav-link header-sell-with-us" routerLink="/sellerlanding" *ngIf="!sellerSignedIn">Sell with Us <span class="sr-only">(current)</span></a>
          <a class="nav-link header-sell-with-us" routerLink="/dashboard" *ngIf="sellerSignedIn">Seller Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active ml-auto">
          <a class="nav-link header-sell-with-us" routerLink="/category">Shop by Store <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item ml-auto">
          <div class="dropdown-profile">
              <button class="dropbtn-login" (click)="open()"><img src="assets/images/icons/ic_user.png" height="25px" width="25px">
                <label id="headerLogin">{{temp}}</label>
              </button>
                <div class="dropdown-content2" id="profilemenu" style="display: none;">
                  <li *ngIf="user_signed"><a routerLink="/orders">My orders</a></li>
                  <li *ngIf="sellerSignedIn"><a routerLink="/manageorders">My orders</a></li>
                  <li><a routerLink="/messages">My messages</a></li>
                  <li><a routerLink="/userprofile">My notifications</a></li>
                  <li><a routerLink="/userprofile">My fav shops</a></li>
                  <li><a routerLink="/userprofile">My accounts</a></li>
                  <li><button style="border: none; background: inherit;"(click)="logOut()" id="loginButton">{{temp1}}</button></li>
                  <li><button style="border: none; background: inherit;"(click)="close()" id="closeButton">close</button></li>
                </div>
          </div>
        </li>
        <li class="nav-item ml-auto cartCont">
          <p id="cartCounter" class="cartCount">1</p>
          <a class="nav-link" routerLink="/cart"><img src="assets/images/icons/ic_cart.png" Height="40%" Width="40%"></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="header-category-bar" id="headerCategoryBar">
    <div class="hamburger-div">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <li><a routerLink="" onclick="closeNav()">About Us</a></li>
            <li><a routerLink="/contact" onclick="closeNav()">Contact Us</a></li>
            <li><a routerLink="" onclick="closeNav()">Blogs</a></li>
            <li><a routerLink="" onclick="closeNav()">Lookbook</a></li>
            <li><a routerLink="" onclick="closeNav()">Career</a></li>
            <li><a routerLink="/terms&conditions" onclick="closeNav()">Terms & conditions</a></li>
        </div>
          
    </div>
      <div class="scrollmenu">
          <span style="font-size:28px;cursor:pointer;background: white" onclick="openNav()" id="breadcrumb">&nbsp;&nbsp;&#9776;</span>
        <div class="dropdown" style="    overflow-x: auto;scrollbar-width: thin;" id="mainHeader">
          <div class="dropbtn-cat ">
            <a [routerLink]="['/category']" class='cat_{{i}}' [queryParams]="{cat_id:item.main_id}" *ngFor='let item of categoryData; let i = index;'>
              {{item.main}}
              <div class="subnav-content" >
                <a  [routerLink]="['/category']" *ngFor='let links of item.list' [queryParams]="{cat_id:links.cate_id}">{{links.cate}}
                <div class="sub-subnav-content" >
                  <a  [routerLink]="['/category']" *ngFor='let link of links.sublist' [queryParams]="{cat_id:link.cate_id}">{{link.cate}}</a>
                </div>
              </a>
              </div>
            </a>
            
          </div>
          <div class="subnav-content">
            <a href="#company">Company</a>
            <a href="#team">Team</a>
            <a href="#careers">Careers</a>
          </div>
          <div class="dropbtn-cat"><a [routerLink]="['/category']" [queryParams]="{shop_id:'all'}">Shop By Store</a></div>
        </div>
        <div class="dropdown" style="display: none;" id="sellerHeader">
          <button class="dropbtn-cat"><a routerLink="/dashboard">DASHBOARD</a></button>
          <button class="dropbtn-cat"><a routerLink="/manageorders">MY ORDER</a></button>
          <button class="dropbtn-cat"><a routerLink="/transaction">TRANSACTION</a></button>
          <button class="dropbtn-cat"><a routerLink="/messages">MESSAGES</a></button>
          <button class="dropbtn-cat"><a routerLink="/shopsetting">SHOP SETTINGS</a></button>
          <button class="dropbtn-cat"><a routerLink="/managepage">MY PAGE</a></button>
        </div>
      </div> 
  </div>
</div>
  <!-- login popup -->
      <div class="container" id="modalContainer" style="position: absolute;left: 50%;transform: translate(-50%,0%);">
          <div class="modal" id="myModal-1" role="dialog" >
            <div class="modal-dialog">
              <div class="modal-content ">
                <div class="modal-header " style="height: 60px;">
                  <label style="color: white; margin-left:138px;"><h4><a style="color: white;" routerLink="/login">LOGIN</a>/<a style="color: white;" routerLink="/signup">SIGNUP</a></h4></label>
                  <button type="button" class="close" data-dismiss="modal" (click)="dispNone();">&times;</button>
                </div>
                  <div class="modal-body">
                      <input type="email" placeholder="Email:" style="border: none; margin-left: 135px;" id="login-email">
                      <br>
                      <input type="password" placeholder="Password:" style="border: none; margin-left: 135px;" id="login-password">
                      <br>
                      <label style="margin-left: 135px;"><a style="color: black;" routerLink="/login">forgot password</a></label>
                      <br>
                      <!-- <input type="checkbox" style="margin-left: 95px;"> &nbsp;&nbsp;
                      <label>I agree to the terms</label> &nbsp;&nbsp;  -->
                      <button style="background: #EFBE24; border: none;" (click)=closePop()><label style="color: white">SIGNIN</label></button>
                  </div>
              </div>
            </div>
          </div>
      </div>
    <!-- login popup -->