$footerBackGround:#1f1f1f;
$footerHeaderColor: #dfdfdf;

.displayNone{
    display: none;
}
.margin-right{
    margin-right: 10%;
}
.page-footer{
    background: $footerBackGround;
}
.font{
    font-size: inherit;
    color: $footerHeaderColor;
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
}
.ht-15{
    height: 1rem;
}
.footer-to-top{
    margin-top: auto;
    margin-bottom: 1rem;
    width: 10em;
}
.footer-social-copyrigt-container{
    display: flex;

    .footer-social{
        width: 50%;

        .margin-auto{
            text-align: center;
        }
    }
    .footer-copyright{
        width: 50%;
    }
}
.mt-3rem{
    margin-top: 3rem;
    display: flex;
}

.list-unstyled{
    li{

        a{
            text-decoration: none;
            color: $footerHeaderColor;
        }
    }
}
