<!-- Footer -->
<footer class="page-footer font font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-3rem">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold font text-uppercase mt-3 mb-4">Our Company</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur dignissimos aut, delectus ullam in quidem dolorum magni! Dolor, provident dicta? Veniam mollitia eum, quasi voluptates libero temporibus maxime! Fugit, veritatis.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold font text-uppercase mt-3 mb-4">Customer Service</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Help</a>
          </li>
          <li>
            <a href="#!">Contact Us</a>
          </li>
          <li>
            <a href="#!">Warranty</a>
          </li>
          <li>
            <a href="#!">Terms & Conditions</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 ht-15"></h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">My Account</a>
          </li>
          <li>
            <a href="#!">Order Status</a>
          </li>
          <li>
            <a href="#!">Payment</a>
          </li>
          <li>
            <a href="#!">Canecellations</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold font text-uppercase mt-3 mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">Shop</a>
          </li>
          <li>
            <a href="#!">Category</a>
          </li>
          <li>
            <a href="#!">Products</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <div class="footer-to-top">Back to Top</div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2 displayNone">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr class="displayNone">

  <!-- Social buttons -->
  <!-- <ul class="list-unstyled list-inline text-center displayNone">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-dribbble"> </i>
      </a>
    </li>
  </ul> -->
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-social-copyrigt-container">
    <div class="footer-social">
        <div class="margin-auto">social Links</div>
    </div>
    <div class="footer-copyright text-right pb-3 margin-right">© Copyright 2018 @scoopmyart |
        <a href="https://www.roninaks.com/" class="font"> Design and Developed by roninaks</a>
    </div>
  </div>    

  <!-- Copyright -->

</footer>
<!-- Footer -->