// Color Palette

$smaYellow: #efbe24;
$smaLightGray: #f1f1f1;
$smaGray: #dbdbdb;
$smaGreen: #009145;
$smaRed: #ff1d25;
$smaDarkGray: #333333;

// Font Sizes

$Header: 30px;
$SubHeader: 25px;
$Text: 20px;
$SubText: 18px;

/* Smaller devices */
@mixin sm-lesser {
	@media (max-width: 600px) {
		@content;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@mixin sm {
	@media (min-width: 600px) {
		@content;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@mixin md {
	@media (min-width: 768px) {
		@content;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@mixin lg {
	@media (min-width: 992px) {
		@content;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@mixin xlg {
	@media (min-width: 1200px) {
		@content;
	}
}

// Class List

.dvCatHeader {
	grid-template-columns: 30% 70%;
	grid-template-areas: "breadcrumbs filter-set";
	display: grid;
	width: auto;
	background: white;
	margin: 5% 5% 0 5%;
	padding: 30px;

	.dvBreadcrumbs {
		display: inline-block;
		grid-area: breadcrumbs;
		margin: auto;

		a {
			font-family: Bitter;
			text-decoration: none;
			color: $smaDarkGray;

			&:hover {
				color: $smaGray;
			}
		}
	}

	.dvFilterSet {
		display: grid;
		grid-area: filter-set;
		grid-template-columns: 80% 20%;
		grid-template-areas: "dv-checkbox dv-filter";

		.dvCheckbox {
			display: inline-block;
			grid-area: dv-checkbox;
			border: 2px solid $smaYellow;
			border-radius: 10px;
			padding: 10px;
			width: fit-content;
			height: fit-content;
			justify-self: end;
			margin-top: auto;
			margin-bottom: auto;
		}
		.dvFilter {
			display: grid;
			grid-area: dv-filter;
			grid-template-columns: auto auto;
			grid-template-areas: "dv-btn-filter dv-btn-sort";

			.dvBtnFilter {
				grid-area: dv-btn-filter;
				padding: 5px;
				margin: auto;

				.btnFilter {
					cursor: pointer;
					font-family: BitterBold;
					border: none;
					border-radius: 5px;
					color: white;
					background: $smaYellow;
					box-shadow: 2px 2px 10px -5px black;
					padding: 10px;
				}

				.btnFilterSide {
					cursor: pointer;
					display: none;
					font-family: BitterBold;
					border: none;
					border-radius: 5px;
					color: white;
					background: $smaYellow;
					box-shadow: 2px 2px 10px -5px black;
					padding: 10px;
				}
			}
			@include lg {
				.dvBtnFilter {
					padding: 0 0 0 20px;

					.btnFilter {
						font-size: small;
					}
				}
			}
			.dvBtnSort {
				grid-area: dv-btn-sort;
				padding: 10px;

				.btnSort {
					cursor: pointer;
					font-family: BitterBold;
					border: none;
					border-radius: 5px;
					color: white;
					background: $smaYellow;
					box-shadow: 2px 2px 10px -5px black;
					padding: 10px;
				}
				@include lg {
					.btnSort {
						font-size: small;
					}
				}
			}
		}
	}
	@include lg {
		.dvFilterSet {
			grid-template-columns: 70% 30%;
			.dvCheckbox {
				font-size: small;
			}
		}
	}
}

.dvCatFooter {
	ul {
		.page-link {
			font-family: Bitter;
			color: black !important;
			&:hover {
				color: $smaYellow !important;
			}
		}

		.page-item.active .page-link {
			font-family: Bitter;
			color: white !important;
			background: $smaYellow !important;
			border-color: $smaYellow !important;
		}
	}
}

.dvCatMain {
	grid-template-columns: repeat(3, 1fr);
	display: grid;
	width: auto;
	margin: 5%;

	.dvCard {
		padding: 6%;
		border-bottom: 1px solid $smaLightGray;

		.dvCardLogo {
			grid-template-columns: 35% auto;
			grid-template-areas: "dv-logo dv-seller";
			display: grid;

			.dvLogo {
				grid-area: dv-logo;
				width: fit-content;
				border-radius: 50%;
				background: $smaLightGray;
				justify-self: center;
				box-shadow: 1px 1px 10px 0 $smaLightGray;
				z-index: 1;

				.imgLogo {
					border-radius: 50%;
					object-fit: cover;
					cursor: pointer;
				}
			}
			.dvSeller {
				grid-area: dv-seller;
				width: auto;
				cursor: pointer;

				.dvShopName {
					border-bottom: 1px solid $smaGray;
					p {
						font-family: Bitter;
						font-size: $SubHeader;
					}
					@include sm-lesser {
						p {
							font-size: $Text;
						}
					}
					@include lg {
						p {
							font-size: $Text;
						}
					}
				}
				.dvSellerName {
					p {
						font-family: Bitter;
						font-size: $SubHeader;
						color: $smaGray;
					}
					@include sm-lesser {
						p {
							font-size: $Text;
						}
					}
					@include lg {
						p {
							font-size: $SubText;
						}
					}
				}
			}
		}

		.dvCardBanner {
			cursor: pointer;
			padding: 10px;
			background: $smaLightGray;
			box-shadow: 1px 1px 10px 0px $smaGray;
			border-radius: 5px;

			.imgBanner {
				width: inherit;
			}
			.dvUndeliver {
				position: relative;
				.overlay {
					position: absolute;
					bottom: 0;
					background: rgb(0, 0, 0);
					background: rgba(0, 0, 0, 0.5); /* Black see-through */
					color: #f1f1f1;
					width: 100%;
					transition: 0.5s ease;
					opacity: 0;
					color: white;
					font-size: $Text;
					font-family: Bitter;
					padding: 20px;
					text-align: center;
				}
			}
			.dvUndeliver .overlay {
				opacity: 1;
			}
			@include lg {
				.overlay {
					font-size: 14px !important;
					padding: 10px !important;
				}
			}
		}

		.dvCardName {
			cursor: default;
			.dvProduct {
				grid-template-columns: auto auto;
				grid-template-areas: "dv-prod dv-rate";
				display: grid;
				padding-top: 20px;

				.dvProdName {
					grid-area: dv-prod;

					p {
						font-size: $SubHeader;
						font-family: BitterBold;
						margin: auto;
					}
					@include sm-lesser {
						p {
							font-size: $Text;
						}
					}
					@include lg {
						p {
							font-size: 16px;
						}
					}
				}
				.dvRating {
					grid-area: dv-rate;
					color: $smaYellow;
					// font-size: 25px;
					justify-self: end;
					width: fit-content;

					p {
						font-size: $SubHeader;
						font-family: BitterBold;
					}

					@include sm-lesser {
						p {
							font-size: $Text;
						}
					}
					@include lg {
						.fa {
							font-size: 16px;
						}
					}
				}
			}

			.dvDetails {
				padding-top: 10px;
				p {
					font-family: Bitter;
					font-size: $Text;
					text-align: justify;
					line-height: 1.3;
					color: $smaDarkGray;
				}
				@include sm-lesser {
					p {
						font-size: $SubText;
					}
				}
				@include lg {
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
	.dvCardPrice {
		grid-template-columns: auto auto auto auto;
		// auto
		grid-template-areas: "p-price ac-price p-offer btn-rfq";
		// btn-rfq
		display: grid;
		p {
			font-family: BitterBold;
			font-size: $SubHeader;
			display: inline;
		}
		@include sm-lesser {
			p {
				font-size: $Text;
			}
		}
		@include lg {
			p {
				font-size: 16px;
			}
		}

		.pPrice {
			grid-area: p-price;
		}

		.pActualPrice {
			grid-area: ac-price;
			text-decoration: line-through;
			color: $smaGray;
		}
		@include sm-lesser {
			.pActualPrice {
				justify-self: center;
			}
		}
		@include lg {
			.pActualPrice {
				justify-self: center;
			}
		}
		.pOffer {
			grid-area: p-offer;
			color: $smaGreen;
		}
		@include sm-lesser {
			.pOffer {
				justify-self: end;
			}
		}
		@include lg {
			.pOffer {
				justify-self: end;
			}
		}

		.btnRfq{
		    cursor: pointer;
			grid-area: btn-rfq;
			font-family: BitterBold;
			font-size: inherit;
			border: none;
			border-radius: 5px;
			background: $smaRed;
			padding: 5px;
			color: white;
			float: right;
		}
		@include sm-lesser{
		    .btnRfq{
		        font-size: inherit;
		        margin-top: auto;
		        margin-bottom: auto;
		    }
		}
		@include lg{
		    .btnRfq{
				font-size: 16px;
				margin-top: auto;
          		margin-bottom: auto;
		    }
		}
		@include xlg {
			.btnRfq {
			  font-size: inherit;
			  margin-top: auto;
			  margin-bottom: auto;
			}
		  }
	}
	@include sm-lesser {
		.dvCardPrice {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-template-rows: auto auto;
			grid-template-areas: "p-price ac-price p-offer" "btn-rfq btn-rfq btn-rfq";
		}
	}
	@include lg {
		.dvCardPrice {
			display: grid;
			grid-template-columns: auto auto auto auto;
			grid-template-rows: auto;
			grid-template-areas: "p-price ac-price p-offer btn-rfq";
		}
	}
}

.dvFilterCollapse {
	display: grid;
	width: auto;
	margin: 0 5% 5% 5%;

	.card {
		border: none;
		border-top: 1px solid $smaGray !important;
		background: $smaLightGray;
		box-shadow: 1px 1px 10px 0 $smaLightGray;
		z-index: 3;

		ul {
			list-style-type: none;
			font-family: Bitter;
		}
		.ulFilterHeads {
			font-family: BitterBold !important;
			.slider {
				-webkit-appearance: none;
				width: 50%;
				height: 25px;
				background: #d3d3d3;
				outline: none;
				opacity: 0.7;
				-webkit-transition: .2s;
				transition: opacity .2s;
			  }
			  
			  .slider:hover {
				opacity: 1;
			  }
			  
			  .slider::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 25px;
				height: 25px;
				background: #4CAF50;
				cursor: pointer;
			  }
			  
			  .slider::-moz-range-thumb {
				width: 25px;
				height: 25px;
				background: #4CAF50;
				cursor: pointer;
			  }
		}
		.liFilterHeads {
			padding: 10px;
			&:hover {
				background: $smaGray;
			}
		}
		.liFilterSubs {
			&:hover {
				color: $smaGray;
			}
		}
		a {
			text-decoration: none;
			color: black;
			&:hover {
				color: $smaDarkGray;
			}
		}
		ul a + ul {
			max-height: 0;
			overflow: hidden;
			transition: 0.5s linear;
		}
		ul a:focus + ul {
			max-height: 15em;
		}
		/* only select that link , here using the href attribute */
		a[href="#nowhere"]:focus {
			pointer-events: none;
		}
		#filterbody {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: "fil-1 fil-2 fil-3";

			.filterSet1 {
				grid-area: fil-1;
			}
			.filterSet2 {
				grid-area: fil-2;
			}
			.filterSet3 {
				grid-area: fil-3;
			}
			.filterSet4 {
				display: none;
				// grid-area: fil-4;
			}
			.filterSet5 {
				display: none;
				// grid-area: fil-5;
			}
		}
		#sortbody {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: "sort-1 sort-2 sort-3";

			.sortSet1 {
				grid-area: sort-1;
			}
			.sortSet2 {
				grid-area: sort-2;
			}
			.sortSet3 {
				grid-area: sort-3;
			}
			
		}
		.dvSortSummary {
			grid-template-columns: auto;
			grid-template-areas: "dv-Sbtn";
			border-top: 2px solid $smaGray;
			display: grid;
			margin: 0 5% 0 5%;
			padding: 20px;
			width: auto;
			
			.dvBtnSApply {
				grid-area: dv-Sbtn;
				width: fit-content;
				justify-self: end;

				.btnSApply {
					cursor: pointer;
					font-family: BitterBold;
					border: none;
					border-radius: 5px;
					color: white;
					background: #efbe24;
					box-shadow: 2px 2px 10px -5px black;
					padding: 10px;
				}
				@include lg{
					.btnApply {
						font-size: small;
						width: 100px;
					}
				}
			}
		}
		.dvFilterSummary {
			grid-template-columns: auto auto;
            grid-template-areas: "dv-chips dv-btn";
            border-top: 2px solid $smaGray;
            display: grid;
            margin: 0 5% 0 5%;
            padding: 20px;
			width: auto;

			.dvFilterChips {
                grid-area: dv-chips;
                grid-template-columns: repeat(10,auto);
                display: grid;

                .chip {
                    display: inline-block;
                    padding: 5px;
                    font-size: small;
                    font-family: Bitter;
                    background-color: $smaGray;
                    width: fit-content;

                    .dvChipText{
                        display: inline-block;
						width: fit-content;
						cursor: pointer;
						&:hover{
							text-decoration: line-through;
						}
                    }
                    .closebtn {
                        padding-left: 10px;
                        color: #888;
                        font-weight: bold;
                        cursor: pointer;
                    }
                      
                    .closebtn:hover{
						color: #000;
                    }
                }
                
			}
			.dvBtnApply {
                grid-area: dv-btn;
                width: fit-content;
                justify-self: end;

				.btnApply {
					cursor: pointer;
					font-family: BitterBold;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    background: #efbe24;
                    box-shadow: 2px 2px 10px -5px black;
                    padding: 10px;
                }
                @include lg{
                    .btnApply {
                        font-size: small;
                        width: 100px;
					}
                }
			}
		}
	}

	.sidebar {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: $smaLightGray;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;

		ul {
			text-decoration: none;
			font-family: BitterBold;
			font-size: $SubText;
			color: black;
			display: block;
			transition: 0.3s;
			&:hover {
				color: $smaGray;
			}
		}

		.closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: $SubHeader;
			margin-left: 50px;
		}
	}
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: -webkit-fill-available;
	z-index: 10;
}

// Media queries
@include sm-lesser {
	// Font Sizes

	$Header: 30px;
	$SubHeader: 20px;
	$Text: 18px;
	$SubText: 16px;

	.dvCatHeader {
		grid-template-columns: auto;
		grid-template-areas:
			"breadcrumbs"
			"filter-set";

		.dvFilterSet {
			grid-template-columns: auto;
			grid-template-areas:
				"dv-checkbox"
				"dv-filter";
			padding: 10px 0;

			.dvCheckbox {
				justify-self: normal !important;
				font-size: small;
			}

			.dvFilter {
				.dvBtnFilter {
					padding: 10px 0;
					font-size: small;

					.btnFilter {
						display: none;
					}
					.btnFilterSide {
						display: inline;
						font-size: small;
					}
				}
				.dvBtnSort {
					padding: 10px 0;
					font-size: small;
				}
			}
		}
	}
	.dvCatMain {
		grid-template-columns: 100%;
	}
	.card {
		display: none;
	}
}
@include sm {
	.dvCatMain {
		grid-template-columns: repeat(2, 1fr);
	}
}
@include md {
	.dvCatMain {
		grid-template-columns: repeat(3, 1fr);
	}
}
@include lg {
	.dvCatMain {
		grid-template-columns: repeat(4, 30%);
	}
}
@include xlg {
	.dvCatMain {
		grid-template-columns: repeat(4, 30%);
	}
}
