<div class="breadcrumb-layout">
  <ul class="breadcrumb">
    <li><a href="#homepage">Home</a></li>
    <li>Registration</li>
  </ul>
  <hr class="hrdiv">
</div>

<div class="main-grid" id="main-grid">
  <div class="right-grid" id="right-grid">
    <div class="button-green-layout">
      <!-- <ul> -->
      <div><button class="button-green-login">REGISTRATION</button></div>
      <!-- </ul> -->
    </div>
    <br>
    <div class="login-layout">
      <br>
      <div class="title">SCOOPMYART</div>
      <!-- <form name="form1"  method="POST" id="form1" onsubmit="validateForm()"> -->
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="login-layout-2">
          <div>
            <input type="text" placeholder="Full Name :" class="text-input-style" id="fullname"
              formControlName="fullname">
            <div *ngIf="submitted && registrationForm.controls.fullname.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.fullname.errors.required">
                Name is required !
              </div>
            </div>
          </div> <br>

          <div>
            <input type="text" placeholder="Address1  :" class="text-input-style" id="reg_address1"
              formControlName="reg_address1">
            <div *ngIf="submitted && registrationForm.controls.reg_address1.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_address1.errors.required">
                Address is required !
              </div>
            </div>
          </div> <br>

          <div>
            <input type="text" placeholder="Address2  :" class="text-input-style" id="reg_address2"
              formControlName="reg_address2">
            <div *ngIf="submitted && registrationForm.controls.reg_address2.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_address2.errors.required">
                Address is required !
              </div>
            </div>
          </div> <br>

          <div>
            <input type="text" placeholder="City  :" class="text-input-style" id="reg_city"
              formControlName="reg_city">
            <div *ngIf="submitted && registrationForm.controls.reg_city.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_city.errors.required">
                City is required !
              </div>
            </div>
          </div> <br>

          <div>
            <input type="text" placeholder="District  :" class="text-input-style" id="reg_dist"
              formControlName="reg_dist">
            <div *ngIf="submitted && registrationForm.controls.reg_dist.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_dist.errors.required">
                District is required !
              </div>
            </div>
          </div> <br>

          <div>
            <input type="text" placeholder="State  :" class="text-input-style" id="reg_state"
              formControlName="reg_state">
            <div *ngIf="submitted && registrationForm.controls.reg_state.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_state.errors.required">
                State is required !
              </div>
            </div>
          </div> <br>

          <div>
            <input type="text" placeholder="Country  :" class="text-input-style" id="reg_country"
              formControlName="reg_country">
            <div *ngIf="submitted && registrationForm.controls.reg_country.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_country.errors.required">
                Country is required !
              </div>
            </div>
          </div> <br>

          <div>
            <input type="text" placeholder="Pincode  :" class="text-input-style" id="reg_pin"
              formControlName="reg_pin">
            <div *ngIf="submitted && registrationForm.controls.reg_pin.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_pin.errors.required">
                Pincode is required !
              </div>
            </div>
          </div> <br>

          <div>
            <input type="email" placeholder="Email ID  :" class="text-input-style" id="reg_email"
              formControlName="reg_email">Verify
            <div *ngIf="submitted && registrationForm.controls.reg_email.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_email.errors.required">
                Email is required !
              </div>
              <div *ngIf="registrationForm.controls.reg_email.hasError('pattern')">
                Enter valid Email !
              </div>
            </div>
          </div> <br>


          <div>
            <input type="tel" placeholder="Mobile No  :" class="text-input-style" id="reg_mobile_no"
              formControlName="reg_mobile_no">
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                  Verify
              </button>
            <div *ngIf="submitted && registrationForm.controls.reg_mobile_no.errors" class="error validator-style">
              <div *ngIf="registrationForm.controls.reg_mobile_no.errors.required">
                Mobile no is required !
              </div>
              <div *ngIf="registrationForm.controls.reg_mobile_no.hasError('minlength')">
                Enter valid Mobile Number !
              </div>
              <div *ngIf="registrationForm.controls.reg_mobile_no.hasError('maxlength')">
                Enter valid Mobile Number !
              </div>
              <div *ngIf="registrationForm.controls.reg_mobile_no.hasError('pattern')">
                Enter Only digits !
              </div>
            </div>
          </div> <br>


            <div>
              <input type="number" placeholder="Age  :" class="text-input-style" id="reg_age" formControlName="reg_age">
              <div *ngIf="submitted && registrationForm.controls.reg_age.errors" class="error validator-style">
                <div *ngIf="registrationForm.controls.reg_age.errors.required">
                  Age is required !
                </div>
                <div *ngIf="registrationForm.controls.reg_age.hasError('pattern')">
                  Enter Valid Age !
                </div>
                <div *ngIf="registrationForm.controls.reg_age.hasError('min')">
                  Age should be above 18 !
                </div>
              </div>
            </div> <br>
              
            <div class="text-input-style" ng-app="myApp" ng-controller="myCtrl" >
                <!-- <input type="radio" formControlName="gender" value="M"> Male &nbsp; &nbsp;<input type="radio" formControlName="gender"
                  value="F"> Female &nbsp; &nbsp;<input type="radio" formControlName="gender" value="O"> Other -->
                  <!-- <select ng-model="selectedName" ng-options="x for x in names" formControlName="gender">
                  </select> -->
                  <select [(ngModel)]="selectedLevel" formControlName="gender">
                      <option *ngFor="let item of data1" [ngValue]="item">{{item.name}}</option>
                  </select>
                  
                  <div *ngIf="submitted && registrationForm.controls.gender.errors" class="error validator-style">
                    <div *ngIf="registrationForm.controls.gender.errors.required">
                      This is required !
                    </div>
                  </div>
            </div> <br>

              <div>
                <input type="password" placeholder="Password  :" class="text-input-style" id="reg_password"
                  formControlName="reg_password">
                <div *ngIf="submitted && registrationForm.controls.reg_password.errors" class="error validator-style">
                  <div *ngIf="registrationForm.controls.reg_password.errors.required">
                    Password is required !
                  </div>
                </div>
              </div> <br>


                <div>
                  <input type="password" placeholder="Confirm Password  :" class="text-input-style"
                    id="reg_conf_password" formControlName="reg_conf_password" >
                  <div *ngIf="submitted && registrationForm.controls.reg_conf_password.errors" class="error validator-style" >
                    <div *ngIf="registrationForm.controls.reg_conf_password.errors.required">
                      Re-enter Password !
                    </div>
                    <div *ngIf="registrationForm.controls.reg_conf_password.hasError('notSame')" >
                      Passwords do not match   
                    </div>
                  </div>
                </div>
                <!-- [errorStateMatcher]="matcher" -->
                <div class="text-style">or</div>
                <div>
                  <div>
                    <button class="button-signup-fb" type="button"><img src="assets/images/icons/ic_fb.png"
                        class="img-style"> Sign Up with facebook
                    </button>
                  </div>
                </div>
                <br>
                <div>
                  <div>
                    <button class="button-signup-google" type="button"><img src="assets/images/icons/ic_google.png"
                        class="img-style"> Sign Up with Google</button>
                  </div>
                </div>
                <br>
                <div>
                  <div>
                    <button class="button-signup-insta" type="button"><img src="assets/images/icons/ic_insta.png"
                        class="img-style"> SignUp with Instagram</button>
                  </div>
                </div>
                <br>
                <div class="login-layout-3">
                  <div><input type="checkbox" formControlName="reg_checkbox"> I read the agreement & not going back from success</div>
                  <br>
                </div>
                <div>
                  <button class="button-login" type="submit" [disabled]="!registrationForm.controls.reg_checkbox.valid">
                    Sign Up
                  </button>
                </div>
          </div>
      </form>
    </div>
    <!-- verify pop-up -->
    <!-- <ul> -->
    <div class="container" id="modalContainer" style="z-index: 10001;">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content dvModalContent">
            <div class="modal-header dvModalHeader">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding:0 10% 0 10%;">
              <div class="title-verify">
                <h3>Verify Mobile</h3>
              </div>
              <div><input type="text" class="pop-up-input-style" placeholder="Enter Mobile No:"></div>
              <br>
              <div><button class="button-otp" type="submit">SEND OTP</button></div>
              <br>
              <div>
                <div><input type="text" class="pop-up-input-style" placeholder="Enter OTP:"></div>
                <br>
                <div><button class="button-fp" type="submit">SUBMIT</button></div>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </ul> -->
  </div>



  <div class="left-grid">
    <div class="side-layout">
      <!-- <ul> -->
      <div class="left-grid-title-1">Lets Open</div>
      <div class="left-grid-title-2">The Door To Success</div>
      <br>
      <br>
      <br>
      <div class="left-grid-title-3">Our Features :</div>
      <br>
      <div class="left-grid-feature"><img src="assets/images/img_painting.png" class="img-style">&emsp;Paintings & Art
      </div>
      <br>
      <div class="left-grid-feature"><img src="assets/images/img_dress.png" class="img-style">&emsp;Ladies &
        Kids dress</div>
      <br>
      <div class="left-grid-feature"><img src="assets/images/img_cake.png" class="img-style">&emsp;Cakes &
        pastries</div>
      <!-- </ul> -->
    </div>
  </div>
</div>