<div class="main-style">
	<div class="main-style-2">
        <div class="grid-main-filter">
                <div class="current">
                        <button id="current-btn" style="margin-top: 55px; float: right;" class="btn-filter-style" (click)="allFilter();">CURRENT ORDERS</button>
                </div>
                <div class="past">
                        <button id="past-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="closedFilter();">PAST ORDERS</button>
                </div>
        </div>
        <div class="grid-btn-filter">
                <div class="all">
                        <button id="all-btn" style="margin-top: 55px; float: right;" class="btn-filter-style" (click)="allFilter();">All</button>
                </div>
                <div class="pending-conf">
                        <button id="pending-conf-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="pendingConfirmFilter();">Pending Confirmation</button>
                </div>
                <div class="pending-pay">
                        <button id="pending-pay-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="pendingPayFilter();">Pending Payment</button>
                </div>
                <div class="processing">
                        <button id="processing-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="processingFilter();">Processing</button>
                </div>
                <div class="shipped">
                        <button id="shipped-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="shippedFilter();">Shipped</button>
                </div>
                <div class="delivered">
                        <button id="delivered-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="deliveredFilter();">Delivered</button>
                </div>
                <div class="closed">
                        <button id="closed-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="closedFilter();">Closed</button>
                </div>
        </div>
        <div class="grid-order-history-head" *ngIf="! noOrders">
                <div class="orders">
                        <label>ORDERS</label>
                </div>
                <div class="status">
                        <label>STATUS</label>
                </div>
                <div class="feedback">
                        <label>FEEDBACK</label>
                </div>
        </div>
        <div class="grid-order-history" *ngFor="let item of dynamicDataOrderDataAll">
                <div class="prod-name">
                        <label style="font-size: 19px; font-variant-caps: all-petite-caps;">{{item.prodName}}</label>
                </div>
                <div class="desc">
                        <p>{{item.shortDesc}}</p>
                </div>
                <div class="order-no">
                        <label>#SMACAT{{item.orderId}}{{item.createDate}}</label>
                </div>
                <div class="invoice">
                        <button class="btn-invoice-style" (click)="openInvoice(item.orderId);">VIEW INVOICE</button>
                </div>

                <div class="grid-status">
					<div class="pending-conf">
							<label>Pending Confirmation</label>
					</div>
					<div class="pending-pay">
							<label>Pending Payment</label>
					</div>
					<div class="processing">
							<label>Processing</label>
					</div>
					<div class="shipped">
							<label>Shipped</label>
					</div>
					<div class="deliver">
							<label>Delivered</label>
					</div>
					<div class="closed">
							<label>Closed</label>
					</div>
					<div class="ic-pending-conf">
							<span class="dot">
									<img src="assets/images/userProfile/ic_pending_conf.png" style="padding-top: 11%;">
							</span>
					</div>
					<div class="ic-pending-pay">
							<span class="dot">
									<img src="assets/images/userProfile/ic_pending_pay.png" style="padding-top: 20%;">
							</span>
					</div>
					<div class="ic-processing">
							<img src="assets/images/userProfile/ic_processing.jpg" width="65px" height="60px" style="border-radius: 50%;">
					</div>
					<div class="ic-shipped">
							<img src="assets/images/userProfile/ic_shipped.jpg" width="65px" height="60px"style="border-radius: 50%;">
					</div>
					<div class="ic-deliver">
							<img src="assets/images/userProfile/ic_delivered.jpg" width="65px" height="60px" style="border-radius: 50%;">
					</div>
					<div class="ic-closed">
							<span class="dot">
									<img src="assets/images/userProfile/ic_closed.png" style="padding-top: 7%; margin-top: 7%;" width="50px" height="53px">
							</span>
					</div>
					<div class="stat-bar-1">
						<div *ngIf="item.orderStatus == 'pending confirmation' "> 
								<div class="stats-1">
								</div>
								<div class="full-circle circle-1" style=" margin-top: -59px;">
								</div>
								<div class="dot-circle circle-2" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-3" style=" margin-top: -20px;">
								</div>
								<div class="dot-circle circle-4" style=" margin-top: -20px;">
								</div>
								<div class="dot-circle circle-5" style=" margin-top: -20px;">
								</div>
								<div class="dot-circle circle-6" style=" margin-top: -20px;">
								</div>
						</div>
						<div *ngIf="item.orderStatus == 'pending payment' "> 
								<div class="stats-1">
								</div>
								<div class="full-circle circle-1" style="margin-top: -59px;">
								</div>
								<div class="full-circle circle-2" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-3" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-4" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-5" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-6" style="margin-top: -20px;">
								</div>
						</div>
						<div *ngIf="item.orderStatus == 'processing' "> 
								<div class="stats-1">
								</div>
								<div class="full-circle circle-1" style=" margin-top: -59px;">
								</div>
								<div class="full-circle circle-2" style="margin-top: -20px;">
								</div>
								<div class="full-circle circle-3" style=" margin-top: -20px;">
								</div>
								<div class="dot-circle circle-4" style=" margin-top: -20px;">
								</div>
								<div class="dot-circle circle-5" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-6" style="margin-top: -20px;">
								</div>
						</div>
						<div *ngIf="item.orderStatus == 'shipped' "> 
								<div class="stats-1">
								</div>
								<div class="full-circle circle-1" style="margin-top: -59px;">
								</div>
								<div class="full-circle circle-2" style=" margin-top: -20px;">
								</div>
								<div class="full-circle circle-3" style="margin-top: -20px;">
								</div>
								<div class="full-circle circle-4" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-5" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-6" style="margin-top: -20px;">
								</div>
						</div>
						<div *ngIf="item.orderStatus == 'delivered' "> 
								<div class="stats-1">
								</div>
								<div class="full-circle circle-1" style="margin-top: -59px;">
								</div>
								<div class="full-circle circle-2" style="margin-top: -20px;">
								</div>
								<div class="full-circle circle-3" style="margin-top: -20px;">
								</div>
								<div class="full-circle circle-4" style="margin-top: -20px;">
								</div>
								<div class="full-circle circle-5" style="margin-top: -20px;">
								</div>
								<div class="dot-circle circle-6" style="margin-top: -20px;">
								</div>
						</div>
						<div *ngIf="item.orderStatus == 'closed' "> 
								<div class="stats-1">
								</div>
								<div class="full-circle circle-1" style="margin-top: -59px;">
								</div>
								<div class="full-circle circle-2" style="margin-top: -20px;">
								</div>
								<div class="full-circle circle-3" style=" margin-top: -20px;">
								</div>
								<div class="full-circle circle-4" style="margin-top: -20px;">
								</div>
								<div class="full-circle circle-5" style="margin-top: -20px;">
								</div>
								<div class="full-circle circle-6" style="margin-top: -20px;">
								</div>
						</div>
					</div>
					<div class="label-1">
							<label>Confirmed on</label>
							<br>
							<label>{{item.stage_1_date}}</label>
					</div>
					<div class="label-2">
							<label>Payment Confirmed on</label>
							<br>
							<label>{{item.stage_2_date}}</label>
					</div>
					<div class="label-3">
							<label >Processed on</label>
							<br>
							<label>{{item.stage_3_date}}</label>
					</div>
					<div class="label-4">
							<label>Expected on</label>
							<br>
							<label>{{item.stage_4_date}}</label>
							<br>
							<label>{{item.tracking_hyperlink}}</label>
							<br>
							<label>{{item.tracking_number}}</label>
					</div>
					<div class="label-5">
							<label>Expected on</label>
							<br>
							<label>{{item.stage_5_date}}</label>
					</div>
					<div class="label-6">
							<label>Expected on</label>
							<br>
							<label>{{item.stage_6_date}}</label>
					</div>
                </div>
                <div class="feedback-stat">
                        <label>{{item.orderStatus}}</label>
                </div>
                <div class="feedback-desc" *ngIf="item.orderStatus !='closed' ">
                        <p>delivery before</p>
                        <br>
                        <p class="date-style">{{item.delivery}}</p>
                </div>
                <div class="btn-req-update">
						<button class="btn-req-update-style" *ngIf="item.orderStatus != 'closed'" (click)="reqUpdate(item.prodId);">REQUEST UPDATE</button>
						<div *ngIf="item.orderStatus == 'closed'">
							<div class="container" style="height: auto;">
									<!-- Trigger the modal with a button -->
									<button type="button" class="btn btn-info btn-lg btn-review-style"
										 data-toggle="modal"
													data-target="#myModalReview">REVIEW</button>
									<!-- Modal -->
									<div class="modal fade" id="myModalReview" role="dialog">
											<div class="modal-dialog">
													<!-- Modal content-->
													<div class="modal-content">
															<div class="modal-header" style="border-top-right-radius: 18px; border-top-left-radius: 18px;">
																			<h4 class="modal-title" style="text-align: center; margin-left: auto;">
																					REVIEW
																			</h4>
																			<button type="button" class="close"
																							data-dismiss="modal">&times;</button>
															</div>
															<div class="modal-body">
																	<form [formGroup]="addReview">
																			<div class="grid-complaint">
																					<div class="username">
																									<label>Title</label>
																									<br>
																									<input type="text" class="user-style" formControlName="title">
																									<div *ngIf="submittedReview && addReview.controls.title.errors" class="error validator-style">
																													<div *ngIf="addReview.controls.title.errors.required">
																																	Required
																													</div>
																									</div>
																					</div>
																					<div class="write-complaint">
																									<textarea placeholder="Review" class="text-area-style" formControlName="review_desc"></textarea>
																									<div *ngIf="submittedReview && addReview.controls.review_desc.errors" class="error validator-style">
																													<div *ngIf="addReview.controls.review_desc.errors.required">
																																	Required
																													</div>
																									</div>
																									<div>
																											<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-1');" id="star-1"></span>
																											<span class="fa fa-star active" (click)="addStar('star-1');" id="star-1-active" style="display: none; color: #EFBE24;"></span>
																											<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-2');" id="star-2"></span>
																											<span class="fa fa-star active" (click)="addStar('star-2');" id="star-2-active" style="display: none; color: #EFBE24;"></span>
																											<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-3');" id="star-3"></span>
																											<span class="fa fa-star active" (click)="addStar('star-3');" id="star-3-active" style="display: none; color: #EFBE24;"></span>
																											<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-4');" id="star-4"></span>
																											<span class="fa fa-star active" (click)="addStar('star-4');" id="star-4-active" style="display: none; color: #EFBE24;"></span>
																											<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-5');" id="star-5"></span>
																											<span class="fa fa-star active" (click)="addStar('star-5');" id="star-5-active" style="display: none; color: #EFBE24;"></span>
																									</div>
																									<div>
																											<button class="submit" (click)="onSubmitReview(item.prodId);" type="submit" style="margin-top: 14px;">Submit</button>
																									</div>
																									
																					</div>
																					<div class="add-image">
																							<label>Add image</label>
																							<br>
																							<div class="flex-container">
																									<div>
																											<input style="display: none;" type="file" id="frontUpload4" (click)="frontUpload4()" accept="image/*" #fileInput4>
																											<button (click)="fileInput4.click()" type="button" style="border: none; margin-left: -13px;
																											margin-top: 2px; background: inherit;">+</button>
																											<img id="frontPreviewId4" style="display: none; margin-left: -9px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront4" height="200">
																									</div>
																									<div>
																											<input style="display: none;" type="file" id="frontUpload5" (click)="frontUpload5()" accept="image/*" #fileInput5>
																											<button (click)="fileInput5.click()" type="button" style="border: none; margin-left: 23px;
																											margin-top: 2px; background: inherit;">+</button>
																											<img id="frontPreviewId5" style="display: none; margin-left: 10px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront5" height="200">
																									</div>
																									<div>
																											<input style="display: none;" type="file" id="frontUpload6" (click)="frontUpload6()" accept="image/*" #fileInput6>
																											<button (click)="fileInput6.click()" type="button" style="border: none; margin-left: 23px;
																											margin-top: 2px; background: inherit;">+</button>
																											<img id="frontPreviewId6" style="display: none; margin-left: 20px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront6" height="200">
																									</div>
																							</div>
																					</div>
																			</div>
																	</form>
															</div>
															<div class="modal-footer" style="border-bottom-left-radius: 18px;
															border-bottom-right-radius: 18px;">
																			<button type="button" class="btn btn-default"
																							data-dismiss="modal">Close</button>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
                </div>
                <div class="btn-complaint">
						<!-- <button class="btn-complaint-style">COMPLAINT</button> -->
						<div class="container" style="height: auto;">
							<!-- Trigger the modal with a button -->
							<button type="button" class="btn btn-info btn-lg btn-complaint-style"
											 data-toggle="modal"
											data-target="#myModal">COMPLAINT</button>
							<!-- Modal -->
							<div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
													<div class="modal-header">
																	<h4 class="modal-title"
																					style="text-align: center; margin-left: auto;">
																					COMPLAINT</h4>
																	<button type="button" class="close"
																					data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
															<form [formGroup]="addComplaint">
																	<div class="grid-complaint">
																			<div class="username">
																				<label>Username</label>
																				<br>
																				<input type="text" class="user-style" value="{{item.custName}}">
																				<!-- <div *ngIf="submitted && addComplaint.controls.username.errors" class="error validator-style">
																								<div *ngIf="addComplaint.controls.username.errors.required">
																												Enter Username
																								</div>
																				</div> -->
																			</div>
																			<div class="write-complaint">
																					<textarea placeholder="Write your complaint"
																							class="text-area-style" formControlName="complaint_desc">
																					</textarea>
																					<div *ngIf="submitted && addComplaint.controls.complaint_desc.errors" class="error validator-style">
																							<div *ngIf="addComplaint.controls.complaint_desc.errors.required">
																											Required
																							</div>
																					</div>
																					<br>
																					<button class="submit" (click)="onSubmitComplaint(item.sellerId);" type="submit">Submit</button>
																			</div>
																			<div class="add-image">
																					<label>Add image</label>
																					<br>
																					<div class="flex-container">
																							<div>
																									<input style="display: none;" type="file" id="frontUpload" (click)="frontUpload()" accept="image/*" #fileInput1>
																									<button (click)="fileInput1.click()" type="button" style="border: none; margin-left: -13px;
																									margin-top: 2px; background: inherit;">+</button>
																									<img id="frontPreviewId" style="display: none; margin-left: -9px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront1" height="200">
																							</div>
																							<div>
																									<input style="display: none;" type="file" id="frontUpload2" (click)="frontUpload2()" accept="image/*" #fileInput2>
																									<button (click)="fileInput2.click()" type="button" style="border: none; margin-left: 23px;
																									margin-top: 2px; background: inherit;">+</button>
																									<img id="frontPreviewId2" style="display: none; margin-left: 10px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront2" height="200">
																							</div>
																							<div>
																									<input style="display: none;" type="file" id="frontUpload3" (click)="frontUpload3()" accept="image/*" #fileInput3>
																									<button (click)="fileInput3.click()" type="button" style="border: none; margin-left: 23px;
																									margin-top: 2px; background: inherit;">+</button>
																									<img id="frontPreviewId3" style="display: none; margin-left: 20px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront3" height="200">
																							</div>
																					</div>
																			</div>
																	</div>
															</form>
													</div>
													<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													</div>
											</div>
									</div>
							</div>
					</div>
                </div>

        </div> 
        <div class="grid-no-order" *ngIf="noOrders">
                <div class="header">
                        <label style="font-family: BitterBold; font-size: xx-large;">NO ORDERS AVAILABLE</label>
                </div>
		</div>
	</div>
</div>