/* Smaller devices */
@mixin sm-lesser {
    @media (max-width: 600px) {
      @content;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @mixin sm {
    @media (min-width: 600px) {
      @content;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @mixin md {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  /* Large devices (laptops/desktops, 1024px and less) */
  @mixin lg {
    @media (max-width: 1024px) {
      @content;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @mixin xlg {
    @media (min-width: 1200px) {
      @content;
    }
  }
  /* Extra large devices (large laptops and desktops, 1400px and up) */
  @mixin mlg {
    @media (min-width: 1400px) {
      @content;
    }
  }
  /* Extra large devices (large laptops and desktops, 1500px and up) */
  @mixin xxlg {
    @media (min-width: 1500px) {
        @content;
    }
  }
.main-style{
    @include sm-lesser{
        width: 384%;
    }
}
.main-style-2{
    @include sm-lesser{
        overflow-x: scroll;
    }
}
.grid-order-history{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30% auto auto auto;
    grid-template-areas:    
                            "prod-name . feedback-stat"
                            "desc . feedback-desc"
                            "order-no . btn-req-update"
                            "invoice . btn-complaint";
    border-radius: 18px;
    width: 90%;
    background: #f7f7f7;
    margin-left: 5%;
    font-family: BitterBold;
    font-size: 14px;
    padding-bottom: 6%;
    margin-bottom: 8%;
    padding-top: 3%;
    margin-top: -3%;
    @include xxlg{
        padding-top: 2%;
        margin-top: -2%;
    }
    .btn-complaint-style{
        background-color: #EFBE24;
        color: white;
        border: none;
        border-radius: 8px;
        width: 154px;
        height: 30px;
        margin-left: -14px;
        @include xxlg{
            height: 40px;
            width: 170px;
        }
    }
    .btn-review-style{
        background-color: #EFBE24;
        color: white;
        border: none;
        border-radius: 8px;
        height: 30px; 
        background:#0c700c; 
        margin-left: -14px; 
        width: 155px;
        @include xxlg{
            height: 40px;
            width: 170px;
        }
    }
    .orders{
        background: rgb(212, 206, 206);
        border-top-left-radius: 18px;
        grid-area: orders;
        text-align: center;
        border-right: 1px solid rgb(114, 114, 114);
        padding: 5px;
    }
    .status{
        background: rgb(212, 206, 206);
        grid-area: status;
        text-align: center;
        padding: 5px;
    }
    .feedback{
        background: rgb(212, 206, 206);
        border-top-right-radius: 18px;
        grid-area: feedback;
        text-align: center;
        padding: 5px;
        border-left: 1px solid #727272;
    }
    .prod-name{
        grid-area: prod-name;
        padding-left: 25px;
        border-right: 1px solid rgb(114, 114, 114);
    }
    .desc{
        grid-area: desc;
        text-align: justify;
        font-family: BitterRegular;
        border-right: 1px solid rgb(114, 114, 114);
        padding-left: 25px;
        margin-top: -42%;
        @include xxlg{
            margin-top: -35%;
        }
    }
    .order-no{
        grid-area: order-no;
        padding-left: 25px;
        border-right: 1px solid rgb(114, 114, 114);
        margin-top: -28%;
    }
    .invoice{
        grid-area: invoice;
        padding-left: 25px;
        border-right: 1px solid rgb(114, 114, 114);
        border-bottom: 1px solid rgb(114, 114, 114);
        margin-bottom: -12%;
        margin-top: -12%;
    }
    .btn-invoice-style{
        background-color: rgb(12, 112, 12);
        color: white;
        border: none;
        border-radius: 8px;
        width: 56%;
        height: 61%;
        @include xlg{
            width: 65%;
        }
        @include xxlg{
            height: 40px;
            width: 170px;
        }
    }
    .feedback-stat{
        grid-area: feedback-stat;
        border-left: 1px solid rgb(114, 114, 114);
        padding-left: 25px;
    }
    .feedback-desc{
        grid-area: feedback-desc;
        margin-top: -46%;
        border-left: 1px solid rgb(114, 114, 114);
        padding-left: 25px;
        @include xxlg{
            margin-top: -38%;
        }
        .date-style{
            margin-top: -16%;
            @include xxlg{
                margin-top: -12%;
            }
        }
    }
    .btn-req-update{
        grid-area: btn-req-update;
        margin-top: -24%;
        border-left: 1px solid rgb(114, 114, 114);
        padding-left: 25px;
    }
    .btn-req-update-style{
        background-color: rgb(12, 112, 12);
        color: white;
        border: none;
        border-radius: 8px;
        width: 67%;
        height: 58%;
        @include xlg{
            width: 154px;
        }
        @include xxlg{
            height: 40px;
            width: 170px;
        }
    }
    .btn-complaint{
        grid-area: btn-complaint;
        border-left: 1px solid rgb(114, 114, 114);
        padding-left: 25px;
        margin-top: -7%;
        border-bottom: 1px solid rgb(114, 114, 114);
        margin-bottom: -12%;
    }
    .grid-status{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-areas: "pending-conf pending-pay processing shipped deliver closed"
                             "ic-pending-conf ic-pending-pay ic-processing ic-shipped ic-deliver ic-closed"
                             "stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1"
                             "label-1 label-2 label-3 label-4 label-5 label-6";
        font-size: 8px;
        align-content: center;
        text-align: center;
        width: auto;
        @include xlg{
            width: 85px;
        }
        @include mlg{
            width: auto;
        }
        @include xxlg{
            width: auto;
        }
        .full-circle{
            height: 20px;
            width: 20px;
            background-color: #EFBE24;
            border-radius: 50%;
            // display: inline-block;
        }
          .dot-circle{
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 25px;
            border: 2px solid #EFBE24;
            position: relative;
        }
    }
    .pending-conf{
        grid-area: pending-conf;
    }
    .pending-pay{
        grid-area: pending-pay;
    }
    .processing{
        grid-area: processing; 
    }
    .shipped{
        grid-area: shipped;
    }
    .deliver{
        grid-area: deliver;
    }
    .closed{
        grid-area: closed;
    }
    .ic-pending-conf{
        grid-area: ic-pending-conf;
    }
    .ic-pending-pay{
        grid-area: ic-pending-pay;
    }
    .ic-processing{
        grid-area: ic-processing;
    }
    .ic-shipped{
        grid-area: ic-shipped;
    }
    .ic-deliver{
        grid-area: ic-deliver;
    }
    .ic-closed{
        grid-area: ic-closed;
    }
    .label-1{
        grid-area: label-1;
        border-bottom: 1px solid rgb(114, 114, 114);
        margin-bottom: -31px;
        margin-top: 15px;
        @include xlg{
            margin-bottom: -28px;
        }
        @include mlg{
            margin-bottom: -31px;
        }
        @include xxlg{
            margin-bottom: -41px;
        }
    }
    .label-2{
        grid-area: label-2;
        border-bottom: 1px solid rgb(114, 114, 114);
        margin-bottom: -31px;
        margin-top: 15px;
        @include xlg{
            margin-bottom: -28px;
        }
        @include mlg{
            margin-bottom: -31px;
        }
        @include xxlg{
            margin-bottom: -41px;
        }
    }
    .label-3{
        grid-area: label-3;
        border-bottom: 1px solid rgb(114, 114, 114);
        margin-bottom: -31px;
        margin-top: 15px;
        @include xlg{
            margin-bottom: -28px;
        }
        @include mlg{
            margin-bottom: -31px;
        }
        @include xxlg{
            margin-bottom: -41px;
        }
    }
    .label-4{
        grid-area: label-4;
        border-bottom: 1px solid rgb(114, 114, 114);
        margin-bottom: -31px;
        margin-top: 15px;
        @include xlg{
            margin-bottom: -28px;
        }
        @include mlg{
            margin-bottom: -31px;
        }
        @include xxlg{
            margin-bottom: -41px;
        }
    }
    .label-5{
        grid-area: label-5;
        border-bottom: 1px solid rgb(114, 114, 114);
        margin-bottom: -31px;
        margin-top: 15px;
        @include xlg{
            margin-bottom: -28px;
        }
        @include mlg{
            margin-bottom: -31px;
        }
        @include xxlg{
            margin-bottom: -41px;
        }
    }
    .label-6{
        grid-area: label-6;
        border-bottom: 1px solid rgb(114, 114, 114);
        margin-bottom: -31px;
        margin-top: 15px;
        @include xlg{
            margin-bottom: -28px;
        }
        @include mlg{
            margin-bottom: -31px;
        }
        @include xxlg{
            margin-bottom: -41px;
        }
    }
    .dot {
        height: 65px;
        width: 65px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
      }
    .stat-bar-1{
        grid-area: stat-bar-1;
        margin-top: 19px;
        width: 644px;
        margin-left: 77px;
    }
    // timeline
    .stats-1 {
        padding: 24px 0px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #EFBE24;
        position: relative;
        transition: all 200ms ease-in ;
        @include xlg{
            width: 92%;
            margin-left: -1%;
        }
        @include mlg{
            width: 99%;
        }
        @include xxlg{
            width: 134%;
            margin-left: 3%;
        }
      }
    // timeline
}
.grid-order-history-head{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas: "orders status feedback";
    margin-top: 4%;
    width: 1296px;
    margin-left: 72px;
    font-family: BitterBold;
    @include xlg{
        width: 90%;
        margin-left: 5%;
    }
    @include xxlg{
        width: 90%;
        margin-left: 5%;
    }
    .orders{
        background: #dbdbdb;
        border-top-left-radius: 18px;
        grid-area: orders;
        text-align: center;
        border-right: 1px solid rgb(114, 114, 114);
        padding: 5px;
    }
    .status{
        background: #dbdbdb;
        grid-area: status;
        text-align: center;
        padding: 5px;
    }
    .feedback{
        background: #dbdbdb;
        border-top-right-radius: 18px;
        grid-area: feedback;
        text-align: center;
        padding: 5px;
        border-left: 1px solid #727272;
    }
}
.grid-btn-filter{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 15% 13% 13% 13% 12% 12%;
    grid-template-areas: "all pending-conf pending-pay processing shipped delivered closed";
    font-family: BitterBold;
    .btn-filter-style{
        border: none;
        background: inherit;
        cursor: pointer;
        text-align: center;
    }
    .all{
        grid-area: all;
    }
    .pending-conf{
        grid-area: pending-conf;
        text-align: center;
    }
    .pending-pay{
        grid-area: pending-pay;
        text-align: center;
    }
    .processing{
        grid-area: processing;
        text-align: center;
    }
    .shipped{
        grid-area: shipped;
        text-align: center;
    }
    .delivered{
        grid-area: delivered;
        text-align: center;
    }
    .closed{
        grid-area: closed;
        text-align: center;
    }
}
.grid-no-order{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "header";
    .header{
        grid-area: header;
        text-align: center;
    }
}
.grid-main-filter{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 10%;
    grid-template-areas: "current past";
    .current{
        grid-area: current;
        text-align: center;
    }
    .past{
        grid-area: past;
        text-align: center;
    }
    .btn-filter-style{
        // border: solid #EFBE24;
        background: inherit;
        cursor: pointer;
        text-align: center;
        border-radius: 6px;
        font-family: BitterBold;
        @include xlg{
            font-size: 15px;
        }
    }
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container > div {
  width: 100px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.container{
    height: auto;
}
.modal-header{
    background: #EFBE24;
}
.modal-title{
    color: white;
}
// popup
.btn-lg{
    font-size: 14px;
    padding: 0;
}
.container{
    height: auto;
}
.modal-body{
    background: rgb(241, 239, 239);
}
.modal-footer{
    background: rgb(241, 239, 239);
}
.modal-header{
    background: #EFBE24;
}
.grid-complaint{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "username"
                         "write-complaint"
                         "add-image";
}
.username{
    grid-area: username;
    margin-left: 6%;
}
.user-style{
    width: 550px;
    height: 33px;
    border: none;
    border-radius: 5px;
    @include sm-lesser{
        width: 86%;
    }
}
.write-complaint{
    grid-area: write-complaint;
    margin-left: 6%;
}
.add-image{
    grid-area: add-image;
    margin-left: 6%;
}
.modal-footer{
    border-top: none;
}
.modal-title{
    color: white;
}
.text-area-style{
    width: 550px;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
    height: 150px;
    @include sm-lesser{
        width: 86%;
    }
}
.submit{
    background-color: #EFBE24;
    color: white;
    border: none;
    border-radius: 8px;
    width: 21%;
    height: 41px;
    margin-left: 65%;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.flex-container > div {
  width: 100px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
// popup

//popup2
.review{
    height: 175px;
    width: 400px;
    background: white;
    border-radius: 6px;
    margin-top: 6%
}
.grid-review{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 20% 20% 20%;
    grid-template-areas: "main-label desc desc desc"
                         ". like-dislike rating btn-submit";
}
.main-label{
    grid-area: main-label;
}
.desc{
    grid-area: desc;
}
.like-dislike{
    grid-area: like-dislike;
}
.rating{
    grid-area: rating;
}
.btn-submit{
    grid-area: btn-submit;
}
.validator-style{
    margin-left: 0px;
    color: #e75c4a;
    font-family: BitterRegular;
}
//popup2
.circle-1{
    @include sm-lesser{
        margin-left: -2%;
    }
    @include xlg{
        margin-left: -3%;
    }
    @include mlg{
        margin-left: -2%;
    }
    @include xxlg{
        margin-left: 1.5%;
    }
}
.circle-2{
    @include sm-lesser{
        margin-left: 18%;
    }
    @include xlg{
        margin-left: 21%;
    }
    @include mlg{
        margin-left: 21%; 
    }
    @include xxlg{
        margin-left: 31%;
    }
}
.circle-3{
    @include sm-lesser{
        margin-left: 41.5%;
    }
    @include xlg{
        margin-left: 38%;
    }
    @include mlg{
        margin-left: 41.5%;
    }
    @include xxlg{
        margin-left: 59%;
    }
}
.circle-4{
    @include sm-lesser{
        margin-left: 60.5%;
    }
    @include xlg{
        margin-left: 55%;
    }
    @include mlg{
        margin-left: 60.5%;
    }
    @include xxlg{
        margin-left: 84%;
    }
}
.circle-5{
    @include sm-lesser{
        margin-left: 79.5%;
    }
    @include xlg{
        margin-left: 72.5%;
    }
    @include mlg{
        margin-left: 79%;
    }
    @include xxlg{
        margin-left: 110%;
    }
}
.circle-6{
    @include sm-lesser{
        margin-left: 98%;
    }
    @include xlg{
        margin-left: 89.5%;
    }
    @include mlg{
        margin-left: 98%;
    }
    @include xxlg{
        margin-left: 135%;
    }
}
.modal-review{
    border-radius: 18px; 
    width: 665px; 
    margin-left: -52px;
    @include sm-lesser{
        width: auto;
        margin-left: auto;
    }
}
.modal-content{
    border-radius: 18px; 
    width: 665px; 
    margin-left: -52px;
    @include sm-lesser{
        width: auto;
        margin-left: auto;
    }
    @include mlg{
        width: 665px; 
        margin-left: -52px;
    }
}
