<div>
    <div class="grid-order-history">
        <div class="orders">
                <label>ORDERS</label>
        </div>
        <div class="status">
                <label>STATUS</label>
        </div>
        <div class="feedback">
                <label>FEEDBACK</label>
        </div>
        <div class="prod-name">
                <label>PAINTING</label>
        </div>
        <div class="desc">
                <p>fine crafted masterpiece</p>
        </div>
        <div class="order-no">
                <label>#00000000ABC</label>
        </div>
        <div class="invoice">
                <button class="btn-invoice-style">VIEW INVOICE</button>
        </div>

        <div class="grid-status">
                <div class="pending-conf">
                        <label>Pending Confirmation</label>
                </div>
                <div class="pending-pay">
                        <label>Pending Payment</label>
                </div>
                <div class="processing">
                        <label>Processing</label>
                </div>
                <div class="shipped">
                        <label>Shipped</label>
                </div>
                <div class="deliver">
                        <label>Delivered</label>
                </div>
                <div class="closed">
                        <label>Closed</label>
                </div>
                <div class="ic-pending-conf">
                        <span class="dot">
                                <img src="assets/images/userProfile/ic_pending_conf.png" style="padding-top: 11%;">
                        </span>
                </div>
                <div class="ic-pending-pay">
                        <span class="dot">
                                <img src="assets/images/userProfile/ic_pending_pay.png" style="padding-top: 20%;">
                        </span>
                </div>
                <div class="ic-processing">
                        <img src="assets/images/userProfile/ic_processing.jpg" width="65px" height="60px" style="border-radius: 50%;">
                </div>
                <div class="ic-shipped">
                        <img src="assets/images/userProfile/ic_shipped.jpg" width="65px" height="60px"style="border-radius: 50%;">
                </div>
                <div class="ic-deliver">
                        <img src="assets/images/userProfile/ic_delivered.jpg" width="65px" height="60px" style="border-radius: 50%;">
                </div>
                <div class="ic-closed">
                        <span class="dot">
                                <img src="assets/images/userProfile/ic_closed.png" style="padding-top: 7%; margin-top: 7%;" width="50px" height="53px">
                        </span>
                </div>
                <div class="stat-bar-1">
                        <div class="stats-1">
                                <div class="dot-circle" style="margin-left: -81px;" *ngIf="stage1_dot">
                                </div>
                                <div class="full-circle" style="margin-left: -124px;
                                margin-top: -31px;" *ngIf="stage1_full">
                                </div>
                        </div>
                </div>
                <div class="stat-bar-2">
                        <div class="stats-2">
                                <div class="dot-circle" style="margin-left: -32px;" *ngIf="stage2_dot">
                                </div>
                                <div class="full-circle" style="margin-left: -47px; margin-top: -31px;" *ngIf="stage2_full">
                                </div>
                        </div>
                </div>
                <div class="stat-bar-3">
                        <div class="stats-3">
                                <div class="dot-circle" style="margin-left: 3px;" *ngIf="stage3_dot">
                                </div>
                                <div class="full-circle" style="margin-left: -20px;
                                margin-top: -31px;" *ngIf="stage3_full">
                                </div>
                        </div>
                </div>
                <div class="stat-bar-4">
                        <div class="stats-4">
                                <div class="dot-circle" style="margin-left: 32px;" *ngIf="stage4_dot">
                                </div>
                                <div class="full-circle" style="margin-left: -22px;
                                margin-top: -31px;" *ngIf="stage4_full">
                                </div>
                        </div>
                </div>
                <div class="stat-bar-5">
                        <div class="stats-5">
                                <div class="dot-circle" style="margin-left:52px;" *ngIf="stage5_dot">
                                </div>
                                <div class="full-circle" style="margin-left:-20px; margin-top: -31px;" *ngIf="stage5_full">
                                </div>
                        </div>
                </div>
                <div class="stat-bar-6">
                        <div class="stats-6">
                                <div class="dot-circle" style="margin-left: 57px;" *ngIf="stage6_dot">
                                </div>
                                <div class="full-circle" style="margin-left: -20px; margin-top: -31px;" *ngIf="stage6_full">
                                </div>
                        </div>
                </div>
                <div class="label-1">
                        <label>Confirmed on</label>
                        <label *ngIf="! cancelled">Cancelled</label>
                        <br>
                        <!-- <label>{{item.stage_1_date}}</label> -->
                </div>
                <div class="label-2">
                        <label>Payment Confirmed on</label>
                        <br>
                        <!-- <label>{{item.stage_2_date}}</label> -->
                </div>
                <div class="label-3">
                        <label >Processed on</label>
                        <br>
                        <!-- <label>{{item.stage_3_date}}</label> -->
                </div>
                <div class="label-4">
                        <label>Expected on</label>
                        <br>
                        <!-- <label>{{item.stage_4_date}}</label> -->
                </div>
                <div class="label-5">
                        <label>Expected on</label>
                        <br>
                        <!-- <label>{{item.stage_5_date}}</label> -->
                </div>
                <div class="label-6">
                        <label>Expected on</label>
                        <br>
                        <!-- <label>{{item.stage_6_date}}</label> -->
                </div>
        </div>
        <div class="feedback-stat">
                <label>Delivery pending</label>
        </div>
        <div class="feedback-desc">
                <p>delivery before</p>
                <br>
                <p style="margin-top: -16%;">00-00-0000</p>
        </div>
        <div class="btn-req-update">
                <button class="btn-req-update-style">REQUEST UPDATE</button>
        </div>
        <div class="btn-complaint">
                <button class="btn-complaint-style">COMPLAINT</button>
        </div>

    </div> 
</div>