<div>
    <div class="grid-order-history">
        <div class="orders">
                <label>ORDERS</label>
        </div>
        <div class="status">
                <label>STATUS</label>
        </div>
        <div class="feedback">
                <label>FEEDBACK</label>
        </div>
        <div class="prod-name">
                <label>PAINTING</label>
        </div>
        <div class="desc">
                <p>fine crafted masterpiece</p>
        </div>
        <div class="order-no">
                <label>#00000000ABC</label>
        </div>
        <div class="invoice">
                <button class="btn-invoice-style">VIEW INVOICE</button>
        </div>

        <div class="grid-status">
                <div class="pending-conf">
                        <label>Pending Confirmation</label>
                </div>
                <div class="pending-pay">
                        <label>Pending Payment</label>
                </div>
                <div class="processing">
                        <label>Processing</label>
                </div>
                <div class="shipped">
                        <label>Shipped</label>
                </div>
                <div class="deliver">
                        <label>Delivered</label>
                </div>
                <div class="closed">
                        <label>Closed</label>
                </div>
                <div class="ic-pending-conf">
                        <span class="dot">
                                <img src="assets/images/userProfile/ic_pending_conf.png" style="padding-top: 11%;">
                        </span>
                </div>
                <div class="ic-pending-pay">
                        <span class="dot">
                                <img src="assets/images/userProfile/ic_pending_pay.png" style="padding-top: 20%;">
                        </span>
                </div>
                <div class="ic-processing">
                        <img src="assets/images/userProfile/ic_processing.jpg" width="65px" height="60px" style="border-radius: 50%;">
                </div>
                <div class="ic-shipped">
                        <img src="assets/images/userProfile/ic_shipped.jpg" width="65px" height="60px"style="border-radius: 50%;">
                </div>
                <div class="ic-deliver">
                        <img src="assets/images/userProfile/ic_delivered.jpg" width="65px" height="60px" style="border-radius: 50%;">
                </div>
                <div class="ic-closed">
                        <span class="dot">
                                <img src="assets/images/userProfile/ic_closed.png" style="padding-top: 7%; margin-top: 7%;" width="50px" height="53px">
                        </span>
                </div>
                <div class="stat-bar-1">
                        <div class="stats-1">
                                <span>  
                                </span>
                        </div>
                </div>
                <div class="stat-bar-2">
                        <div class="stats-2">
                                <span>  
                                </span>
                        </div>
                </div>
                <div class="stat-bar-3">
                        <div class="stats-3">
                                <span>  
                                </span>
                        </div>
                </div>
                <div class="stat-bar-4">
                        <div class="stats-4">
                                <span>  
                                </span>
                        </div>
                </div>
                <div class="stat-bar-5">
                        <div class="stats-5">
                                <span>  
                                </span>
                        </div>
                </div>
                <div class="stat-bar-6">
                        <div class="stats-6">
                                <span>  
                                </span>
                        </div>
                </div>
                <div class="label-1">
                        Mon,11th Dec | 7:35pm
                </div>
                <div class="label-2">
                        Tue,12th Dec | 7:35pm
                </div>
                <div class="label-3">
                        Wed,13th Dec | 7:35pm
                </div>
                <div class="label-4">
                        Thu,14th Dec | 7:35pm
                </div>
                <div class="label-5">
                        Fri,12th Dec | 7:35pm
                </div>
                <div class="label-6">
                        Sat,12th Dec | 7:35pm
                </div>
        </div>
        <div class="feedback-stat">
                <label>Delivery pending</label>
        </div>
        <div class="feedback-desc">
                <p>delivery before</p>
                <br>
                <p style="margin-top: -16%;">00-00-0000</p>
        </div>
        <div class="btn-req-update">
                <button class="btn-req-update-style">REQUEST UPDATE</button>
        </div>
        <div class="btn-complaint">
                <button class="btn-complaint-style">COMPLAINT</button>
        </div>

    </div> 
</div>