<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://connect.facebook.net/en_US/sdk.js"></script>

<div class="breadcrumb-layout">
        <ul class="breadcrumb">
          <li><a href="#homepage">Home</a></li>
          <li>Plan Details</li>
        </ul>
<hr class="hrdiv">
</div>
<!-- <div>
         <button><a href="http://localhost:4200/Login" (click)="signOut()">Sign out Google</a></button>
        <button (click)="fblogout();">Sign out FB</button>
        <button routerLink="/login" (click)="signOut2();">Logout</button>
        

</div> -->
<div class="main-title">
        Which Plan Is Right For You?
        <br>
        <br>
</div>

<div class="main-grid">

        <div class="zoom card-1">
                <mat-card class="card-style">
                        <mat-card-header>
                            <!-- <div mat-card-avatar ></div> -->
                            <mat-card-title class="card-title">FREE</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-style"><img src="assets/images/img_pd_free.png"></div>
                        <mat-card-content >
                            <p class="text-style">
                                {{dynamicDataFree.planDescription}}
                            </p>
                            <div>
                                <p class="p-style"><i class="fa fa-rupee" style="font-size:24px"></i>{{dynamicDataFree.planPrice}}/month</p>
                            </div>
                            <div>
                                <p style="text-align: center;">DISCOUNT: ₹{{dynamicDataFree.planDiscount}}</p>
                            </div>
                            <div>
                                <p style="text-align: center;">DURATION: {{dynamicDataFree.duration}} days</p>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="btn-style" (click)=redirect(); >TRY NOW</button>
                        </mat-card-actions>
                </mat-card>
        </div>
        <div class="zoom card-2">
                <mat-card class="card-style">
                        <mat-card-header>
                            <!-- <div mat-card-avatar ></div> -->
                            <mat-card-title class="card-title">BASIC</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-style"><img src="assets/images/img_pd_basic.png"></div>
                        <mat-card-content>
                                <p class="text-style">
                                        {{dynamicDataBasic.planDescription}}
                                </p>
                                <div>
                                        <p class="p-style"><i class="fa fa-rupee" style="font-size:24px"></i>{{dynamicDataBasic.planPrice}}/month</p>
                                </div>
                                <div>
                                        <p style="text-align: center;">DISCOUNT: ₹{{dynamicDataBasic.planDiscount}}</p>
                                </div>
                                <div>
                                        <p style="text-align: center;">DURATION: {{dynamicDataBasic.duration}} days</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                        <button mat-button class="btn-style" (click)=redirect();>TRY NOW</button>
                        </mat-card-actions>
                </mat-card>
        </div>
        <div class="zoom card-3">
                <mat-card class="card-style">
                        <mat-card-header>
                            <!-- <div mat-card-avatar ></div> -->
                            <mat-card-title class="card-title">PREMIUM</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-style"><img src="assets/images/img_pd_premium.png"></div>
                        <mat-card-content>
                                <p class="text-style">
                                        {{dynamicDataPremium.planDescription}}
                                </p>
                                <div>
                                        <p class="p-style"><i class="fa fa-rupee" style="font-size:24px"></i>{{dynamicDataPremium.planPrice}}/month</p>
                                </div>
                                <div>
                                        <p style="text-align: center;">DISCOUNT: ₹{{dynamicDataPremium.planDiscount}}</p>
                                </div>
                                <div>
                                        <p style="text-align: center;">DURATION: {{dynamicDataPremium.duration}} days</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                        <button mat-button class="btn-style" (click)=redirect();>TRY NOW</button>
                        </mat-card-actions>
                </mat-card>
        </div>
        <div class="zoom card-4">
                <mat-card class="card-style">
                        <mat-card-header>
                            <!-- <div mat-card-avatar ></div> -->
                            <mat-card-title class="card-title">PLUS</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <div class="image-style"><img src="assets/images/img_pd_plus.png"></div>
                        <mat-card-content>
                                <p class="text-style" style="margin-top: 25px;">
                                        {{dynamicDataPlus.planDescription}}
                                </p>
                                <div>
                                        <p class="p-style"><i class="fa fa-rupee" style="font-size:24px"></i>{{dynamicDataPlus.planPrice}}/month</p>
                                </div>
                                <div>
                                        <p style="text-align: center;">DISCOUNT: ₹{{dynamicDataPlus.planDiscount}}</p>
                                </div>
                                <div>
                                        <p style="text-align: center;">DURATION: {{dynamicDataPlus.duration}} days</p>
                                </div>
                        </mat-card-content>
                        <mat-card-actions>
                        <button mat-button class="btn-style" (click)=redirect();>TRY NOW</button>
                        </mat-card-actions>
                </mat-card>
        </div>

</div>
<br>
<br>
<br>
<br>
<br>