<!-- <div class="divMargin">
  <ul class="breadcrumb">
    <li><a [routerLink]="[ '' ]" routerLinkActive="active">Home</a></li>
  </ul>
  <hr />
  <div>
    <button [routerLink]="[ '/categorylisting' ]" routerLinkActive="active">Go to Category Listing</button>
  </div>
</div> -->
<div class="gridT">
    <!-- shop background image -->
    <div class=shopBg>
        <img src="assets/images/shop/{{token}}/{{token}}_cover.jpg">
    </div>
    <!-- shop description -->
    <div class="shopDescBio">
        <div class="shopDesc">
            <div class="shopLogo">
                <img src="assets/images/shop/{{token}}/{{token}}_logo.jpg">
            </div>
            <div class="shopInfo">
                <div id="sellerBtn"  style="transform: translate(0px,-25px);float:right;">
                    <button class="sellerBtn"[routerLink]="['/managepage']" [queryParams]="{shop_id:token}" >go to manage page</button>
                </div>
                <div class="shopStarFoll">
                    <div class="shopStar">
                        <div ng>
                            <i class="fa fa-star" *ngFor="let item of filledStar" style="color: #efbe24"></i>
                            <i class="fa fa-star-o" *ngFor="let item of unFilledStar"></i>
                        </div>
                    </div>
                    <div class="shopFollowers">
                        <!-- <p>{{followC.folCount}} FOLLOWERS</p> -->
                        <p>{{followC.folCount}} FOLLOWERS</p>
                        <!-- <p>{{folCounter}} FOLLOWERS</p> -->

                    </div>
                </div>
                <div class="shopDetails">
                    <p class="headClass" style="font-size: 20px;text-align: inherit;">{{shopData.shopName}}</p>
                    <p>{{selName}}</p>
                    <!-- <a>{{mostSelling[0].name}}</a> -->
                </div>
                <div class="shopBtnInfo">
                    <div class="dvFromRfq">
                        From:<a>{{shopData.shopLocation}}</a><br>
                        <button type="button" class="btRfq" data-target="#rfqPopup" (click)="sendRfq();">RFQ</button>
                    </div>
                    <div class="dvShipsFollow">
                        Ships to:<a>All over India</a><br>
                        <ng-container *ngIf="folResult; else notFollowing">
                            <button type="button" class="btnFollowShop" (click)="unfollowShop();">Unfollow Shop</button>
                            <!-- <img class="followIcon" src="assets/icons/resources (IL)-04.png"> -->
                        </ng-container>
                        <ng-template #notFollowing>
                            <button type="button" class="btnFollowShop" (click)="followShop();">Follow Shop</button>
                            <!-- <img class="followIcon" src="assets/icons/resources (IL)-04.png"> -->
                        </ng-template>
                    </div>
                </div>
                <p id="onVac" class="onVac">Seller is on Vacation</p>
            </div>
        </div>
        <div class="shopBio">
            <p class="bioHeader">Bio</p>
            <p class="bioTxt policies">{{shopData.descriptionShop}}</p>
        </div>
    </div>
    <!-- shop products -->
    <div class="shopProducts">
        <div class="dvCatMain">
            <div class="dvCard" *ngFor="let item of Object.keys(array12)">
                <div class="dvCardLogo">
                    <div class="dvLogo">
                        <img class="imgLogo" src="assets/images/shop/{{token}}/{{token}}_logo.jpg"
                            [routerLink]="['/shop']" [queryParams]="{shop_id:array12[item].shopId}">
                    </div>
                    <div class="dvSeller" [routerLink]="['/shop']" [queryParams]="{shop_id:array12[item].shopId}">
                        <div class="dvShopName">
                            <!-- <p>{{array12[item].shopName}}</p> -->
                            <p>{{shopData.shopName}}</p>
                        </div>
                        <div class="dvSellerName">
                            <p>{{selName}}</p>
                        </div>
                    </div>
                </div>
                <div class="dvCardBanner" [routerLink]="['/listing']"
                    [queryParams]="{shop_id:array12[item].shopId, prod_id:array12[item].prodId}">
                    <img class="imgBanner"
                        src="assets/images/product/{{array12[item].prodId}}/{{array12[item].prodId}}_0.jpg">
                    <div class="dvUndeliver">
                        <!-- <div class="overlay" *ngIf="array12[item].status == 'undeliverable'">UNDELIVERABLE</div> -->
                        <div class="overlay" *ngIf="array12[item].status == 'inactive'"
                        style="background-color: #FF1D25">
                        INACTIVE</div>
                    <div class="overlay" *ngIf="array12[item].status == 'active'" style="background-color: #009145">
                        ACTIVE</div>
                    <div class="overlay" *ngIf="array12[item].status == 'pending'"
                        style="background-color: #333333">
                        PENDING
                    </div>
                    </div>
                </div>
                <div class="dvCardName">
                    <div class="dvProduct">
                        <div class="dvProdName">
                            <p>{{array12[item].prodName}}</p>
                        </div>
                        <div class="dvRating">
                            <div>
                                <i class="fa fa-star" *ngFor="let item of filledStar" style="color: #efbe24"></i>
                                <i class="fa fa-star-o" *ngFor="let item of unFilledStar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dvDetails">
                        <p>{{array12[item].desc}}</p>
                    </div>
                </div>
                <div class="dvCardPrice">
                    <p class="pPrice"><i class="fa fa-rupee"></i>{{array12[item].basePrice}}&emsp;</p>
                    <p class="pActualPrice"><i class="fa fa-rupee"></i>{{array12[item].basePrice}}</p>
                     <button type="button" class="btnRfqList" *ngIf="array12[item].hasRfq == 1">RFQ</button>
                </div>
            </div>
        </div>
        <button class="dvMore" id="prodMore" [routerLink]="['/category']" [queryParams]="{shop_id:token}">Show
            All</button>
        <!-- (click)="showMoreProducts();" -->
    </div>
    <!-- shop shipment info -->
    <div class="shopShipment">
        <img src="assets/icons/resources (IL)-18.png">
        <p class="headClass">SHIPMENT INFO</p>
        <div class="dvForm">
            <form>
                SHIPPING<input type="radio" value="oneDay" class="shipDelivery radio-custom"  disabled="true"
                    id="ship"> Home Delivery<input type="radio" value="cashOn" class="hDelivery radio-custom" 
                    disabled="true" id="hD">PICKUP<input type="radio" value="doorTD" class="pckDelivery radio-custom"
                     disabled="true" id="pck">
                <br>
                <br> Average Processing Time : <span class="shipmentDetails">{{shopData.avgProcessingTime}}hrs</span><br><br> Average Shipping Time &nbsp;&nbsp;&nbsp;: <span class="shipmentDetails">{{shopData.avgShippingTime}}hrs</span><br><br> Average
                Response Time &nbsp;&nbsp;: <span class="shipmentDetails">{{shopData.avgResponseTime}}hrs</span><br>
            </form>
        </div>

    </div>
    <!-- shop policies -->
    <div class="shopPolicies">
        <div class="prodPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <p class="headClass">PRODUCT POLICIES</p>
            <p class="policies">{{shopData.productPolicy}}</p>
        </div>
        <div class="shopPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <p class="headClass">SHOP POLICIES</p>
            <p class="policies">{{shopData.shopPolicy}}</p>
        </div>
        <div class="shipPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <p class="headClass">SHIP POLICIES</p>
            <p class="policies">{{shopData.shipPolicy}}</p>
        </div>
        <div class="retPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <p class="headClass">RETURN POLICIES</p>
            <p class="policies">{{shopData.returnPolicy}}</p>
        </div>
    </div>

    <!-- shop ratings and reviews -->
    <div class="shopRatingReview">
        <img src="assets/icons/resources (IL)-18.png">
        <p class="headClass">RATING & REVIEWS</p>
        <div class="rating">
            <div class="inner">
                <div class="rating">
                    <span class="rating-num">{{shopData.ratingShop}}</span>
                    <div class="rating-stars">
                        <div>
                            <i class="fa fa-star active" *ngFor="let item of filledStar" style="color: #efbe24"></i>
                            <i class="fa fa-star-o" *ngFor="let item of unFilledStar"></i>
                        </div>
                    </div>
                    <div class="rating-users">
                        <i class="icon-user"></i> {{shopData.ratingCountShop}}<span> Ratings</span>
                    </div>
                </div>

                <div class="histo">
                    <div class="five histo-rate">
                        <span class="histo-star">
                            <i class="active icon-star"></i> 5 </span>
                        <span class="bar-block">
                            <span id="bar-five" class="bar" [style.width.%]="bar5">
                                <span>{{ratingData.rat5}}</span>&nbsp;
                            </span>
                        </span>
                    </div>

                    <div class="four histo-rate">
                        <span class="histo-star">
                            <i class="active icon-star"></i> 4 </span>
                        <span class="bar-block">
                            <span id="bar-four" class="bar" [style.width.%]="bar4">
                                <span>{{ratingData.rat4}}</span>&nbsp;
                            </span>
                        </span>
                    </div>

                    <div class="three histo-rate">
                        <span class="histo-star">
                            <i class="active icon-star"></i> 3 </span>
                        <span class="bar-block">
                            <span id="bar-three" class="bar" [style.width.%]="bar3">
                                <span>{{ratingData.rat3}}</span>&nbsp;
                            </span>
                        </span>
                    </div>

                    <div class="two histo-rate">
                        <span class="histo-star">
                            <i class="active icon-star"></i> 2 </span>
                        <span class="bar-block">
                            <span id="bar-two" class="bar" [style.width.%]="bar2">
                                <span>{{ratingData.rat2}}</span>&nbsp;
                            </span>
                        </span>
                    </div>

                    <div class="one histo-rate">
                        <span class="histo-star">
                            <i class="active icon-star"></i> 1 </span>
                        <span class="bar-block">
                            <span id="bar-one" class="bar" [style.width.%]="bar1">
                                <span>{{ratingData.rat1}}</span>&nbsp;
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="review" *ngFor="let item of Object.keys(ratingReviewShop)" id="{{item}}">
            <div class="revProfIcon">
                <img class="revProfImg" src="assets/icons/resources (IL)-21.png">
            </div>
            <div class="revName">
                <p class=rName>Lorem</p>
                <p class="rAgo">{{reviewDateDiffShop[item]}} days ago</p>
            </div>
            <div class="revData">
                <p class="rTitle">{{ratingReviewShop[item].reviewTitle}}</p>
                <p class="rDesc">{{ratingReviewShop[item].review}}</p>
                <div class="starLikes">
                    <img class="icLike" id="likeImg_{{ratingReviewShop[item].reviewId}}" (click)="likeCount(ratingReviewShop[item].reviewId);"
                        src="assets/icons/resources (IL)-10.png">
                    <p class="likeCount" id="likeCount_{{ratingReviewShop[item].reviewId}}">{{ratingReviewShop[item].likes}}</p>
                    <img class="icDislike" id="dislikeImg_{{ratingReviewShop[item].reviewId}}" (click)="dislikeCount(ratingReviewShop[item].reviewId);"
                        src="assets/icons/resources (IL)-11.png">
                    <p class="dislikeCount" id="dislikeCount_{{ratingReviewShop[item].reviewId}}">{{ratingReviewShop[item].dislikes}}</p>
                    <button class="btnReport" (click)="report(ratingReviewShop[item].reviewId);">Report</button>
                    <div class="revSt" *ngIf="ratingReviewShop[item].rating == 1"> 
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="revSt" *ngIf="ratingReviewShop[item].rating == 2"> 
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="revSt" *ngIf="ratingReviewShop[item].rating == 3"> 
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="revSt" *ngIf="ratingReviewShop[item].rating == 4"> 
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="revSt" *ngIf="ratingReviewShop[item].rating == 5"> 
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i>
                        <i class="fa fa-star active" style="color: #efbe24"></i> 
                    </div>
                </div>
                <img class="revIcon" src="assets/images/review/{{ratingReviewShop[item].reviewId}}/1.jpg" onerror="this.style.display = 'none'">
                <!-- onError="this.src = 'assets/images/defaultReview2.png'" -->
                    <!-- <div (load)="reviewRatings(item);">
                        <i class="fa fa-star active" *ngFor="let x of filledStarRat"></i>
                        <i class="fa fa-star-o" *ngFor="let x of unFilledStarRat"></i>
                    </div>
                </div>
                <img class="revIcon" src="assets/images/chocolate-cream-cake-half-kg-eggless_3.jpg"> -->
            </div>
        </div>
    </div>
</div>
<!-- rfqPopup -->
<div class="container" id="rfqPopupContainer " style="z-index: 10001; ">
    <!-- <button type="button " class="btn btn-warning " data-toggle="modal " data-target="#rfqPopUP ">undeliverable</button> -->
    <!-- Modal -->
    <div class="modal fade" id="rfqPopup" role="dialog ">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content dvModalContent">
                <div class="modal-header dvModalHeader">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-bod" style="padding:0 10% 0 10%;">
                    <div class="rfqForm">
                        <div class="rfqSN">
                            <p class="rfqShopName">Shop Name:</p>
                            <input class="rfqShopNameInput" type="text" id="rfqShop" value="{{shopData.shopName}}"><br>
                        </div>
                        <div class="rfqSL">
                            <p class="rfqLocation">Location:</p>
                            <select style="width: 16rem;">
                                <option class="rfqLocationInput" id="rfqLocations"
                                    *ngFor="let add of Object.keys(rfqAddress)"> {{rfqAddress[add].address}}
                            </select>
                        </div>
                        <div class="rfqN">
                            <p class="rfqNote">Note:</p>
                            <textarea class="rfqNoteInput" type="text" id="rfqNote"></textarea>
                        </div>
                        <div class="rfqTag">
                            <p (click)="rfqDropdown()" class="dropBtnRfq">Tag Products</p>
                            <div class="dropdownRfq">
                                <div id="rfqDropdown" class="dropdown-contentRfq ">
                                    <input type="text" placeholder="Search.. " id="myInput" (keyup)="filterFunction()">
                                    <ul id="myUL" class="rfqUL" style="display: none;">
                                        <li *ngFor="let inp of Object.keys(rfqInput)">
                                            <a (click)="addTagProduct(rfqInput[inp].name);">
                                                {{rfqInput[inp].name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="chips">
                            <div class="chipsOuter" *ngFor="let chi of Object.keys(prod)" id="{{prod[chi]}}">
                                <div class="chip">
                                    {{prod[chi]}}
                                    <!-- <span class="closebtn"
                                            onclick="this.parentElement.style.display='none'">&times;</span> -->
                                    <span class="closebtn" (click)="delProduct(prod[chi]+'!'+chi);">&times;</span>

                                </div>
                            </div>
                        </div>
                        <div class="uploadRfq">
                            <input style="display: none" type="file" name="pic" id="shopRfq" accept="image/*"
                                #fileInputRfq >
                            <button type="button" class="btnCover" (click)="fileInputRfq.click()"
                                style="background-color: #efbe24;color: white;">Upload image</button>
                                <!-- <div *ngIf="imageUploaded == 1">
                                    <img [src]="imageVALRFQ" style="max-height: 100px;margin-top:5px;">
                                </div> -->
                                <div *ngIf="imageRU0 == 1">
                                    <img [src]="imageVALRFQ0" style="max-height: 100px;margin-top:5px;">
                                </div>
                                <div *ngIf="imageRU1 == 1">
                                    <img [src]="imageVALRFQ1" style="max-height: 100px;margin-top:5px;">
                                </div>
                                <div *ngIf="imageRU2 == 1">
                                    <img [src]="imageVALRFQ2" style="max-height: 100px;margin-top:5px;">
                                </div>
                            </div>
                        <button class="btnRfq" (click)="rfqSubmit();" [routerLink]="['/messages']" >Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- loginpopup -->
<div class="container" id="loginModalContainer" style="z-index: 10001;">
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content dvModalContent">
                <div class="modal-header dvModalHeader">
                </div>
                <div class="modal-body" style="padding:0 10% 0 10%;">
                    <br>
                    <p style="text-align: center;justify-self:center">Please Login to continue...</p>
                    <br>
                    <button  [routerLink]="['/login']"
                        [queryParams]="{shop_id:dynamicData.shopId , prod_id:dynamicData.prodId}"
                        style="background-color: #efbe24; color:white; transform: translate(10.5rem,0%)">Login</button>
                    <p style="text-align: center;justify-self:center">OR</p>
                    <button  [routerLink]="['/signup']"
                        [queryParams]="{shop_id:dynamicData.shopId , prod_id:dynamicData.prodId}"
                        style="background-color: #efbe24; color:white; transform: translate(10.25rem,0%)">SignUp</button>
                    <br>
                    <br>
                    <div id="instantBuyId">
                        <button
                            style="background-color: #efbe24; color:white; transform: translate(10.25rem,0%)">Instant
                            Buy</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
