<div class="divMargin">
  <ul class="breadcrumb">
    <li><a [routerLink]="[ '' ]" routerLinkActive="active">Home</a></li>
  </ul>
  <hr />
  <div>
    <button [routerLink]="[ '/categorylisting' ]" routerLinkActive="active">Go to Category Listing</button>
  </div>
</div>
<div class="gridT">
  <!-- shop background image -->
  <div class=shopBg>
    <img src="/assets/images/1920x640.jpg">
  </div>
  <!-- shop description -->
  <div class=shopDescBio>
    <div id="shopDesc">
      <div id="shopLogo">
        <img src="/assets/images/photo3.jpg">
      </div>
      <div id=shopInfo>
        <div id=shopStarFoll>

        </div>
        <div id=shopDetails>
          <h4>SHOP NAME</h4>
          <h5>By Seller Name</h5>
          <a>Main Selling Items</a>
        </div>
        <div id=shopBtnInfo>
          <div id="dvFromRFQ">
            From:<a>kochi</a><br>
            <button id="btnRfq">RFQ</button>
          </div>
          <div id="dvShipsFollow">
            Ships to:<a>All over India</a><br>
            <button id="btnFollowShop">FOLLOW SHOP</button>
          </div>
        </div>
      </div>
    </div>
    <div id="shopBio">
      <h3>Bio</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <!-- shop products -->
  <div class=shopProducts>

  </div>
  <!-- shop shipment info -->
  <div class=shopShipment>
    <img src="assets/icons/resources (IL)-18.png">
    <h2>SHIPMENT INFO</h2>
    <div id="dvForm">
      <form>
        ONE DAY DELIVERY<input type="radio" value="oneDay" id="odDelivery" name="delivery" checked>
        CASH ON DELIVERY<input type="radio" value="cashOn" id="coDelivery" name="delivery">
        DOOR TO DOOR DELIVERY<input type="radio" value="doorTD" id="dtdDelivery" name="delivery">
        <br>
        <br>
        Average Processing Time : <a>5days</a><br>
        Average Shipping Time : <a> 5days</a><br>
        Average Response Time : <a> 5days</a><br>
      </form>
    </div>

  </div>
  <!-- shop policies -->
  <div class=shopPolicies>
    <div id="shopPolicy">
      <img src="assets/icons/resources (IL)-18.png">
      <h2>SHOP POLICIES</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <!-- shop ratings and reviews -->
  <div class=shopRatingReview>
    <img src="assets/icons/resources (IL)-18.png">
    <h2>RATING & REVIEWS</h2>
    <div>
      <div class="rating">
        <div class="inner">
          <div class="rating">
            <span class="rating-num">4.0</span>
            <div class="rating-stars">
              <span><i class="active icon-star"></i></span>
              <span><i class="active icon-star"></i></span>
              <span><i class="active icon-star"></i></span>
              <span><i class="active icon-star"></i></span>
              <span><i class="icon-star"></i></span>
            </div>
            <div class="rating-users">
              <i class="icon-user"></i> 1,014,004 total
            </div>
          </div>

          <div class="histo">
            <div class="five histo-rate">
              <span class="histo-star">
                <i class="active icon-star"></i> 5 </span>
              <span class="bar-block">
                <span id="bar-five" class="bar">
                  <span>566,784</span>&nbsp;
                </span>
              </span>
            </div>

            <div class="four histo-rate">
              <span class="histo-star">
                <i class="active icon-star"></i> 4 </span>
              <span class="bar-block">
                <span id="bar-four" class="bar">
                  <span>171,298</span>&nbsp;
                </span>
              </span>
            </div>

            <div class="three histo-rate">
              <span class="histo-star">
                <i class="active icon-star"></i> 3 </span>
              <span class="bar-block">
                <span id="bar-three" class="bar">
                  <span>94,940</span>&nbsp;
                </span>
              </span>
            </div>

            <div class="two histo-rate">
              <span class="histo-star">
                <i class="active icon-star"></i> 2 </span>
              <span class="bar-block">
                <span id="bar-two" class="bar">
                  <span>44,525</span>&nbsp;
                </span>
              </span>
            </div>

            <div class="one histo-rate">
              <span class="histo-star">
                <i class="active icon-star"></i> 1 </span>
              <span class="bar-block">
                <span id="bar-one" class="bar">
                  <span>136,457</span>&nbsp;
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="review">
        <div id="revName">
          <p id=rName>Lorem</p>
          <p id="rAgo">8days ago</p>
        </div>
        <div id="revData">
          <p id="rTitle">Title</p>
          <p id="rDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia
            deserunt mollit anim id est laborum.</p>
          <div id="starLikes">
            <img id="icLike" src="assets/icons/resources (IL)-10.png">
            <p id="likeCount">000</p>
            <img id="icDislike" src="assets/icons/resources (IL)-11.png">
            <p id="dislikeCount">000</p>
            <button id="btnReport">Report</button>
          </div>
          <img id="revIcon" src="assets/images/chocolate-cream-cake-half-kg-eggless_3.jpg">
        </div>
      </div>

      <div class="writeReview">
        <button id="btnWriteReview">WRITE PRODUCT REVIEW</button>
      </div>
    </div>

  </div>
</div>