<div class="main-grid">
    <div class="heading">
        <label class="head-style">TERMS AND CONDITIONS</label>
    </div>
    <div class="mod-date">
        <label>Last modified: Nov 2016</label>
    </div>
    <div class="sub-heading-1">
        <label>1.General</label>
    </div>
    <div class="description">
        <!-- <label>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Webiste Name accessible at Website.com.
                These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. 
                You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.
        </label> -->
        <iframe src="assets/documents/terms-conditions.pdf" frameborder=0 class="doc-style"></iframe> 
    </div>
</div>