  
.container {
    margin:50px;
    display: grid;
          
    grid-template-columns: repeat(3, [col] 150px ) ;
    grid-template-rows: repeat(4, [row] auto  );

      }
  
.box {
    background-color:#333333;
    color: #fff;
    padding: 20px;
    
  
      }
  
.box .box {
    background-color: #ccc;
    color: #444;
      }

.a {
    grid-column: col 3 / span 3;
    grid-row: row;
    font-family: "BitterBold";
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .col-25 {
        font-family: "BitterBold";
        margin-left: 60%;    
        float: left;    
        width: 25%;
    
         }
          
    .col-75 {        
            width: 75%;
            margin-left: 80%;
          }
}

  
.b {
    grid-column: col 3 / span 3;
    grid-row: row 3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .button{
        background-color:  #009145;
        color: white;
        font-family: "BitterBold";
        padding: 10px;
        border-radius: 10px;
        margin-left: 80%;
        
    
    }

}
   
  
      .c{
          grid-column: col 3 / span 3;
          grid-row: row 2;
          display: grid;
        //   grid-gap: 1px;
          grid-template-columns: 1fr 2fr 1fr;
      
      }
  
.d {
    grid-column: 1 / 0;
    grid-row: 1;
    .row2text{
        font-family: "BitterBold";
        
    }
    .row2-sub-text{
        
        font-family: "Bitter";
    }
    .row2-sub1-text{
        font-family: "BitterBold";

    }
}

.e {
    grid-column:1 / 2;
    grid-row: 1;
    .img1{
        border-radius: 5px;  
    }

}
.m {
    grid-column: 3 ;
    grid-row: 2;
}
  
// .f {
//     grid-column: 1 / 2;
//     grid-row: 3;
//     .img2{
//         border-radius: 5px;
//     }
// }
  
// .g {
//     grid-column: 2;
//     grid-row: 3;
//     .row2text1{
        
//         font-family: "BitterBold"; 
//     }
//     .row2-sub-text1{
        
//         font-family: "Bitter";
//     }
//     .row2-sub1-text1{
        
//         font-family: "BitterBold";
//     }
// }
  
.h {
    grid-column:3 ;
    grid-row: 1 ;
    .row2-sub2-text{
        font-family: "BitterBold";
    }
    
      
}

// .i{
//     grid-column: 3;
//     grid-row: 3;
//     .row2-sub2-text1{
//         font-family: "BitterBold"; 
//     }
// }

.j{
    grid-column: 1 / 0;
    grid-row: 2;

    .qty .count {
        color: #000;
        display: inline-block;
        vertical-align: top;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        padding: 0 2px
        ;min-width: 35px;
        text-align: center;
    }
    .qty .plus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial,sans-serif;
        text-align: center;
        margin-left: 20px;
        // border-radius: 50%;
        }
    .qty .minus {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        color: white;
        width: 30px;
        height: 30px;
        font: 30px/1 Arial,sans-serif;
        text-align: center;
        margin-right: 20px;
        // border-radius: 50%;
        background-clip: padding-box;
    }
    div {
        text-align: center;
    }
    .minus:hover{
        background-color: #717fe0 !important;
    }
    .plus:hover{
        background-color: #717fe0 !important;
    }
    /*Prevent text selection*/
    span{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    input{  
        border: 0;
        width: 2%;
    }
    nput::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input:disabled{
        background-color:white;
    }
             
}

.k{
    grid-column: 2 / 2;
    grid-row: 2;

    .button {
    
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
      .button1 {
          background-color:#EFBE24;
          font-family: "BitterBold";
        } 
}

// .n{
//     grid-column: 2 ;
//     grid-row: 4;
//     .button {
    
//         border: none;
//         color: white;
//         padding: 10px;
//         text-align: center;
//         text-decoration: none;
//         display: inline-block;
//         font-size: 10px;
//         margin: 4px 2px;
//         cursor: pointer;
//       }
      
//       .button2 {
//           background-color:#EFBE24;
//           font-family: "BitterBold";
//         } 
// }


// .l{
//     grid-column: 1 / 2;
//     grid-row: 2;




//     .qty .count {
//         color: #000;
//         display: inline-block;
//         vertical-align: top;
//         font-size: 25px;
//         font-weight: 700;
//         line-height: 30px;
//         padding: 0 2px
//         ;min-width: 35px;
//         text-align: center;
//     }
//     .qty .plus {
//         cursor: pointer;
//         display: inline-block;
//         vertical-align: top;
//         color: white;
//         width: 30px;
//         height: 30px;
//         font: 30px/1 Arial,sans-serif;
//         text-align: center;
//         margin-left: 20px;
//         // border-radius: 50%;
//         }
//     .qty .minus {
//         cursor: pointer;
//         display: inline-block;
//         vertical-align: top;
//         color: white;
//         width: 30px;
//         height: 30px;
//         font: 30px/1 Arial,sans-serif;
//         text-align: center;
//         margin-right: 20px;
//         // border-radius: 50%;
//         background-clip: padding-box;
//     }
//     div {
//         text-align: center;
//     }
//     .minus:hover{
//         background-color: #717fe0 !important;
//     }
//     .plus:hover{
//         background-color: #717fe0 !important;
//     }
//     /*Prevent text selection*/
//     span{
//         -webkit-user-select: none;
//         -moz-user-select: none;
//         -ms-user-select: none;
//     }
//     input{  
//         border: 0;
//         width: 2%;
//     }
//     nput::-webkit-outer-spin-button,
//     input::-webkit-inner-spin-button {
//         -webkit-appearance: none;
//         margin: 0;
//     }
//     input:disabled{
//         background-color:white;
//     }
             
// }



  
.container2 {
    margin: 60px;
    width: 10px;
    display: grid;
    // grid-gap: 1px;
    grid-template-columns: repeat(2, [col] 150px ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: #fff;
    color: #444;
    }
  
.abox {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  
    }
  
.abox .abox {
    background-color: #ccc;
    color: #444;
    }
  
.a1 {
    grid-column: col 3 /span 3;
    grid-row: 1;
    float:left;
    width: 350px;
    font-family: "BitterBold";
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

.a2{
    grid-column: col 3 / span 3;
    grid-row:3;
    float:left;
    width: 350px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.a3{
    grid-column: col 3 / span 3;
    grid-row:2;
    float:left;
    width: 350px;
    
  }
  