@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
// Color Palette

$smaYellow: #efbe24;
$smaLightGray: #f1f1f1;
$smaGray: #dbdbdb;
$smaGreen: #009145;
$smaRed: #ff1d25;
$smaDarkGray: #333333;
// font-family: BitterBold;

// Font Sizes

$Header: 30px;
$SubHeader: 25px;
$Text: 20px;
$SubText: 18px;


/* Smaller devices */

@mixin sm-lesser {

    @media (max-width: 600px) {

        @content;

    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@mixin sm {

    @media (min-width: 600px) {

        @content;

    }

}

/* Medium devices (landscape tablets, 768px and up) */

@mixin md {

    @media (min-width: 768px) {

        @content;

    }

}

/* Large devices (laptops/desktops, 992px and up) */

@mixin lg {

    @media (min-width: 992px) {

        @content;

    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@mixin xlg {

    @media (min-width: 1200px) {

        @content;

    }

}

@mixin xxlg {

    @media (min-width: 1500px) {

        @content;

    }

}

/* MAIN*/
.dvMain {
	grid-template-columns: auto;
	grid-template-rows: repeat(3, auto);

	.dvHead {
		grid-area: dvHead;
		margin-left: 20%;
		margin-right: 20%;
		width: auto;
		display: grid;
		background-color: #dbdbdb;
		height: 70px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		grid-template-areas: "dvTitle	dvDeliverTitle	dvDropdown";
		
		.dvTitle {
			grid-area: dvTitle;
			font-family: BitterBold;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
			float: left;
			
			.btnCartCount {
				font-family: BitterBold;
				display: grid;
				border: none;
				background-color: #efbe24;
				color: white;
				margin-top: -40px;
				padding: 2px;
				border-radius: 5px;
				// padding-inline: 10px;
				height: 30px;
				width: 30px;
				margin-left: 80px;
				
				
			}
		}
		.dvDeliverTitle {
			grid-area: dvDeliverTitle;
			font-family: BitterBold;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
			margin-left: 55%;
			
		}
		.dvDropdown {
			grid-area: dvDropdown;
			display: grid;
			padding: 20px;
			width: 30px;
			margin-top: -10px;
			margin-right: 177px;
			border: none;
			height: 80px;
			
			.AddrDropdown{
				margin-top: 8px; 
				width: 300px; 
				background: white;
				border-radius: 5px;
				border: none;
				
			}	
		}
		
	}
	.dvBody {
		margin-left: 20%;
		margin-right: 20%;
		// margin-bottom: 20px;
		width: auto;
		display: grid;
		grid-area: dvBody;
		background-color: #f1f1f1;
		height: 300px;
		grid-template-columns: 20% auto 20%;
		grid-template-areas: "gridLeft  gridMid gridRight";
		
		.gridLeft {
			grid-area: gridLeft;
			display: grid;
			grid-template-columns: 20%;
			grid-template-areas:
				"gridImg"
				"gridCounter";
				
			.gridImg {
				grid-area: gridImg;
				width: fit-content;
				border-radius: 5px;
				display: grid;
				padding-inline: 20px;
				padding: 20px;
				
				.imgItem1 {
					border-radius: 5px;
					object-fit: cover;
					cursor: pointer;
					width: 140px; 
					height: 140px;
					
				}
			}
			.gridCounter {
				grid-area: gridCounter;
				display: grid;
				width: fit-content;
				padding-inline: 10px;
				padding: 10px;
				grid-template-columns: auto;
				grid-template-areas: "qtyCounter";
				
				.qtyCounter {
					grid-area: qtyCounter;
					display: grid;
					align-items: center;
					margin-top: -80px;
					margin-left: 30%;
					grid-template-columns: auto;
					grid-template-areas: "minus counter plus";
					
					.minus {
						grid-area: minus;
						cursor: pointer;
						display: inline-block;
						background-color: #333333;
						color: white;
						border-radius: 5px;
						width: 30px;
						height: 30px;
						
					}
					.counter {
						grid-area: counter;
						cursor: pointer;
						display: inline-block;
						background-color: #333333;
						color: white;
						border-radius: 5px;
						width: 50px;
						height: 30px;
						text-align: center;
						
					}
					.plus {
						grid-area: plus;
						cursor: pointer;
						display: inline-block;
						background-color: #333333;
						color: white;
						border-radius: 5px;
						margin-right: -40px;
						width: 30px;
						height: 30px;
						
					}
				}
			}
		}
		.gridMid {
			grid-area: gridMid;
			display: grid;
			grid-template-columns: auto;
			grid-template-areas: "gridDetails"
								"gridBodyButton";
				
			.gridDetails {
				grid-area: gridDetails;
				display: grid;
				margin-top: 30px;
				grid-auto-columns: auto;
				grid-template-areas:
					"detailItemName"
					"detailItemSeller"
					"detailItemVariInfo"
					"detailItemPrice"
					"detalItemPriceDel";
				
				.detailItemName {
					grid-area: detailItemName;
					display: grid;
					font-family: BitterBold;
					padding-inline: 20px;
					float: left;
					
				}
				.detailItemSeller {
					grid-area: detailItemSeller;
					display: grid;
					font-family: Bitter;
					padding-inline: 20px;
					float: left;
					
				}
				.detailItemVariInfo {
					grid-area: detailItemVariInfo;
					margin-top: -53px;
					margin-left: 16%;
				}
				.detailItemPrice {
					grid-area: detailItemPrice;
					
					.basePriceStyle{
						display: grid;
						// font-family: BitterBold;
						padding-inline: 20px;
						float: left;
						
					}
				}
				
			}
			.gridBodyButton {
				grid-area: gridBodyButton;
				display: grid;
				grid-template-columns: auto;
				grid-template-areas: "btnBodyRemove";
				
				.btnBodyRemove {
					grid-area: btnBodyRemove;
					cursor: pointer;
					background-color: #efbe24;
					color: white;
					font-family: BitterBold;
					border: none;
					width: 80px;
					margin-left: 20px;
					height: 30px;
					margin-top: 0px;
					margin-right: 200px;
					display: grid;
					padding: 1px;
					float: right;
					border-radius: 5px;
					
				}
			}
		}
		.gridRight {
			grid-area: gridRight;
			display: grid;
			grid-auto-columns: 20%;
			grid-template-areas:
				"gridDeliveryDate"
				"gridRightButton";
				
			.gridDeliveryDate {
				grid-area: gridDeliveryDate;
				display: grid;
				font-family: BitterBold;
				margin-top: 30px;
				
			}
			.gridRightButton {
				grid-area: gridRightButton;
				display: grid;
				grid-template-columns: 20%;
				grid-template-areas: "btnRightDelivery";
				
				.btnRightDelivery {
					grid-area: btnRightDelivery;
					background-color: #009145;
					color: white;
					font-family: BitterBold;
					border: none;
					text-align: center;
					height: 30px;
					width: 56px;
					margin-left: 84px;
					margin-top: 44px;
					margin-right: 200px;
					display: grid;
					padding: 0px;
					float: left;
					border-radius: 5px;
					
				}
				.btnPlaceOrder {
					grid-area: btnFoot;
					background-color: #009145;
					color: white;
					font-family: BitterBold;
					width: 150px;
					border: none;
					margin-top: 20px;
					margin-bottom: 20px;
					margin-left: -10%;
					display: grid;
					padding-inline: 20px;
					padding: 10px;
					float: right;
					border-radius: 5px;
					cursor: pointer;
				}
			}
		}
	}
	.dvFoot {
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 30px;
		width: auto;
		display: grid;
		grid-area: dvFoot;
		background-color: #dbdbdb;
		height: 80px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		// .btnFoot {
		// 	grid-area: btnFoot;
		// 	background-color: #009145;
		// 	color: white;
		// 	font-family: BitterBold;
		// 	width: 150px;
		// 	border: none;
		// 	margin-top: 20px;
		// 	margin-bottom: 20px;
		// 	margin-left: 60%;
		// 	display: grid;
		// 	padding-inline: 20px;
		// 	padding: 5px;
		// 	float: right;
		// 	border-radius: 5px;
		// }
	}
}

/* MAIN 2*/
.dvMain2 {
	margin-left: 20%;
	margin-right: 80%;
	margin-bottom: 20px;
	width: 25%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"dvHead2"
		"dvBody2"
		"dvFoot2";
	.dvHead2 {
		display: grid;
		grid-area: dvHead2;
		background-color: #dbdbdb;
		height: 80px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		grid-auto-columns: auto;
		grid-template-areas: "dvHeadTitle2";
		.dvHeadTitle2 {
			grid-area: dvHeadTitle2;
			font-family: BitterBold;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
			float: left;
		}
	}
	.dvBody2 {
		display: grid;
		grid-area: dvBody2;
		background-color: #f1f1f1;
		height: 200px;
		grid-auto-columns: auto auto;
		grid-template-areas:
			"dvPriceText   dvPrice"
			"dvDeliveryText dvFree"
			"dvTotalPayable dvTotalPrice";
		.dvPriceText {
			grid-area: dvPriceText;
			display: grid;
			// padding: 20px;
			margin-left: 15px;
			margin-top: 15px;
			font-family: "BitterBold";
		}
		.dvPrice {
			grid-area: dvPrice;
			display: grid;
			// padding: 20px;
			font-family: Bitter;
			float: right;
			margin-left: 90px;
			margin-top: 15px;
		}
		.dvDeliveryText {
			grid-area: dvDeliveryText;
			display: grid;
			// padding: 20px;
			font-family: "BitterBold";
			margin-left: -40px;
			margin-top: -20px;
		}
		.dvFree {
			grid-area: dvFree;
			display: grid;
			// padding: 20px;
			font-family: Bitter;
			float: right;
			margin-left: 90px;
			margin-top: -20px;
		}
		.dvTotalPayable {
			grid-area: dvTotalPayable;
			display: grid;
			// padding: 20px;
			font-family: "BitterBold";
			margin-left: 15px;
			margin-top: -24px;
		}
		.dvTotalPrice {
			grid-area: dvTotalPrice;
			display: grid;
			// padding: 20px;
			font-family: "BitterBold";
			float: right;
			margin-left: 90px;
			margin-top: -20px;
		}
	}
	.dvFoot2 {
		display: grid;
		grid-area: dvFoot2;
		background-color: #dbdbdb;
		color: #009145;
		height: 10px;
		padding: 20px;
		padding-bottom: 50px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

// CHECKOUT POPUP (BUY NOW)

.dvMain-Container-Grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(15, auto);
	grid-template-areas:
		"grid-ProductName"
		"grid-ProdVariInfo"
		"grid-CustNameQty"
		"grid-MainAddress"
		"grid-SavedAddress"
		"grid-AddNewDeliveryAddr"
		"grid-FormGroupAddr"
		"grid-DeliveryOption"
		"grid-ProdDeliveredDate"
		"grid-GiftOption"
		"grid-GiftOptionNote"
		"grid-MessageTitle"
		"grid-ProductImages"
		"grid-PriceListing"
		"grid-BtnCheckout-Rfq";
}

.btn {
	font-family: "BitterBold";
	color: white;
}

.modal-header {
	background: #efbe24;
	color: white;
	font-family: "BitterBold";
	display: table-cell;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.modal-content {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: #f1f1f1;
}

// PRODUCT
.dvProductName {
	grid-area: grid-ProductName;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
	font-family: "BitterBold";
	@include sm-lesser {
		text-align: center;
		margin-bottom: 10px;
		margin-top: 30px;
		font-family: "BitterBold";
	}
}

// MATERIAL SIZE VARIANT INFO
.dvProdVariInfo {
	grid-area: grid-ProdVariInfo;
	.SpecProduct {
		border: 2px solid#efbe24;
		width: 448px;
		border-radius: 5px;
		padding: 15px;
		margin-left: -52px;
		text-align: center;
		@include sm-lesser {
			border: 2px solid#efbe24;
			width: 310px;
			border-radius: 5px;
			padding: 15px;
			margin-left: -52px;
			text-align: center;
		}
	}
}

// NAME & QTY
.dvCustNameQty {
	grid-area: grid-CustNameQty;
}
.grid-CustomerNameQty {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-template-areas: "custName Qty qtyLabel";
	@include sm-lesser{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
		grid-template-areas: "custName Qty qtyLabel";
	}
	.custName {
		grid-area: custName;
		.dvCustomerName {
			margin-left: 76px;
			@include sm-lesser {
				margin-left: 38px;
			}
		}
	}
	.Qty {
		grid-area: Qty;
	}
	.qtyLabel {
		grid-area: qtyLabel;
		.btnQtyCount {
			font-family: BitterBold;
			display: grid;
			border: none;
			margin-left: -70px;
			background-color: #efbe24;
			color: white;
			border-radius: 5px;
			height: 28px;
			width: 28px;
			text-align: center;
			@include sm-lesser {
				margin-left: -36px;
			}
		}
	}
}

// ADDRESS
.dvAddressText {
	text-align: center;
	font-family: "BitterBold";
	margin-top: 34px;
	margin-bottom: 20px;
}
.dvMainAddress {
	grid-area: grid-MainAddress;
}
.grid-MainAddress1 {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"Addr"
		"btnAddr";
		@include sm-lesser {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			grid-template-areas:
				"Addr"
				"btnAddr";
		}
	.Address {
		grid-area: Addr;
		background: #dbdbdb;
		text-align: center;
		width: 400px;
		border-radius: 5px;
		margin-left: 48px;
		height: 150px;
		padding: 18px;
		@include sm-lesser {
			width: 298px;
			margin-left: 30px;
		}
	}
	.btnAddr {
		grid-area: btnAddr;
		.btnChange {
			margin-top: 18px;
			border-radius: 5px;
			color: white;
			border: none;
		}
	}
}

// SAVED ADDRESS
.dvSavedAddress {
	grid-area: grid-SavedAddress;
	text-align: center;
	font-family: "BitterBold";
	margin-top: 16px;
}
.grid-SavedAddress1 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"labelAddr1 labelAddr2"
		"btnAddr1 btnAddr2";
		@include sm-lesser {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			grid-template-areas:
				"labelAddr1 labelAddr2"
				"btnAddr1 btnAddr2";
		}
	.labelAddress1 {
		grid-area: labelAddr1;
		background: white;
		font-family: "Bitter";
		border-radius: 5px;
		margin-left: 15px;
		width: 220px;
		height: 58px;
		@include sm-lesser {
			margin-left: 30px;
			width: 150px;
			height: 120px;
		}
	}
	.labelAddress2 {
		grid-area: labelAddr2;
		background: white;
		font-family: "Bitter";
		border-radius: 5px;
		margin-left: 15px;
		width: 220px;
		height: 58px;
		@include sm-lesser {
			margin-left: -20px;
			width: 140px;
			height: 120px;
		}
	}
	.btnAddress1 {
		grid-area: btnAddr1;
		.btnDeliverLeft {
			margin-top: 10px;
			color: white;
			border-radius: 5px;
			font-family: "Bitter";
			width: 232px;
			padding: 5px;
			border: none;
			@include sm-lesser {
				width: 146px;
				padding: 5px;
				margin-left: 1px;
			}
		}
	}
	.btnAddress2 {
		grid-area: btnAddr2;
		.btnDeliverRight {
			margin-top: 10px;
			color: white;
			border-radius: 5px;
			font-family: "Bitter";
			width: 232px;
			padding: 5px;
			border: none;
			@include sm-lesser {
				margin-left: -47px;
				width: 143px;
			}
		}
	}
}

// ADD NEW ADDR BTN
.dvAddNewAddrBtn {
	grid-area: grid-AddNewDeliveryAddr;
	.btnNewAddr {
		margin-left: 10px;
		border-radius: 5px;
		margin-top: 20px;
		width: 480px;
		margin-bottom: 15px;
		border: none;
		@include sm-lesser {
			margin-left: 32px;
			width: 300px;
		}
	}
}
// FORM GROUP ADDR


.dvFormGroup {
	grid-area: grid-FormGroupAddr;
	background: #dbdbdb;
	margin-left: 10px;
	width: 480px;
	border-radius: 5px;
	@include sm-lesser {
		width: 338px;
	}
}
.grid-Addr-Form {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"left-Addr-Form Right-Addr-Form"
		"btnSave btnSave";
		@include sm-lesser {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			grid-template-areas:
				"left-Addr-Form Right-Addr-Form"
				"btnSave btnSave";
		}
	.grid-left-Form {
		grid-area: left-Addr-Form;
		.dvContactName {
			padding: 10px;
		}
		.name-style {
			color: #e75c4a;
		}
		.card-input-style-address {
			border-radius: 5px;
			border: none;
			margin-left: 2px;
			width: 215px;
			@include sm-lesser {
				width: 150px;
			}
		}
		.dvAddr2 {
			padding: 10px;
		}
		.addr2-style {
			color: #e75c4a;
		}
		.dvCountry {
			padding: 10px;
		}
		.country-style {
			color: #e75c4a;
		}
		.dvCity {
			padding: 10px;
		}
		.city-style {
			color: #e75c4a;
		}
		.dvEmail {
			padding: 10px;
		}
		.email-style {
			color: #e75c4a;
		}
		.email-vaild-style {
			color: #e75c4a;
		}
	}
	.grid-Right-Form {
		grid-area: Right-Addr-Form;
		.dvAddr1 {
			padding: 10px;
		}
		.addr1-style {
			color: #e75c4a;
		}
		.card-input-style-address {
			border-radius: 5px;
			border: none;
			margin-left: 2px;
			width: 215px;
			@include sm-lesser {
				width: 140px;
			}
		}
		.dvState {
			padding: 10px;
		}
		.state-style{
			color: #e75c4a;
		}
		.dvPincode {
			padding: 10px;
		}
		.pin-style {
			color: #e75c4a;
		}
		.pin-valid-style {
			color: #e75c4a;
		}
		.pin-valid-style {
			color: #e75c4a;
		}
		.pin-digit-style {
			color: #e75c4a;
		}
		.dvDistrict {
			padding: 10px;
		}
		.district-style {
			color: #e75c4a;
		}
		.dvPhone {
			padding: 10px;
		}
		.phoneno-style {
			color: #e75c4a;
		}
		.phoneno-Valid-style {
			color: #e75c4a;
		}
		.phoneno-valid-style {
			color: #e75c4a;
		}
		.phone-digit-style {
			color: #e75c4a;
		}
	}
	.btnSaveForm {
		grid-area: btnSave;
		.btnSave1 {
			margin-left: 200px;
			border-radius: 5px;
			margin-top: 15px;
			margin-bottom: 15px;
			width: 80px;
			color: white;
			border: none;
			@include sm-lesser {
				margin-left: 136px;
			}
		}
	}
}

// DELIVER OPTION
.dvDeliveryText {
	text-align: center;
	font-family: "BitterBold";
	margin-top: 16px;
}
.dvDeliveryOption {
	grid-area: grid-DeliveryOption;
}
.grid-Deli-Option {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-template-areas: "left-DeliOption Med-DeliOption Right-DeliOption";
	.grid-left-DeliOption {
		grid-area: left-DeliOption;
		margin-left: 52px;
		@include sm-lesser {
			margin-left: 20px;
		}
	}
	.grid-Med-DeliOption {
		grid-area: Med-DeliOption;
	}
	.grid-Right-DeliOption {
		grid-area: Right-DeliOption;
	}
}

//PRODUCT DELIVERED DATE
.dvProdDeliveredDate {
	grid-area: grid-ProdDeliveredDate;
	text-align: center;
	font-family: "BitterBold";
	margin-top: 16px;
}
.grid-Prod-Deli-Date {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: "dvDeliveryDate dvPrice"
						"dvDeliveryDate1 dvApplyBtn"
						"ApplyTextMsg ApplyTextMsg";
						@include sm-lesser {
							display: grid;
							grid-template-columns: auto auto;
							grid-template-rows: auto auto auto;
							grid-template-areas: "dvDeliveryDate dvPrice"
												"dvDeliveryDate1 dvApplyBtn"
												"ApplyTextMsg ApplyTextMsg";
						}
						.grid-Deli-Date {
							grid-area: dvDeliveryDate;
							color: #009145;
							margin-left: -34px;
							.deliveryText {
								margin-left: 40px;
							}
						}
						.grid-Price {
							grid-area: dvPrice;
							color: #009145;
							margin-left: 6px;
							.priceText {
								margin-left: -148px;
							}
						}
						.grid-Deli-Date1 {
							grid-area: dvDeliveryDate1;
							margin-left: -35px;
							.dateText {
								border-color: #EFBE24;
							}
						}
						.grid-ApplyBtn {
							grid-area: dvApplyBtn;
							.btnApply {
								border-radius: 5px;
								color:white;
								font-family: "Bitter";
								margin-left: -198px;
								border: none;
							}
						}
						.grid-ApplyTextMsg {
							grid-area: ApplyTextMsg;
							.applyTextMsg1 {
								font-family: "Bitter";
								margin-top: 40px;
								width: 400px;
								margin-left: 46px;
								color:#e75c4a;
								@include sm-lesser {
									width: 350px;
									margin-left: 2px;
								}
							}
						}

}

// GIFT OPTION
.dvGiftOption {
	grid-area: grid-GiftOption;
}
.grid-GiftOption1 {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-template-areas: "dvGiftOptionText dvGiftOptionToggle";
	@include sm-lesser {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
		grid-template-areas: "dvGiftOptionText dvGiftOptionToggle";
	}
	.grid-Text-GiftOption {
		grid-area: dvGiftOptionText;
		margin-top: 60px;
		margin-left: 44px;
		@include sm-lesser {

		}
	}
	.grid-GiftOptionToggle {
		grid-area: dvGiftOptionToggle;
	}
			.btnGiftOption {
				margin-left: -144px;
				margin-top: 54px;
				@include sm-lesser {
					margin-left: -96px;
				}
			}
				.switchActive {
					position: relative;
					display: inline-block;
					width: 68px;
					height: 38px;
					margin-left: -6%;
					margin-bottom: -2px;
					margin-top: -8px;
				}
		
				.switch input {
					opacity: 0;
					width: 0;
					height: 0;
				}
		
				.slider {
					position: absolute;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: #f1f1f1;
					-webkit-transition: 0.4s;
					transition: 0.4s;
					background:white;
				}
		
				.slider:before {
					position: absolute;
					content: "";
					height: 30px;
					width: 30px;
					left: 4px;
					bottom: 4px;
					background-color: #efbe24;
					-webkit-transition: 0.4s;
					transition: 0.4s;
				}
		
				input:checked + .slider {
					background-color: #dbdbdb;
				}
		
				input:focus + .slider {
					box-shadow: 0 0 1px #2196f3;
				}
		
				input:checked + .slider:before {
					-webkit-transform: translateX(26px);
					-ms-transform: translateX(26px);
					transform: translateX(26px);
				}
		
				/* Rounded sliders */
				.slider.round {
					border-radius: 34px;
				}
		
				.slider.round:before {
					border-radius: 50%;
				}
	}

// GIFT NOTE
.dvGiftNote {
	grid-area: grid-GiftOptionNote;
}
.grid-GiftOptionNote1 {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"dvGiftNoteText"
		"dvGiftNoteCard";
	.grid-dvGiftNoteText {
		grid-area: dvGiftNoteText;
	}
	.grid-dvGiftNoteCard {
		grid-area: dvGiftNoteCard;
		.Gift-Note-Style-1 {
			background:#dbdbdb; 
			height: 350px;
			border-radius: 5px; 
			padding: 25px; 
			width: 463px; 
			margin-left: 20px;
			@include sm-lesser {
				background:#dbdbdb; 
				width: 315px;
			}
		}
	}
}

// MESSAGE TITLE
.dvMessageTitle {
	grid-area: grid-MessageTitle;
	.MsgTitleText {
		text-align: center;
		margin-top: 40px;
		border: 2px solid#efbe24;
		width: 330px;
		border-radius: 5px;
		padding: 15px;
		margin-left: 80px;
		@include sm-lesser {
			width: 294px;
			margin-left: 30px;
		}
	}
}

// PRODUCT IMAGES
.dvproductImages {
	grid-area: grid-ProductImages;
}
	.prodTextImg {
		text-align: center;
		font-family: "BitterBold";
		margin-top: 16px;
	}
	.dvprodImages{
		display: flex;
		margin-left: 8px;
		.imgItem2 {
			width: 100px;
			margin-left: 194px;
			@include sm-lesser {
				width: 100px;
				margin-left: 124px;
			}
		}
	}
	.dvprodImages1 {
		width: 60px;
		margin-left: 5px;
		@include sm-lesser {
			width: 36px;
			margin-left: 4px;
		}
	}


// PRICELISTING
.dvPriceListing {
	grid-area: grid-PriceListing;
	text-align: center;
	font-family: "BitterBold";
	margin-top: 16px;
}
.dvPriceDetails {
	display: grid;
	grid-template-columns: auto 20% auto;
	grid-template-rows: repeat(7, auto);
	grid-template-areas:
		"Left-BasePrice	grid-Med	Right-BasePrice"
		"Left-ShipppingPrice	grid-Med1	Right-ShippingPrice"
		"Left-DiscPrice	grid-Med2	Right-DiscPrice"
		"Left-VariancePrice	grid-Med3	Right-VariancePrice"
		"Left-Qty	grid-Med4	Right-Qty"
		"Left-Tax	grid-Med5	Right-Tax"
		"Left-Total	grid-Med6	Right-Total";
		@include sm-lesser {
			display: grid;
			grid-template-columns: auto 20% auto;
			grid-template-rows: repeat(7, auto);
			grid-template-areas:
				"Left-BasePrice	grid-Med	Right-BasePrice"
				"Left-ShipppingPrice	grid-Med1	Right-ShippingPrice"
				"Left-DiscPrice	grid-Med2	Right-DiscPrice"
				"Left-VariancePrice	grid-Med3	Right-VariancePrice"
				"Left-Qty	grid-Med4	Right-Qty"
				"Left-Tax	grid-Med5	Right-Tax"
				"Left-Total	grid-Med6	Right-Total";
		}
	.dvBasePrice {
		grid-area: Left-BasePrice;
		.BasePriceText {
			color: #807b7b;
			margin-left: 52px;
			font-family: "Bitter";
			@include sm-lesser {
				margin-left: -12px;
			}
		}
	}
	.dvShippingPrice {
		grid-area: Left-ShipppingPrice;
		.ShippingText {
			color: #807b7b;
			margin-left: 86px;
			font-family: "Bitter";
			margin-top: -10px;
			@include sm-lesser {
				margin-left: 22px;
			}
		}
	}
	.dvDiscPrice {
		grid-area: Left-DiscPrice;
		.DiscText {
			color: #807b7b;
			margin-left: 40px;
			font-family: "Bitter";
			margin-top: -10px;
			@include sm-lesser {
				margin-left: -22px;
			}
		}
	}
	.dvVariancePrice {
		grid-area: Left-VariancePrice;
		.VarianceText {
			color: #807b7b;
			margin-left: 87px;
			font-family: "Bitter";
			margin-top: -10px;
			@include sm-lesser{
				margin-left: 22px;
			}
		}
	}
	.dvQty {
		grid-area: Left-Qty;
		.QtyText {
			color: #807b7b;
			margin-left: 1px;
			font-family: "Bitter";
			margin-top: -10px;
			@include sm-lesser {
				margin-left: -64px;
			}
		}
	}
	.dvTax {
		grid-area: Left-Tax;
		.TaxText {
			color: #807b7b;
			margin-left: 2px;
			font-family: "Bitter";
			margin-top: -10px;
			@include sm-lesser {
				margin-left: -62px;
			}
		}
	}
	.dvTotal {
		grid-area: Left-Total;
		.TotalText {
			margin-left: 16px;
			@include sm-lesser {
				margin-left: -50px;
			}
		}
	}

	.dvMed {
		grid-area: grid-Med;
		.dot {
			color: #807b7b;
			margin-left: -172px;
			@include sm-lesser {
				margin-left: -122px;
			}
		}
	}
	.dvMed1 {
		grid-area: grid-Med1;
		.dot1 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
			@include sm-lesser {
				margin-left: -122px;
			}
		}
	}
	.dvMed2 {
		grid-area: grid-Med2;
		.dot2 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
			@include sm-lesser {
				margin-left: -122px;
			}
		}
	}
	.dvMed3 {
		grid-area: grid-Med3;
		.dot3 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
			@include sm-lesser {
				margin-left: -122px;
			}
		}
	}
	.dvMed4 {
		grid-area: grid-Med4;
		.dot4 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
			@include sm-lesser {
				margin-left: -122px;
			}
		}
	}
	.dvMed5 {
		grid-area: grid-Med5;
		.dot5 {
			color: #807b7b;
			margin-left: -172px;
			margin-top: -10px;
			@include sm-lesser {
				margin-left: -122px;
			}
		}
	}
	.dvMed6 {
		grid-area: grid-Med6;
		.dot6 {
			margin-left: -172px;
			@include sm-lesser {
				margin-left: -122px;
			}
		}
	}
	.dvRight-BasePrice {
		grid-area: Right-BasePrice;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		@include sm-lesser {
			margin-left: -60px;
		}
	}
	.dvRight-ShippingPrice {
		grid-area: Right-ShippingPrice;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
		@include sm-lesser {
			margin-left: -60px;
		}
	}
	.dvRight-DiscPrice {
		grid-area: Right-DiscPrice;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
		@include sm-lesser {
			margin-left: -60px;
		}
	}
	.dvRight-VariancePrice {
		grid-area: Right-VariancePrice;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
		@include sm-lesser {
			margin-left: -60px;
		}
	}
	.dvRight-Qty {
		grid-area: Right-Qty;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
		@include sm-lesser {
			margin-left: -60px;
		}
	}
	.dvRight-Tax {
		grid-area: Right-Tax;
		color: #807b7b;
		margin-left: -150px;
		font-family: "Bitter";
		margin-top: -10px;
		@include sm-lesser {
			margin-left: -60px;
		}
	}
	.dvRight-Total {
		grid-area: Right-Total;
		margin-left: -150px;
		@include sm-lesser {
			margin-left: -60px;
		}
	}
}

// BTN CHECKOUT / RFQ
.dvBtnCheckout-Rfq {
	grid-area: grid-BtnCheckout-Rfq;
	.btnPayment {
		margin-left: 210px;
		border-radius: 5px;
		color: white;
		font-family: "Bitter";
		padding: 5px;
		border: none;
		margin-bottom: 100px;
		width: 120px;
		@include sm-lesser {
			margin-left: 124px;
		}
	}
	.btnRfq {
		margin-left: 188px;
		border-radius: 5px;
		color: white;
		font-family: "Bitter";
		padding: 5px;
		border: none;
		margin-bottom: 100px;
		width: 156px;
		@include sm-lesser {
			margin-left: 110px;
			margin-top: -5px;
		}
	}
}


