/* MAIN*/
.dvMain {
	// margin-left: 20%;
	// margin-right: 20%;
	// margin-bottom: 20px;
	// width: auto;
	// display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, auto);
	// grid-template-areas:
	// 	"dvHead"
	// 	"dvBody"
	// 	"dvFoot";
	.dvHead {
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 20px;
		width: auto;
		display: grid;
		grid-area: dvHead;
		background-color: #dbdbdb;
		height: 80px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		grid-auto-columns: auto auto auto;
		grid-template-areas: "dvTitle	dvDeliverTitle	dvDropdown";
		.dvTitle {
			grid-area: dvTitle;
			font-family: BitterBold;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
			float: left;
			grid-template-areas: auto;
			grid-template-areas: btnCartCount;
			.btnCartCount {
				grid-area: btnCartCount;
				font-family: BitterBold;
				display: grid;
				border: none;
				background-color: #efbe24;
				color: white;
				margin-top: -40px;
				padding: 10px;
				border-radius: 5px;
				// padding-inline: 10px;
				height: 30px;
				width: 30px;
				margin-left: 80px;
			}
		}

		.dvDeliverTitle {
			grid-area: dvDeliverTitle;
			font-family: BitterBold;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
			margin-left: 70%;
		}
		.dvDropdown {
			grid-area: dvDropdown;
			display: grid;
			padding: 20px;
			width: 30px;
			margin-top: -10px;
			margin-right: 40px;
			border: none;
		}
	}
	.dvBody {
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 20px;
		width: auto;
		display: grid;
		grid-area: dvBody;
		background-color: #f1f1f1;
		height: 300px;
		grid-auto-columns: 20% auto 20%;
		grid-template-areas: "gridLeft  gridMid gridRight";
		.gridLeft {
			grid-area: gridLeft;
			display: grid;
			grid-auto-columns: 20%;
			grid-template-areas:
				"gridImg"
				"gridCounter";

			.gridImg {
				grid-area: gridImg;
				width: fit-content;
				border-radius: 5px;
				display: grid;
				padding-inline: 20px;
				padding: 20px;

				.imgItem1 {
					border-radius: 5px;
					object-fit: cover;
					cursor: pointer;
				}
			}
			.gridCounter {
				grid-area: gridCounter;
				display: grid;
				width: fit-content;
				padding-inline: 10px;
				padding: 10px;
				grid-template-columns: auto;
				grid-template-areas: "qtyCounter";
				.qtyCounter {
					grid-area: qtyCounter;
					display: grid;
					align-items: center;
					margin-top: -80px;
					margin-left: 30%;
					grid-template-columns: auto;
					grid-template-areas: "minus counter plus";

					.minus {
						grid-area: minus;
						cursor: pointer;
						display: inline-block;
						background-color: #333333;
						color: white;
						border-radius: 5px;
						width: 30px;
						height: 30px;
					}
					.counter {
						grid-area: counter;
						cursor: pointer;
						display: inline-block;
						background-color: #333333;
						color: white;
						border-radius: 5px;
						width: 50px;
						height: 30px;
						text-align: center;
					}
					.plus {
						grid-area: plus;
						cursor: pointer;
						display: inline-block;
						background-color: #333333;
						color: white;
						border-radius: 5px;
						margin-right: -40px;
						width: 30px;
						height: 30px;
					}
				}
			}
		}
		.gridMid {
			grid-area: gridMid;
			display: grid;
			grid-auto-columns: auto;
			grid-template-areas:
				"gridDetails"
				"gridBodyButton";
			.gridDetails {
				grid-area: gridDetails;
				display: grid;
				margin-top: 30px;
				grid-auto-columns: auto;
				grid-template-areas:
					"detailItemName"
					"detailItemSeller"
					"detailItemPrice"
					"detalItemPriceDel";

				.detailItemName {
					grid-area: detailItemName;
					display: grid;
					font-family: BitterBold;
					padding-inline: 20px;
					float: left;
				}
				.detailItemSeller {
					grid-area: detailItemSeller;
					display: grid;
					font-family: Bitter;
					padding-inline: 20px;
					float: left;
				}
				.detailItemPrice {
					grid-area: detailItemPrice;
					display: grid;
					font-family: BitterBold;
					padding-inline: 20px;
					float: left;
				}
				// .detailItemPriceDel{
				// 	grid-area: detailItemPriceDel;
				// 	display: grid;

				// }
			}
			.gridBodyButton {
				grid-area: gridBodyButton;
				display: grid;
				grid-template-columns: auto;
				grid-template-areas: "btnBodyRemove";
				.btnBodyRemove {
					grid-area: btnBodyRemove;
					cursor: pointer;
					background-color: #efbe24;
					color: white;
					font-family: BitterBold;
					border: none;
					width: 80px;
					margin-left: 20px;
					height: 30px;
					margin-top: 0px;
					margin-right: 200px;
					display: grid;
					padding: 1px;
					float: right;
					border-radius: 5px;
				}
			}
		}
		.gridRight {
			grid-area: gridRight;
			display: grid;
			grid-auto-columns: 20%;
			grid-template-areas:
				"gridDeliveryDate"
				"gridRightButton";
			.gridDeliveryDate {
				grid-area: gridDeliveryDate;
				display: grid;
				font-family: BitterBold;
				margin-top: 30px;
			}
			.gridRightButton {
				grid-area: gridRightButton;
				display: grid;
				grid-template-columns: 20%;
				grid-template-areas: "btnRightDelivery";
				.btnRightDelivery {
					grid-area: btnRightDelivery;
					background-color: #009145;
					color: white;
					font-family: BitterBold;
					border: none;
					height: 30px;
					width: 80px;
					margin-left: 60px;
					margin-top: 20px;
					margin-right: 200px;
					display: grid;
					padding: 1px;
					float: left;
					border-radius: 5px;
				}
				.btnPlaceOrder {
					grid-area: btnFoot;
					background-color: #009145;
					color: white;
					font-family: BitterBold;
					width: 150px;
					border: none;
					margin-top: 20px;
					margin-bottom: 20px;
					margin-left: -10%;
					display: grid;
					padding-inline: 20px;
					padding: 10px;
					float: right;
					border-radius: 5px;
					cursor: pointer;
				}
			}
		}
	}
	.dvFoot {
		margin-left: 20%;
		margin-right: 20%;
		margin-bottom: 30px;
		width: auto;
		display: grid;
		grid-area: dvFoot;
		background-color: #dbdbdb;
		height: 80px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		// .btnFoot {
		// 	grid-area: btnFoot;
		// 	background-color: #009145;
		// 	color: white;
		// 	font-family: BitterBold;
		// 	width: 150px;
		// 	border: none;
		// 	margin-top: 20px;
		// 	margin-bottom: 20px;
		// 	margin-left: 60%;
		// 	display: grid;
		// 	padding-inline: 20px;
		// 	padding: 5px;
		// 	float: right;
		// 	border-radius: 5px;
		// }
	}

	/*CHECKOUT POPUP*/
	.dvFoot {
		.btn {
			font-family: "BitterBold";
			color: white;
		}
	}
	.modal-header {
		background: #efbe24;
		color: white;
		font-family: "BitterBold";
		display: table-cell;

		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}

	.modal-content {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background: #f1f1f1;
	}
	// .modal-title
	// {
	//     text-align: "center"
	// }

	.modal-body {
		h5 {
			text-align: center;
			font-family: "BitterBold";
		}
	}

	.dvModelSpec {
		input {
			width: 50px;
			margin-left: 10px;
			border: none;
		}
		p {
			border: 2px solid #efbe24;
			font-family: "Bitter";
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			padding: 10px;
		}
	}

	.dvDeliveryText {
		text-align: center;
		font-family: "BitterBold";
		margin-top: 0px;
		padding: 12px;
	}

	.dvProductDate {
		text-align: center;
		font-family: "BitterBold";
		margin-top: 10px;
		padding: 10px;
	}

	.dvDate {
		padding: 15px;
		display: inline;
		// border: 2px solid #EFBE24;
		padding-top: 10px;
		margin-right: 10px;
	}

	.dvDate {
		.inpText {
			border: 2px solid #efbe24;
		}
	}
	.btn btn-warning {
		font-family: "BitterBold";
	}

	.dvGiftNote {
		background-color: #dbdbdb;
		font-family: "BitterBold";
		border-radius: 5px;
		margin-top: 10px;
	}

	.dvPriceInfo {
		text-align: center;
		margin-top: 10px;
		font-family: "BitterBold";
		justify-content: center;
	}

	.dvPriceInfo {
		p {
			color: #333333;
		}
	}

	.btnRadio {
		font-family: "BitterBold";
		text-align: center;
	}

	input[type="text"],
	select,
	textarea {
		width: 100%;
		padding: 5px;
		border: 25px;
		margin-left: 2px;
		border-radius: 2px;
		resize: vertical;
		background: #dbdbdb;
		border-bottom: 1px solid #333333;
	}

	label {
		padding: 12px 12px 12px 0;
		display: inline-block;
	}

	input[type="submit"] {
		background-color: #009145;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		float: right;
	}

	input[type="submit"]:hover {
		background-color: #009145;
	}

	.row {
		border-radius: 2px;
		background-color: #dbdbdb;
		padding: 1px;
		margin: 0px;
	}

	.col-25 {
		float: left;
		width: 40%;
		margin-top: 6px;
		padding: 0 0 0 10px;
	}

	.col-75 {
		float: left;
		width: 50%;
		margin-top: 6px;
	}

	/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: length($list: 10);
	}

	/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

	@media screen and (max-width: 600px) {
		.col-25,
		.col-75,
		input[type="submit"] {
			width: 100%;
			margin-top: 0;
		}
	}

	.modal-footer {
		font-family: "BitterBold";
	}
}

/* MAIN 2*/
.dvMain2 {
	margin-left: 20%;
	margin-right: 80%;
	margin-bottom: 20px;
	width: 25%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"dvHead2"
		"dvBody2"
		"dvFoot2";
	.dvHead2 {
		display: grid;
		grid-area: dvHead2;
		background-color: #dbdbdb;
		height: 80px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		grid-auto-columns: auto;
		grid-template-areas: "dvHeadTitle2";
		.dvHeadTitle2 {
			grid-area: dvHeadTitle2;
			font-family: BitterBold;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
			float: left;
		}
	}
	.dvBody2 {
		display: grid;
		grid-area: dvBody2;
		background-color: #f1f1f1;
		height: 200px;
		grid-auto-columns: auto auto;
		grid-template-areas:
			"dvPriceText   dvPrice"
			"dvDeliveryText dvFree"
			"dvTotalPayable dvTotalPrice";
		.dvPriceText {
			grid-area: dvPriceText;
			display: grid;
			padding: 20px;
			font-family: BitterBold;
		}
		.dvPrice {
			grid-area: dvPrice;
			display: grid;
			padding: 20px;
			font-family: Bitter;
			float: right;
			margin-left: 90px;
		}
		.dvDeliveryText {
			grid-area: dvDeliveryText;
			display: grid;
			padding: 20px;
			font-family: BitterBold;
		}
		.dvFree {
			grid-area: dvFree;
			display: grid;
			padding: 20px;
			font-family: Bitter;
			float: right;
			margin-left: 90px;
		}
		.dvTotalPayable {
			grid-area: dvTotalPayable;
			display: grid;
			padding: 20px;
			font-family: BitterBold;
		}
		.dvTotalPrice {
			grid-area: dvTotalPrice;
			display: grid;
			padding: 20px;
			font-family: BitterBold;
			float: right;
			margin-left: 90px;
		}
	}
	.dvFoot2 {
		display: grid;
		grid-area: dvFoot2;
		background-color: #dbdbdb;
		color: #009145;
		height: 10px;
		padding: 20px;
		padding-bottom: 50px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

// CHECKOUT POPUP (BUY NOW)
.container {
	margin: 20px;
	grid-template-columns: auto;
	grid-template-rows: repeat(9, auto);
	grid-template-areas:
		"dvSub1"
		"dvSub2"
		"dvSub3"
		"dvSub4"
		"dvSub5"
		"dvSub6"
		"dvSub7"
		"dvSub8"
		"dvSub9";

	.btn {
		font-family: "BitterBold";
		color: white;
	}

	.modal-header {
		background: #efbe24;
		color: white;
		font-family: "BitterBold";
		display: table-cell;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}

	.modal-content {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		background: #f1f1f1;
	}
	.dvProductName {
		display: grid;
		grid-area: dvProductName;
		text-align: center;
		font-family: "BitterBold";
		padding: 20px;
	}
	.dvSub1 {
		display: grid;
		grid-area: dvSub1;
		align-items: center;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas:
			"dvProductSpec"
			"dvCustomerName"
			"dvQty";
		.dvProductSpec {
			display: grid;
			grid-area: dvProductSpec;
			border: 2px solid #efbe24;
			font-family: "Bitter";
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			grid-template-columns: 50% 50%;
			grid-template-rows: auto;
			grid-template-areas: "dvProdSpec1   dvProdSpec2";
			.dvProdSpec1 {
				display: grid;
				grid-area: dvProdSpec1;
				margin: 20px;
			}
			.dvProdSpec2 {
				display: grid;
				grid-area: dvProdSpec2;
				margin-left: 10px;
				margin-top: 20px;
			}
		}
		.dvCustomerName {
			display: grid;
			grid-area: dvCustomerName;
			font-family: "Bitter";
			margin-left: 20px;
			margin-top: 20px;
		}
		.dvQty {
			display: grid;
			grid-area: dvQty;
			margin-left: 250px;
			font-family: "Bitter";
			grid-auto-columns: auto;
			grid-template-areas: "btnQtyCount";
			.btnQtyCount {
				grid-area: btnQtyCount;
				font-family: BitterBold;
				display: grid;
				border: none;
				margin-left: 50px;
				background-color: #efbe24;
				color: white;
				border-radius: 5px;
				height: 30px;
				width: 30px;
			}
		}
	}
	.dvAddress {
		text-align: center;
		font-family: "BitterBold";
	}
	.dvSub2 {
		display: grid;
		grid-area: dvSub2;
		background-color: #dbdbdb;
		grid-template-rows: auto;
		grid-template-columns: auto;
		grid-template-areas:
			"dvAddrText"
			"btnAddrChange";
		.dvAddrText {
			display: grid;
			grid-area: dvAddrText;
			margin-top: 10px;
			font-family: "Bitter";
			text-align: center;
		}
		.btnAddrChange {
			display: grid;
			grid-area: btnAddrChange;
			margin-left: 43%;
			margin-bottom: 10px;
			width: 20px;
			.btnChange {
				color: white;
				font-family: "BitterBold";
			}
		}
	}
	.dvSavedAddr {
		text-align: center;
		margin-top: 10px;
		font-family: "BitterBold";
	}
	.dvSub3 {
		display: grid;
		grid-area: dvSub3;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: 50% 50%;
		grid-template-areas:
			"dvCardAddrLeft dvCardAddrRight"
			"btnCardAddrLeft btnCardAddrRight";
		.dvCardAddrLeft {
			display: grid;
			grid-area: dvCardAddrLeft;
			background-color: white;
			text-align: center;
			padding: 10px;
		}
		.btnCardAddrLeft {
			display: grid;
			grid-area: btnCardAddrLeft;
			.btnDeliverLeft {
				color: white;
				font-family: "BitterBold";
			}
		}
		.dvCardAddrRight {
			display: grid;
			grid-area: dvCardAddrRight;
			background-color: white;
			text-align: center;
			padding: 10px;
		}
		.btnCardAddrRight {
			.btnDeliverRight {
				color: white;
				font-family: "BitterBold";
			}
		}
	}
	.btnNewAddr {
		color: white;
		font-family: "BitterBold";
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 20px;
		width: 90%;
	}
	.dvSub4 {
		grid-area: dvSub4;
	}
	.grid-dvSub4 {
		display: grid;
		background-color: #dbdbdb;
		grid-template-columns: 50% 50%;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"grid-FormLeft grid-FormRight"
			"btnSaveForm"
			"..";
		.grid-FormLeft {
			// background: #4caf50;
		}
		.grid-FormRight {
			// background: #add633;
		}

		.btnSaveForm {
			display: grid;
			grid-area: btnSaveForm;
			width: 60px;
			margin-top: 10px;
			margin-left: -300px;

			.btnSave {
				color: white;
				font-family: "BitterBold";
			}
		}
	}
	.dvDeliveryText {
		text-align: center;
		margin-top: 10px;
		font-family: "BitterBold";
	}
	.dvSub5 {
		display: grid;
		grid-area: dvSub5;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		grid-template-areas: "btnRadio1 btnRadio2 btnRadio3";
		.btnRadio1 {
			display: grid;
			grid-area: btnRadio1;
		}
		.btnRadio2 {
			display: grid;
			grid-area: btnRadio2;
		}
		.btnRadio3 {
			display: grid;
			grid-area: btnRadio3;
			margin-left: 25px;
		}
	}
	.dvProdDeliText {
		text-align: center;
		margin-top: 10px;
		font-family: "BitterBold";
	}
	.dvSub6 {
		display: grid;
		grid-area: dvSub6;
		grid-template-rows: auto;
		grid-template-columns: auto;
		grid-template-areas:
			"dvDisplayDate dvDisplayPrice"
			"dvDate btnApply";
		.dvDisplayDate {
			display: grid;
			grid-area: dvDisplayDate;
		}
		.dvDisplayPrice {
			display: grid;
			grid-area: dvDisplayPrice;
		}
		.dvDate {
			display: grid;
			grid-area: dvDate;
			margin-left: 20px;
			.dateText {
				border: 2px solid #efbe24;
			}
		}
		.dvApply {
			display: grid;
			grid-area: dvApply;
			.btnApply {
				color: white;
				font-family: "BitterBold";
			}
		}
	}
	.dvSub7 {
		.dvGiftOptionText {
		}
		.btnGiftOption {
			.switch {
				position: relative;
				display: inline-block;
				width: 60px;
				height: 34px;
			}

			.switch input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: 0.4s;
				transition: 0.4s;
			}

			input:checked + .slider {
				background-color: #2196f3;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px #2196f3;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}

			/* Rounded sliders */
			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		}
		.dvNote {
			.Gift-Note-Style {
				border: none;
				background: #dbdbdb;
				width: 450px;
				margin-left: 20px;
				height: 80px;
			}
		}
		.dvNoteText {
		}
		.dvMessageTitle {
		}
	}
	.dvProdText {
		text-align: center;
		margin-top: 10px;
		font-family: "BitterBold";
	}
	.dvSub8 {
		.dvCheckImg1 {
			width: fit-content;
			border-radius: 5px;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
		}
		.dvCheckImg2 {
			width: fit-content;
			border-radius: 5px;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
		}
		.dvCheckImg3 {
			width: fit-content;
			border-radius: 5px;
			display: grid;
			padding-inline: 20px;
			padding: 20px;
		}
	}
	.dvPriceVariText {
		text-align: center;
		margin-top: 10px;
		font-family: "BitterBold";
	}
	.dvSub9 {
		.dvPriceList {
			text-align: center;
		}
		.btnCheckOut {
			margin-top: 10px;
			margin-left: 40%;
			.btnPayment {
				color: white;
				font-family: "BitterBold";
				border-radius: 5px;
			}
		}
	}
}
