<!-- MAIN 1 -->
<!-- HEAD -->
<div class="dvMain" *ngIf=flagLog>
    <div class="dvHead">
        <div class="dvTitle">
            <p>MY CART</p>
            <div class="dvCartCount">
                <button class="btnCartCount">{{dynamicData.length}}</button>
            </div>
        </div>
        <div class="dvDeliverTitle">
            <p>DELIVER TO</p>
        </div>
        <div class="dvDropdown">
            <select class="AddrDropdown" id="dropDownAddrId" (change)="addrUndeliverable()">
                <option *ngFor="let item of Objects.keys(dynamicDataDeliverAddr)">
                    {{ dynamicDataDeliverAddr[item] }} </option>
            </select>
        </div>
    </div>

    <!-- BODY	 -->
    <div class="dvBody" *ngFor="let item of Objects.keys(dynamicData)" id="product{{dynamicData[item].productId}}">
        <!-- GRID LEFT -->
        <div class="gridLeft">
            <div class="gridImg">
                <!-- <img src="assets/images/tshirt.png" width="140" height="140" class="imgItem1"> -->

                <!-- <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_0.jpg"> -->

                <img src="{{ cartImg }}" class="imgItem1" id="cartImgId"
                    onError="this.src = 'assets/images/defaultReview2.png'">
            </div>
            <div class="gridCounter">
                <div class="qtyCounter">
                    <button (click)="count_dec(dynamicData[item].productId)"
                        class="minus">-</button>
                    <input class="counter" id= "{{dynamicData[item].productId}}" >
                    <!-- <button (click)="count_dec(dynamicData[item].productId,dynamicData[item].minOrderQuant)"
                        class="minus">-</button>
                    <input class="counter" id={{dynamicData[item].productId}}
                        value="{{dynamicData[item].minOrderQuant}}"> -->

                    <!-- <input class="counter" id = "{{counter}}"> -->
                    <button (click)="count_inc(dynamicData[item].productId,dynamicData[item].maxOrderQuant)"
                        class="plus">+</button>
                </div>
            </div>
        </div>
        <!-- GRID MID -->
        <div class="gridMid">
            <div class="gridDetails">
                <div class="detailItemName">
                    <p>{{ dynamicData[item].name }}</p>
                </div>
                <div class="detailItemSeller">
                    <p>Seller:</p>
                </div>
                <div class="detailItemVariInfo">
                    <p>{{dynamicVariantInfo[item].name}} {{dynamicVariantInfo[item].value}}
                        {{dynamicVariantInfo[item].price}}</p>
                </div>
                <div class="detailItemPrice">
                    <div class="basePriceStyle">
                        <p><i class="fa fa-rupee" style="font-size:16px">{{dynamicData[item].basePrice}}</i>&nbsp;&nbsp;
                            <del><i class="fa fa-rupee"
                                    style="font-size:16px "></i>{{dynamicDataPrice[item].totalPrice}}</del>&nbsp;&nbsp;
                            <!-- <del><i class="offer"></i></del> -->
                            <i class="discountText" style="font-size:16px;">
                                (-{{dynamicOfferCart.percentage}} % off )</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="gridBodyButton">
                <button class="btnBodyRemove" (click)="remove(dynamicData[item].productId)">REMOVE</button>
            </div>
        </div>
        <!-- GRID RIGHT -->
        <div class="gridRight">
            <div class="gridDeliveryDate">
                <p>Delivery By,{{ dynamicDataDate[item].deliveryDate }}</p>
            </div>
            <div class="gridRightButton">
                <label class="btnRightDelivery">{{dynamicShippingPrice.price}}</label>
                <button type="button" class="btnPlaceOrder" data-toggle="modal" data-target="#buyNowPopup"
                    (click)="placeOrder(item)">PLACE
                    ORDER</button>
            </div>
        </div>
    </div>
    <!-- FOOT -->
    <div class="dvFoot">
    </div>
</div>

<!-- MAIN 2 -->
<div class="dvMain2" *ngIf=flagLog>
    <div class="dvHead2">
        <div class="dvHeadTitle2">
            <p>PRICE DETAILS</p>
        </div>
    </div>
    <!-- BODY 2 -->
    <div class="dvBody2">
        <div class="dvPriceText">
            <p>Price( {{dynamicData.length}} items )</p>
        </div>
        <div class="dvPrice">
            <p>₹ {{ dynamicData[0].basePrice }} </p>

        </div>
        <div class="dvDeliveryText">
            <p>Delivery</p>
        </div>
        <div class="dvFree">
            <p>₹ {{dynamicShippingPrice.price}}</p>
        </div>
        <div class="dvTotalPayable">
            <p>Total Payable</p>
        </div>
        <div class="dvTotalPrice">
            <p>₹ {{calculatedPrice}}</p>

        </div>
    </div>
    <!-- FOOT 2	 -->
    <div class="dvFoot2">
        <p>You will save ₹ {{dynamicOffPrice}} on this order</p>
    </div>
</div>

<!-- CHECKOUT POPUP (PLACE ORDER) -->
<div class="dvMain-Container-Grid">
    <!-- Trigger the modal with a button -->
    <!-- <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#buyNowPopup">BUY
            NOW</button> -->
    <!-- Modal -->
    <div class="modal fade" id="buyNowPopup" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div align="center" style="margin-left: 34px;">
                        <h5>ORDER SUMMARY:</h5>
                    </div>
                </div>
                <!-- PRODUCT NAME -->
                <div class="dvProductName">
                    {{dynamicDataProName.name}}
                </div>
                <!-- VARIANT INFO -->
                <div class="dvProdVariInfo">
                    <div class="dvProductSpec" style="margin-left: 76px;">
                        <p class="SpecProduct">{{ dynamicDataVariant.name }} {{ dynamicDataVariant.value }} </p>
                    </div>

                </div>
                <!-- NAME & QTY -->
                <div class="dvCustNameQty">
                    <div class="grid-CustomerNameQty">
                        <div class="custName">
                            <div class="dvCustomerName">
                                <p>Customer Name : {{dynamicDataUser.Name}}</p>
                            </div>
                        </div>
                        <div class="Qty">
                            <div class="dvQty">
                                <p>Qty :</p>
                            </div>
                        </div>
                        <div class="qtyLabel">
                            <label class="btnQtyCount">{{ dynamicDataCustomerOrder.quantity }}</label>
                        </div>
                    </div>
                </div>
                <!-- ADDRESS -->
                <div class="dvAddressText">
                    <h6>ADDRESS</h6>
                </div>
                <div class="dvMainAddress">
                    <div class="grid-MainAddress1">
                        <div class="Address" id="Main-Address">
                            <!-- {{dynamicDataAddress.contact_name}}, -->
                            <p id="AddrIdChange">
                                {{dynamicDataAddress.addr1}},
                                {{dynamicDataAddress.addr2}},
                                {{dynamicDataAddress.city}},
                                {{dynamicDataAddress.district}},
                                {{dynamicDataAddress.state}},
                                {{dynamicDataAddress.country}},
                                {{dynamicDataAddress.pincode}},{{dropDownAddrId}}
                            </p>

                            <div class="btnAddr">
                                <button type="change" class="btnChange btn-warning" id="btnChange"
                                    (click)=showSavedAddr()>Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SAVED ADDRESS -->
                <div class="dvSavedAddress" id="savedAddr" style="display: none">
                    <p>SAVED ADDRESS</p>
                    <div class="grid-SavedAddress1">
                        <div class="labelAddress1" id="Deliver-Addr1">
                            {{ dynamicDataSecondAddress }}
                        </div>
                        <div class="btnAddress1">
                            <button type="deliverLeft" class="btnDeliverLeft btn-warning" id="btnDeliverLeft"
                                (click)="btnDeliverAddress1()">DELIVER TO THIS ADDRESS</button>
                        </div>
                        <div class="labelAddress2" id="Deliver-Addr2">
                            {{ dynamicNewAddr }}
                        </div>
                        <div class="btnAddress2">
                            <button type="deliverRight" class="btnDeliverRight btn-warning" id="btnDeliverRight"
                                (click)="btnDeliverAddress2()">DELIVER TO THIS ADDRESS</button>
                        </div>
                    </div>
                </div>
                <!-- ADD ADDR BTN -->
                <div class="dvAddNewAddrBtn">
                    <button type="newAddr" class="btnNewAddr btn-success" id="btnNewAddr" (click)="showFormGrp()"> + ADD
                        NEW
                        DELIVERY
                        ADDRESS</button>
                </div>
                <!-- FORM GROUP -->
                <div class="dvFormGroup" id="formGroup" style="display :none">
                    <form [formGroup]="checkoutForm" (ngSubmit)="formSave()">
                        <div class="grid-Addr-Form">
                            <div class="grid-left-Form">
                                <div class="dvContactName">
                                    <label>Contact Name</label>
                                    <br>
                                    <input type="text" class="card-input-style-address" id="contactName-Form"
                                        formControlName="fullname">
                                    <div *ngIf="submitted && checkoutForm.controls.fullname.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.fullname.errors.required" class="name-style">
                                            Name is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="dvAddr2">
                                    <label>Address 2</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="addr2-Form"
                                        formControlName="reg_address2">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_address2.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_address2.errors.required"
                                            class="addr2-style">
                                            Address 2 is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="dvCountry">
                                    <label>Country</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="country-Form"
                                        formControlName="reg_country">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_country.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_country.errors.required"
                                            class="country-style">
                                            Country is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="dvCity">
                                    <label>City</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="city-Form"
                                        formControlName="reg_city">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_city.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_city.errors.required" class="city-style">
                                            City is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="dvEmail">
                                    <label>Email</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address"
                                        id="contact-Email-Form" formControlName="reg_email">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_email.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_email.errors.required"
                                            class="email-style">
                                            Email is required !
                                        </div>
                                        <div *ngIf="checkoutForm.controls.reg_email.hasError('pattern')"
                                            class="email-vaild-style">
                                            Enter valid Email !
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-Right-Form">
                                <div class="dvAddr1">
                                    <label>Address 1</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="addr1-Form"
                                        formControlName="reg_address1">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_address1.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_address1.errors.required"
                                            class="addr1-style">
                                            Address 1 is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="dvState">
                                    <label>State</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="state-Form"
                                        formControlName="reg_state">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_state.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_state.errors.required"
                                            class="state-style">
                                            State is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="dvPincode">
                                    <label>PinCode</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="pincode-Form"
                                        formControlName="reg_pin">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_pin.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_pin.errors.required" class="pin-style">
                                            Pincode is required !
                                        </div>
                                        <div *ngIf="checkoutForm.controls.reg_pin.hasError('minlength')"
                                            class="pin-valid-style">
                                            Enter valid Pincode !
                                        </div>
                                        <div *ngIf="checkoutForm.controls.reg_pin.hasError('maxlength')"
                                            class="pin-valid-style">
                                            Enter valid pincode !
                                        </div>
                                        <div *ngIf="checkoutForm.controls.reg_pin.hasError('pattern')"
                                            class="pin-digit-style">
                                            Enter Only digits !
                                        </div>
                                    </div>
                                </div>
                                <div class="dvDistrict">
                                    <label>District</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address" id="District-Form"
                                        formControlName="reg_dist">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_dist.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_dist.errors.required"
                                            class="district-style">
                                            District is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="dvPhone">
                                    <label>Phone</label>
                                    <br>
                                    <input type="text" size="24" class="card-input-style-address"
                                        id="contact-Number-Form" formControlName="reg_mobile_no">
                                    <div *ngIf="submitted && checkoutForm.controls.reg_mobile_no.errors"
                                        class="error validator-style">
                                        <div *ngIf="checkoutForm.controls.reg_mobile_no.errors.required"
                                            class="phoneno-style">
                                            Phone Number is required !
                                        </div>
                                        <div *ngIf="checkoutForm.controls.reg_mobile_no.hasError('minlength')"
                                            class="phoneno-Valid-style">
                                            Enter valid Phone Number !
                                        </div>
                                        <div *ngIf="checkoutForm.controls.reg_mobile_no.hasError('maxlength')"
                                            class="phoneno-valid-style">
                                            Enter valid Phone Number !
                                        </div>
                                        <div *ngIf="checkoutForm.controls.reg_mobile_no.hasError('pattern')"
                                            class="phone-digit-style">
                                            Enter Only digits !
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btnSaveForm">
                                <button type="save" class="btnSave1 btn-warning" id="btnSave"
                                    (click)=formSave()>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- DELIVERY OPTION -->
                <div class="dvDeliveryText">
                    <p>DELIVERY OPTIONS:</p>
                </div>
                <div class="dvDeliveryOption">
                    <div class="grid-Deli-Option">
                        <div class="grid-left-DeliOption">
                            <input type="radio" id="shipping" name="DeliveryOption" (change)="changeShippingOption(0)" value="1"> Shipping
                        </div>
                        <div class="grid-Med-DeliOption">
                            <input type="radio" id="homedelivery" name="DeliveryOption" (change)="changeShippingOption(0)" value="2"> Home Delivery
                        </div>
                        <div class="grid-Right-DeliOption">
                            <input type="radio" id="pickup" name="DeliveryOption" (change)="changeShippingOption(0)" value="3"> Pickup
                        </div>
                    </div>
                </div>
                <!-- PRODUCT DELIVERED -->
                <div class="dvProdDeliveredDate">
                    <p>THE PRODUCT WILL BE DELIVERED BEFORE</p>
                    <div class="grid-Prod-Deli-Date">
                        <div class="grid-Deli-Date">
                            <p class="deliveryText">DELIVERY DATE : {{ dynamicDataCustomerOrder.deliveryDate }}</p>
                        </div>
                        <div class="grid-Price">
                            <p class="priceText">PRICE : {{ dynamicDataCustomerOrder.basePrice }}</p>
                        </div>
                        <div class="grid-Deli-Date1" id="datePickerTextId">
                            <input type="Date" id="reqDatePicker" class="dateText" placeholder="Date"
                                (change)="reqDatePickerDelivery();">
                        </div>
                        <div class="grid-ApplyBtn">
                            <button type="apply" class="btnApply btn-warning" id="btnApply"
                                (click)="applyRequest()">Apply</button>
                        </div>
                        <div class="grid-ApplyTextMsg" id="ApplyTextMsgId" style="display: none;">
                            <p class="applyTextMsg1">Delivery on this date requires seller confirmation before buying!
                            </p>
                        </div>
                    </div>
                </div>
                <!-- GIFT NOTE -->
                <div class="dvGiftOption" style="display: none;">
                    <div class="grid-GiftOption1">
                        <div class="grid-Text-GiftOption">
                            <p>Gift Option :</p>
                        </div>
                        <div class="grid-GiftOptionToggle">
                            <div class="btnGiftOption" id="btn-Gift-Option">
                                <label class="switchActive" name="answer" value="Show giftCard" (click)=giftoption()>
                                    <input type="checkbox" style="margin-left: 10px;" id="giftOption">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NOTE -->

                <!-- <div class="dvGiftNote" style="display: none;">
                    <div class="grid-GiftOptionNote">
                        <div class="grid-dvGiftNoteText">
                            <p style="margin-left: 30px;">Note :</p>
                        </div>
                        <div class="grid-dvGiftNoteCard" id="showGiftCard" style="display: none;">
                            <textarea type=text class="Gift-Note-Style"
                                style="border-radius: 5px; margin-left: 20px; width:460px; border: none; height: 130px;"
                                id="Gift-Note-Sect1"></textarea>
                        </div>
                    </div>
                </div> -->

                <!-- MESSAGE TITLE -->

                <!-- <div class="dvMessageTitle" style="display: none;">
                    <p class="MsgTitleText">Message Title : {{ dynamicMsgTitle.title }}</p>
                </div> -->


                <!-- PRODUCT IMAGE -->
                <div class="dvproductImages">
                    <p class="prodTextImg">PRODUCT IMAGES</p>
                </div>
                <div class="dvprodImages">

                    <img src="{{ cartImg }}" class="imgItem2" id="cartImgId"
                        onError="this.src = 'assets/images/defaultReview2.png'">

                    <!-- <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_0.jpg">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_1.jpg" style="margin-left: 5px; ">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_2.jpg" style="margin-left: 5px; ">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_3.jpg" style="margin-left: 5px; ">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_4.jpg" style="margin-left: 5px; display: none;">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_5.jpg" style="margin-left: 5px; display: none;">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_6.jpg" style="margin-left: 5px; display: none;">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_7.jpg" style="margin-left: 5px; display: none;">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_8.jpg" style="margin-left: 5px; display: none;">
                    <img src="assets/images/product/{{dynamicData.prodId}}/{{dynamicData.prodId}}_9.jpg" style="margin-left: 5px; display: none;"> -->
                </div>
                <!-- PRICE VARIATION -->
                <div class="dvPriceListing">
                    <h6>PRICE FOR VARIATIONS & QUALITY</h6>
                    <div class="dvPriceDetails">
                        <div class="dvBasePrice">
                            <p class="BasePriceText">Base Price</p>
                        </div>
                        <div class="dvShippingPrice">
                            <p class="ShippingText">Shipping Price</p>
                        </div>
                        <div class="dvDiscPrice">
                            <p class="DiscText">Discount</p>
                        </div>
                        <div class="dvVariancePrice">
                            <p class="VarianceText">Variance Price</p>
                        </div>
                        <div class="dvQty">
                            <p class="QtyText">Qty</p>
                        </div>
                        <div class="dvTax">
                            <p class="TaxText">Tax</p>
                        </div>
                        <div class="dvTotal">
                            <h6 class="TotalText">Total </h6>
                        </div>
                        <div class="dvMed">
                            <p class="dot">:</p>
                        </div>
                        <div class="dvMed1">
                            <p class="dot1">:</p>
                        </div>
                        <div class="dvMed2">
                            <p class="dot2">:</p>
                        </div>
                        <div class="dvMed3">
                            <p class="dot3">:</p>
                        </div>
                        <div class="dvMed4">
                            <p class="dot4">:</p>
                        </div>
                        <div class="dvMed5">
                            <p class="dot5">:</p>
                        </div>
                        <div class="dvMed6">
                            <p class="dot6">:</p>
                        </div>
                        <div class="dvRight-BasePrice">
                            {{dynamicDataCustomerOrder.basePrice}}
                        </div>
                        <div class="dvRight-ShippingPrice">
                            {{dynamicDataCustomerOrder.shippingPrice}}
                        </div>
                        <div class="dvRight-DiscPrice">
                            {{dynamicDataCustomerOrder.discount}}%
                        </div>
                        <div class="dvRight-VariancePrice">
                            {{dynamicDataCustomerOrder.variantPrice}}
                        </div>
                        <div class="dvRight-Qty">
                            {{ dynamicDataCustomerOrder.quantity }}
                        </div>
                        <div class="dvRight-Tax">
                            {{ dynamicDataCustomerOrder.tax }}
                        </div>
                        <div class="dvRight-Total">
                            {{dynamicDataCustomerOrder.totalPrice}}
                        </div>
                    </div>
                </div>
                <div class="dvBtnCheckout-Rfq">
                    <button type="btnCheckOut" class="btnPayment btn-warning" data-toggle="modal"
                        data-target="#checkOut" id="checkOutId" (click)="checkout()">CHECK OUT</button>

                    <button type="btnCheckOut" style="display: none;" class="btnRfq btn-warning" data-toggle="modal"
                        id="reqId" data-target="#requestOrder" (click)="reqDateNow();">REQUEST ORDER</button>
                </div>
            </div>

        </div>
    </div>
</div>