<!-- MAIN 1 -->
<!-- HEAD -->
<div class="dvMain">
	<div class="dvHead">
		<div class="dvTitle">
			<p>MY CART</p>
			<div class="dvCartCount">
				<button class="btnCartCount">{{dynamicData.length}}</button>
			</div>
		</div>
		<div class="dvDeliverTitle">
			<p>DELIVER TO</p>
		</div>
		<div class="dvDropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
				<span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#"> Roninaks [h], maradu </a></li>
				<li><a href="#"> vyttila </a></li>
				<li><a href="#">EKM</a></li>
			</ul>
		</div>
	</div>

	<!-- BODY	 -->
	<div class="dvBody" *ngFor="let item of Objects.keys(dynamicData)" id="product{{dynamicData[item].productId}}">
		<!-- GRID LEFT -->
		<div class="gridLeft">
			<div class="gridImg">
				<img src="/assets/images/tshirt.png" width="140" height="140" class="imgItem1">
			</div>
			<div class="gridCounter">
				<div class="qtyCounter">
					<button (click)="count_dec(dynamicData[item].productId,dynamicData[item].minOrderQuant)"
						class="minus">-</button>
					<input class="counter" id={{dynamicData[item].productId}}>
					<button (click)="count_inc(dynamicData[item].productId,dynamicData[item].maxOrderQuant)"
						class="plus">+</button>
				</div>
			</div>

		</div>
		<!-- GRID MID -->
		<div class="gridMid">
			<div class="gridDetails">
				<div class="detailItemName">
					<p>{{ dynamicData[item].name }}</p>
				</div>
				<div class="detailItemSeller">
					<p>Seller:</p>
				</div>
				<p class="detailItemPrice"><i class="fa fa-rupee"></i>{{ dynamicData[item].basePrice }}</p>
			</div>
			<div class="gridBodyButton">
				<button class="btnBodyRemove" (click)="remove(dynamicData[item].productId)">REMOVE</button>
			</div>
		</div>
		<!-- GRID RIGHT -->
		<div class="gridRight">
			<div class="gridDeliveryDate">
				<p>Delivery By,{{ dynamicDataDate[item].deliveryDate }}</p>
			</div>
			<div class="gridRightButton">
				<button class="btnRightDelivery">Free</button>
				<button class="btnPlaceOrder">PLACE ORDER</button>
			</div>
		</div>
	</div>
	<!-- FOOT -->
	<div class="dvFoot">
	</div>
</div>

<!-- MAIN 2 -->
<div class="dvMain2">
	<div class="dvHead2">
		<div class="dvHeadTitle2">
			<p>PRICE DETAILS</p>
		</div>
	</div>
	<!-- BODY 2 -->
	<div class="dvBody2">
		<div class="dvPriceText">
			<p>Price( {{dynamicData.length}} items )</p>
		</div>
		<div class="dvPrice">
			<p>₹ </p>
			<!-- {{ dynamicDataPrice[0].totalPrice }} -->
		</div>
		<div class="dvDeliveryText">
			<p>Delivery</p>
		</div>
		<div class="dvFree">
			<p>FREE</p>
		</div>
		<div class="dvTotalPayable">
			<p>Total Payable</p>
		</div>
		<div class="dvTotalPrice">
			<p>₹ </p>

		</div>
	</div>
	<!-- FOOT 2	 -->
	<div class="dvFoot2">
		<p>You will save ₹ 00.00 on this order</p>
	</div>
</div>