<!-- <ul>
    <li *ngFor="let group of newArray">
    {{group.name}}
    <ul>
        <li *ngFor="let light of group.value">
        {{light.type}},{{light.price}}
        </li>
    </ul>
    </li>
</ul> -->
<style>
    .mat-tab-labels{
            background: #EFBE24 !important;
        }
</style>

<div id="main" *ngIf=flagAdd>
    <!-- Header -->
    <div class="dvProdHeader" id="dvProdHeader">
        <div class="dvBreadcrumbs">
            <a style="color: gray;">Home</a> > <a >Add Products</a>
        </div>

    </div>
    <hr style="margin: 1% 10%;">
</div>
<div class="dvMain" *ngIf=flagAdd>
    <!-- Add Products -->
    <div class="dvAddProdText">
        <img class="imgBord" src="assets/icons/resources (IL)-18.png">
        <h3>ADD PRODUCTS</h3>
    </div>
    <div class="dvAddProducts" >
        <div class="grid-AddProductBtn">
            <div class="btnDuplicate" *ngIf="editMode">
                <!-- <button class="btnDupli" (click)="publishBtn('duplicate')">DUPLICATE</button> -->
                <p>Product Status:<span>{{productStatus}}</span></p>
            </div>
            <div class="btnToggleActive" *ngIf="editMode">
                <button class="btnDupli" (click)="publishBtn('duplicate')">DUPLICATE</button>
            </div>
            <div class="toggleTextActive0" *ngIf="editMode"> 
                <button class="btnDupli" [routerLink]="['/listing']"
                [queryParams]="{shop_id:allProductInfo.shop_id, prod_id:editProdid}">View as Customer</button>
            </div>
            <div class="btnToggleActive1" *ngIf="editMode">
                <p style="margin-right: 15px;">ACTIVE</p> 
                <label class="switchActive" name="answer" value="Show giftCard">
                    <input type="checkbox" id="active" style="margin-left: 20px;">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="grid-AddProductCat">
            <div class="main-cat">
                <!-- MAIN CATEGORY -->
                <div class="dropcat1">
                    <p style="text-align: center;">Main Category</p>
                    <select class="MainCategory" id="mainCategoryId" (change)="subCategoryLoaded('all')"  style="margin-top: -1px; width: 300px;" >
                        <option *ngFor="let item of dynamicMainCategory" value="{{item.id}}" (click)="subCategoryLoaded('all')">
                            {{ item.category }} </option>
                    </select>
                </div>
            </div>
            <div class="timeline1">

            </div>
            <div class="med-cat">
                <!-- CATEGORY -->
                <div class="dropcat2">
                    <p style="text-align: center;">Category</p>
                    <input placeholder="catogory" id="subcategory" (keyup)="getSearchCategory();">
                    <ul id="myUL2" class="rfqUL" style="display: none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                        <li *ngFor="let inp of dynamicCategory">
                            <a (click)="replaceMedCategory(inp.id, inp.category)">
                                {{inp.category}}
                            </a>
                        </li>
                        <li (click)="newCategory()" >
                            <a>
                                Create new Subcategory
                            </a>
                        </li>
                    </ul>
                    <!-- <select class="subCategory" style="margin-top: -1px; width: 300px; margin-left: 0px;">
                        <option *ngFor="let item of dynamicCategory" (click)="subCategoryLoaded1(item.id)">
                            {{ item.category }} </option>
                    </select> -->
                </div>
            </div>
            <div class="timeline2">

            </div>
            <div class="sub-cat">
                <!-- SUB CATEGORY -->
                <div class="dropcat3">
                    <p style="text-align: center;">Sub Category</p>
                    <input placeholder="subcatogory" id="subsubcategory" (keyup)="getSearchSubCategory();">
                    <ul id="myUL1" class="rfqUL" style="display: none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                        <li *ngFor="let inp of dynamicSubCategory">
                            <a (click)="replaceCategory(inp.id, inp.category)">
                                {{inp.category}}
                            </a>
                        </li>
                        <li (click)="newSubCategory()" >
                            <a>
                                Create new Subsubcategory
                            </a>
                        </li>
                    </ul>
                    <!-- <select class="subCategory1"
                        style="margin-top: -1px; cursor: pointer; width: 300px; margin-left: 0px;">
                        <option *ngFor="let item of dynamicSubCategory" (click)="subCategoryLoaded2(item.id)">
                            {{ item.category }} </option>
                    </select> -->
                </div>
            </div>
        </div>
  
    </div>

    <hr>
    <!-- PRIMARY DETAILS -->
    <div style="display: inline-flex;overflow: auto;">
        <div *ngFor = "let item of subCategoryArray" class="subCategoryDiv">
            <p>{{item.val}}<span><img (click)="deleteCategory(item)" src="assets/icons/close.png"></span></p>
        </div>
    </div>
    <div class="dvPriDetailsText">
        <img class="imgBord" src="assets/icons/resources (IL)-18.png">
        <h3>PRIMARY DETAILS</h3>
    </div>
    <div class="dvImagesPrimaryDetails">
        <h5 class="add-Image-Text" style="margin-left: 20px; font-family: BitterBold;"> Add Images :</h5>
        <div class="grid-ImagesPrimaryDetails" style="display: flex;">
            <input style="display: none;" type="file" id="frontUpload"  (click)="frontUpload()" accept="image/*"
                #fileInput1>
            <img (click)="fileInput1.click()" class="btn_add_image" type="button"  src="{{urlFront1}}" onerror="this.onerror=null;this.src='assets/icons/plus_full.png'" id="frontUploadImg">
            <!-- <div
                style="height: 15%;   width: 12%; background: #009145; margin-top: 25px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <label style="color: white; text-align: center; font-family:BitterRegular; margin-left: 50px; ">Add
                    Images</label>
            </div> -->

            <input style="display: none;" type="file" id="frontUpload2" (click)="frontUpload2()" accept="image/*"
                #fileInput2>
            <img (click)="fileInput2.click()" type="button" style="display: none;"
            class="btn_add_image" src="{{urlFront2}}"  id="frontUpload2Img"onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">


            <input style="display: none;" type="file" id="frontUpload3" (click)="frontUpload3()" accept="image/*"
                #fileInput3>
            <img (click)="fileInput3.click()" type="button" style="display: none;" id="frontUpload3Img"
            class="btn_add_image"  src="{{urlFront3}}" 
            onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">


            <input style="display: none;" type="file" id="frontUpload4" (click)="frontUpload4()" accept="image/*"
                #fileInput4>
            <img (click)="fileInput4.click()" type="button" style="display: none;" id="frontUpload4Img"
            class="btn_add_image" src="{{urlFront4}}"
            onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">


            <input style="display: none;" type="file" id="frontUpload5" (click)="frontUpload5()" accept="image/*"
                #fileInput5>
            <img (click)="fileInput5.click()" type="button" style="display: none;" id="frontUpload5Img"
            class="btn_add_image" src="{{urlFront5}}"
            onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">


            <input style="display: none;" type="file" id="frontUpload6" (click)="frontUpload6()" accept="image/*"
                #fileInput6>
            <img (click)="fileInput6.click()" type="button" style="display: none;" id="frontUpload6Img"
            class="btn_add_image" src="{{urlFront6}}"
            onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">


            <input style="display: none;" type="file" id="frontUpload7" (click)="frontUpload7()" accept="image/*"
                #fileInput7>
            <img (click)="fileInput7.click()" type="button" style="display: none;" id="frontUpload7Img"
            class="btn_add_image" src="{{urlFront7}}"
            onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">


            <input style="display: none;" type="file" id="frontUpload8" (click)="frontUpload8()" accept="image/*"
                #fileInput8>
            <img (click)="fileInput8.click()" type="button" style="display: none;" id="frontUpload8Img"
            class="btn_add_image" src="{{urlFront8}}"
            onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">


            <input style="display: none;" type="file" id="frontUpload9" (click)="frontUpload9()" accept="image/*"
                #fileInput9>
            <img (click)="fileInput9.click()" type="button" style="display: none;" id="frontUpload9Img"
            class="btn_add_image" src="{{urlFront9}}"
            onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">


            <input style="display: none;" type="file" id="frontUpload10" (click)="frontUpload10()" accept="image/*"
                #fileInput10>
            <img (click)="fileInput10.click()" type="button" style="display: none;" id="frontUpload10Img"
            class="btn_add_image" src="{{urlFront10}}"
            onerror="this.onerror=null;this.src='assets/icons/plus_full.png'">

        </div>
        <!-- <div class="grid-Image-View1" style="display: flex;">
            <img id="frontPreviewId" style="display: none; height: 105px; margin: 0 15px;" src="{{urlFront1}}" height="200">

            <img id="frontPreviewId2" style="display: none; height: 105px; margin: 0 15px;" src="{{urlFront2}}" height="200">

            <img id="frontPreviewId3" style="display: none;height: 105px; margin: 0 15px;" src="{{urlFront3}}" height="200">

            <img id="frontPreviewId4" style="display: none; height: 105px; margin: 0 15px;" src="{{urlFront4}}" height="200">

            <img id="frontPreviewId5" style="display: none;height: 105px; margin: 0 15px;" src="{{urlFront5}}" height="200">

            <img id="frontPreviewId6" style="display: none; height: 105px; margin: 0 15px;" src="{{urlFront6}}" height="200">

            <img id="frontPreviewId7" style="display: none; height: 105px; margin: 0 15px;" src="{{urlFront7}}" height="200">

            <img id="frontPreviewId8" style="display: none; height: 105px; margin: 0 15px;" src="{{urlFront8}}" height="200">

            <img id="frontPreviewId9" style="display: none; height: 105px; margin: 0 15px;" src="{{urlFront9}}" height="200">

            <img id="frontPreviewId10" style="display: none; height: 105px; margin: 0 15px;" src="{{urlFront10}}" height="200">

        </div> -->
    </div>


    <div class="dvPrimaryDetails1">

        <div class="grid-PrimaryDesc">
            <div class="grid-LeftProd">
                <p class="productName">PRODUCT NAME</p>
            </div>
            <div class="grid-MedProd1">
                <input type="text" class="text-Product-Name-Style" value="{{allProductInfo.name}}" id="product-Name">
                <span tooltip="Product Name" placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
            <!-- <button mat-raised-button
                matTooltip="Info about the action"
                matTooltipPosition="above"
                aria-label="Button that displays a tooltip when focused or hovered over">
                ?
            </button> -->
            
            <div class="grid-MedProd2">
                <p class="productBasePriceText">PRODUCT BASE PRICE</p>
            </div>
            <div class="grid-RightProd">
                <input type="text" class="text-Product-BasePrice-Style" value="{{allProductInfo.base_price}}" (change)="setupPrice()" id="product-BasePrice">
                <span tooltip="The price seen by buyers" placement="top" class="toolSpan" show-delay="0">?</span>
            </div>
        </div>
        <div class="grid-PrimaryDesc1">
            <div class="grid-ShortDescLeft">
                <p>SHORT DESCRIPTION</p>
            </div>
            <div class="grid-LongDescLeft">
                <p>LONG DESCRIPTION</p>
            </div>
            <div class="grid-SpecLeft">
                <P>SPECIFICATIONS</P>
            </div>
            <div class="grid-ShortDescRight">
                <input type="text" class="text-Product-ShortDesc-Style" value="{{allProductInfo.short_desc}}" id="product-ShortDesc">
                <span tooltip="Short Description seen by buyer" placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
            <div class="grid-LongDescRight">
                <textarea type="text" class="text-Product-LongDesc-Style" value="{{allProductInfo.Long_desc}}" id="product-Desc"></textarea>
                <span tooltip="Long Description for the product" placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
            <div class="grid-SpecRight">
                <textarea type="list" class="text-Product-Spec-Style" value="{{allProductInfo.spec}}" id="product-Spec"></textarea>
                <span tooltip="Product specification, each item must be seperated by !~!. Eg: Ram: 1 GB!~!Graphics: 1 GB!~!" placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
        </div>
        <div class="grid-PrimaryDesc2">
            <div class="grid-NoOfPieceLeft">
                <p>NO: OF PIECES AVAILABLE :</p>
            </div>
            <div class="grid-MaxQtyOrderLeft">
                <p>MAXIMUM QTY PER ORDER :</p>
            </div>
            <div class="grid-MiniQtyOrderLeft">
                <p>MINIMUM QTY PER ORDER :</p>
            </div>
            <div class="grid-QtyCountRight">
                <button class="btnMinQtyCount" (click)="decreseCount()">-</button>
                <input class="counterLabel" value="{{allProductInfo.qty_avble}}"  id="Counter-Label" >
                <button class="btnMaxQtyCount" (click)="increseCount()">+</button>
                <span tooltip="Amount of quantity that is available" placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
            <div class="grid-MaxQtyOrderRight">
                <input type="text" class="Max-Qty-Style" value="{{allProductInfo.max_order_quant}}"  id="Max-Qty-Order">
                <span tooltip="Maximum quantity a buyer can buy." placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
            <div class="grid-MiniQtyOrderRight">
                <input type="text" class="Min-Qty-Style" value="{{allProductInfo.min_order_quant}}"  id="Min-Qty-Order">
                <span tooltip="Minium quantity a buyer can buy." placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
        </div>
        <!-- <button class="save" (click)="ngSave()">SAVE</button> -->
    </div>
    <hr>
    <!-- ADD VARIENTS -->
    <div class="dvAddVarientsText">
        <h5>ADD VARIENTS</h5>
    </div>
    <div class="grid-Tab-Form">
        <div class="varitentsAdd">
                <span tooltip="Variants associated with the Product" placement="top" class="toolSpan"  show-delay="0">?</span>
            <mat-tab-group mat-align-tabs="start" id="varientPlus">
                <mat-tab label="{{item.name}}" *ngFor="let item of varients;let i = index">
                    <ng-template mat-tab-label>
                           <p style="width: max-content; margin-top: 16px">{{item.name}}</p>
                           <img src="assets/icons/close.png" (click)="deleteVarient(item)">
                        </ng-template>
                        <ng-template matTabContent>
                        <div style="display: inline-flex;">
                            <p>VARIENT NAME:</p>
                            <input (keyup)="enterValue(i,'0','name',item)"  style="border: 1px solid grey;padding: 2px 5px;height: min-content; margin-left: 20px; background: #00000004; border-radius: 5px;width: 30%;" value="{{item.name}}" id="{{i}}_name"placeholder="Varient Name">
                            <div class="multiVariant" style="justify-content: end;display: inline-flex;height: 30px;">
                                <p  style="width: max-content;margin-right: 5px;">Multi Variant</p>
                                <input type="checkbox" style="width: max-content;" value="Shipping" id="isMultiVariant_{{i}}">
                                <span tooltip="This variants can be selected multiple times." placement="top" style="padding-right: 13px;height: 22px;" class="toolSpan"  show-delay="0">?</span>
                            </div>
                        </div>
                    <div style="display: inline-flex;" >
                        <div *ngFor="let in of item.value; let j = index">
                            <div style="margin: 5px 45px 5px 15px;display: grid; width: max-content;" id="{{in}}_1">
                                <input placeholder="VARIENT TYPE" (keyup)="enterValue(i,j,'type',in)"  id="{{i}}_{{j}}varient_1" value="{{in.type}}" class="input-style-tab">
                                <input placeholder="PRICE" id="{{i}}_{{j}}price_1" (keyup)="enterValue(i, j,'price', in)"   value="{{in.price}}" class="input-style-tab">
                            </div>
                            <div class="close-varient"><img src="assets/icons/close.png" id="{{in}}_btn_1" (click)="deleteCell(in, item.value)"></div>
                        </div>
                        <button class="addVariant" (click)="displayVarientType(item.value)">Add sub Variant</button>
                    </div>

                    <button class="saveAddVariant" (click)="saveAddVariant(item,i)">SAVE</button>
                    <span  tooltip="Each variant type must be saved separatly." placement="top" class="toolSpan"  show-delay="0">?</span>
                    
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <div style="width: max-content;cursor: pointer; color: white; background: #EFBE24; margin:10px auto; border-radius: 5px; padding:5px;">
                <p (click)="addVarients()" style="margin: 0px;  font-size:12px;">Add Varients</p>
            </div>
        </div>

    </div>

    <hr>
    <!-- PRICE -->
    <div class="dvPrice">
        <div class="dvPriceText">
            <img class="imgBord" src="assets/icons/resources (IL)-18.png">
            <h3>PRICE</h3>
        </div>
        <div class="grid-PriceDetails">
            <div class="grid-LeftPrice1">
                <p class="dicountText">ACTUAL PRICE</p>
            </div>
            <!-- <div class="grid-LeftPrice2">
                <p class="actualPriceText">TAX</p>
            </div> -->
            <div class="grid-LeftPrice3">
                <p class="commissionDecuctionText">COMMISSION DEDUCTION</p>
            </div>
            <div class="grid-LeftPrice4">
                <p class="finalText">FINAL</p>
            </div>
            <div class="grid-Med1">
                <p class="dotMed1">:</p>
            </div>
            <!-- <div class="grid-Med2">
                <p class="dotMed2">:</p>
            </div> -->
            <div class="grid-Med3">
                <p class="dotMed3">:</p>
            </div>
            <div class="grid-Med4">
                <p class="dotMed4">:</p>
            </div>
            <div class="grid-RightPrice1">
                {{ basePrice }}<span tooltip="Price seen by buyer." placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
            <!-- <div class="grid-RightPrice2">
                {{ tax.tax }}
            </div> -->
            <div class="grid-RightPrice3" id="commissionDecuction">
                {{ commDec }}<span tooltip="Commission deducted by the Website." placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
            <div class="grid-RightPrice4">
                {{ totalPrice }}<span tooltip="The price that seller will get." placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
        </div>
        <hr>
    </div>
    <!-- ADVANCE SETTINGS -->
    <div class="dvAdvanceSettings">
        <div class="dvAdvanceSettingsText">
            <img class="imgBord" src="assets/icons/resources (IL)-18.png">
            <h3>ADVANCED SETTINGS</h3>
        </div>
        <div class="grid-AdvanceSettings1">
            <div class="grid-AdvanceTextLeft">
                <h6 class="labelText">LABEL</h6>
            </div>
            <div class="grid-AdvanceDropDownRight">
                <select class="labelDropdown" id="labelSelect" style="margin-left: 5px; background:
                #EFBE24;border-radius: 5px;">
                    <option *ngFor="let item of labels" value="{{ item.id }}">
                        {{ item.label_text }} </option>
                </select>
            </div>
            <!-- <span  tooltip="Label assoaciated with the product" placement="top" class="toolSpan"  show-delay="0">?</span> -->
        </div>
        <div class="grid-AdvanceSettings2">
            <div class="grid-AdvanceSettingsLeft">
                <div class="grid-Advance2">
                    <div class="grid-AvgLeft">
                        <p class="avgProcessingTimeText">AVERAGE PROCESSING TIME</p>
                    </div>
                    <div class="grid-AvgLeft1">
                        <p class="avgShippingTimeText">AVERAGE SHIPPING TIME</p>
                    </div>
                    <div class="grid-LabelRight">
                        <div class="AvgProTimeLabel">
                            <p class="AvgProTimeLabel-Style" *ngIf="isOrdered">{{allProductInfo.avg_prcessing_time}}</p>
                            <input class="AvgProTimeLabel-Style" *ngIf="!isOrdered" value="{{allProductInfo.avg_prcessing_time}}" id="Avg-ProTime">
                        </div>
                        <!-- <span  tooltip="Average time taken to process the order" placement="top" class="toolSpan"  show-delay="0">?</span> -->
                    </div>
                    <div class="grid-LabelRight1">
                        <div class="AvgShipTimeLabel">
                            <p class="AvgShipTimeLabel-Style" *ngIf="isOrdered">{{allProductInfo.avg_shpping_time}}</p>
                            <input class="AvgShipTimeLabel-Style" *ngIf="!isOrdered" value="{{allProductInfo.avg_shpping_time}}"  id="Avg-ShipTime">
                        </div>
                        <!-- <span  tooltip="Average time taken in shipping the order." placement="top" class="toolSpan"  show-delay="0">?</span> -->
                    </div>
                </div>
            </div>
            <div class="grid-AdvanceSettingsRight">
                <div class="grid-Advance3">
                    <div class="grid-TagText">
                        <h6 class="tagText">TAG :</h6>
                        <div>
                            <span *ngFor="let item of tagsArray" style="cursor: pointer"  class="tags">{{item.name}}
                            <img src="assets/icons/close.png" (click)="deletetags(item)" >
                            </span>
                        </div>
                    </div>
                    <div class="grid-TagCard">
                        <div class="AdvanceTagCard">
                            <div class="ng-autocomplete" style="width: auto;">
                                <ng-autocomplete 
                                  [data]="datas"
                                  [searchKeyword]="keyword"
                                  (selected)='selectEvent($event)'
                                  (inputChanged)='onChangeSearch($event)'
                                  (inputFocused)='onFocused($event)'
                                  [itemTemplate]="itemTemplate"
                                  (change)="selectEvent1($event)"
                                  [notFoundTemplate]="notFoundTemplate">                                
                                </ng-autocomplete>
                                 
                                <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                                </ng-template>
                                 
                                <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                                </ng-template>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-AdvanceSettings3">
            <div class="grid-Advance3Left">
                <div class="grid-AdLeft">
                    <div class="grid-GiftOptionTextLeft1">
                        <p class="giftOptionText">Gift Option</p>
                    </div>
                    <div class="grid-OrderConfrmTextLeft1">
                        <p class="orderConfirmationText">Order Confirmation</p>
                    </div>
                    <div class="grid-UploadImgTextLeft1">
                        <p class="uploadImgText">Upload Images</p>
                    </div>
                    <div class="grid-GiftOptionToggleRight1">
                        <label class="switchGiftOption" name="answer" value="Show giftCard">
                            <input type="checkbox" id="giftOption" style="margin-left: 12px;" value="{{allProductInfo.has_gift}}"  >
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="grid-OrderConfrmToggleRight1">
                        <label class="switchOrderConfrm" name="answer" value="Show giftCard">
                            <input type="checkbox" id="orderConfrm" style="margin-left: 12px;" value="{{allProductInfo.has_order_confmn}}"  >
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="grid-UploadImgToggleRight1">
                        <label class="switchUploadImg" name="answer" value="Show giftCard">
                            <input type="checkbox" id="uploadImg" style="margin-left: 12px;" value="{{allProductInfo.can_upload_image}}" >
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="grid-Advance3Med">
                <div class="grid-AdMed">
                    <div class="grid-DeliveryDateTextLeft2">
                        <p class="deliveryDateText">Delivery date</p>
                    </div>
                    <div class="grid-DeliveryDateToggleRight2">
                        <label class="switchDeliveryDate" name="answer" value="Show giftCard">
                            <input type="checkbox" id="deliveryDate" style="margin-left: 12px;" value="{{allProductInfo.can_orderbydate}}">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="grid-AutoCancelTextLeft2">
                        <p class="setAutoCancelText">Set Auto Cancellation Time</p>
                    </div>
                    <div class="grid-AutoCancelLabelRight2">
                        <div class="AutoCancelLabel">
                            <p class="AutoCancelLabel-Style" *ngIf="isOrdered">{{allProductInfo.auto_cancel_time}}</p>
                            <input class="AutoCancelLabel-Style" *ngIf="!isOrdered" id="Auto-Cancel" value="{{allProductInfo.auto_cancel_time}}">
                        </div>
                    </div>
                    <div class="grid-AddCustomTextLeft2">
                        <p class="addCustomText">Add Custom Message Fields</p>
                    </div>
                    <div class="grid-AutoCustomToggleRight2">
                        <label class="switchAutoCustom" name="answer" value="Show giftCard" 
                        >
                            <input type="checkbox" id="autoCustom"  style="margin-left: 12px;" (change)="isMessageSelect()" value="{{allProductInfo.add_custom_message_field}}">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="grid-Advance3Right">
                <div class="grid-AdRight">
                    <div class="grid-RfqText">
                        <p class="rfqText">RFQ</p>
                    </div>
                    <div class="grid-RfqToggle">
                        <label class="switchRfq" name="answer" value="Show giftCard">
                            <input type="checkbox" id="rfq" style="margin-left: 12px;" value="{{allProductInfo.has_rfq}}">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="grid-MaxNoText">
                        <p class="maxNoText">MAX NO. IMAGES :</p>
                    </div>
                    <div class="grid-CountLabel">
                        <input class="CountLabel-Style" id="Max-Count-Label" (change)="maxImageChecker();" value="{{allProductInfo.max_no_of_image}}">
                    </div>
                    <div class="grid-InstantBuyText">
                        <p class="instantBuyText">Instant Buy </p>
                    </div>
                    <div class="grid-InstantBuyToggle">
                        <label class="switchInstant" name="answer" value="Show giftCard">
                            <input type="checkbox" id="instantBuy" style="margin-left: 12px;" value="{{allProductInfo.has_instant_buy}}">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MESSAGE TITLE -->
    <div class="dvMsgTitle" *ngIf="isMessage">
        <div class="dvMsgTitleText">
            <div style="margin: auto;width: max-content;height: max-content;display: flex;">
                <h5 style="width: max-content;">MESSAGE TITLE</h5>
                <span  style="width: max-content;" tooltip="Message titles that can be added to the order.Eg Happy Birthday ______," placement="top" class="toolSpan"  show-delay="0">?</span>
            </div>
        </div>
        <div class="grid-MsgTitleContainer">
            <div class="grid-MsgTitleHead">
                <div class="grid-MsgTitle-Head">
                    <div class="grid-MsgTitle-Sect1">
                        <p class="Msg-title-text">Title :</p>
                        <input type=text class="Msg-Title-Style" id="Msg-TitleId">
                    </div>
                    <div class="grid-Msg-Add">
                        <img class="imgPlus" id="imgPlusId" (click)="MsgTitlePlus()" src="assets/icons/plus.png">
                    </div>
                </div>
            </div>

            <div class="grid-MsgTitleFoot">
                <ng-container *ngFor="let item of title; let i = index">
                    <div class="grid-MsgTitle-Foot">
                        <div class="grid-MsgTitle-Label">
                            <label class="MsgTitle-Label"   id="MsgTitleLabel_{{i}}">{{item}}</label>
                            <input id="MsgEdit_{{item.id}}" id="MsgTitleValue_{{i}}" style="display: none;" value="{{item}}">
                        </div>
                        <div class="grid-MsgTitle-Edit-Close" id="editNow_{{item.id}}">
                            <!-- <img id="imgEdit-MsgTitle" *ngIf="!editMsg"  (click)="editCell(item.id)" class="imgEdit" src="assets/icons/edit.png"> -->
                            <img id="imgClose-MsgTitle" *ngIf="!editMsg" id="{{i}}_deleteTitle" (click)="close(item)" class="imgClose"
                                src="assets/icons/close.png">
                            <img id="imgClose-MsgTitle" *ngIf="!editMsg" id="{{i}}_editTitle" (click)="editTitle(item,i)" class="imgClose"
                                src="assets/icons/edit.png">
                            <button id="imgClose-MsgTitle" *ngIf="!editMsg" style="display: none;" id="{{i}}_saveTitle" (click)="saveTitle(item,i)" class="imgClose">update</button>
                        </div>
                        <!-- <div  id="save_{{item.id}}" (click)="editTitle(item.titles, item.id)" style="display: none;background: #EFBE24;color: black;padding: 5px; cursor: pointer;">Save</div> -->
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <hr>
    <!-- SHIPPING OPTIONS -->
    <div class="dvShippingOptions">
        <div class="dvShippingOptionsText">
            <img class="imgBord" src="assets/icons/resources (IL)-18.png">
            <h3>SHIPPING OPTIONS :</h3>
        </div>
        <div class="grid-RadioBtn">
            <div class="grid-RadioShipping">
                <div class="grid-Shipping">
                    <div class="grid-ShippingText">
                        <p>Shipping</p>
                    </div>
                    <div class="grid-ShippingRadioBtn">
                        <input type="checkbox" value="Shipping" id="shippingRadio">
                    </div>
                </div>
            </div>
            <div class="grid-RadioHomeDelivery">
                <div class="grid-HomeDelivery">
                    <div class="grid-HomeDeliveryText">
                        <p>HomeDelivery</p>
                    </div>
                    <div class="grid-HomeDeliveryRadioBtn">
                        <input type="checkbox" value="HomeDelivery" id="homedeliveryRadio">
                    </div>
                </div>
            </div>
            <div class="grid-RadioPickup">
                <div class="grid-Pickup">
                    <div class="grid-PickupText">
                        <p>Pickup</p>
                    </div>
                    <div class="grid-PickupRadioBtn">
                        <input type="checkbox" value="Pickup" id="pickupRadio">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dvShippingDetails">
        <div class="dvShippingDetailsText">
            <img class="imgBord" src="assets/icons/resources (IL)-18.png">
            <h3>SHIPPING DETAILS :</h3>
        </div>
        <!-- DELIVERABLE LOCATIONS -->
        <div class="dvDeliverableLocationText">
            <h5>DELIVERABLE LOCATIONS</h5>
        </div>
        <div class="grid-DeliverableContainer">
            <div class="grid-DeliverableHead">
                <div class="grid-DeliverableHeadSub">
                    <div class="grid-Location">
                        <p class="Location-Text" style="margin-top: 10px;">LOCATION</p>
                    </div>
                    <div class="grid-Price">
                        <p class="Price-Text" style="margin-top: 10px;" id="Price-Id">PRICE</p>
                    </div>
                    <div class="grid-QtyPrice">
                        <p class="Qty-Price-Text" style="margin-top: 10px;" id="Qty-Price-Id">QTY PRICE</p>
                    </div>
                </div>
            </div>
            <div class="grid-DeliverableBody">
                <!-- <div class="grid-DeliverableBodySub">
                    <input class="deliverable-Location"  id="initialAlias"  value="{{shippingLocation.location_alias}}">
                    <input class="deliverable-Price"  id="initialprice" value="0">
                    <input class="deliverable-Qty-Price" id="initialQtn"  value="0">
                    <img class="imgEdit" src="assets/icons/edit.png">
                    <img class="imgClose" src="assets/icons/close.png">
                </div> -->

                <div class="grid-DeliverableBodySub">
                    <input class="deliverable-Location" (keyup)="shippingLocationGetter('item')" value="{{shippingLocation.location_alias}}"  id="item_pincode">
                    <input class="deliverable-Price"  id="item_price" value="{{shippingLocation.quantity_price}}">
                    <input class="deliverable-Qty-Price"  id="item_qtn" value="{{shippingLocation.price}}">
                    <img class="imgClose" src="assets/icons/plus.png" (click)="addShippingLocation('item')" id="item_close" >
                </div>
                <ul id="myUL" class="rfqUL" style="display: none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                    <li>
                        <a (click)="replaceText('All over India','Main');" *ngIf = "selectMain">
                            All over India
                        </a>
                        <a (click)="replaceText('My State','Main');" *ngIf = "selectMain">
                            My State
                        </a>
                        <a (click)="replaceText('My City','Main');" *ngIf = "selectMain">
                            My City
                        </a>
                        <a (click)="replaceText('My District','Main');" *ngIf = "selectMain">
                            My District
                        </a>
                        <a (click)="replaceText(inp.pincode,inp.office_name);" *ngFor="let inp of shippinglocationArray">
                            {{inp.office_name}},{{inp.pincode}}
                        </a>
                    </li>
                </ul>
                <div class="grid-DeliverableBodySub" *ngFor = "let item of shippingLocs; let i = index;">
                    <p class="deliverable-Location" id="{{i}}_p_pincode">{{item.pincode}}</p>
                    <p class="deliverable-Price"   id="{{i}}_p_price">{{item.price}}</p>
                    <p class="deliverable-Qty-Price"  id="{{i}}_p_qtn">{{item.qtn}}</p>
                    <input class="deliverable-Location" placeholder="pincode" id="{{i}}_pincode" style="display: none;" value="{{item.pincode}}">
                    <input class="deliverable-Price" placeholder="price" id="{{i}}_price" style="display: none;" value="{{item.price}}">
                    <input class="deliverable-Qty-Price" placeholder="quantity" id="{{i}}_qtn" style="display: none;" value="{{item.qtn}}">
                    <img class="shipClose" id="{{i}}_close" src="assets/icons/close.png" (click)="deleteShiipingLocation(item)">
                    <img class="shipEdit" id="{{i}}_edit" src="assets/icons/edit.png" (click)="editShiipingLocation(item,i)">
                    <button class="shipSave" id="{{i}}_save" (click)="saveShiipingLocation(item,i)">Update</button>
                </div>
                <hr>
            </div>
            <!-- <div class="grid-DeliverableFoot">
                <div class="grid-DeliverableFootSub" style="cursor: pointer;" (click)="addShippingLocation()">
                    <div class="deliverable-Add-Foot">
                        <img class="imgPlus" src="assets/icons/plus.png">
                    </div>
                    <div class="location-Text-Style" style="margin-left: -172px; color: #009145; margin-top: -26px;">Add
                        Another Location </div>
                </div>
                <hr>
            </div> -->
        </div>
    </div>
    <hr>
    <!-- DISCOUNT -->
    <div class="dvDiscount">
        <div class="dvDiscountText">
            <img class="imgBord" src="assets/icons/resources (IL)-18.png">
            <h3>DISCOUNT</h3>
        </div>
        <div class="grid-Discount-Container">
            <div class="grid-Pro-Discount-Left">
                <div class="grid-Pro-Discount">
                    <div class="grid-Pro-Disc-Text">
                        <p class="proDiscText">PRODUCT DISCOUNT</p>
                    </div>
                    <div class="grid-Pro-Disc-Container">
                        <div class="grid-Pro-Disc">
                            <div class="grid-Pro-Date-Text">
                                <p class="dateText" style="font-family: BitterBold;">DATE:</p>
                            </div>
                            <div class="grid-Label-1">
                                <input type=date class="Pro-Date-Label-Style-1" id="Pro-Date-1">
                            </div>
                            <div class="grid-minus">
                                <p style="font-family: BitterBold;">-</p>
                            </div>
                            <div class="grid-Label-2">
                                <input type=date class="Pro-Date-Label-Style-2" id="Pro-Date-2">
                            </div>
                            <div class="grid-Pro-Disc-Text">
                                <p style="font-family: BitterBold;">DISCOUNT:</p>
                            </div>
                            <div class="grid-Price-Label">
                                <input type=text placeholder="price" (keyup)="priceUpdate()" class="Pro-Disc-Label-Style-2" id="Pro-Disc-2">
                            </div>
                            <div class="grid-Disc-Label">
                                <input type=text placeholder="%" (keyup)="discountUpdate()" class="Pro-Disc-Label-Style-1" id="Pro-Disc-1">
                            </div>
                            <div class="btnPro-Disc">
                                <button class="btnPro-Sumit" (click)="addBulkDisc()">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-Bundle-Discount-Right">
                <div class="grid-Bundle-Discount">
                    <div class="grid-Pro-Disc-Text">
                        <h6 class="addBundleText">ADD BUNDLE DISCOUNT</h6>
                    </div>
                    <div class="grid-Pro-Disc-Container">
                        <div class="grid-Bundle-Disc">
                            <div class="grid-Bundle-Head">
                                <div class="grid-Bundle-Body">
                                    <div class="grid-Qty-Text">
                                        <p class="qtyText">QTY</p>
                                    </div>
                                    <div class="grid-Disc-Price">
                                        <p class="discPriceText">DISCOUNTED PRICE</p>
                                    </div>
                                    <div class="grid-Disc-Per">
                                        <p class="discPriceText">DISCOUNT PERCENTAGE</p>
                                    </div>
                                    <div class="grid-Actual-Price">
                                        <p class="actualPriceText">ACTUAL PRICE</p>
                                    </div>
                                    <div class="grid-Qty-Label">
                                        <input type=text class="Bun-Qty-Label-Style" id="Bundle-Qty"  (change)="qtnchanger()">
                                        <!-- [(ngModel)]="qtn"  -->
                                    </div>
                                    <div class="grid-Disc-Per-Label">
                                        <input type=text class="Disc-Price-Label-Style" id="Disc-Pres" (change)="disCount()">
                                    </div>
                                    <div class="grid-Disc-Price-Label">
                                        <input type=text class="Disc-Price-Label-Style" id="Disc-Price" value="{{calcu}}">
                                    </div>
                                    <div class="grid-Actual-Price-Label">
                                        <input type=text class="Actual-Price-Label-Style" id="Actual-Price" value="{{ calcQtnPrice }}">
                                    </div>
                                    <div class="grid-Add-Bundle">
                                        <img class="imgPlus" src="assets/icons/plus.png" id="addBulkDiscId"
                                            (click)=addBulkDiscTwo()>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-Bundle-Foot" >

                                <div class="grid-Bundle-Body-1" *ngFor="let item of discountArray">
                                    <div class="grid-Qty-Label-1">
                                        <label type=text class="Bundle-Qty-Label-Style" id="Qty-Label"> {{item.bulkDiscount}}</label>
                                    </div>
                                    <div class="grid-Disc-Price-Label-1">
                                        <label type=text class="Bundle-Qty-Label-Style" id="Price-Label">{{item.discount}} </label>
                                    </div>
                                    <div class="grid-Actual-Price-1">
                                        <label type=text class="Bundle-Actual-Label-Style" id="Actual-Label">Discounted: {{item.bulk}}, Actual:  {{item.actualPrice}} </label>
                                    </div>
                                    <div class="grid-Edit-Close-Bundle-1">
                                        <!-- <img class="imgEdit" src="assets/icons/edit.png" > -->
                                        <img class="imgClose" src="assets/icons/close.png" (click)="deleteDiscount(item)">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- POLICIES -->
    <div class="dvProdPolicies">
        <div class="ProdPoliciesText">
            <img class="imgBord" src="assets/icons/resources (IL)-18.png">
            <h3>PRODUCT POLICIES & PRODUCT SHIPPING POLICIES</h3>
        </div>
        <ng-container *ngIf="editPolicy==0; else policyEdit">
            <div class="policyTxt" id="policyId">
                <p>{{dynamicDataProPolicy.productPolicy}}</p>

                <p>{{dynamicDataShipPolicy.shippingPolicy}}</p>

                <p>{{dynamicDataReturnPolicy.returnPolicy}}</p>
            </div>
            <div class="btnPolicyEdit">
                <button id="policyEdit" class="button" type="button" (click)="edit('policy');">EDIT</button>
            </div>
        </ng-container>
        <ng-template #policyEdit>
            <div class="policy-wrapper">
                <p>Shipping</p>
                <textarea class="policyTxtArea" id="policyShippingTxtAr" >{{allProductInfo.shipping_policy}}</textarea>
                <p>Return</p>
                <textarea class="policyTxtArea" id="policyReturnTxtAr" >{{allProductInfo.return_policy}}</textarea>
                <p>Product</p>
                <textarea class="policyTxtArea" id="policyProductTxtAr" >{{allProductInfo.product_policy}}</textarea>
            </div>
            <div class="btnpolicySubmit">
                <!-- <button id="policyEdit" class="button" type="button" (click)="sub1();">SUBMIT</button> -->
            </div>
        </ng-template>
    </div>
    <hr>
    <!-- FAQ -->
    <div class="dvFaq">
        <div class="dvFaqText ">
            <img class="imgBord" src="assets/icons/resources (IL)-18.png">
            <h3>FAQ</h3>
        </div>
        <div class="grid-FaqContainer">
            <div class="grid-FaqHead">
                <div class="grid-Faq-Head">
                    <div class="grid-Ques-Sect1">
                        <p>Question :</p>
                        <input type=text class="Ques-Sect1-Style" id="Ques-Sect1">
                    </div>
                    <div class="grid-Add">
                        <img class="imgPlus" src="assets/icons/plus.png" id="faq-Add-Id" (click)="faqAdd(  )">
                    </div>
                    <div class="grid-Ans-Sect2">
                        <p>Answer :</p>
                        <input type=text class="Ans-Sect2-Style" id="Ans-Sect2">
                    </div>
                </div>
            </div>
            <div class="grid-FaqFoot">
                <ng-container *ngFor="let item of faq; let i = index;">
                    <div class="grid-Faq-Foot">
                        <div class="grid-Faq-Label">
                            <label class="faq-Label" id="faqQuestion_{{i}}">Question :{{item.faqQ}}</label>
                            <label class="faq-Label" id="faqAnswer_{{i}}">Answer :{{item.faqA}}</label>
                            <input placeholder="Question" value={{item.faqQ}} id="faqQuestionInput_{{i}}" style="display: none;">
                            <input placeholder="Anwser" value={{item.faqA}} id="faqAnswerInput_{{i}}" style="display: none;">
                        </div>
                        <div class="grid-Faq-Edit-Close">
                            <img  id="{{i}}_editFaq" class="imgEdit" src="assets/icons/edit.png" (click)="FaqEdit(item,i)">
                            <img id="{{i}}_deleteFaq" class="imgClose" (click)="FaqClose(item)" src="assets/icons/close.png">
                            <button id="{{i}}_saveFaq" (click)="faqSave(item,i)" style="display: none;">Update</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- LAST BUTTON -->
    <div class="grid-BtnLast">
        <div class="grid-dvBtnLast">
            <div class="grid-BtnLastLeft">
                <button class="btnSaveAsDraft" *ngIf='!editMode' (click)="publishBtn('save')">SAVE AS DRAFT</button>
            </div>
            <div class="grid-BtnLastRight">
                <button class="btnPublish" (click)="publishBtn('publish')">PUBLISH</button>
            </div>
        </div>
    </div>
</div>