<div class="main-grid">
        <div class="sub-grid-1">
                <div class="main-grid-1">
                        <div class="primary-card-grid">
                                <div class="primary-card-style">
                                        <div class="profile-card-grid-left">
                                                <div class="profile-card-style">
                                                        
                                                </div>
                                        </div>
                                        <div class="profile-card-grid-right">
                                                                
                                        </div>   
                                </div>
                        </div>
                                    
                                        <div class="sub-card-grid-1">
                                                <div class="sub-card-style-1">
                                                        <p>PENDING</p>
                                                        <br>
                                                        <p>PAYMENT</p>
                                                </div>
                                        </div>
                                        
                                        <div class="sub-card-grid-2">
                                                <div class="sub-card-style-2">
                                                        <p>ORDER</p>
                                                        <br>
                                                        <p>HISTORY</p>
                                                </div>
                                        </div>
                </div>                      
        </div>

        <div class="sub-grid-2">
                        <br>
                        <br>
                        <br>
                GRID-2
                <br>
                <br>
                <br>
        </div>

        <div class="sub-grid-3">
                        <br>
                        <br>
                        <br>
                GRID-3
                <br>
                <br>
                <br>
        </div>

</div>