<div class="main-grid">
	<div class="sub-grid-1">
		<div class="main-grid-1">
			<div class="primary-card-grid">
				<div class="grid-profile-card">
					<div class="left-sect">
						<div class="text-style">
							<div class="grid-user-info-1" *ngIf = "viewMode">
								<div class="l-name">
									Name
								</div>
								<div class="r-name" style="margin-left: -230px;">
									{{dynamicDataUsercard.name}}
								</div>
								<div class="l-address">
									Address
								</div>
								<div class="r-address" style="margin-left: -230px;">
									<label>
										{{dynamicDataUsercard.address}},
										{{dynamicDataUsercard.city}},
										{{dynamicDataUsercard.district}},
										<br>
										{{dynamicDataUsercard.state}},
										<br>
										{{dynamicDataUsercard.country}},
										<br>
										{{dynamicDataUsercard.pincode}}
									</label>
								</div>
								<div class="l-phone">
									Phone
								</div>
								<div class="r-phone" style="margin-left: -230px;">
									{{dynamicDataUsercard.phoneNo}}
								</div>
								<div class="l-email">
									Email
								</div>
								<div class="r-email" style="margin-left: -230px;">
									{{dynamicDataUsercard.email}}
								</div>
								<div class="col-1" style="margin-left: -130px;">
									<label>:</label>
								</div>
								<div class="col-2" style="margin-left: -130px;">
									<label>:</label>
								</div>
								<div class="col-3" style="margin-left: -130px;">
									<label>:</label>
								</div>
								<div class="col-4" style="margin-left: -130px;">
									<label>:</label>
								</div>
							</div>
							<div class="grid-user-info-2"  *ngIf = "editMode">
							   <form [formGroup]="registrationForm">
								<div class="left-name">
									Name
								</div>
								<div class="right-name">
									<input type="text" style="width: 208px;" value="{{dynamicDataUsercard.name}}" placeholder="Name" formControlName="fullname">
									<div *ngIf="submitted && registrationForm.controls.fullname.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.fullname.errors.required">
											Name is required !
										</div>
									</div>
								</div>
								<div class="left-address">
									Address
								</div>
								<div class="right-address">
									<input type="text"  style="width: 208px;" value="{{dynamicDataUsercard.address}}" placeholder="Address" formControlName="reg_address1">
									<div *ngIf="submitted && registrationForm.controls.reg_address1.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.reg_address1.errors.required">
											Address is required !
										</div>
									</div>
									<br>
									<input type="text"  style="width: 208px;" value="{{dynamicDataUsercard.city}}" placeholder="City" formControlName="reg_city">
									<div *ngIf="submitted && registrationForm.controls.reg_city.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.reg_city.errors.required">
											City is required !
										</div>
									</div>
									<br>
									<input type="text"  style="width: 208px;" value="{{dynamicDataUsercard.district}}" placeholder="District" formControlName="reg_dist">
									<div *ngIf="submitted && registrationForm.controls.reg_dist.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.reg_dist.errors.required">
											District is required !
										</div>
									</div>
									<br>
									<input type="text"  style="width: 208px;" value="{{dynamicDataUsercard.state}}" placeholder="State" formControlName="reg_state">
									<div *ngIf="submitted && registrationForm.controls.reg_state.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.reg_state.errors.required">
											State is required !
										</div>
									</div>
									<br>
									<input type="text"  style="width: 208px;" value="{{dynamicDataUsercard.country}}" placeholder="Country" formControlName="reg_country">
									<div *ngIf="submitted && registrationForm.controls.reg_country.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.reg_country.errors.required">
											Country is required !
										</div>
									</div>
									<br>
									<input type="text"  style="width: 208px;" value="{{dynamicDataUsercard.pincode}}" placeholder="Pincode" formControlName="reg_pin">
									<div *ngIf="submitted && registrationForm.controls.reg_pin.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.reg_pin.errors.required">
											Pincode is required !
										</div>
									</div>
									<br>
								</div>
								<div class="left-phone">
									Phone
								</div>
								<div class="right-phone">
									<input type="tel"  style="width: 208px;" value="{{dynamicDataUsercard.phoneNo}}" placeholder="Phone no" formControlName="reg_mobile_no">
									<div *ngIf="submitted && registrationForm.controls.reg_mobile_no.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.reg_mobile_no.errors.required">
											Mobile no is required !
										</div>
										<div *ngIf="registrationForm.controls.reg_mobile_no.hasError('minlength')">
											Enter valid Mobile Number !
										</div>
										<div *ngIf="registrationForm.controls.reg_mobile_no.hasError('maxlength')">
											Enter valid Mobile Number !
										</div>
										<div *ngIf="registrationForm.controls.reg_mobile_no.hasError('pattern')">
											Enter Only digits !
										</div>
									</div>
								</div>
								<br>
								<button type="button" class="button-fp" (click)="newVerify();" *ngIf="!otpVerified">
									Verify
								</button>
								<br>
								<div *ngIf="otpSent">
								   <form [formGroup]="fpFormOtp">
									<input type="text" placeholder="Enter OTP:" class="text-input-style" formControlName="fp_otp" style="margin-top: 21px;">
									<div *ngIf="submitted && fpFormOtp.controls.fp_otp.errors" class="error validator-style">
										<div *ngIf="fpFormOtp.controls.fp_otp.errors.required">
										Enter OTP !
										</div>
										<div *ngIf="fpFormOtp.controls.fp_otp.hasError('minlength')">
										Enter valid OTP !
										</div>
										<div *ngIf="fpFormOtp.controls.fp_otp.hasError('maxlength')">
										Enter valid OTP !
										</div>
										<div *ngIf="fpFormOtp.controls.fp_otp.hasError('pattern')">
										Enter Only digits !
										</div>
									</div>
								    </form>
								    <br>
									<div>
										<button class="button-fp" type="submit" (click)="verifyOTP()" [disabled]="!fpFormOtp.valid">Verify OTP</button>
									</div>
								</div>
								<div class="left-email">
									Email
								</div>
								<div class="right-email">
									<input type="email"  style="width: 208px;" value="{{dynamicDataUsercard.email}}" placeholder="Email" formControlName="reg_email">
									<div *ngIf="submitted && registrationForm.controls.reg_email.errors" class="error validator-style">
										<div *ngIf="registrationForm.controls.reg_email.errors.required">
											Email is required !
										</div>
										<div *ngIf="registrationForm.controls.reg_email.hasError('pattern')">
											Enter valid Email !
										</div>
									</div>
								</div>
								<!-- <div class="c-col-5">
									<label>:</label>
								</div>
								<div class="c-col-6">
									<label>:</label>
								</div>
								<div class="c-col-7">
									<label>:</label>
								</div>
								<div class="c-col-8">
									<label>:</label>
								</div> -->
							    </form>
							</div>
						</div>
					</div>
					<div class="right-sect-1">
						<button class="btn-style-1">SHOP FOLLOWING:
							{{dynamicDataShopCount.count}}</button>
					</div>
					<div class="right-sect-2">
						<button class="btn-style-2" (click)="edit();" *ngIf="viewMode">EDIT</button>
						<button class="btn-style-2" type="submit" (click)="save();" *ngIf="editMode">SAVE</button>
					</div>
					<div class="btn-password">
						<button class="btn-style-2" *ngIf="viewMode" data-toggle="modal" data-target="#myModal1">Change Password</button>
					</div>
				</div>
			</div>

			<!-- password reset popup -->
			<div class="container" id="modalContainer">
				<div class="modal fade" id="myModal1" role="dialog">
					<div class="modal-dialog">
					<div class="modal-content dvModalContent">
					<div class="modal-header dvModalHeader">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			
					<div>
					<form [formGroup]="fpFormPassword">
						<div class="modal-body">
						<div class="title-fp">
							<h3 style="font-family: BitterBold;">Change Password</h3>
						</div>
						<div>
							<input type="password" size="20" class="text-input-style" placeholder="Enter Current Password:"  id="current_password" formControlName="current_password">
							<div *ngIf="submitted && fpFormPassword.controls.current_password.errors" class="error validator-style">
							<div *ngIf="fpFormPassword.controls.current_password.errors.required">
								Enter Current Password !
							</div>
							</div>
						</div>
						<div>
							<input type="password" size="20" class="text-input-style" placeholder="Enter New Password:"  id="new_password" formControlName="new_password" style="margin-top: 25px;">
							<div *ngIf="submitted && fpFormPassword.controls.new_password.errors" class="error validator-style">
							<div *ngIf="fpFormPassword.controls.new_password.errors.required">
								Enter New Password !
							</div>
							</div>
						</div>
						<br>
						<div>
							<input type="password" size="20" class="text-input-style" placeholder="Confirm Password:"  id="confirm_password" formControlName="confirm_password">
							<div *ngIf="submitted && fpFormPassword.controls.confirm_password.errors" class="error validator-style">
							<div *ngIf="fpFormPassword.controls.confirm_password.errors.required">
								Confirm New Password !
							</div>
							</div>
						</div>
						<br>
						<div>
						<button class="btnChange" style="width: auto; border: none; background: #EFBE24; border-radius: 3px; 
						height: 35px; color: white;" type="submit" (click)="changePassword()">
						  Change Password
						</button>
						</div>
						</div>
					
					</form>
					</div>
					</div>
			
					</div>
					</div>
			</div>
			<!-- password reset popup -->

			<div class="sub-card-grid-1">
				<div class="sub-card-style-1">
					<p><a [routerLink]="[ '/orders' ]"><img src="assets/icons/userProfile/pendingPayment.png"></a></p>
					<a href="" class="notif"><span class="num">{{dynamicDataPendingPayCount.pcount}}</span></a>
				</div>
				<div class="sub-card-style-3">
					<p><a [routerLink]="[ '/orders' ]" class="link-style">PENDING<br>PAYMENT</a></p>
				</div>
				<div class="sub-card-style-2">
					<p><a routerLink="/orders"><img src="assets/icons/userProfile/orderHistory.png"></a></p>
				</div>
				<div class="sub-card-style-4">
					<p><a routerLink="/orders" class="link-style">ORDER<br>HISTORY</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="sub-grid-2">
		<div class="grid-2">
			<div class="shop-following">
				<mat-accordion>
					<mat-expansion-panel class="style-body">
						<mat-expansion-panel-header class="style-header">
							<mat-panel-title>
								SHOP FOLLOWING
							</mat-panel-title>
							<mat-panel-description>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div>
							<div class="grid-shop-following" *ngFor="let item of Object.keys(dynamicDataShopName)">
								<div class="shop-image">
									<p><img src="assets/images/shop/{{dynamicDataShopName[item].shopid}}/{{dynamicDataShopName[item].shopid}}_logo.jpg"
											height=50px; width=50px;>
									</p>
								</div>
								<div class="shop-description-1">
									Shop Name: {{dynamicDataShopName[item].shopname}}
								</div>
								<div class="shop-description-2">
									{{dynamicDataShopName[item].count}} sold by
									{{dynamicDataShopName[item].seller_name}}
								</div>
								<div class="shop-description-3">
									{{dynamicDataShopName[item].prodCount}} products
								</div>
								<div class="shop-follow">
									<button class="button-style-follow" (click)="clickfollowShop(dynamicDataShopName[item].shopid);" id="unFollowButton{{dynamicDataShopName[item].shopid}}" value="{{followlabel}}">
										Unfollow
									</button>
								</div>
								<div class="shop-rating">
									Rate
								</div>
								<div class="shop-rating-icon">
									<div *ngIf="dynamicDataShopName[item].rating == 1"> 
										<i class="fa fa-star active"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
									
									<div *ngIf="dynamicDataShopName[item].rating == 2"> 
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
									
									<div *ngIf="dynamicDataShopName[item].rating == 3"> 
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
									
									<div *ngIf="dynamicDataShopName[item].rating == 4"> 
										<i class="fa fa-star active"></i>  
										<i class="fa fa-star active"></i> 
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
										<i class="fa fa-star-o"></i>
									</div>
									
									<div *ngIf="dynamicDataShopName[item].rating == 5">  
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i> 
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
										<i class="fa fa-star active"></i>
									</div>
								</div>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>

			</div>
			<div class="saved-cards">
				<mat-accordion>
					<mat-expansion-panel class="style-body">
						<mat-expansion-panel-header class="style-header">
							<mat-panel-title>
								SAVED CARDS
							</mat-panel-title>
							<mat-panel-description>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div class="grid-saved-cards">
							<div class="expiry-label">
								<label style="margin-left: 190px;">Expires on</label>
							</div>
						</div>
						<div class="grid-saved-cards" *ngFor="let item of Object.keys(dynamicDataSavedCard)" id="debitCard{{dynamicDataSavedCard[item].cardnofull}}">
							
							<div class="card-no">
								XXXXXXXXXXXX{{dynamicDataSavedCard[item].cardno}}
							</div>
							<div class="expiry">
								{{dynamicDataSavedCard[item].expmon}}/{{dynamicDataSavedCard[item].exp_year}}
							</div>
							<div class="delete">
								<button style="border:none; background:inherit;" (click)="deleteCard(dynamicDataSavedCard[item].cardnofull);">
									<img src="assets/icons/userProfile/ic_delete.png"
									height=20px; width=20px;>
								</button>
							</div>
							<div class="select">
								<input type="radio" id=select[item]>
							</div>
						</div>
						<div class="grid-saved-cards">
							<form [formGroup]="cardForm">
								<div class="new-card">
									<label>ADD NEW CARD</label>
									<br>
									<input type="text" class="new-card-box" formControlName="cardno">
									<div *ngIf="submitted && cardForm.controls.cardno.errors" class="error validator-style">
										<div *ngIf="cardForm.controls.cardno.errors.required">
											Enter Card No !
										</div>
										<div *ngIf="cardForm.controls.cardno.hasError('minlength')">
											Enter valid Card Number !
										</div>
										<div *ngIf="cardForm.controls.cardno.hasError('maxlength')">
											Enter valid Card Number !
										</div>
										<div *ngIf="cardForm.controls.cardno.hasError('pattern')">
											Enter Only digits !
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="grid-saved-cards">
							<form [formGroup]="cardFormCvv">
								<div class="grid-saved-cards">
									<div class="cvv">
										<input type="text" size="8" class="card-input-style"
											placeholder="CVV" formControlName="cvv">
										<div *ngIf="submitted && cardFormCvv.controls.cvv.errors" class="error validator-style">
											<div *ngIf="cardFormCvv.controls.cvv.errors.required">
												Enter CVV !
											</div>
											<div *ngIf="cardFormCvv.controls.cvv.hasError('minlength')">
												Enter valid CVV !
											</div>
											<div *ngIf="cardFormCvv.controls.cvv.hasError('maxlength')">
												Enter valid CVV !
											</div>
											<div *ngIf="cardFormCvv.controls.cvv.hasError('pattern')">
												Enter Only digits !
											</div>
										</div>
									</div>
									<div class="val-label">
										<label>VALID TILL</label>
									</div>
									<div class="val">
										<input type="text" size="8" class="card-input-style" formControlName="month" placeholder="02">/<input type="text" size="8" class="card-input-style" formControlName="year" placeholder="12">
										<div *ngIf="submitted && cardFormCvv.controls.month.errors" class="error validator-style">
											<div *ngIf="cardFormCvv.controls.month.errors.required">
												Enter month!
											</div>
											<div *ngIf="cardFormCvv.controls.month.hasError('pattern')">
												Enter Only digits !
											</div>
											<div *ngIf="cardFormCvv.controls.month.hasError('minlength')">
												Enter valid month !
											</div>
											<div *ngIf="cardFormCvv.controls.month.hasError('maxlength')">
												Enter valid month !
											</div>
										</div>
										<div *ngIf="submitted && cardFormCvv.controls.year.errors" class="error validator-style">
											<div *ngIf="cardFormCvv.controls.year.errors.required">
												Enter year!
											</div>
											<div *ngIf="cardFormCvv.controls.year.hasError('pattern')">
												Enter Only digits !
											</div>
											<div *ngIf="cardFormCvv.controls.year.hasError('minlength')">
												Enter valid year !
											</div>
											<div *ngIf="cardFormCvv.controls.year.hasError('maxlength')">
												Enter valid year !
											</div>
										</div>
									</div>
									<div class="ver-gif">
										<button (click)="submitCardData()" style="background: inherit;border: none;" type="submit"><img src="assets/icons/userProfile/ic_ver_gif.png"
											height=20px; width=20px;>
										</button>
									</div>
								</div>
							</form>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
		<div class="grid-3">
			<div class="updates-card">
				<mat-accordion>
					<mat-expansion-panel class="style-body">
						<mat-expansion-panel-header class="style-header">
							<mat-panel-title>
								UPDATES
							</mat-panel-title>
							<mat-panel-description>
							</mat-panel-description>
						</mat-expansion-panel-header>
						<div class="grid-update-card" *ngFor="let item of Object.keys(dynamicNotification)">
							<div class="update-message">
								<p>{{dynamicNotification[item].message}}</p>

							</div>
							<div class="update-date">
								<!-- <p>{{dynamicNotification[item].date}}</p> -->
							</div>
							<div class="update-expiry">
								<label>ORDER ID: SMACAT{{dynamicNotification[item].orderId}}{{dynamicNotification[item].createDate}}</label>
							</div>
							<div class="update-button">
								<!-- <button class="button-style-update">BUY NOW</button> -->
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
			<div class="address-card">
				<mat-accordion>
					<mat-expansion-panel class="style-body ">
						<mat-expansion-panel-header class="style-header">
							<mat-panel-title>
								SAVED ADDRESS
							</mat-panel-title>
							<mat-panel-description>
							</mat-panel-description>
						</mat-expansion-panel-header>

						<div class="mat-style">
							<div class="grid-saved-address" *ngFor="let item of Object.keys(dynamicUserAddressData)" id="address{{dynamicUserAddressData[item].id}}">
								<div class="address">
									<label>{{dynamicUserAddressData[item].addressId}}</label>
								</div>
								
								<div class="delete">
									<button style="border:none; background:inherit;" (click)="deleteAddress(dynamicUserAddressData[item].id);">
										<img src="assets/icons/userProfile/ic_delete.png"
										height=20px; width=20px;>
									</button>
								</div>
								<div class="select">
									<input type="radio">
								</div>
							</div>
							<div class="grid-saved-address address-label">
								<label>ADD ADDRESS</label>
							</div>
							<div >
							   <form [formGroup]="addAddress" class="grid-add-address">
								<div class="Address">
									<label class="saved-card-style">Address</label>
									<br>
									<input type="text" size="24" class="card-input-style-address" formControlName="address1">
									<div *ngIf="submitted && addAddress.controls.address1.errors" class="error validator-style">
										<div *ngIf="addAddress.controls.address1.errors.required">
											Enter Address!
										</div>
									</div>
									
								</div>
								<div class="district">
									<label class="saved-card-style">District</label>
									<br>
									<input type="text" size="24" class="card-input-style-address" formControlName="district">
									<div *ngIf="submitted && addAddress.controls.district.errors" class="error validator-style">
										<div *ngIf="addAddress.controls.district.errors.required">
											Enter district!
										</div>
									</div>
									
								</div>
								<div class="country">
									<label class="saved-card-style">Country</label>
									<br>
									<input type="text" size="24" class="card-input-style-address" formControlName="country">
									<div *ngIf="submitted && addAddress.controls.country.errors" class="error validator-style">
										<div *ngIf="addAddress.controls.country.errors.required">
											Enter Country!
										</div>
									</div>
									
								</div>
								<div class="state">
									<label class="saved-card-style">State</label>
									<br>
									<input type="text" size="24" class="card-input-style-address" formControlName="state">
									<div *ngIf="submitted && addAddress.controls.state.errors" class="error validator-style">
										<div *ngIf="addAddress.controls.state.errors.required">
											Enter State!
										</div>
									</div>
								</div>
								<div class="city">
									<label class="saved-card-style">City</label>
									<br>
									<input type="text" size="24" class="card-input-style-address" formControlName="city">
									<div *ngIf="submitted && addAddress.controls.city.errors" class="error validator-style">
										<div *ngIf="addAddress.controls.city.errors.required">
											Enter City!
										</div>
									</div>
								</div>
								<div class="pin">
									<label class="saved-card-style">Pin</label>
									<br>
									<input type="text" size="24" class="card-input-style-address" formControlName="pin">
									<div *ngIf="submitted && addAddress.controls.pin.errors" class="error validator-style">
										<div *ngIf="addAddress.controls.pin.errors.required">
											Enter Pin!
										</div>
										<div *ngIf="addAddress.controls.pin.hasError('minlength')">
											Enter valid PIN !
										</div>
										<div *ngIf="addAddress.controls.pin.hasError('maxlength')">
											Enter valid PIN !
										</div>
										<div *ngIf="addAddress.controls.pin.hasError('pattern')">
											Enter Only digits !
										</div>
									</div>
								</div>
								<div class="email">
									<label class="saved-card-style">Email</label>
									<br>
									<input type="text" size="24" class="card-input-style-address" formControlName="email">
									<div *ngIf="submitted && addAddress.controls.email.errors" class="error validator-style">
										<div *ngIf="addAddress.controls.email.errors.required">
											Enter Email!
										</div>
										<div *ngIf="addAddress.controls.email.hasError('pattern')">
											Enter valid Email !
										</div>
									</div>
								</div>
								<div class="phone">
									<label class="saved-card-style">Phone</label>
									<br>
									<input type="text" size="24" class="card-input-style-address" formControlName="mobile">
									<div *ngIf="submitted && addAddress.controls.mobile.errors" class="error validator-style">
										<div *ngIf="addAddress.controls.mobile.errors.required">
											Enter Mobile!
										</div>
										<div *ngIf="addAddress.controls.mobile.hasError('minlength')">
											Enter valid Mobile Number !
										</div>
										<div *ngIf="addAddress.controls.mobile.hasError('maxlength')">
											Enter valid Mobile Number !
										</div>
										<div *ngIf="addAddress.controls.mobile.hasError('pattern')">
											Enter Only digits !
										</div>
									</div>
								</div>
								<div class="button">
									<button class="button-style-save" type="submit" (click)=addAddressData();>SAVE</button>
								</div>
							  </form>
							</div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</div>
		</div>
	</div>

	<div class="sub-grid-3">
		<div class="grid-btn-filter">
			<div class="current-order-label">
				<label style="margin-left: 150px; margin-top: 55px;">CURRENT ORDERS</label>
			</div>
			<div class="all">
				<button id="all-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="allFilter();">All</button>
			</div>
			<div class="pending-pay">
				<button id="pending-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="pendingPayFilter();" >Pending Payment</button>
			</div>
			<div class="ready-shipping">
				<button id="shipping-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="readyForShippingFilter();" >Ready for Shipping</button>
			</div>
		</div>
		<div class="grid-order-history-head" style="width: 90%; margin-left: 5%;" *ngIf="! noOrders">
			<div class="orders">
				<label>ORDERS</label>
			</div>
			<div class="status">
				<label>STATUS</label>
			</div>
			<div class="feedback">
				<label>FEEDBACK</label>
			</div>
		</div>

		<div class="grid-order-history" *ngFor="let item of Object.keys(dynamicDataOrderData)">
			<div class="prod-name">
				<label style="font-size: 19px; font-variant-caps: all-petite-caps;">{{dynamicDataOrderData[item].prodName}}</label>
			</div>
			<div class="desc">
				<p class="desc-style" >{{dynamicDataOrderData[item].shortDesc}}</p>
			</div>
			<div class="order-no">
				<label class="order-no-style">#SMACAT{{dynamicDataOrderData[item].orderId}}{{dynamicDataOrderData[item].createDate}}</label>
			</div>
			<div class="invoice">
				<button class="btn-invoice-style" (click)="openInvoice(dynamicDataOrderData[item].orderId);">VIEW INVOICE</button>
			</div>

			<div class="grid-status">
				<div class="pending-conf">
					<label class="label-style" >Pending Confirmation</label>
				</div>
				<div class="pending-pay">
					<label class="label-style">Pending Payment</label>
				</div>
				<div class="processing">
					<label class="label-style">Processing</label>
				</div>
				<div class="shipped">
					<label class="label-style">Shipped</label>
				</div>
				<div class="deliver">
					<label class="label-style">Delivered</label>
				</div>
				<div class="closed">
					<label class="label-style">Closed</label>
				</div>
				<div class="ic-pending-conf">
					<span class="dot">
						<img src="assets/images/userProfile/ic_pending_conf.png"
							style="padding-top: 11%;">
					</span>
				</div>
				<div class="ic-pending-pay">
					<span class="dot">
						<img src="assets/images/userProfile/ic_pending_pay.png"
							style="padding-top: 20%;">
					</span>
				</div>
				<div class="ic-processing">
					<img src="assets/images/userProfile/ic_processing.jpg" width="65px"
						height="60px" style="border-radius: 50%;">
				</div>
				<div class="ic-shipped">
					<img src="assets/images/userProfile/ic_shipped.jpg" width="65px" height="60px"
						style="border-radius: 50%;">
				</div>
				<div class="ic-deliver">
					<img src="assets/images/userProfile/ic_delivered.jpg" width="65px" height="60px"
						style="border-radius: 50%;">
				</div>
				<div class="ic-closed">
					<span class="dot">
						<img src="assets/images/userProfile/ic_closed.png"
							style="padding-top: 7%; margin-top: 7%;" width="50px"
							height="53px">
					</span>
				</div>
				<div class="stat-bar-1">
					<div *ngIf="dynamicDataOrderData[item].orderStatus == 'pending confirmation' "> 
						<div class="stats-1 stat-line">
						</div>
						<div class="full-circle circle-1" style=" margin-top: -31px;">
						</div>
						<div class="dot-circle circle-2" style=" margin-top: -19px;">
						</div>
						<div class="dot-circle circle-3" style=" margin-top: -21px;">
						</div>
						<div class="dot-circle circle-4" style=" margin-top: -21px;">
						</div>
						<div class="dot-circle circle-5" style=" margin-top: -20px;">
						</div>
						<div class="dot-circle circle-6" style=" margin-top: -20px;">
						</div>
					</div>
					<div *ngIf="dynamicDataOrderData[item].orderStatus == 'pending payment' "> 
						<div class="stats-1 stat-line">
						</div>
						<div class="full-circle circle-1" style=" margin-top: -31px;">
						</div>
						<div class="full-circle circle-2" style=" margin-top: -19px;">
						</div>
						<div class="dot-circle circle-3" style=" margin-top: -21px;">
						</div>
						<div class="dot-circle circle-4" style=" margin-top: -21px;">
						</div>
						<div class="dot-circle circle-5" style=" margin-top: -20px;">
						</div>
						<div class="dot-circle circle-6" style=" margin-top: -20px;">
						</div>
					</div>
					<div *ngIf="dynamicDataOrderData[item].orderStatus == 'processing' "> 
						<div class="stats-1 stat-line">
						</div>
						<div class="full-circle circle-1" style=" margin-top: -31px;">
						</div>
						<div class="full-circle circle-2" style=" margin-top: -19px;">
						</div>
						<div class="full-circle circle-3" style=" margin-top: -21px;">
						</div>
						<div class="dot-circle circle-4" style=" margin-top: -21px;">
						</div>
						<div class="dot-circle circle-5" style=" margin-top: -20px;">
						</div>
						<div class="dot-circle circle-6" style=" margin-top: -20px;">
						</div>
					</div>
					<div *ngIf="dynamicDataOrderData[item].orderStatus == 'shipped' "> 
						<div class="stats-1 stat-line">
						</div>
						<div class="full-circle circle-1" style=" margin-top: -31px;">
						</div>
						<div class="full-circle circle-2" style=" margin-top: -19px;">
						</div>
						<div class="full-circle circle-3" style=" margin-top: -21px;">
						</div>
						<div class="full-circle circle-4" style=" margin-top: -21px;">
						</div>
						<div class="dot-circle circle-5" style=" margin-top: -20px;">
						</div>
						<div class="dot-circle circle-6" style=" margin-top: -20px;">
						</div>
					</div>
					<div *ngIf="dynamicDataOrderData[item].orderStatus == 'delivered' "> 
						<div class="stats-1 stat-line">
						</div>
						<div class="full-circle circle-1" style=" margin-top: -31px;">
						</div>
						<div class="full-circle circle-2" style=" margin-top: -19px;">
						</div>
						<div class="full-circle circle-3" style=" margin-top: -21px;">
						</div>
						<div class="full-circle circle-4" style=" margin-top: -21px;">
						</div>
						<div class="full-circle circle-5" style=" margin-top: -20px;">
						</div>
						<div class="dot-circle circle-6" style=" margin-top: -20px;">
						</div>
					</div>
					<div *ngIf="dynamicDataOrderData[item].orderStatus == 'closed' "> 
						<div class="stats-1 stat-line">
						</div>
						<div class="full-circle circle-1" style=" margin-top: -31px;">
						</div>
						<div class="full-circle circle-2" style=" margin-top: -19px;">
						</div>
						<div class="full-circle circle-3" style=" margin-top: -21px;">
						</div>
						<div class="full-circle circle-4" style=" margin-top: -21px;">
						</div>
						<div class="full-circle circle-5" style=" margin-top: -20px;">
						</div>
						<div class="full-circle circle-6" style=" margin-top: -20px;">
						</div>
					</div>
				</div>
				
				<div class="label-1">
				       <label class="date-style">{{dynamicDataOrderData[item].stage_1_date}}</label>
				</div>
				<div class="label-2">
					<label class="date-style">{{dynamicDataOrderData[item].stage_2_date}}</label>
				 </div>
				 <div class="label-3">
					<label class="date-style">{{dynamicDataOrderData[item].stage_3_date}}</label>
				 </div>
				 <div class="label-4">
					<label class="date-style">{{dynamicDataOrderData[item].stage_4_date}}</label>
					<br>
					<a><label class="date-style">{{dynamicDataOrderData[item].tracking_hyperlink}}</label></a>
					<br>
					<label class="date-style">Tracking No:{{dynamicDataOrderData[item].tracking_number}}</label>
				 </div>
				 <div class="label-5">
					<label class="date-style">{{dynamicDataOrderData[item].stage_5_date}}</label>
				 </div>
				 <div class="label-6">
					<label class="date-style">{{dynamicDataOrderData[item].stage_6_date}}</label>
				 </div>
			</div>
			<div class="feedback-stat">
				<label>{{dynamicDataOrderData[item].orderStatus}}</label>
			</div>
			<div class="feedback-desc" *ngIf="dynamicDataOrderData[item].orderStatus != 'closed' ">
				<p style="font-family: Bitter;" class="del-before">delivery before</p>
				<br>
				<p class="del-date">{{dynamicDataOrderData[item].delivery}}</p>
			</div>
			<div class="btn-req-update">
				<button class="btn-req-update-style" *ngIf="dynamicDataOrderData[item].orderStatus != 'closed'&&dynamicDataOrderData[item].orderStatus !='pending_payment'" (click)="reqUpdate(dynamicDataOrderData[item].prodId);">REQUEST UPDATE</button>
				<button class="btn-req-update-style" *ngIf="dynamicDataOrderData[item].orderStatus == 'pending_payment'" (click)="paynow(dynamicDataOrderData[item]);">PAY NOW</button>
				<div *ngIf="dynamicDataOrderData[item].orderStatus == 'closed'">
					<div class="container" style="height: auto;">
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn-review" data-toggle="modal"
								data-target="#myModalReview">REVIEW</button>
						<!-- Modal -->

					</div>
				</div>
			</div>

			<div class="btn-complaint">
				<div class="container" style="height: auto;">
					<!-- Trigger the modal with a button -->
					<button type="button" class="btn-lg btn-complaint-style btn-complaint-mob"
					 data-toggle="modal" data-target="#myModal">COMPLAINT</button>
					<!-- Modal -->
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content" style="border-radius: 18px;">
								<div class="modal-header" style="border-top-right-radius: 18px; border-top-left-radius: 18px;">
										<h4 class="modal-title"
												style="text-align: center; margin-left: auto;">
												COMPLAINT</h4>
										<button type="button" class="close"
												data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body">
									<form [formGroup]="addComplaint">
										<div class="grid-complaint">
											<div class="username">
												<label>Username</label>
												<br>
												<input type="text" class="user-style" value="{{dynamicDataUsercard.username}}" formControlName="username">
												<div *ngIf="submitted && addComplaint.controls.username.errors" class="error validator-style">
													<div *ngIf="addComplaint.controls.username.errors.required">
														Enter Username
													</div>
												</div>
											</div>
											<div class="write-complaint">
												<textarea placeholder="Write your complaint"
													class="text-area-style" formControlName="complaint_desc">
												</textarea>
												<div *ngIf="submitted && addComplaint.controls.complaint_desc.errors" class="error validator-style">
													<div *ngIf="addComplaint.controls.complaint_desc.errors.required">
														Required
													</div>
												</div>
												<br>
												<button class="submit" (click)="onSubmitComplaint(dynamicDataOrderData[item].sellerId);" type="submit" style="margin-top: 18px;">Submit</button>
											</div>
											<div class="add-image">
												<label>Add image</label>
												<br>
												<div class="flex-container">
													<div>
														<input style="display: none;" type="file" id="frontUpload" (click)="frontUpload()" accept="image/*" #fileInput1>
														<button (click)="fileInput1.click()" type="button" style="border: none; margin-left: -13px;
														margin-top: 2px; background: inherit;">+</button>
														<img id="frontPreviewId" style="display: none; margin-left: -9px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront1" height="200">
													</div>
													<div>
														<input style="display: none;" type="file" id="frontUpload2" (click)="frontUpload2()" accept="image/*" #fileInput2>
														<button (click)="fileInput2.click()" type="button" style="border: none; margin-left: 23px;
														margin-top: 2px; background: inherit;">+</button>
														<img id="frontPreviewId2" style="display: none; margin-left: 10px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront2" height="200">
													</div>
													<div>
														<input style="display: none;" type="file" id="frontUpload3" (click)="frontUpload3()" accept="image/*" #fileInput3>
														<button (click)="fileInput3.click()" type="button" style="border: none; margin-left: 23px;
														margin-top: 2px; background: inherit;">+</button>
														<img id="frontPreviewId3" style="display: none; margin-left: 20px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront3" height="200">
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer" style="border-bottom-right-radius: 18px; border-bottom-left-radius: 18px;">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
						
		</div>
	</div>
	<div class="grid-no-order" *ngIf="noOrders">
		<div class="header">
			<label class="no-order">NO ORDERS AVAILABLE</label>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalReview" role="dialog" >
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" class="modal-review">
			<div class="modal-header" style="border-top-right-radius: 18px; border-top-left-radius: 18px;">
					<h4 class="modal-title" style="text-align: center; margin-left: auto;">
						REVIEW
					</h4>
					<button type="button" class="close"
							data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="addReview">
					<div class="grid-complaint">
						<div class="username">
								<label>Title</label>
								<br>
								<input type="text" class="user-style title-style" formControlName="title">
								<div *ngIf="submittedReview && addReview.controls.title.errors" class="error validator-style">
										<div *ngIf="addReview.controls.title.errors.required">
												Required
										</div>
								</div>
						</div>
						<div class="write-complaint">
								<textarea placeholder="Review" class="text-area-style title-style-2" formControlName="review_desc"></textarea>
								<div *ngIf="submittedReview && addReview.controls.review_desc.errors" class="error validator-style">
										<div *ngIf="addReview.controls.review_desc.errors.required">
												Required
										</div>
								</div>
								<div>
									<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-1');" id="star-1"></span>
									<span class="fa fa-star active" (click)="addStar('star-1');" id="star-1-active" style="display: none; color: #EFBE24;"></span>
									<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-2');" id="star-2"></span>
									<span class="fa fa-star active" (click)="addStar('star-2');" id="star-2-active" style="display: none; color: #EFBE24;"></span>
									<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-3');" id="star-3"></span>
									<span class="fa fa-star active" (click)="addStar('star-3');" id="star-3-active" style="display: none; color: #EFBE24;"></span>
									<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-4');" id="star-4"></span>
									<span class="fa fa-star active" (click)="addStar('star-4');" id="star-4-active" style="display: none; color: #EFBE24;"></span>
									<span class="fa fa-star-o" style="color: #EFBE24;" (click)="addStar('star-5');" id="star-5"></span>
									<span class="fa fa-star active" (click)="addStar('star-5');" id="star-5-active" style="display: none; color: #EFBE24;"></span>
								</div>
								<div>
									<button class="submit btn-review-submit" (click)="onSubmitReview(dynamicDataOrderData[item].prodId);" type="submit">Submit</button>
								</div>
								
						</div>
						<div class="add-image">
							<label>Add image</label>
							<br>
							<div class="flex-container">
								<div>
									<input style="display: none;" type="file" id="frontUpload4" (click)="frontUpload4()" accept="image/*" #fileInput4>
									<button (click)="fileInput4.click()" type="button" style="border: none; margin-left: -13px;
									margin-top: 2px; background: inherit;">+</button>
									<img id="frontPreviewId4" style="display: none; margin-left: -9px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront4" height="200">
								</div>
								<div>
									<input style="display: none;" type="file" id="frontUpload5" (click)="frontUpload5()" accept="image/*" #fileInput5>
									<button (click)="fileInput5.click()" type="button" style="border: none; margin-left: 23px;
									margin-top: 2px; background: inherit;">+</button>
									<img id="frontPreviewId5" style="display: none; margin-left: 10px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront5" height="200">
								</div>
								<div>
									<input style="display: none;" type="file" id="frontUpload6" (click)="frontUpload6()" accept="image/*" #fileInput6>
									<button (click)="fileInput6.click()" type="button" style="border: none; margin-left: 23px;
									margin-top: 2px; background: inherit;">+</button>
									<img id="frontPreviewId6" style="display: none; margin-left: 20px; width: 100px; height: 100px; margin-top: -79px;" [src]="urlFront6" height="200">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- <div class="modal-footer" style="border-bottom-left-radius: 18px;
			border-bottom-right-radius: 18px;">
					<button type="button" class="btn btn-default"
							data-dismiss="modal">Close</button>
			</div> -->
		</div>
	</div>
</div>

