/* Smaller devices */
@mixin sm-lesser {
    @media (max-width: 600px) {
      @content;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @mixin sm {
    @media (min-width: 600px) {
      @content;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @mixin md {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @mixin lg {
    @media (min-width: 992px) {
      @content;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @mixin xlg {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @mixin mlg {
    @media (min-width: 1400px) {
      @content;
    }
  }
  @mixin xxlg {
    @media (min-width: 1500px) {
        @content;
    }
}
.breadcrumb-layout{
    margin-left: 5%;
    width: auto;
}
.hrdiv{
margin-right: 10%;
width: auto;
}
.breadcrumb {
margin-top: 2%;
padding: 8px 16px;
list-style: none;
background-color: inherit;
font-family: "BitterBold";
}
.breadcrumb li {
display: inline;
font-size: 14px;
}
.breadcrumb li+li:before {
padding: 8px;
color: black;
content: ">\00a0";
}
.breadcrumb li a {
color: #0275d8;
text-decoration: none;
}
.breadcrumb li a:hover {
color: #01447e;
text-decoration: underline;
}
.grid-main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: "section-1"
                         "section-2"
                         "section-3"
                         "section-4"
                         "section-5";
    font-family: BitterBold;
    margin-top: 80px;
    @include sm-lesser{
        font-size: 11px;
    }
    .section-1{
        grid-area: section-1;
        @include xxlg{
            margin-left: 5%;
        }
        .grid-1{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 40% 20% 40%;
            grid-template-areas: "left-sect right-sect-1"
                                 "left-sect right-sect-2"
                                 "left-sect right-sect-3";
            padding-left: 15%;
            padding-top: 50px;
            padding-right: 174px;
            grid-row-gap: 30px;
            @include sm-lesser{
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto auto auto auto auto;
                grid-template-areas: 
                "left-sect"
                "left-sect"
                "left-sect"
                "right-sect-1"
                "right-sect-2"
                "right-sect-3";
                padding-left: 2%;
            }
            .date-style{
                margin-top: -309px; 
                margin-left: 43px;
                @include sm-lesser{
                    margin-top: -568px;
                    margin-left: 10px;
                    font-size: 13px;
                }
            }
            .left-sect{
                grid-area: left-sect;
                background: #f7f7f7;
                height: 230px;
                width: 331px;
                border-radius: 5px;
                padding-left: 17px;
                padding-top: 11px;
                .manage-img-style{
                    margin-top: -60px;
                    @include sm-lesser{
                        margin-top: -53px;
                    }
                }
                .text-style{
                    margin-left: 28%;
                    font-size: 18px;
                    transform: translate(-66px, -112px);
                }
            }
            .right-sect-1{
                grid-area: right-sect-1;
                background: #f7f7f7;
                height: 60px;
                width: 430px;
                border-radius: 5px;
                @include sm-lesser{
                    width: 318px;
                }
                .day{
                    height: 70px;
                    width: 60px;
                    background: #EFBE24;
                    margin-top: -9%;
                    margin-left: 79%;
                    border-radius: 4px;
                    color: white;
                    .day-style{
                        text-align: center;
                        padding-top: 11px;
                        font-size: 30px;
                    }
                }
                .grid-delivery-info{
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: 33% 33% 33%;
                    grid-template-areas: "label-1 date label-2";
                    // @include sm-lesser{
                    //     display: grid;
                    //     grid-template-rows: auto auto auto;
                    //     grid-template-columns: auto;
                    //     grid-template-areas: "label-1"
                    //                          "date"
                    //                          "label-2";
                    // }
                }
                .label-1{
                    grid-area: label-1;
                    margin-top: -29px;
                    margin-left: 12px;
                }
                .date{
                    grid-area: date;
                    margin-top: -18px;
                    margin-left: 22px;
                    color: green;
                }
                .label-2{
                    grid-area: label-2;
                    margin-left: 43px;
                }
            }
            .right-sect-2{
                grid-area: right-sect-2;
                .grid-current-status{
                    display: grid;
                    grid-template-columns: 70% 15% 15%;
                    grid-template-rows: auto;
                    grid-template-areas: "status nav-1 nav-2";
                    @include sm-lesser{
                        margin-left: 0%;
                    }
                    a{
                        text-decoration: none;
                        display: inline-block;
                        padding: 8px 16px;
                      }
                    .a:hover {
                        background-color: #ddd;
                        color: black;
                    }
                    .previous {
                        background-color: #EFBE24;
                        color: white;
                        font-size: 17px;
                    }
                    .next {
                        background-color: #EFBE24;
                        color: white;
                        font-size: 17px;
                    }
                    .round {
                        border-radius: 15%;
                    }
                    i {
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 6px;
                      }
                      .status-style{
                          color: white;
                          text-align: center;
                          padding-top: 8px;
                      }
                      .nav-1{
                        grid-area: nav-1;
                        margin-left: -64%;
                        @include sm-lesser{
                            margin-left: -5%;
                        }
                        @include xlg{
                            margin-left: -12%;
                        }
                        @include mlg{
                            margin-left: -69%
                        }
                        @include xxlg{
                            margin-left: -174%;
                        }
                        .left {
                        transform: rotate(135deg);
                        -webkit-transform: rotate(135deg);
                        }
                          
                    }
                    .nav-2{
                        grid-area: nav-2;
                        margin-left: -82%;
                        @include sm-lesser{
                            margin-left: 7%;
                        }
                        @include xlg{
                            margin-left: -14%;
                        }
                        @include mlg{
                            margin-left: -80%
                        }
                        @include xxlg{
                            margin-left: -222%;
                        }
                        .right {
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                        }
                    }
                    .status{
                        grid-area: status;
                        background: rgb(20, 98, 20);
                        height: 40px;
                        width: 296px;
                        border-radius: 5px;
                        @include sm-lesser{
                            height: 40px;
                            width: 220px;
                        }
                    }
                }
            }
            .right-sect-3{
                grid-area: right-sect-3;
                background: #f7f7f7;
                height: 80px;
                width: 430px;
                border-radius: 5px;
                @include sm-lesser{
                    width: 330px;
                }
                .grid-pro-desc{
                    display: grid;
                    grid-template-rows: 50% 50%;
                    grid-template-columns: 33% 33% 33%;
                    grid-template-areas: "qty tax total"
                                         "var-price . ship-price";
                    font-size: 13px;
                    padding-left: 27px;
                    padding-top: 10px;
                    @include sm-lesser{
                        font-size: 11px;
                        padding-left: 18px;
                        padding-top: 14px;
                    }
                }
                .qty{
                    grid-area: qty;
                }
                .tax{
                    grid-area: tax;
                }
                .total{
                    grid-area: total;
                }
                .var-price{
                    grid-area: var-price;
                }
                .ship-price{
                    grid-area: ship-price;
                }
            }
        }
    }
    .section-2{
        grid-area: section-2;
        @include xxlg{
            margin-left: 5%;
        }
        .grid-2{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 50% 50%;
            grid-template-areas: "prod-details card-total";
            @include sm-lesser{
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: auto;
                grid-template-areas: "prod-details"
                                     "card-total"; 
            }
        }
        .prod-details{
            grid-area: prod-details;
            height: 265px;
            width: 380px;
            background: #f7f7f7;
            margin-left: 191px;
            margin-top: 50px;
            border-radius: 6px;
            @include sm-lesser{
                height: 230px;
                margin-left: 13px;
                margin-top: 20px;
                width: 350px;
            }
            @include xxlg{
                margin-left: 264px;
            }
            .grid-pro-card{
                display: grid;
                grid-template-rows: auto auto auto auto auto auto;
                grid-template-columns: 50% 50%;
                grid-template-areas: "prod-name-label prod-name"
                                     "var-label pincode-label"
                                     "var-1 pincode"
                                     ". place"
                                     "cust-name-label cust-name"
                                     "attachment .";
                margin-top: 16px;
                margin-left: 19px;
                @include sm-lesser{
                    margin-left: 35px;
                }
            }
            .cust-name{
                grid-area: cust-name;
                font-family: Bitter;
            }
            .prod-name-label{
                grid-area: prod-name-label;
            }
            .prod-name{
                grid-area: prod-name;
                font-family: Bitter;
            }
            .var-label{
                grid-area: var-label;
            }
            .pincode-label{
                grid-area: pincode-label;
            }
            .var-1{
                grid-area: var-1;
                font-family: Bitter;
            }
            // .var-2{
            //     grid-area: var-2;
            //     font-family: Bitter;
            // }
            // .var-3{
            //     grid-area: var-3;
            //     font-family: Bitter;
            // }
            .pincode{
                grid-area: pincode;
                font-family: Bitter;
            }
            .place{
                grid-area: place;
                font-family: Bitter;
            }
            .cust-name-label{
                grid-area: cust-name-label;
            }
            .attachment{
                grid-area: attachment;
                .flex-container {
                    display: flex;
                    flex-wrap: nowrap;
                    margin-top: -35px;
                }
                .flex-container > div {
                  width: 100px;
                  margin: 5px;
                  text-align: center;
                  line-height: 75px;
                  font-size: 30px;
                }
            }
        }
        .card-total{
            grid-area: card-total;
            height: 250px;
            width: 428px;
            margin-left: 15px;
            margin-top: 50px;
            border-radius: 6px;
            @include sm-lesser{
                width: 360px;
                margin-left: 11px;
            }
            @include xxlg{
                margin-left: 8%;
            }
            .grid-total-card{
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: 33% 33% 33%;
                grid-template-areas: "amount ship subtotal";
                font-size: 12px;
                font-family: Bitter;
                text-align: center;
                .amount-style{
                    margin-bottom: 7px;
                }
                .dot {
                    height: 90px;
                    width: 90px;
                    background-color: #EFBE24;
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: 1px;
                    margin-top: -48px;
                }
                .img-style{
                    margin-top: -120px;
                    margin-left: 3px;
                }
            }
            .amount{
                grid-area: amount;
                height: 126px;
                width: 117px;
                background: #f7f7f7;
                margin-top: 40px;
                border-radius: 5px;
            }
            .ship{
                grid-area: ship;
                height: 126px;
                width: 117px;
                background: #f7f7f7;
                margin-top: 40px;
                border-radius: 5px;
            }
            .subtotal{
                grid-area: subtotal;
                height: 126px;
                width: 117px;
                background: #f7f7f7;
                margin-top: 40px;
                border-radius: 5px;
            }
        }
    }
    .section-3{
        grid-area: section-3;
        @include xxlg{
            margin-left: 5%;
        }
        .grid-3{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 50% 50%;
            grid-template-areas: "gift-details ship-details";
            @include sm-lesser{
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: auto;
                grid-template-areas: "gift-details"
                                     "ship-details";
            }
        }
        .gift-details{
            grid-area: gift-details;
            height: 220px;
            width: 379px;
            background: #f7f7f7;
            margin-left: 191px;
            margin-top: 50px;
            border-radius: 6px;
            @include sm-lesser{
                margin-left: 13px;
                width: 349px;
                margin-top: -30px;
            }
            @include xxlg{
                margin-left: 264px;
            }
            .grid-gift-details{
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto;
                grid-template-areas: "note"
                                     "address";
                margin-left: 28px;
                margin-top: 22px;
                .gift-style{
                    font-family: Bitter;
                    font-size: 12px;
                }
            }
            .note{
                grid-area: note;
            }
            .address{
                grid-area: address;
            }
        }
        .ship-details{
            grid-area: ship-details;
            height: 220px;
            width: 415px;
            background: #f7f7f7;
            margin-left: 15px;
            margin-top: 50px;
            border-radius: 6px;
            @include sm-lesser{
                height: 183px;
                width: 347px;
            }
            @include xxlg{
                margin-left: 8%;
            }
            .grid-ship-details{
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto auto auto auto auto;
                grid-template-areas: "c-name-label c-name"
                                     "c-phone-label c-phone"
                                     "c-address address"
                                     "track-no-label track-no"
                                     "ship-type-label ship-type";
                margin-left: 20px;
                margin-top: 17px;
                @include sm-lesser{
                    margin-left: 30px;
                    margin-top: 19px;
                }
            }
            .c-name-label{
                grid-area: c-name-label;
            }
            .c-name{
                grid-area: c-name;
                font-family: Bitter;
            }
            .c-phone-label{
                grid-area: c-phone-label;
            }
            .c-phone{
                grid-area: c-phone;
                font-family: Bitter;
            }
            .c-address{
                grid-area: c-address;
            }
            .address{
                grid-area: address;
                font-family: Bitter;
            }
            .track-no-label{
                grid-area: track-no-label;
            }
            .track-no{
                grid-area: track-no;
                font-family: Bitter;
            }
            .ship-type-label{
                grid-area: ship-type-label;
            }
            .ship-type{
                grid-area: ship-type;
                font-family: Bitter;
            }
        }
    }
    .section-4{
        grid-area: section-4;
        margin-bottom: 480px;
        overflow-x: scroll;
        .grid-order-history{
            background: #f7f7f7;
            width: 1296px;
            height: 400px;
            margin-left: 72px;
            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;
            @include sm-lesser{
                margin-left: 2%;
                // width: 1296px;
            }
            @include xlg{
                margin-left: 5%;
                width: 90%;
            }
            @include xxlg{
                margin-left: 5%;
                width: 90%;
            }
            .update-btn{
                margin-top: 81px;
                margin-left: 600px;
                border: none;
                background:green;
                color:white;
                border-radius: 6px;
                height: 41px;
                @include xlg{
                    margin-left: 45%;
                }
                @include xxlg{
                    margin-left: 47%;
                }
            }
        }
        .cancel-btn{
            margin-top: 0px;
            margin-left: 500px;
            border: none;
            background:#EFBE24;
            color:white;
            border-radius: 6px;
            height: 41px;
            width: 183px;
        }
        .confirm-btn{
            // margin-top: 81px;
            margin-left: 65px;
            border: none;
            background:#EFBE24;
            color:white;
            border-radius: 6px;
            height: 41px;
        }
        .grid-order-history-head{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: "status";
            margin-top: 4%;
            font-family: BitterBold;
            width: 90%; 
            margin-left: 5%;
            @include sm-lesser{
                margin-left: 2%;
                width: 257%;
            }
        }
        .status{
            background: #dbdbdb;
            grid-area: status;
            text-align: center;
            padding: 5px;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
        }
        .grid-status{
            display: grid;
            grid-template-rows: auto auto auto auto;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-areas: "pending-conf pending-pay processing shipped deliver closed"
                                 "ic-pending-conf ic-pending-pay ic-processing ic-shipped ic-deliver ic-closed"
                                 "stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1"
                                 "label-1 label-2 label-3 label-4 label-5 label-6";
            font-size: 8px;
            align-content: center;
            text-align: center;
        }
        .pending-conf{
            margin-top: 50px;
            grid-area: pending-conf;
        }
        .pending-pay{
            margin-top: 50px;
            grid-area: pending-pay;
        }
        .processing{
            margin-top: 50px;
            grid-area: processing; 
        }
        .shipped{
            margin-top: 50px;
            grid-area: shipped;
        }
        .deliver{
            margin-top: 50px;
            grid-area: deliver;
        }
        .closed{
            margin-top: 50px;
            grid-area: closed;
        }
        .ic-pending-conf{
            grid-area: ic-pending-conf;
        }
        .ic-pending-pay{
            grid-area: ic-pending-pay;
        }
        .ic-processing{
            grid-area: ic-processing;
        }
        .ic-shipped{
            grid-area: ic-shipped;
        }
        .ic-deliver{
            grid-area: ic-deliver;
        }
        .ic-closed{
            grid-area: ic-closed;
        }
        .label-1{
            grid-area: label-1;
            margin-bottom: -32px;
        }
        .label-2{
            grid-area: label-2;
            margin-bottom: -32px;
        }
        .label-3{
            grid-area: label-3;
            margin-bottom: -32px;
        }
        .label-4{
            grid-area: label-4;
            margin-bottom: -32px;
        }
        .label-5{
            grid-area: label-5;
            margin-bottom: -32px;
        }
        .label-6{
            grid-area: label-6;
            margin-bottom: -32px;
        }
        .dot {
            height: 65px;
            width: 65px;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
          }
        .stat-bar-1{
            grid-area: stat-bar-1;
            margin-top: 20px;
            width: 82%;
            margin-left: 122px;
        }
        .stats-1 {
            padding: 0px 60px;
            display: flex;
            justify-content: center;
            border-top: 2px solid #EFBE24;
            position: relative;
            transition: all 200ms ease-in ;
            font-weight: 600;
            width: 1074px;
            @include sm-lesser{
                width: 1070px;
            }
            @include xlg{
                width: 100%;
                margin-left: -1%;
            }
            @include mlg{
                width: 101%;
            }
            @include xxlg{
                width: 101%;
                margin-left: 2%;
            }
          }
          .full-circle{
            height: 20px;
            width: 20px;
            background-color: #EFBE24;
            border-radius: 50%;
          }
          .dot-circle{
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 25px;
            border: 2px solid #EFBE24;
            position: relative;
          }
    }
    .section-5{
        grid-area: section-5;
    }
}
.grid-btn{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "cancel accept"
                         "c-area .";
}
.cancel{
    grid-area: cancel;
}
.accept{
    grid-area: accept;
}
.c-area{
    grid-area: c-area;
}
.cancel-area{
    background: #d1d3d4;
    width: 182px;
    margin-left: 500px;
}
.order-list{
    .grid-order-history-head{
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: auto;
        grid-template-areas: "orders status";
        margin-top: 4%;
        font-family: BitterBold;
        width: 90%;
        @include sm-lesser{
            width: 313%;
        }
    }
    .orders{
        background: #dbdbdb;
        border-top-left-radius: 18px;
        grid-area: orders;
        text-align: center;
        border-right: 1px solid rgb(114, 114, 114);
        padding: 5px;
    }
    .status{
        background: #dbdbdb;
        grid-area: status;
        text-align: center;
        padding: 5px;
        border-top-right-radius: 16px;
    }
    .grid-order-history{
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-rows: 30% auto auto auto auto auto auto auto;
        grid-template-areas:    "prod-name g-status"
                                "desc g-status"
                                "order-no g-status"
                                "invoice g-status"
                                "c-info-label g-status"
                                "c-name g-status"
                                "c-location g-status"
                                "order-btn g-status";
        border-radius: 18px;
        width: 90%;
        background: #f7f7f7;
        margin-left: 5%;
        font-family: BitterBold;
        font-size: 14px;
        padding-bottom: 6%;
        margin-bottom: 8%;
        padding-top: 3%;
        margin-top: -3%;
        // padding-left: 30px;
        @include xxlg{
            margin-top: -2%;
        }
        @include sm-lesser{
            width: 313%;
            padding-left: 30px;
        }
    }
    .g-status{
        grid-area: g-status;
    }
    .grid-status-all{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-areas: "pending-conf pending-pay processing shipped deliver closed"
                             "ic-pending-conf ic-pending-pay ic-processing ic-shipped ic-deliver ic-closed"
                             "stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1 stat-bar-1"
                             "label-1 label-2 label-3 label-4 label-5 label-6";
        font-size: 8px;
        align-content: center;
        text-align: center;
        .pending-conf{
            grid-area: pending-conf;
        }
        .pending-pay{
            grid-area: pending-pay;
        }
        .processing{
            grid-area: processing; 
        }
        .shipped{
            grid-area: shipped;
        }
        .deliver{
            grid-area: deliver;
        }
        .closed{
            grid-area: closed;
        }
        .ic-pending-conf{
            grid-area: ic-pending-conf;
        }
        .ic-pending-pay{
            grid-area: ic-pending-pay;
        }
        .ic-processing{
            grid-area: ic-processing;
        }
        .ic-shipped{
            grid-area: ic-shipped;
        }
        .ic-deliver{
            grid-area: ic-deliver;
        }
        .ic-closed{
            grid-area: ic-closed;
        }
        .label-1{
            grid-area: label-1;
            // border-bottom: 1px solid rgb(114, 114, 114);
            margin-bottom: -40px;
        }
        .label-2{
            grid-area: label-2;
            // border-bottom: 1px solid rgb(114, 114, 114);
            margin-bottom: -40px;
        }
        .label-3{
            grid-area: label-3;
            // border-bottom: 1px solid rgb(114, 114, 114);
            margin-bottom: -40px;
        }
        .label-4{
            grid-area: label-4;
            // border-bottom: 1px solid rgb(114, 114, 114);
            margin-bottom: -40px;
        }
        .label-5{
            grid-area: label-5;
            // border-bottom: 1px solid rgb(114, 114, 114);
            margin-bottom: -40px;
        }
        .label-6{
            grid-area: label-6;
            // border-bottom: 1px solid rgb(114, 114, 114);
            margin-bottom: -40px;
        }
        .dot {
            height: 65px;
            width: 65px;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
        }
        .stat-bar-1{
            grid-area: stat-bar-1;
            width: 857px;
            margin-top: 28px;
            margin-left: 97px;
            @include xxlg{
                width: 1141px;
                margin-left: 126px;
            }
        }
        .stats-1 {
            font-weight: 600;
            padding: 0px 60px;
            display: flex;
            justify-content: center;
            border-top: 2px solid #EFBE24;
            position: relative;
            transition: all 200ms ease-in ;
            width: 855px;
            @include sm-lesser{
                width: 770px;
            }
            @include xlg{
                width: 780px;
            }
            @include mlg{
                width: 855px;
            }
            @include xxlg{
                width: 1144px;
            }
        }
        .full-circle{
            height: 20px;
            width: 20px;
            background-color: #EFBE24;
            border-radius: 50%;
          }
          .dot-circle{
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 25px;
            border: 2px solid #EFBE24;
            position: relative;
          }
    }
    .prod-name{
        grid-area: prod-name;
    }
    .desc{
        grid-area: desc;
    }
    .order-no{
        grid-area: order-no;
    }
    .invoice{
        grid-area: invoice;
    }
    .c-info-label{
        grid-area: c-info-label;
    }
    .c-name{
        grid-area: c-name;
    }
    .c-location{
        grid-area: c-location;
    }
    .order-btn{
        grid-area: order-btn;
    }
    .btn-invoice-style{
        background-color: rgb(12, 112, 12);
        color: white;
        border: none;
        border-radius: 8px;
        width: 130px;
        height: 35px;
    }
    .btn-order-style{
        background-color: #EFBE24;
        color: white;
        border: none;
        border-radius: 8px;
        width: 130px;
        height: 35px;
    }
}
.grid-btn-filter{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 15% 13% 13% 13% 12% 12%;
    grid-template-areas: "all pending-conf pending-pay processing shipped delivered closed";
    font-family: BitterBold;
    @include sm-lesser{
        font-size: 15px;
    }
    .btn-filter-style{
        border: none;
        background: inherit;
        cursor: pointer;
        text-align: center;
    }
    .all{
        grid-area: all;
        @include sm-lesser{
            margin-left: 125px;
        } 
    }
    .pending-conf{
        grid-area: pending-conf;
        text-align: center;
        @include sm-lesser{
            margin-left: 225px;
        } 
    }
    .pending-pay{
        grid-area: pending-pay;
        text-align: center;
        @include sm-lesser{
            margin-left: 325px;
        } 
    }
    .processing{
        grid-area: processing;
        text-align: center;
        @include sm-lesser{
            margin-left: 425px;
        } 
    }
    .shipped{
        grid-area: shipped;
        text-align: center;
        @include sm-lesser{
            margin-left: 525px;
        } 
    }
    .delivered{
        grid-area: delivered;
        text-align: center;
        @include sm-lesser{
            margin-left: 625px;
        } 
    }
    .closed{
        grid-area: closed;
        text-align: center;
        @include sm-lesser{
            margin-left: 725px;
        } 
    }
}
.grid-no-order{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "header";
    .header{
        grid-area: header;
        text-align: center;
    }
}
.grid-main-filter{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 10%;
    grid-template-areas: "current past";
    @include sm-lesser{
        font-size: 11px;
        margin-left: 100%;
    }
    .current{
        grid-area: current;
        text-align: center;
    }
    .past{
        grid-area: past;
        text-align: center;
    }
    .btn-filter-style{
        // border: solid #EFBE24;
        background: inherit;
        cursor: pointer;
        text-align: center;
        border-radius: 6px;
        font-family: BitterBold;
        @include sm-lesser{
            height: 30px;
            width: 140px;
        }
        @include xlg{
            font-size: 15px;
        }
    }
}
.circle-1{
    @include sm-lesser{
        margin-left: -2%;
    }
    @include xlg{
        margin-left: -19px;
    }
    @include mlg{
        margin-left: -12px;
    }
    @include xxlg{
        margin-left: -12px;
    }
}
.circle-2{
    @include sm-lesser{
        margin-left: 18%;
    }
    @include xlg{
        margin-left: 157px;
    }
    @include mlg{
        margin-left: 178px;
    }
    @include xxlg{
        margin-left: 235px;
    }
}
.circle-3{
    @include sm-lesser{
        margin-left: 37.5%;
    }
    @include xlg{
        margin-left: 322px;
    }
    @include mlg{
        margin-left:  358px;
    }
    @include xxlg{
        margin-left: 473px;
    }
}
.circle-4{
    @include sm-lesser{
        margin-left: 55%;
    }
    @include xlg{
        margin-left: 470px;
    }
    @include mlg{
        margin-left: 520px;
    }
    @include xxlg{
        margin-left: 693px;
    }
}
.circle-5{
    @include sm-lesser{
        margin-left: 72.5%;
    }
    @include xlg{
        margin-left: 621px;
    }
    @include mlg{
        margin-left: 686px; 
    }
    @include xxlg{
        margin-left: 915px;
    }
}
.circle-6{
    @include sm-lesser{
        margin-left: 90%;
    }
    @include xlg{
        margin-left: 770px;
    }
    @include mlg{
        margin-left: 847px; 
    }
    @include xxlg{
        margin-left: 1136px;
    }
}
.i-circle-1{
    @include sm-lesser{
        margin-left: -1.5%;
    }
    @include xlg{
        margin-left: -3%;
    }
    @include mlg{
        margin-left: -12px;
    }
    @include xxlg{
        margin-left: 1.5%;
    }
}
.i-circle-2{
    @include sm-lesser{
        margin-left: 217px;
    }
    @include xlg{
        margin-left: 19.5%;
    }
    @include mlg{
        margin-left: 218px;
    }
    @include xxlg{
        margin-left: 23%;
    }
}
.i-circle-3{
    @include sm-lesser{
        margin-left: 438px;
    }
    @include xlg{
        margin-left: 40%;
    }
    @include mlg{
        margin-left: 439px;
    }
    @include xxlg{
        margin-left: 43.5%;
    }
}
.i-circle-4{
    @include sm-lesser{
        margin-left: 645px;
    }
    @include xlg{
        margin-left: 59.5%;
    }
    @include mlg{
        margin-left: 647px;
    }
    @include xxlg{
        margin-left: 63.5%;
    }
}
.i-circle-5{
    @include sm-lesser{
        margin-left: 853px;
    }
    @include xlg{
        margin-left: 79%;
    }
    @include mlg{
        margin-left: 854px;
    }
    @include xxlg{
        margin-left: 83%;
    }
}
.i-circle-6{
    @include sm-lesser{
        margin-left: 1060px;
    }
    @include xlg{
        margin-left: 98.5%;
    }
    @include mlg{
        margin-left: 1059px;
    }
    @include xxlg{
        margin-left: 103%;
    }
}
.order-list-style{
    overflow-x: scroll;
}