<div *ngIf="ind_order">
    <div class="breadcrumb-layout">
        <ul class="breadcrumb">
            <li><a href="#homepage">Home</a></li>
            <li>Manage Individual order</li>
        </ul>
        <hr class="hrdiv">
    </div>
    <div class="grid-main">
        <div class="section-1">
            <div class="grid-1">
                <label class="date-style">{{dynamicOrderData.createdDate}}</label>
                <div class="left-sect">
                        <label class="text-style">#SMACAT{{dynamicOrderData.orderId}}{{dynamicOrderData.createDate}}</label>
                        <img src="assets/icons/resources (IL)-18.png" class="img-style" style="margin-top: -294px;
                        margin-left: 4px;
                        height: 45px;">
                    <img src="assets/images/product/{{dynamicOrderData.prodId}}/{{dynamicOrderData.prodId}}_0.jpg" height="210px" width="300px" class="manage-img-style">
                </div>
                <div class="right-sect-1">
                    <div class="day">
                        <p class="day-style">{{dynamicOrderData.remaining_days}}</p>
                    </div>
                    <div class="grid-delivery-info">
                        <div class="label-1">
                            <p>Product will be delivered by:</p>
                        </div>
                        <div class="date">
                            <p>{{dynamicOrderData.delivery_date}}</p>
                        </div>
                        <div class="label-2">
                            <p>DAYS LEFT</p>
                        </div>
                    </div>
                </div>
                <div class="right-sect-2">
                    <div class="grid-current-status">
                        <div class="status">
                            <p class="status-style">CURRENT STATUS: {{dynamicOrderData.order_status}}</p>
                        </div>
                        <div class="nav-1">
                            <a class="previous round" (click)=previous()><i class="left"></i></a>
                        </div>
                        <div class="nav-2">
                            <a class="next round" (click)=next()><i class="right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="right-sect-3">
                    <div class="grid-pro-desc">
                        <div class="qty">
                            <p>Qty: {{dynamicOrderData.quantity}}</p>
                        </div>
                        <div class="tax">
                            <p>Tax: {{dynamicOrderData.tax}}</p>
                        </div>
                        <div class="total">
                            <p>Subtotal:{{dynamicOrderData.total_price}}</p>
                        </div>
                        <div class="var-price">
                            <p>Varients Price:{{dynamicOrderData.variantprice}}</p>
                        </div>
                        <div class="ship-price">
                            <p>Shipping Price:{{dynamicOrderData.shippingprice}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="grid-2">
                <div class="prod-details">
                    <div class="grid-pro-card">
                        <div class="prod-name-label">
                            <p>Product Name:</p>
                        </div>
                        <div class="prod-name">
                            <p>{{dynamicOrderData.prod_name}}</p>
                        </div>
                        <div class="var-label">
                            <p>Varients:</p>
                        </div>
                        <div class="var-1">
                            <p>{{dynamicOrderData.variantArray[0].var_name}}: {{dynamicOrderData.variantArray[0].var_value}}<img src="assets/icons/manageOrders/MIO icons-05.png" height="20px" width="20px"></p>
                        </div>
                        <!-- <div class="var-2">
                            <p>{{dynamicOrderData.var_name_array[1]}}: {{dynamicOrderData.var_value_array[1]}} <img src="assets/icons/manageOrders/MIO icons-05.png" height="20px" width="20px"></p>
                        </div>
                        <div class="var-3">
                            <p>{{dynamicOrderData.var_name_array[2]}}: {{dynamicOrderData.var_value_array[2]}} <img src="assets/icons/manageOrders/MIO icons-05.png" height="20px" width="20px"></p>
                        </div> -->
                        <div class="pincode-label">
                            <p>Pincode & location:</p>
                        </div>
                        <div class="pincode">
                            <p>{{dynamicOrderData.cust_pin}}</p>
                        </div>
                        <div class="place">
                            <p>{{dynamicOrderData.cust_city}}</p>
                        </div>
                        <div class="cust-name-label">
                            <p>Customer Name:</p>
                        </div>
                        <div class="cust-name">
                            <p>{{dynamicOrderData.cust_name}}</p>
                        </div>
                        <div class="attachment">
                            <div class="flex-container">
                                <div>
                                        <img src="assets/icons/manageOrders/MIO icons-06.png" height="30px" width="30px">
                                </div>
                                <div>
                                        <img src="assets/images/product/{{dynamicOrderData.prodId}}/{{dynamicOrderData.prodId}}_0.jpg" height="30px" width="30px">
                                </div>
                                <div>
                                        <img src="assets/images/product/{{dynamicOrderData.prodId}}/{{dynamicOrderData.prodId}}_1.jpg" height="30px" width="30px">
                                </div>
                                <div>
                                        <img src="assets/images/product/{{dynamicOrderData.prodId}}/{{dynamicOrderData.prodId}}_2.jpg" height="30px" width="30px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-total">
                    <div class="grid-total-card">
                        <div class="amount">
                            <span class="dot"></span>
                            <img src="assets/icons/manageOrders/MIO icons-02.png" height="60px" width="70px"class="img-style">
                            <p class="amount-style">Amount payable:</p>
                            <p>{{dynamicOrderData.total_price}}</p>
                        </div>
                        <div class="ship">
                            <span class="dot"></span>
                            <img src="assets/icons/manageOrders/MIO icons-03.png" height="60px" width="70px"class="img-style">
                            <p class="amount-style">Shipment charge:</p>
                            <p>{{dynamicOrderData.shippingprice}}</p>
                        </div>
                        <div class="subtotal">
                            <span class="dot"></span>
                            <img src="assets/icons/manageOrders/MIO icons-04.png" height="70px" width="70px" class="img-style">
                            <p class="amount-style">Total:</p>
                            <p>{{dynamicOrderData.total_price}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-3">
            <div class="grid-3">
                <div class="gift-details">
                    <div class="grid-gift-details">
                        <div class="note">
                            <label>Note:</label>
                            <p class="gift-style">
                                {{dynamicOrderData.gift_note}}
                            </p>
                        </div>
                        <div class="address">
                            <label>Address:</label>
                            <p class="gift-style">
                                {{dynamicOrderData.gift_address}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ship-details" *ngIf="userAddress">
                    <div class="grid-ship-details">
                        <div class="c-name-label">
                            <label>Customer name</label>
                        </div>
                        <div class="c-name">
                            <p>: {{dynamicOrderData.cust_name}}</p>
                        </div>
                        <div class="c-phone-label">
                            <label>Customer phone</label>
                        </div>
                        <div class="c-phone">
                            <p>: {{dynamicOrderData.cust_mobile}}</p>
                        </div>
                        <div class="c-address">
                            <label>Address</label>
                        </div>
                        <div class="address">
                            <p>: {{dynamicOrderData.cust_address}}</p>
                        </div>
                        <div class="track-no-label">
                            <label>Tracking Number</label>
                        </div>
                        <div class="track-no">
                            <p>: {{dynamicOrderData.tracking_no}}</p>
                        </div>
                        <div class="ship-type-label">
                            <label>Shipment Type</label>
                        </div>
                        <div class="ship-type">
                            <p>: {{dynamicOrderData.shipment_type}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-4">
                <div class="grid-order-history-head">
                        <div class="status">
                                <label>STATUS</label>
                        </div>
                </div>
                <div class="grid-order-history">
                        <div class="grid-status">
                                <div class="pending-conf">
                                        <label>Pending Confirmation</label>
                                </div>
                                <div class="pending-pay">
                                        <label>Pending Payment</label>
                                </div>
                                <div class="processing">
                                        <label>Processing</label>
                                </div>
                                <div class="shipped">
                                        <label>Shipped</label>
                                </div>
                                <div class="deliver">
                                        <label>Delivered</label>
                                </div>
                                <div class="closed">
                                        <label>Closed</label>
                                </div>
                                <div class="ic-pending-conf">
                                        <span class="dot">
                                                <img src="assets/images/userProfile/ic_pending_conf.png"
                                                        style="padding-top: 11%;">
                                        </span>
                                </div>
                                <div class="ic-pending-pay">
                                        <span class="dot">
                                                <img src="assets/images/userProfile/ic_pending_pay.png"
                                                        style="padding-top: 20%;">
                                        </span>
                                </div>
                                <div class="ic-processing">
                                    <span class="dot">
                                        <img src="assets/images/userProfile/ic_processing.jpg" width="65px"
                                                height="60px" style="border-radius: 50%;">
                                    </span>
                                </div>
                                <div class="ic-shipped">
                                    <span class="dot">
                                        <img src="assets/images/order/{{dynamicOrderData.orderId}}stage4.jpg" onerror="this.onerror=null;this.src='assets/images/userProfile/ic_shipped.jpg'" width="65px" height="60px"
                                                style="border-radius: 50%;" *ngIf="noImageShipped">
                                        <input style="display: none;" type="file" id="frontUpload" (click)="frontUpload()" accept="image/*" #fileInput1>
                                        <button (click)="fileInput1.click()" type="button" style="border: none;
                                        margin-top: 16px; background: inherit;"><label style="font-size: 20px;">+</label></button>
                                        <img id="frontPreviewId" style="display: none; margin-left: -3px; width: 70px; height: 70px; margin-top: -55px; border-radius: 50%;" [src]="urlFront1" height="200">
                                    </span>
                                </div>
                                <div class="ic-deliver">
                                    <span class="dot">
                                        <img src="assets/images/order/{{dynamicOrderData.orderId}}stage5.jpg" onerror="this.onerror=null;this.src='assets/images/userProfile/ic_delivered.jpg'" width="65px" height="60px"
                                                style="border-radius: 50%;" *ngIf="noImageDelivered">
                                        <input style="display: none;" type="file" id="frontUpload2" (click)="frontUpload2()" accept="image/*" #fileInput2>
                                        <button (click)="fileInput2.click()" type="button" style="border: none;
                                        margin-top: 16px; background: inherit;"><label style="font-size: 20px;">+</label></button>
                                        <img id="frontPreviewId2" style="display: none; margin-left: -3px; width: 70px; height: 70px; margin-top: -55px; border-radius: 50%;" [src]="urlFront2" height="200">
                                    </span>
                                </div>
                                <div class="ic-closed">
                                        <span class="dot">
                                            <img src="assets/images/order/{{dynamicOrderData.orderId}}stage6.jpg" onerror="this.onerror=null;this.src='assets/images/userProfile/ic_closed.png'" width="50px" height="53px"
                                                    style="padding-top: 7%; margin-top: 7%;" *ngIf="noImageClosed">
                                            <input style="display: none;" type="file" id="frontUpload3" (click)="frontUpload3()" accept="image/*" #fileInput3>
                                            <button (click)="fileInput3.click()" type="button" style="border: none;
                                            margin-top: 16px; background: inherit;"><label style="font-size: 20px;">+</label></button>
                                            <img id="frontPreviewId3" style="display: none; margin-left: -3px; width: 70px; height: 70px; margin-top: -55px; border-radius: 50%;" [src]="urlFront3" height="200">
                                        </span>
                                </div>
                                <div class="stat-bar-1">
                                    <div *ngIf="dynamicDataOrderData.orderStatus == 'pending_confirmation' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle i-circle-1" style=" margin-top: -11px;">
                                        </div>
                                        <div class="dot-circle i-circle-2" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-3" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-4" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-5" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-6" style=" margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="dynamicDataOrderData.orderStatus == 'pending_payment' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle i-circle-1" style=" margin-top: -11px;">
                                        </div>
                                        <div class="full-circle i-circle-2" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-3" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-4" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-5" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-6" style=" margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="dynamicDataOrderData.orderStatus == 'processing' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle i-circle-1" style=" margin-top: -11px;">
                                        </div>
                                        <div class="full-circle i-circle-2" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-3" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-4" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-5" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-6" style=" margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="dynamicDataOrderData.orderStatus == 'shipped' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle i-circle-1" style=" margin-top: -11px;">
                                        </div>
                                        <div class="full-circle i-circle-2" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-3" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-4" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-5" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-6" style=" margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="dynamicDataOrderData.orderStatus == 'delivered' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle i-circle-1" style=" margin-top: -11px;">
                                        </div>
                                        <div class="full-circle i-circle-2" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-3" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-4" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-5" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle i-circle-6" style=" margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="dynamicDataOrderData.orderStatus == 'closed' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle i-circle-1" style=" margin-top: -11px;">
                                        </div>
                                        <div class="full-circle i-circle-2" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-3" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-4" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-5" style=" margin-top: -20px;">
                                        </div>
                                        <div class="full-circle i-circle-6" style=" margin-top: -20px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="label-1">
                                        <label *ngIf="stage_1_full">Confirmed on</label>
                                        <label *ngIf="cancelStatus">Cancelled</label>
                                        <br>
                                        <label *ngIf="stage_1_full">{{dynamicDataOrderData.stage_1_date}}</label>
                                        <label *ngIf="! stage_1_full"><input type="date" id="stage_1_date"></label>
                                </div>
                                <div class="label-2">
                                    <label *ngIf="stage_2_full">Payment Confirmed on</label>
                                    <br>
                                    <label *ngIf="stage_2_full">{{dynamicDataOrderData.stage_2_date}}</label>
                                    <label *ngIf="dynamicDataOrderData.status == 'pending_payment'"><input type="date" id="stage_2_date"></label>
                                </div>
                                <div class="label-3">
                                    <label *ngIf="stage_3_full">Processed on</label>
                                    <br>
                                    <label *ngIf="stage_3_full">{{dynamicDataOrderData.stage_3_date}}</label>
                                    <label *ngIf="dynamicDataOrderData.status == 'processing'"><input type="date" id="stage_3_date"></label>
                                </div>
                                <div class="label-4">
                                    <label *ngIf="stage_4_full">Shipped on</label>
                                    <br>
                                    <label *ngIf="stage_4_full">{{dynamicDataOrderData.stage_4_date}}</label>
                                    <label *ngIf="dynamicDataOrderData.status == 'shipped'"><input type="date" id="stage_4_date"></label>
                                    <br>
                                    <label *ngIf="dynamicDataOrderData.status == 'shipped'"><input type="text" placeholder="Tracking link:" id="track_link"></label>
                                </div>
                                <div class="label-5">
                                    <label *ngIf="stage_5_full">Delivered on</label>
                                    <br>
                                    <label *ngIf="stage_5_full">{{dynamicDataOrderData.stage_5_date}}</label>
                                    <label *ngIf="dynamicDataOrderData.status == 'delivered'"><input type="date" id="stage_5_date"></label>
                                </div>
                                <div class="label-6">
                                    <label *ngIf="stage_6_full">Closed on</label>
                                    <br>
                                    <label *ngIf="stage_6_full">{{dynamicDataOrderData.stage_6_date}}</label>
                                    <label *ngIf="dynamicDataOrderData.status == 'closed'"><input type="date" id="stage_6_date"></label>
                                </div>
                        </div>
                        <div>
                            <button class="update-btn" (click)="updateStatus();" *ngIf="! stage_0">Update Status</button>
                        </div>
                        
                </div>
                <div class="grid-btn">
                    <div class="cancel" *ngIf="! cancelledStatus && ! stage_1_full">
                        <button class="cancel-btn" (click)="cancel();">Cancel Order</button>
                    </div>
                    <div class="c-area" *ngIf="! cancelledStatus && ! stage_1_full">
                        <div class="cancel-area">
                            <label style="font-size: 13px; margin-left: 14px;">Reason for cancellation</label>
                                <textarea id="cancel-reason" style="margin-left: 18px; height: 105px; width: 150px; margin-top: 10px; border: none;"></textarea>
                        </div>
                    </div>
                    <div class="accept" *ngIf="stage_0">
                        <button class="confirm-btn" (click)="confirm();">Accept Order</button>
                    </div>
                </div>
                
        </div>
    </div>  
</div>

<div *ngIf="order_list">
    <div class="breadcrumb-layout">
            <ul class="breadcrumb">
                <li><a href="#homepage">Home</a></li>
                <li>Order listing</li>
            </ul>
            <hr class="hrdiv">
    </div>
    <div class="order-list-style">
        <div class="grid-main-filter">
            <div class="current">
                <button id="current-btn" style="margin-top: 55px; float: right;" class="btn-filter-style" (click)="allFilter();">CURRENT ORDERS</button>
            </div>
            <div class="past">
                <button id="past-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="closedFilter();">PAST ORDERS</button>
            </div>
        </div>
        <div class="grid-btn-filter">
                <div class="all">
                        <button id="all-btn" style="margin-top: 55px; float: right;" class="btn-filter-style" (click)="allFilter();">All</button>
                </div>
                <div class="pending-conf">
                        <button id="pending-conf-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="pendingConfirmFilter();">Pending Confirmation</button>
                </div>
                <div class="pending-pay">
                        <button id="pending-pay-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="pendingPayFilter();">Pending Payment</button>
                </div>
                <div class="processing">
                        <button id="processing-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="processingFilter();">Processing</button>
                </div>
                <div class="shipped">
                        <button id="shipped-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="shippedFilter();">Shipped</button>
                </div>
                <div class="delivered">
                        <button id="delivered-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="deliveredFilter();">Delivered</button>
                </div>
                <div class="closed">
                        <button id="closed-btn" style="margin-top: 55px;" class="btn-filter-style" (click)="closedFilter();">Closed</button>
                </div>
        </div>
        <div class="order-list">
            <div class="grid-order-history-head" style="margin-left: 5%;" *ngIf="! noOrders">
                    <div class="orders">
                            <label>ORDERS</label>
                    </div>
                    <div class="status">
                            <label>STATUS</label>
                    </div>
            </div>
            
            <div class="grid-order-history" *ngFor="let item of dynamicDataOrderDataAll">
                    <div class="prod-name">
                        <label style="font-size: 19px; font-variant-caps: all-petite-caps;">{{item.prodName}}</label>
                    </div>
                    <div class="desc">
                        <p style="font-family:Bitter;">{{item.shortDesc}}</p>
                    </div>
                    <div class="order-no">
                        <label>#SMACAT{{item.orderId}}{{item.createDate}}</label>
                    </div>
                    <div class="invoice">
                        <button class="btn-invoice-style" (click)="createInvoice();" >INVOICE</button>
                    </div>
                    <div class="c-info-label">
                        <label>CUSTOMER INFORMATION</label>
                    </div>
                    <div class="c-name">
                        <label style="font-family: Bitter;">Name:</label>
                        <br>
                        <label style="font-family: Bitter;">{{item.custName}}</label>
                    </div>
                    <div class="c-location">
                        <label style="font-family: Bitter;">Location:</label>
                        <br>
                        <label style="font-family: Bitter;">{{item.custPlace}},{{item.custPin}}</label>
                    </div>
                    <div class="order-btn">
                        <button class="btn-order-style" (click)=viewOrder(item.orderIdShort);>VIEW ORDER</button>
                    </div>
                    <div class="g-status">
                        <div class="grid-status-all" style="margin-top: 103px;">
                                <div class="pending-conf">
                                        <label>Pending Confirmation</label>
                                </div>
                                <div class="pending-pay">
                                        <label>Pending Payment</label>
                                </div>
                                <div class="processing">
                                        <label>Processing</label>
                                </div>
                                <div class="shipped">
                                        <label>Shipped</label>
                                </div>
                                <div class="deliver">
                                        <label>Delivered</label>
                                </div>
                                <div class="closed">
                                        <label>Closed</label>
                                </div>
                                <div class="ic-pending-conf">
                                        <span class="dot">
                                                <img src="assets/images/userProfile/ic_pending_conf.png"
                                                        style="padding-top: 11%;">
                                        </span>
                                </div>
                                <div class="ic-pending-pay">
                                        <span class="dot">
                                                <img src="assets/images/userProfile/ic_pending_pay.png"
                                                        style="padding-top: 20%;">
                                        </span>
                                </div>
                                <div class="ic-processing">
                                        <img src="assets/images/userProfile/ic_processing.jpg" width="65px"
                                                height="60px" style="border-radius: 50%;">
                                </div>
                                <div class="ic-shipped">
                                        <img src="assets/images/order/{{item.orderId}}/{{item.orderId}}stage4.jpg" onerror="this.onerror=null;this.src='assets/images/userProfile/ic_shipped.jpg'" width="65px" height="60px"
                                                style="border-radius: 50%;">
                                </div>
                                <div class="ic-deliver">
                                        <img src="assets/images/order/{{item.orderId}}/{{item.orderId}}stage5.jpg" onerror="this.onerror=null;this.src='assets/images/userProfile/ic_delivered.jpg'" width="65px" height="60px"
                                                style="border-radius: 50%;">
                                </div>
                                <div class="ic-closed">
                                        <span class="dot">
                                                <img src="assets/images/order/{{item.orderId}}/{{item.orderId}}stage6.jpg" onerror="this.onerror=null;this.src='assets/images/userProfile/ic_closed.jpg'"  width="65px" height="60px"
                                                style="border-radius: 50%;">
                                        </span>
                                </div>
                                
                                <div class="stat-bar-1">
                                    <div *ngIf="item.orderStatus == 'pending_confirmation' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle circle-1" style="margin-top: -11px;">
                                        </div>
                                        <div class="dot-circle circle-2" style="margin-top: -19px;">
                                        </div>
                                        <div class="dot-circle circle-3" style="margin-top: -21px;">
                                        </div>
                                        <div class="dot-circle circle-4" style="margin-top: -21px;">
                                        </div>
                                        <div class="dot-circle circle-5" style="margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle circle-6" style="margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="item.orderStatus == 'pending_payment' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle circle-1" style="margin-top: -11px;">
                                        </div>
                                        <div class="full-circle circle-2" style="margin-top: -19px;">
                                        </div>
                                        <div class="dot-circle circle-3" style=" margin-top: -21px;">
                                        </div>
                                        <div class="dot-circle circle-4" style=" margin-top: -21px;">
                                        </div>
                                        <div class="dot-circle circle-5" style=" margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle circle-6" style="margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="item.orderStatus == 'processing' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle circle-1" style="margin-top: -11px;">
                                        </div>
                                        <div class="full-circle circle-2" style=" margin-top: -19px;">
                                        </div>
                                        <div class="full-circle circle-3" style="margin-top: -21px;">
                                        </div>
                                        <div class="dot-circle circle-4" style=" margin-top: -21px;">
                                        </div>
                                        <div class="dot-circle circle-5" style="margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle circle-6" style="margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="item.orderStatus == 'shipped' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle circle-1" style="margin-top: -11px;">
                                        </div>
                                        <div class="full-circle circle-2" style=" margin-top: -19px;">
                                        </div>
                                        <div class="full-circle circle-3" style="margin-top: -21px;">
                                        </div>
                                        <div class="full-circle circle-4" style="margin-top: -21px;">
                                        </div>
                                        <div class="dot-circle circle-5" style="margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle circle-6" style="margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="item.orderStatus == 'delivered' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle circle-1" style="margin-top: -11px;">
                                        </div>
                                        <div class="full-circle circle-2" style="margin-top: -19px;">
                                        </div>
                                        <div class="full-circle circle-3" style="margin-top: -21px;">
                                        </div>
                                        <div class="full-circle circle-4" style="margin-top: -21px;">
                                        </div>
                                        <div class="full-circle circle-5" style="margin-top: -20px;">
                                        </div>
                                        <div class="dot-circle circle-6" style="margin-top: -20px;">
                                        </div>
                                    </div>
                                    <div *ngIf="item.orderStatus == 'closed' "> 
                                        <div class="stats-1">
                                        </div>
                                        <div class="full-circle circle-1" style="margin-top: -11px;">
                                        </div>
                                        <div class="full-circle circle-2" style="margin-top: -19px;">
                                        </div>
                                        <div class="full-circle circle-3" style="margin-top: -21px;">
                                        </div>
                                        <div class="full-circle circle-4" style="margin-top: -21px;">
                                        </div>
                                        <div class="full-circle circle-5" style="margin-top: -20px;">
                                        </div>
                                        <div class="full-circle circle-6" style="margin-top: -20px;">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="label-1">
                                    <label>Confirmed on</label>
                                    <label *ngIf="! cancelled">Cancelled</label>
                                    <br>
                                    <label>{{item.stage_1_date}}</label>
                                </div>
                                <div class="label-2">
                                    <label>Payment Confirmed on</label>
                                    <br>
                                    <label>{{item.stage_2_date}}</label>
                                </div>
                                <div class="label-3">
                                        <label >Processed on</label>
                                        <br>
                                        <label>{{item.stage_3_date}}</label>
                                </div>
                                <div class="label-4">
                                        <label>Shipped on</label>
                                        <br>
                                        <label>{{item.stage_4_date}}</label>
                                </div>
                                <div class="label-5">
                                        <label>Delivered on</label>
                                        <br>
                                        <label>{{item.stage_5_date}}</label>
                                </div>
                                <div class="label-6">
                                        <label>Closed on</label>
                                        <br>
                                        <label>{{item.stage_6_date}}</label>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="grid-no-order" *ngIf="noOrders">
            <div class="header">
                    <label style="font-family: BitterBold; font-size: xx-large;">NO ORDERS AVAILABLE</label>
            </div>
        </div>
    </div>
</div>