<div class="breadcrumb-layout">
    <ul class="breadcrumb">
      <li><a href="#homepage">Home</a></li>
      <li>Manage Individual order</li>
    </ul>
    <hr class="hrdiv">
</div>
<div class="grid-main">
    <div class="section-1">
        <div class="grid-1">
            <div class="left-sect">
                <img src="assets/icons/manageOrders/painting.jpg" height="210px" width="300px">
            </div>
            <div class="right-sect-1">
                <div class="day">
                    <p class="day-style">00</p>
                </div>
                <div class="grid-delivery-info">
                    <div class="label-1">
                        <p>Product will be delivered by:</p>
                    </div>
                    <div class="date">
                        <p>00/00/0000</p>
                    </div>
                    <div class="label-2">
                        <p>DAYS LEFT</p>
                    </div>
                </div>
            </div>
            <div class="right-sect-2">
                <div class="grid-current-status">
                    <div class="status">
                        <p class="status-style">CURRENT STATUS: SHIPPED</p>
                    </div>
                    <div class="nav-1">
                        <a class="previous round"><i class="left"></i></a>
                    </div>
                    <div class="nav-2">
                        <a class="next round"><i class="right"></i></a>
                    </div>
                </div>
            </div>
            <div class="right-sect-3">
                <div class="grid-pro-desc">
                    <div class="qty">
                        <p>Qty: 0</p>
                    </div>
                    <div class="tax">
                        <p>Tax: 0</p>
                    </div>
                    <div class="total">
                        <p>Subtotal:000</p>
                    </div>
                    <div class="var-price">
                        <p>Varients Price:000</p>
                    </div>
                    <div class="ship-price">
                        <p>Shipping Price:000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="grid-2">
            <div class="prod-details">
                <div class="grid-pro-card">
                    <div class="prod-name-label">
                        <p>Product Name:</p>
                    </div>
                    <div class="prod-name">
                        <p>UV Painting</p>
                    </div>
                    <div class="var-label">
                        <p>Varients:</p>
                    </div>
                    <div class="var-1">
                        <p>Size: 1.2kg <img src="assets/icons/manageOrders/MIO icons-05.png" height="20px" width="20px"></p>
                    </div>
                    <div class="var-2">
                        <p>Colour: Red <img src="assets/icons/manageOrders/MIO icons-05.png" height="20px" width="20px"></p>
                    </div>
                    <div class="pincode-label">
                        <p>Pincode & location:</p>
                    </div>
                    <div class="pincode">
                        <p>683521</p>
                    </div>
                    <div class="place">
                        <p>Kochi</p>
                    </div>
                    <div class="cust-name-label">
                        <p>Customer Name:</p>
                    </div>
                    <div class="attachment">
                        <img src="assets/icons/manageOrders/MIO icons-06.png" height="30px" width="30px">
                    </div>
                </div>
            </div>
            <div class="card-total">
                <div class="grid-total-card">
                    <div class="amount">
                        <span class="dot"></span>
                        <img src="assets/icons/manageOrders/MIO icons-02.png" height="60px" width="70px"class="img-style">
                        <p>Amount payable:</p>
                        <p>000</p>
                    </div>
                    <div class="ship">
                        <span class="dot"></span>
                        <img src="assets/icons/manageOrders/MIO icons-03.png" height="60px" width="70px"class="img-style">
                        <p>Shipment charge:</p>
                        <p>000</p>
                    </div>
                    <div class="subtotal">
                        <span class="dot"></span>
                        <img src="assets/icons/manageOrders/MIO icons-04.png" height="70px" width="70px" class="img-style">
                        <p>Total:</p>
                        <p>000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-3">
        <div class="grid-3">
            <div class="gift-details">
                <div class="grid-gift-details">
                    <div class="note">
                        <label>Note:</label>
                        <p class="gift-style">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                    <div class="address">
                        <label>Address:</label>
                        <p class="gift-style">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ship-details">
                <div class="grid-ship-details">
                    <div class="c-name-label">
                        <label>Customer name</label>
                    </div>
                    <div class="c-name">
                        <p>: Srinath Kammath</p>
                    </div>
                    <div class="c-phone-label">
                        <label>Customer phone</label>
                    </div>
                    <div class="c-phone">
                        <p>: 925464554545</p>
                    </div>
                    <div class="c-address">
                        <label>Address</label>
                    </div>
                    <div class="address">
                        <p>: gejyggjjjhjhjhjhb</p>
                    </div>
                    <div class="track-no-label">
                        <label>Tracking Number</label>
                    </div>
                    <div class="track-no">
                        <p>: 00000000000</p>
                    </div>
                    <div class="ship-type-label">
                        <label>Shipment Type</label>
                    </div>
                    <div class="ship-type">
                        <p>: Speed Post</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>