.divMargin {
	// margin-left: 10%;
	// margin-right: 10%;
	margin: 5%;
	width: auto;

}

.expansionPanel{
    background: rgba(0,0,0,.1);
    margin-bottom: 35px;
}

.breadcrumb {
	padding: 10px 10px;
	list-style: none;
	background-color: transparent;
	li + li:before {
		padding: 8px;
		color: gray;
		content: ">";
	}
	li {
		display: inline;
		font-size: 1rem;
		a {
			color: gray;
			text-decoration: none;
			&:hover {
				color: red;
			}
		}
	}
	text-decoration: none;
}

.shopTilte{
    width: max-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.padding15{
    padding: 15px;
}

table, th, td {
    border: 1px solid rgba(0,0,0,.1);
  }

table{
    width: 100%;
}
.font15{
    font-size: 15px;
    font-family: "BitterBold";
}
.expansionHeader{
    background: #EFBE24;
    color: white;
    font-family: "BitterBold";
    font-size: 15px;

    &:hover {
        background: #EFBE24;
    }

    .expansionTitle{
        color: white;
        font-size: 15px;
    }
}

.editShopDetailsSave{
    padding: 15px; 
    background: #EFBE24; 
    color: white; 
    width: max-content;
    width: max-content;
    position: relative;
    left: 94.7%;
    margin-top: 15px;
    border-radius: 6px;
}

input{
    border: 1px solid #EFBE24;
    border-radius: 4px;
    width: 100%;
    padding: 9px;
}