// Color Palette

$smaYellow: #efbe24;
$smaLightGray: #f1f1f1;
$smaGray: #dbdbdb;
$smaGreen: #009145;
$smaRed: #ff1d25;
$smaDarkGray: #333333;
// font-family: BitterBold;

// Font Sizes

$Header: 30px;
$SubHeader: 25px;
$Text: 20px;
$SubText: 18px;
.mGrid {
	display: grid;
	grid-template-rows: repeat(9, auto);
	grid-auto-columns: auto;
	grid-template-areas: "banner" "about" "spec" "banSmall" "howWork" "quote" "blogPosts" "plans" "customerQA";
	width: auto;
	.headClass {
		font-family: BitterBold;
		font-size: $Header;
		text-align: center;
	}
	.banner {
		grid-area: banner;
		margin-bottom: 50px;
		height: 500px;
		.imgPlay {
			height: 75px;
			width: 75px;
			z-index: 19;
			position: relative;
			top: -17rem;
			// right: -58rem;
			right: -55%;
			&:hover {
				cursor: pointer;
			}
		}
		// .btnClose {
		// 	height: 75px;
		// 	width: 75px;
		// 	object-fit: cover;
		// 	z-index: 25;
		.imgClose {
			height: 75px;
			width: 75px;
			position: relative;
			z-index: 19;
			top: 13rem;
			&:hover {
				cursor: pointer;
			}
		}

		.mySlides {
			display: none;
			height: 500px;
			z-index: 15;
		}
		.slideImg {
			vertical-align: middle;
			z-index: 15;

			// clip-path: polygon(
			// 	0 0,
			// 	100% 0,
			// 	96% 5%,
			// 	93% 12%,
			// 	90% 21%,
			// 	88% 38%,
			// 	88% 61%,
			// 	90% 78%,
			// 	93% 88%,
			// 	96% 95%,
			// 	100% 100%,
			// 	0 100%
			// );
			clip-path: polygon(0 0, 100% 0, 50% at 100% 50%, 100% 100%, 0 100%);
			width: 80%;
			height: 100%;
			object-fit: cover;
			// z-index: 9;
			// display: none;
		}
		.slideVideoSmall {
			width: 100%;
			// position: absolute;
			// top: 272px;
			// right: 0px;
			position: relative;
			top: -31.25rem;
			// top: -36rem;
			// right: -79rem;
			z-index: 16;
			float: right;
			height: 500px;

			video {
				border-top-left-radius: 50%;
				border-bottom-left-radius: 50%;
				height: 500px;
				width: 70%;
				float: right;
				object-fit: cover;
			}
		}
		.slideVideoLarge {
			width: 100%;

			// position: absolute;
			// top: 272px;
			// right: 0px;
			position: relative;
			// top: -31.25rem;
			// top: -36rem;
			// right: -79rem;
			z-index: 10;
			float: right;
			height: 500px;
			video {
				height: 500px;
				width: 100%;
				float: right;
			}
		}
		/* Slideshow container */
		.slideshow-container {
			position: relative;
			// margin: auto;
			width: auto;
			// width: 75%;
			z-index: 15;
		}
		/* Next & previous buttons */
		.dvPrev {
			position: absolute;
			bottom: 10%;
			right: 10%;
			width: fit-content;
			z-index: 17;
			top: 85%;
			border-radius: 50%;
			&:hover {
				border: 2px solid white;
			}
		}
		.dvNext {
			position: absolute;
			bottom: 10%;
			z-index: 17;
			right: 7%;
			width: fit-content;
			top: 85%;
			border-radius: 50%;
			&:hover {
				border: 2px solid white;
			}
		}
		.prev,
		.next {
			cursor: pointer;
			padding: 10px;
			color: white !important;
			opacity: 0.5;
			font-size: 18px;
			z-index: 17;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
		}
		/* Position the "next button" to the right */
		.next {
			right: 0;
			z-index: 17;
			border-radius: 3px 0 0 3px;
		}
		/* On hover, add a black background color with a little bit see-through */
		.prev:hover,
		.next:hover {
			opacity: 1;
			z-index: 17;
		}
		/* Caption text */
		.text {
			color: #f2f2f2;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 8px;
			width: 100%;
			text-align: center;
		}
		/* Number text (1/3 etc) */
		.numbertext {
			color: #f2f2f2;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
		}
		.slideDots {
			position: absolute;
			margin: 5%;
			z-index: 20;
			top: 30%;
			width: fit-content;
		}
		/* The dots/bullets/indicators */
		.dot {
			cursor: pointer;
			height: 10px;
			width: 10px;
			margin: 0 2px;
			border-radius: 50%;
			border: 2px solid white;
			display: inline-block;
			transition: background-color 0.6s ease;
		}
		.active,
		.dot:hover {
			background-color: white;
		}
		/* Fading animation */
		.nextPrev {
			z-index: 17;
		}
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
			opacity: 1 !important;
		}
		@-webkit-keyframes fade {
			from {
				opacity: 0.4;
			}
			to {
				opacity: 1;
			}
		}
		@keyframes fade {
			from {
				opacity: 0.4;
			}
			to {
				opacity: 1;
			}
		}
		/* On smaller screens, decrease text size */
		@media only screen and (max-width: 300px) {
			.prev,
			.next,
			.text {
				font-size: 11px;
			}
		}
	}
	.about {
		grid-area: about;
		margin: 25px 100px 50px 100px;
		width: auto;
		.aboutHeader {
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 300px;
				z-index: 0;
				transform: translate(0rem, 3rem);
			}
			.headClass {
				font-family: BitterBold;
				font-size: $Header;
				text-align: center;
			}
		}
		.pAbout {
			text-align: justify;
			text-align: center;
			font-size: $SubText;
			font-family: Bitter;
			color: #646464;
		}
	}
	.spec {
		grid-area: spec;
		// height: 100px;
		// margin-bottom: 50px;
		margin: 5% 0% 5% 5%;
		width: auto;
		display: grid;
		grid-template-columns: repeat(4, auto);
		height: auto;
		grid-template-rows: 25% 50% 25%;
		// grid-row-gap: 20%;
		grid-template-areas: "spec1 spec2 spec3 spec4" ". . . ." "spec5 spec6 spec7 spec8";
		.headSpec {
			justify-self: center;
			text-align: center;
			width: auto;
			font-size: $Text;
			font-family: BitterBold;
			color: #646464;
		}
		.bodySpec {
			justify-self: center;
			text-align: center;
			width: auto;
			font-size: $SubText;
			font-family: Bitter;
			color: #949494;
			height: auto;
		}
		#specId {
			height: 22rem;
		}
		.spec1 {
			padding-top: 15%;
			grid-area: spec1;
			// margin: 5em 2em;
			background: radial-gradient(
				circle at top center,
				transparent,
				transparent 0px,
				whitesmoke 70px,
				whitesmoke
			);
			border-radius: 8px;
			position: relative;
			width: 275px;
		}
		.spec2 {
			padding-top: 15%;
			grid-area: spec2;
			// margin: 5em 2em;
			background: radial-gradient(
				circle at top center,
				transparent,
				transparent 0px,
				whitesmoke 70px,
				whitesmoke
			);
			border-radius: 8px;
			position: relative;
			width: 275px;
		}
		.spec3 {
			padding-top: 15%;
			grid-area: spec3;
			// margin: 5em 2em;
			background: radial-gradient(
				circle at top center,
				transparent,
				transparent 0px,
				whitesmoke 70px,
				whitesmoke
			);
			border-radius: 8px;
			position: relative;
			width: 275px;
		}
		.spec4 {
			padding-top: 15%;
			grid-area: spec4;
			// margin: 5em 2em;
			background: radial-gradient(
				circle at top center,
				transparent,
				transparent 0px,
				whitesmoke 70px,
				whitesmoke
			);
			border-radius: 8px;
			position: relative;
			width: 275px;
		}
		.spec5 {
			padding-top: 15%;
			grid-area: spec5;
			// margin: 5em 2em;
			background: radial-gradient(
				circle at top center,
				transparent,
				transparent 0px,
				whitesmoke 70px,
				whitesmoke
			);
			border-radius: 8px;
			position: relative;
			width: 275px;
		}
		.spec6 {
			padding-top: 15%;
			grid-area: spec6;
			// margin: 5em 2em;
			background: radial-gradient(
				circle at top center,
				transparent,
				transparent 0px,
				whitesmoke 70px,
				whitesmoke
			);
			border-radius: 8px;
			position: relative;
			width: 275px;
		}
		.spec7 {
			padding-top: 15%;
			grid-area: spec7;
			// margin: 5em 2em;
			background: radial-gradient(
				circle at top center,
				transparent,
				transparent 0px,
				whitesmoke 70px,
				whitesmoke
			);
			border-radius: 8px;
			position: relative;
			width: 275px;
		}
		.spec8 {
			padding-top: 15%;
			grid-area: spec8;
			// margin: 5em 2em;
			background: radial-gradient(
				circle at top center,
				transparent,
				transparent 0px,
				whitesmoke 70px,
				whitesmoke
			);
			border-radius: 8px;
			position: relative;
			width: 275px;
		}
		.circle {
			width: 85px;
			height: 85px;
			background: #efbe24;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.banSmall {
		grid-area: banSmall;
		display: grid;
		margin-top: 10%;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		// grid-template-areas: "banLeft banRight";
		grid-template-areas: "banRight banRight";

		.banLeft {
			grid-area: banLeft;
			display: grid;
			background-color: #efbe24;
			grid-template-columns: auto;
			grid-template-rows: repeat(4, auto);
			grid-template-areas: ". p1" ". p2" ". p3" ". p4";
			#leftWhite {
				color: white;
			}
			#leftBlack {
				color: black;
			}
			.p1 {
				grid-area: p1;
				justify-self: right;
				margin-right: 5%;
				font-size: 3rem;
			}
			.p2 {
				grid-area: p2;
				justify-self: right;
				margin-right: 5%;
				font-size: 2rem;
			}
			.p3 {
				grid-area: p3;
				justify-self: right;
				margin-right: 5%;
				font-size: 3rem;
			}
			.p4 {
				grid-area: p4;
				justify-self: right;
				margin-right: 5%;
				font-size: 2rem;
			}
		}
		.banRight {
			p {
				justify-self: center;
				text-align: center;
				font-size: 3rem;
				padding: 100px;
				font-family: BitterBold;
				font-size: $Header;
			}
			&:hover {
				cursor: pointer;
			}
			grid-area: banRight;
			background-color: whitesmoke;
			display: block;
		}
		margin-bottom: 50px;
	}
	.howWork {
		grid-area: howWork;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 25% auto;
		height: auto;
		width: auto;
		grid-template-areas: ". headerWork ." "how1 how2 how3";
		margin-bottom: 50px;
		.workHeader {
			grid-area: headerWork;
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 300px;
				z-index: 0;
				transform: translate(0rem, 3rem);
			}
			// h2 {
			// 	text-align: center;
			// 	//   position: absolute;
			// 	transform: translate(0px, -0.45em);
			// 	z-index: 1;
			// }
		}
		.how1 {
			grid-area: how1;
			margin: 5%;
			width: auto;
			padding-right: 5%;
			#seeMore1 {
				margin-left: 10rem;
				background-color: #efbe24;
				color: white;
			}
		}
		.how2 {
			grid-area: how2;
			margin: 5%;
			width: auto;
			padding-right: 5%;
			#seeMore2 {
				margin-left: 10rem;
				background-color: #efbe24;
				color: white;
			}
		}
		.how3 {
			grid-area: how3;
			margin: 5%;
			width: auto;
			#seeMore3 {
				margin-left: 10rem;
				background-color: #efbe24;
				color: white;
			}
		}
		.headHow {
			justify-self: center;
			text-align: center;
			width: auto;
			font-size: $Text;
			font-family: BitterBold;
			color: #646464;
		}
		.bodyHow {
			justify-self: center;
			text-align: center;
			width: auto;
			p {
				height: 5rem;
				display: -webkit-box;
				-webkit-line-clamp: initial;
				overflow: hidden;
				font-size: $SubText;
				font-family: Bitter;
				color: #949494;
			}
		}
		img {
			transform: translate(11rem, 0px);
			height: 55px;
		}
	}
	.quote {
		grid-area: quote;
		// height: 500px;
		background-color: #efbe24;
		margin-bottom: 50px;
		display: grid;
		width: auto;
		grid-template-rows: 15% auto;
		grid-template-columns: 5% 44% 44% 5%;
		grid-template-areas: ". imgPost imgPost ." "leftArrow post1 post2 rightArrow";
		.leftArrow {
			grid-area: leftArrow;
			height: 100px;
			width: 80px;
			// margin-top: 10rem;
			margin-top: 7rem;
			margin-left: 5rem;
			font-size: 100px;
			color: gray;
			opacity: 0.5;
			font-family: Bitte;
			&:hover {
				cursor: pointer;
			}
		}
		.rightArrow {
			grid-area: rightArrow;
			height: 100px;
			width: 80px;
			// margin-top: 10rem;
			margin-top: 7rem;
			margin-right: 5rem;
			font-size: 100px;
			color: gray;
			opacity: 0.5;
			font-family: Bitte;
			&:hover {
				cursor: pointer;
			}
		}
		.quote {
			grid-area: imgPost;
			// transform: translate(40rem, 0);
			margin: 50px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		#posts {
			margin: 10% 10% 0 10%;
			width: auto;
		}
		.post1 {
			grid-area: post1;
			.imgP {
				display: grid;
				grid-template-rows: auto;
				grid-template-columns: auto;
				grid-template-areas: "imageP";
				#imageP {
					grid-area: imageP;
					clip-path: circle(50% at 50% 50%);
					height: 140px;
					width: 140px;
					justify-self: center;
					object-fit: cover;
				}
			}
			.descP {
				#descriptionP {
					justify-self: center;
					text-align: center;
					width: auto;
					font-size: 16px;
					font-family: Bitter;
					color: #333333;
					margin-top: 20px;
				}
			}
			.authP {
				#authorP {
					justify-self: center;
					text-align: center;
					width: auto;
					font-weight: bold;
					font-size: $SubText;
					font-family: BitterBold;
					color: #111111;
				}
			}
		}
		.post2 {
			grid-area: post2;
			.imgP {
				display: grid;
				grid-template-rows: auto;
				grid-template-columns: auto;
				grid-template-areas: "imageP";
				#imageP {
					grid-area: imageP;
					clip-path: circle(50% at 50% 50%);
					height: 140px;
					width: 140px;
					justify-self: center;
					object-fit: cover;
				}
			}
			.descP {
				#descriptionP {
					justify-self: center;
					text-align: center;
					width: auto;
					font-size: 16px;
					font-family: Bitter;
					color: #333333;
					margin-top: 20px;
				}
			}
			.authP {
				#authorP {
					justify-self: center;
					text-align: center;
					width: auto;
					font-weight: bold;
					font-size: $SubText;
					font-family: BitterBold;
					color: #111111;
				}
			}
		}
	}
	.blogPosts {
		grid-area: blogPosts;
		// height: 100px;
		// background-color: aquamarine;
		margin-bottom: 50px;
		display: none !important;

		display: grid;
		width: auto;
		grid-template-rows: 15% auto;
		grid-template-columns: 5% 44% 44% 5%;
		grid-template-areas: ". imgPost imgPost ." "leftArrow post post rightArrow";
		.leftArrow {
			grid-area: leftArrow;
			height: 100px;
			width: 80px;
			// margin-top: 10rem;
			&:hover {
				cursor: pointer;
			}
		}
		.rightArrow {
			grid-area: rightArrow;
			height: 100px;
			width: 80px;
			// margin-top: 10rem;
			&:hover {
				cursor: pointer;
			}
		}
		// .blog {
		// 	grid-area: imgPost;
		// 	// transform: translate(40rem, 0);
		// 	margin: 50px;
		// 	display: block;
		// 	margin-left: auto;
		// 	margin-right: auto;
		// }
		.blogHeader {
			grid-area: imgPost;
			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 300px;
				z-index: 0;
				transform: translate(0rem, 3rem);
			}
			// h2 {
			// 	text-align: center;
			// 	//   position: absolute;
			// 	transform: translate(0px, -0.45em);
			// 	z-index: 1;
			// }
		}
		#blogs {
			// margin: 10%;
			width: auto;
		}
		.blogPost {
			grid-area: post;
			display: grid;
			grid-column-gap: 5%;
			grid-template-columns: repeat(3, auto);
			grid-template-rows: auto;
			// overflow-x: scroll;
			// overflow: auto;
			// white-space: nowrap;
			// overflow: auto;
			// white-space: nowrap;
			height: auto;
			width: auto;
			.grBlog {
				.imgP {
					display: grid;
					grid-template-rows: auto;
					grid-template-columns: auto;
					grid-template-areas: "imageP";
					#imageP {
						grid-area: imageP;
						clip-path: circle(50% at 50% 50%);
						height: 100px;
						width: 100px;
						justify-self: center;
						object-fit: cover;
					}
				}
				.descP {
					#descriptionP {
						justify-self: center;
						text-align: center;
						width: auto;
					}
				}
				.authP {
					#authorP {
						justify-self: center;
						text-align: center;
						width: auto;
						font-weight: bold;
					}
				}
			}
		}
	}
	.plans {
		grid-area: plans;
		.main-title {
			// margin-top: 8%;
			font-family: BitterBold;
			font-size: 200%;
			text-align: center;
			color: black;
		}
		.card-title {
			font-family: BitterBold;
			text-align: center;
		}
		.text-style {
			text-align: center;
		}
		.btn-style {
			width: -moz-available;
			background: #efbe24;
			font-family: BitterBold;
		}
		.btn-compare {
			background: #009145;
			border-radius: 4px;
			margin-left: 43%;
			width: 15%;
			font-family: BitterBold;
			color: white;
		}
		* {
			box-sizing: content-box;
		}
		// .zoom {
		// 	padding: 50px;
		// 	transition: transform 0.2s;
		// 	width: 200px;
		// 	height: 300px;
		// 	margin: 0 auto;
		// }
		// .zoom:hover {
		// 	-ms-transform: scale(1.5); /* IE 9 */
		// 	-webkit-transform: scale(1.5); /* Safari 3-8 */
		// 	transform: scale(1.5);
		// }
		//card-style
		.card-style {
			background: #dbdbdb;
			background-size: cover;
			width: 200px;
			height: 350px;
			font-family: BitterBold;
		}
		.p-style {
			font-size: 24px;
			text-align: center;
		}
		.image-style {
			width: min-content;
			margin: auto;
		}
		//grid
		.main-grid {
			font-family: "BitterRegular";
			display: grid;
			grid-template-columns: 10% 20% 20% 20% 20% 10%;
			grid-template-rows: auto;
			grid-template-areas: ". card-1 card-2 card-3 card-4 .";
		}
		.card-1 {
			grid-area: card-1;
		}
		.card-2 {
			grid-area: card-2;
		}
		.card-3 {
			grid-area: card-3;
		}
		.card-4 {
			grid-area: card-4;
		}
	}
	.customerQA {
		grid-area: customerQA;
		margin: 5% 5% auto 5%;
		width: auto;
		height:auto;
		margin-block-end: 5%;
		box-sizing: border-box;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 550px;
			height: 50px;
			z-index: 0;
			transform: translate(0rem, 3rem);
		}
		// h2 {
		// 	text-align: center;
		// 	transform: translate(0px, -0.45em);
		// 	z-index: 1;
		// }
		.divCustomerQA {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			grid-template-areas: "divSA ";
			font-size: 16px;
			font-family: Bitter;
			color: #333333;
			// "divQA "
			.divSA {
				grid-area: divSA;
				display: grid;
				grid-template-columns: 5% 45% 45% 5%;
				grid-template-rows: auto;
				grid-template-areas: ". search askQ .";
				.search {
					grid-area: search;
					.searchBox {
						transform: translate(0rem, -7px);
						width: 30rem;
						background-color: #dbdbdb;
						border:none;
						height: 40px;
						padding-left: 20px;
					}
					button {
						background-color: #dbdbdb;
						border:none;
						height:40px;
						&:hover{
							cursor: pointer;
							background-color: #cfcfcf;
						}
						img {
							height: 25px;
							width: 24px;
							transform: translate(0rem, 0rem);
						}
					}
				}
				.askQ {
					grid-area: askQ;
					margin-left: 2rem;
					.submitFaq{
						width: 30rem;
						background-color: #dbdbdb;
						border:none;
						height: 40px;
						padding-left: 20px;					}
					button{
						background-color: #efbe24;
						color: white;
						border:none;
						height:40px;
						&:hover{
							cursor: pointer;
							background-color: #dba716;
						}
					}
				}
			}
			.questionAnswer {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				margin: 15px 40px 0px 40px;
				width: auto;
				.noFaq{
					display:none;
					font-family:Bitter;
					font-size: 24px;
					// justify-self: center;
					transform: translate(80% ,50%);
				}
				.divQA {
					// grid-area: divQA;
					// height: auto;
					margin-top: 20px;
					padding-bottom: 5%;
					// padding: 50px;
					width: 50%;
					// display: grid;
					// grid-template-columns: repeat(2, auto);
					// float: left;
					.qA {
						margin-left: 10%;
						.question {
							color: #333333;
						}
						.answer {
							margin-top: 10px;
							color: #949494;
						}
					}
				}
			}
		}
		.dvMore {
			img {
				height: 50px;
				width: 50px;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}
