<div class="transHeader">
    <img src="assets/icons/resources (IL)-18.png">
    <h2>TRANSACTIONS</h2>
</div>
<!-- <table align="center">
    <tr>
      <th class="transTbHd">TRANSACTION No.</th>
      <th class="transTbHd">CUSTOMER NAME</th>
      <th class="transTbHd">ORDER No.</th>
      <th class="transTbHd">STATUS</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>  -->
<div class="transactionTable">
    <div class="transTbHeader">
        <div id="transHeader" class="transNoHeader">
            <p>TRANSACTION No.</p>
        </div>
        <div id="transHeader" class="custNameHeader">
            <p>CUSTOMER NAME</p>
        </div>
        <div id="transHeader" class="orderNoHeader">
            <p>ORDER No.</p>
        </div>
        <div id="transHeader" class="statusHeader">
            <p>Status</p>
        </div>
    </div>
    <!-- *ngFor="let item of items" -->
    <div class="transTbData">
        <div id="transData" class="transNoData">
            <p>TRANSACTION No.</p>
        </div>
        <div id="transData" class="custNameData">
            <p>CUSTOMER NAME</p>
        </div>
        <div id="transData" class="orderNoData">
            <p>ORDER No.</p>
        </div>
        <div id="transData" class="statusData">
            <p>Status</p>
        </div>
    </div>
</div>