<!-- <div class="divMargin">
    <ul class="breadcrumb">
        <li><a [routerLink]="[ '' ]" routerLinkActive="active">Home</a></li>
        <li><a>Transaction</a></li>
    </ul>
    <hr/>
</div> -->
<div class="transHeader">
    <img src="assets/icons/resources (IL)-18.png">
    <p class="headerT">TRANSACTIONS</p>
</div>
<!-- <table align="center">
    <tr>
      <th class="transTbHd">TRANSACTION No.</th>
      <th class="transTbHd">CUSTOMER NAME</th>
      <th class="transTbHd">ORDER No.</th>
      <th class="transTbHd">STATUS</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>  -->
<div class="transactionTable">
    <div class="transTbHeader">
        <div id="transHeader" class="transNoHeader">
            <p><img class="icon" src="assets/icons/resources (TP)-19.png">TRANSACTION No.</p>
        </div>
        <div id="transHeader" class="custNameHeader">
            <p><img class="icon" src="assets/icons/resources (TP)-20.png">PRODUCT NAME</p>
        </div>
        <div id="transHeader" class="orderNoHeader">
            <p><img class="icon" src="assets/icons/resources (TP)-17.png">ORDER No.</p>
        </div>
        <div id="transHeader" class="statusHeader">
            <!-- <div class="dropdown">
                <button type="button" class="btn btn-warning" style="color: white;display: contents;"
                    data-toggle="dropdown"><img class="icon" src="assets/icons/resources (TP)-18.png">Status </button>
                <div class="dropdown-menu">
                    <div class="dropdown-item" (click)="allStatus();" style="height: 40px;">All</div>
                    <div *ngFor="let sta of Object.keys(this.transactionStatus)">
                        <div class="dropdown-item" (click)="stat(transactionStatus[sta].status);" style="height: 40px;">
                            {{transactionStatus[sta].status}}</div>
                    </div>
                </div>
            </div> -->
            <!-- dropdown-toggle btn btn-secondary  -->
            <div class="dropdown">
                <button class="dpBtn" type="button" id="dropdownMenu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><img class="icon"
                        src="assets/icons/resources (TP)-18.png">Status </button>
                <div class="dropdown-menu dpMenu" aria-labelledby="dropdownMenu">
                    <div class="dropdown-item dpItem adj" (click)="allStatus();" style="height: 40px;">All</div>
                    <div *ngFor="let sta of Object.keys(this.transactionStatus)">
                        <div class="dropdown-item dpItem adj" (click)="stat(transactionStatus[sta].status);" style="height: 40px;">
                            {{transactionStatus[sta].status}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *ngFor="let item of items" -->
    <div class="transTbData">
        <div class="tbData" *ngFor="let item of Object.keys(this.transactionData)">
            <div id="transData" class="transNoData">
                <p style="color: #646464;">{{this.transactionData[item].transactionId}}</p>
                <p style="color: #949494;" ><span>mode:</span>{{this.transactionData[item].paymentMode}}</p>

            </div>
            <div id="transData" class="prodNameData">
                <p style="color: #646464;">{{this.transactionData[item].productName}}</p>
            </div>
            <div id="transData" class="orderNoData">
                <p style="color: #646464;">{{this.transactionData[item].orderId}}</p>
            </div>
            <div id="transData" class="statusData">
                <p style="color: #646464;">{{this.transactionData[item].status}}</p>
            </div>
        </div>
    </div>
</div>