<!-- <div class="divMargin">
  <ul class="breadcrumb">
    <li><a [routerLink]="[ '' ]" routerLinkActive="active">Home</a></li>
  </ul>
  <hr />
  <div>
    <button [routerLink]="[ '/categorylisting' ]" routerLinkActive="active">Go to Category Listing</button>
  </div>
</div> -->
<div class="gridT">
    <!-- shop background image -->
    <div class=shopBg>
        <img src="assets/images/shop/{{token}}/{{token}}_cover.jpg">
        <!-- <div class="upload-btn-wrapper">
            <button class="btn">Upload a file</button>
            <input type="file" name="myfile" />
        </div> -->
        <!-- (change)="submitCover();" -->
        <input style="display: none" type="file" name="pic" id="shopCover" accept="image/*" #fileInputCover
            (change)="submitCover();">
        <button type="submit" class="btnCover" (click)="submitCover();"><img style="width: 30px;height: 25px;"
                src="assets/icons/resources (MP)-20.png"></button>
        <button type="button" class="btnCover btnCoverUpload" (click)="fileInputCover.click()"
            style="background-color: #efbe24;color: white;">Change Cover Photo</button>

    </div>
    <!-- shop description -->
    <div class="shopDescBio">
        <div class="shopDesc">
            <div class="shopLogo">
                <img (click)="fileInputLogo.click()" src="assets/images/shop/{{token}}/{{token}}_logo.jpg"
                    style="cursor: pointer;" alt="+">
                <!-- <p class="img__description">This image looks super neat.</p> -->
                <!-- <div class="upload-btn-wrapper">
                    <button class="btn">Upload a file</button>
                    <input type="file" name="myfile" />
                </div> -->
                <input style="display: none" type="file" name="pic" id="shopLogo" accept="image/*" #fileInputLogo
                    (change)="submitLogo();">
                <button type="button" (click)="fileInputLogo.click()" class="btnLogo">Change Photo</button>
                <!-- <button type="submit" class="btnLogo" (click)="submitLogo();" style="transform: translate(0px,-1.7rem);background-color: #efbe24;color: white;margin-left: 1.1rem;
                width: 10rem;"><img style="width: 20px;height: 20px;"
                        src="assets/icons/upload.png"></button> -->

            </div>
            <div class="shopInfo">
                <ng-container *ngIf="editShop==0; else shopEdit">
                    <div class="shopBtns">
                        <div class="btnCustomer" [routerLink]="['/shop']" [queryParams]="{shop_id:shopData.shopId}">
                            <button type="button">View as Customer</button></div>
                        <div class="btnDescEdit">
                            <button type="button" (click)="edit('desc');">Edit</button>
                        </div>
                    </div>
                    <div class="shopDetails">
                        <p class="sName desc">NAME:</p>
                        <h4 class="sH4 policies">{{addressData.addr1}}</h4>
                        <p class="sAddress desc">ADDRESS:</p>
                        <h5 class="sH5 policies">
                            {{addressData.addr2}}<br>{{addressData.city}}<br>{{addressData.district}}<br>{{addressData.state}}<br>{{addressData.country}}<br>{{addressData.pincode}}
                        </h5>
                        <p class="sCategory desc">CATEGORY:</p>
                        <div class="sA policies">
                            <div *ngFor="let item of Object.keys(prod)">
                                <p style="float: left">{{prod[item]}},&nbsp;</p>
                            </div>

                        </div>
                    </div>
                </ng-container>
                <ng-template #shopEdit>
                    <div class="shopBtns">
                        <div class="btnCustomer" [routerLink]="['/shop']" [queryParams]="{shop_id:shopData.shopId}">
                            <button type="button">View as Customer</button></div>
                        <div class="btnDescEdit">
                            <button type="button" (click)="sub('desc');">Submit</button>
                        </div>
                    </div>
                    <div class="shopDetails">
                        <p class="sName">NAME:</p>
                        <input class="addr1Shop" style="height: 30px" placeholder="shop name" id="shopNameId"
                            value="{{addressData.addr1}}">
                        <p class="sAddress">ADDRESS:</p>
                        <div class="sH5">
                            <input class="addr2Shop" id="addr2ShopId" style="height: 30px" placeholder="street address"
                                value="{{addressData.addr2}}">
                            <input class="cityShop" id="cityShopId" style="height: 30px" placeholder="city"
                                value="{{addressData.city}}">
                            <input class="districtShop" id="districtShopId" style="height: 30px" placeholder="district"
                                value="{{addressData.district}}">
                            <input class="stateShop" id="stateShopId" style="height: 30px" placeholder="state"
                                value="{{addressData.state}}">
                            <input class="countryShop" id="countryShopId" style="height: 30px" placeholder="country"
                                value="{{addressData.country}}">
                            <input class="pincodeShop" id="pincodeShopId" style="height: 30px" placeholder="pincode"
                                value="{{addressData.pincode}}">

                        </div>


                        <p class="sCategory">CATEGORY:</p>
                        <div class="sA">
                            <input type="text" placeholder="Search.. " id="myInput" (keyup)="filterFunction()">
                            <ul id="myUL" class="rfqUL" style="display: none;">
                                <li *ngFor="let inp of Object.keys(rfqInput)">
                                    <a (click)="addTagCategory(rfqInput[inp].name);">
                                        {{rfqInput[inp].name}}
                                    </a>
                                </li>
                            </ul>
                            <div class="chipsOuter" *ngFor="let chi of Object.keys(prod)" id="{{prod[chi]}}">
                                <div class="chip">
                                    {{prod[chi]}}
                                    <span class="closebtn" (click)="delCategory(prod[chi]+'!'+chi);">&times;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <div class="shopPriv">
                    <div class="privDesc">
                        <p>ENABLE PRIVACY:</p>
                    </div>
                    <div class="privTog">
                        <label class="switch">
                            <input id="privacyTog" type="checkbox" (click)="privacy();">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="privDesc2">
                        <p>Enable this option to hide seller details</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopBio">
            <div class="btnVacation">
                <div class="vac" >Enable Vacation Mode
                    <label class="switch">
                        <input id="vacTog" type="checkbox" (click)="vacation();">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="dropVacation" id="vacationToggle" style="display: none">
                    <div class="dvRadio">
                        <!-- (click)="vacationSave('until');" -->
                        <input type="radio" name="vacation" value="until" class="aDate" id="untilRadio">&nbsp; Until Cancelled<br>
                        <input type="radio" name="vacation" value="setDate" class="bDate" id="dateSetRadio">&nbsp; Set
                        Duration<br>

                    </div>
                    <div class="dvSetDate">
                        <p class="psDate">Start Date</p>
                        <input type="date" id="startDate" class="sDate" value="{{shopData.vacStartDate}}">
                        <p class="peDate">End Date</p>
                        <input type="date" id="endDate" class="eDate" value="{{shopData.vacEndDate}}">
                    </div>
                    <!-- <p style="font-size:14px;color:grey;">Select two dates then press checkbox</p> -->
                    <!-- 'dateSet' -->
                    <button (click)="vacationSave();"class="vacSave">Save</button>
                </div>
            </div>
            <div class="bio">
                <p class="bioHeader">Bio</p>
                <ng-container *ngIf="editBio==0; else bioEdit">
                    <p class="bioTxt policies" id="bioId">{{shopData.descriptionShop}}</p>
                    <div class="btnBioEdit">
                        <button type="button" style="margin-left:70%; width:70px;" (click)="edit('bio');">EDIT</button>
                    </div>
                </ng-container>
                <ng-template #bioEdit>
                    <input class="bioTxtArea" id="bioTxtAr" value="{{shopData.descriptionShop}}">
                    <div class="btnBioEdit">
                        <button type="button" style="margin-left:70%; width:100px;"
                            (click)="sub('bio');">SUBMIT</button>
                    </div>
                </ng-template>


            </div>
            <div class="btnAdvSetting" [routerLink]="['/shopsetting']" [queryParams]="{shop_id:shopData.shopId}">
                <button type="button">ADVANCED SHOP SETTINGS</button>
            </div>
        </div>
    </div>
    <!-- shop products -->
    <div class="shopProducts">
        <div class="dvCatMain">
            <div class="dvCard" *ngFor="let item of Object.keys(array12)" id="product{{array12[item].prodId}}">
                <div class="dvCardBanner" [routerLink]="['/listing']"
                    [queryParams]="{shop_id:array12[item].shopId, prod_id:array12[item].prodId}">
                    <img class="imgBanner"
                        src="assets/images/product/{{array12[item].prodId}}/{{array12[item].prodId}}_0.jpg">
                    <div class="dvUndeliver">
                        <div class="overlay" *ngIf="array12[item].status == 'inactive'"
                            style="background-color: #FF1D25">
                            INACTIVE</div>
                        <div class="overlay" *ngIf="array12[item].status == 'active'" style="background-color: #009145">
                            ACTIVE</div>
                        <div class="overlay" *ngIf="array12[item].status == 'pending'"
                            style="background-color: #333333">
                            PENDING
                        </div>
                    </div>
                </div>
                <div class="dvCardName">
                    <div class="dvProduct">
                        <div class="dvProdName">
                            <p>{{array12[item].prodName}}</p>
                        </div>
                        <div class="dvPrice">
                            <p class="pPrice"><i class="fa fa-rupee"></i>{{array12[item].basePrice}}&emsp;</p>
                        </div>
                    </div>
                    <div class="dvDetails">
                        <p><label>Quantity Remaining:</label>{{array12[item].qty}}</p>
                    </div>
                    <div class="dvBtn">
                        <button type="button" class="btnEditProduct" [routerLink]="['/addproduct']"
                            [queryParams]="{prod_id:array12[item].prodId}">EDIT</button>
                        <button type="button" class="btnDelete" (click)="delProduct(array12[item].prodId);"><img
                                src="assets/icons/resources (MP)-21.png"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="newProd" [routerLink]="['/addproduct']">
            <div class="plusDiv">
                <p>+</p>
            </div>
            <div class="textDiv">
                <p>Add Product </p>
            </div>
        </div>
        <button id="showAll" class="showAll" [routerLink]="['/category']" [queryParams]="{shop_id:shopData.shopId}">SHOW
            ALL</button>
    </div>
    <!-- shop policies -->
    <div class="shopPolicies">
        <div class="prodPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <p class="headClass">PRODUCT POLICIES</p>
            <ng-container *ngIf="editProdPolicy==0; else prodPol">
                <p class="policyTxt policies" id="prodPolicyId">{{shopData.productPolicy}}</p>
                <button id="editPolicy" (click)="edit('prod');">EDIT</button>
            </ng-container>
            <ng-template #prodPol>
                <input class="policyTxtArea" id="prodTxtAr" value="{{shopData.productPolicy}}">
                <button id="editPolicy" (click)="sub('prod');">SUBMIT</button>
            </ng-template>
        </div>
        <div class="shopPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <p class="headClass">SHOP POLICIES</p>
            <ng-container *ngIf="editShopPolicy==0; else shopPol">
                <p class="policyTxt policies" id="shopPolicyId">{{shopData.shopPolicy}}</p>
                <button id="editPolicy" (click)="edit('shop');">EDIT</button>
            </ng-container>
            <ng-template #shopPol>
                <input class="policyTxtArea" id="shopTxtAr" value="{{shopData.shopPolicy}}">
                <button id="editPolicy" (click)="sub('shop');">SUBMIT</button>
            </ng-template>
        </div>
        <div class="shipPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <p class="headClass">SHIP POLICIES</p>
            <ng-container *ngIf="editShipPolicy==0; else shipPol">
                <p class="policyTxt policies" id="shipPolicyId">{{shopData.shipPolicy}}</p>
                <button id="editPolicy" (click)="edit('ship');">EDIT</button>
            </ng-container>
            <ng-template #shipPol>
                <input class="policyTxtArea" id="shipTxtAr" value="{{shopData.shipPolicy}}">
                <button id="editPolicy" (click)="sub('ship');">SUBMIT</button>
            </ng-template>
        </div>
        <div class="retPolicy">
            <img src="assets/icons/resources (IL)-18.png">
            <p class="headClass">RETURN POLICIES</p>
            <ng-container *ngIf="editReturnPolicy==0; else retPol">
                <p class="policyTxt policies" id="returnPolicyId">{{shopData.returnPolicy}}</p>
                <button id="editPolicy" (click)="edit('return');">EDIT</button>
            </ng-container>
            <ng-template #retPol>
                <input class="policyTxtArea" id="retTxtAr" value="{{shopData.returnPolicy}}">
                <button id="editPolicy" (click)="sub('return');">SUBMIT</button>
            </ng-template>
        </div>
    </div>
    <div class="divQuestion ">
        <img src="assets/icons/resources (IL)-18.png">
        <p class="headClass">CUSTOMER QUESTIONS & ANSWERS</p>
        <div class="divCustomerQA">
            <div class="divSA">
                <form class="search">
                    <input type="text" placeholder="Search.." name="search" class="searchBox" id="searchFaq"
                        (keyup)="filterFaq();">
                    <button type="submit"><img src="assets/icons/resources (IL)-07.png"></button>
                </form>
                <form class="askQ">
                    <input type="text" placeholder="Ask a Question" name="search" id="submitFaq" class="submitFaq">
                    <button type="submit" (click)="submitFaq()">Submit</button>
                </form>
            </div>
            <div class="questionAnswer">
                <p id="noFaqId" class="noFaq">No Faqs Available</p>
                <div class="divQA" id="qAId" *ngFor=" let faq of Object.keys(faqShop)">
                    <form class="qA">
                        <span class=" question ">Q:{{faqShop[faq].question}}?</span><br> 
                        <span class="answer ">A:{{faqShop[faq].answer}}</span>
                    </form>
                </div>
            </div>
        </div>
        <div class="dvMore" id="moreFaq" (click)="faqMore()"><img src="assets/icons/resources (IL)-22.png"></div>
    </div>
</div>
<!-- rfqPopup -->
<div class="container" id="rfqPopupContainer " style="z-index: 10001; ">
    <!-- <button type="button " class="btn btn-warning " data-toggle="modal " data-target="#rfqPopUP ">undeliverable</button> -->
    <!-- Modal -->
    <div class="modal fade" id="rfqPopup" role="dialog ">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content dvModalContent">
                <div class="modal-header dvModalHeader">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-bod" style="padding:0 10% 0 10%;">
                    <div>
                        <form>
                            <p>Shop Name</p>
                            <input type="text "><br>
                            <p>Location:</p>
                            <select>
                                <option>
                                    b
                                    <!-- {{}} -->
                                </option>
                            </select>

                            <p>Note</p>
                            <input type="text" id="noteRfq">
                            <div class="dropdownRfq">
                                <button onclick="rfqDropdown()" class="dropBtnRfq">Tag Products</button>
                                <div id="rfqDropdown" class="dropdown-contentRfq ">
                                    <input type="text" placeholder="Search.. " id="myInput " onkeyup="filterFunction()">
                                    <a id="rfqDrp " href="#about ">About</a>
                                    <a id="rfqDrp " href="#base ">Base</a>
                                    <a id="rfqDrp " href="#blog ">Blog</a>
                                    <a id="rfqDrp " href="#contact ">Contact</a>
                                    <a id="rfqDrp " href="#custom ">Custom</a>
                                    <a id="rfqDrp " href="#support ">Support</a>
                                    <a id="rfqDrp " href="#tools ">Tools</a>
                                </div>
                            </div>


                            <button class="btnRfq ">Apply</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>